<li class="answer-questionnaire__question" data-question-readonly>
  <div class="answer-questionnaire__step-heading">
    <h3><%= translated_attribute(model.body) %></h3>
    <% if translated_attribute(model.description).present? %>
      <div>
        <%= decidim_sanitize_editor translated_attribute(model.description) %>
      </div>
    <% end %>
  </div>
</li>
