<li class="response-questionnaire__question" data-question-readonly>
  <div class="response-questionnaire__step-heading">
    <h3 class="h3"><%= decidim_escape_translated(model.body) %></h3>
    <p class="response-questionnaire__question-description">
      <em><%= t(model.question_type, scope: "decidim.forms.question_types") %></em>
    </p>
  </div>
</li>
