<li class="answer-questionnaire__question" data-question-readonly>
  <div class="answer-questionnaire__step-heading">
    <h3 class="h3"><%= translated_attribute(model.body) %></h3>
    <p class="answer-questionnaire__question-description">
      <em><%= t(model.question_type, scope: "decidim.forms.question_types") %></em>
    </p>
  </div>
</li>
