<section id="statistics" class="content-block">
  <h2 class="h2 decorator"><%= t("decidim.pages.home.statistics.headline", organization: current_organization.name) %></h2>

  <%= cell("decidim/statistics", stats.highlighted) %>
  <%= cell("decidim/statistics", stats.not_highlighted) %>
</section>
