<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "debates"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row columns">
      <h2 class="section-heading">Esta propuesta en números</h2>
    </div>
    <div class="row columns">
      <h3 class="heading3">Participantes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed, unde molestiae, iusto blanditiis cumque, asperiores consectetur corrupti facilis adipisci modi suscipit. Ipsum ut exercitationem iste iusto cumque. Et, repudiandae.</p>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
