<%= display_flash_messages %>

<% if Decidim::Organization.none? %>
  <div class="flash callout warning">
    <% guide = link_to t(".our_getting_started_guide"),
                       "https://docs.decidim.org/",
                       target: :blank %>

    <%= t(".no_organization_warning_html", guide: guide) %>
  </div>
<% end %>
