<% if report.details.blank? %>
  <%= t(".reasons.#{report.reason}") %>
<% else %>
  <span
    data-tooltip
    title="<%= report.details&.truncate(250) %>">
      <%= t(".reasons.#{report.reason}") %>
  </span>
<% end %>
