<% if report.details.blank? %>
  <%= t(".reasons.#{report.reason}") %>
<% else %>
  <span
    data-tooltip
    aria-haspopup="true"
    class="has-tip"
    title="<%= report.details %>">
      <%= t(".reasons.#{report.reason}") %>
  </span>
<% end %>
