<% show_button = local_assigns.fetch(:show_button, true) %>

<div class="main-tabs-menu">
  <div class="main-tabs-menu__tabs">
    <%= admin_tabs(:admin_surveys_menu).render %>
  </div>

  <div class="main-tabs-menu__buttons">
    <%= yield if block_given? %>
  </div>
</div>
