<%= decidim_form_for(@form, url: survey_path, method: :post, html: { class: "form edit_survey" }) do |form| %>
  <%= render partial: 'form', object: form, locals: { title: t('.title') }  %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".save"), class: "button hollow" %>
    <%= form.submit t(".save_and_publish"), name: "save_and_publish", data: { confirm: t('.are_you_sure') } %>
  </div>
<% end %>
