<% results.each do |result| %>
  <%= link_to resource_locator(result).path, class: "accountability__result" do %>
    <div class="accountability__result-details-container">
      <h3 class="h5 text-secondary">
        <%= translated_attribute result.title %>
      </h3>

      <div class="accountability__result-details">
        <%= cell("decidim/accountability/result", result, template: :list) %>
      </div>
    </div>

    <% if component_settings.display_progress_enabled? && result.progress.present? %>
      <div class="accountability__result-progress"><%= display_percentage result.progress %></div>
    <% end %>
  <% end %>
<% end %>
