<div class="columns large-3">
  <div class="m-bottom">
    <%= link_to :back do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
      <%= wizard_aside_back_text("collaborative_draft") %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= wizard_aside_info_text %>
    </p>
  </div>
</div>
