<div class="columns large-3">
  <div class="m-bottom">
    <%= link_to collaborative_drafts_path do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
      <%= t("back_from_collaborative_draft", scope: "decidim.proposals.collaborative_drafts.wizard_aside").html_safe %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= t("info", scope: "decidim.proposals.collaborative_drafts.wizard_aside").html_safe %>
    </p>
  </div>
</div>
