<div class="reveal__header">
  <h1 class="reveal__title"><%=t '.select_identity' %></h1>
</div>
<%= render partial: "decidim/proposals/proposals/endorsement_button", locals: { proposal: proposal, from_proposals_list: false, btn_label: current_user.name } %>
<% current_user.user_groups.verified.each do |user_group| %>
  <br/>
  <% if @to_endorse_groups.include? user_group.id %>
    <%= render partial: "decidim/proposals/proposals/endorsement_button",
      locals: {
        proposal: proposal, from_proposals_list: false,
        btn_label: user_group.name, user_group: user_group
      } %>
  <% else %>
    <%= render partial: "decidim/proposals/proposals/endorsement_button",
      locals: {
        proposal: proposal, from_proposals_list: false,
        btn_label: user_group.name, user_group: user_group
      } %>
  <% end %>
<% end %>