<% if activities.length == 0 %>
  <div class="callout warning">
    <%= t ".no_activities_warning" %>
  </div>
<% else %>
  <%= render partial: "decidim/shared/results_per_page" %>

  <div class="row small-up-1 medium-up-2 card-grid">
    <% activities.each do |activity| %>
      <% cell_name = "#{resource.class.name.underscore}_activity" %>
      <%= cell cell_name, activity.resource %>
    <% end %>
  </div>

  <%= decidim_paginate activities, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
<% end %>
