<% add_decidim_page_title(t("last_activity", scope: "decidim.last_activities.index")) %>

<%# NOTE: this page does not use a regular layout %>
<main class="container">
  <h1 class="title-decorator my-12"><%= t("last_activity", scope: "decidim.last_activities.index") %></h1>

  <div class="profile__activity pb-16">
    <%= cell "decidim/resource_types_filter", resource_types, source: :last_activities, filter_param_key: :with_resource_type %>
    <div id="activities">
      <%= render partial: "activities" %>
    </div>
  </div>
</main>
