<div class="processes-grid-order-by">
  <%= cell(
        "decidim/participatory_process_groups/process_filters",
        participatory_process_group,
        base_relation: filtered_relation,
        default_filter: default_date_filter
      ) %>
</div>
