<h1>Decidim Design</h1>
<h2>Please choose a layout:</h2>
<ul>
  <li><%= link_to "Public", url_for(id: "index", layout: "public") %></li>
  <li><%= link_to "Admin", url_for(id: "index", layout: "admin") %></li>
</ul>
