<% title = component.present? ? translated_attribute(component.name) : t("decidim.components.surveys.name") %>
<% if local_assigns[:main_action] %>
  <h1 class="title-decorator"><%= title %></h1>
<% else %>
  <h2 class="title-decorator"><%= t("decidim.components.surveys.name") %></h2>
<% end %>

