<div class="wrapper">
  <div class="row column">
    <div class="page-title-wrapper">
      <h1 class="heading1 page-title">
        <%= title %>
      </h1>
    </div>

    <%= cell "decidim/tos_page", :announcement %>

    <div class="columns small-12">
      <div class="card">
        <div class="card__content"><%= decidim_sanitize_editor translated_attribute page.content %></div>
      </div>
    </div>

    <div class="columns small-12">
      <%= cell "decidim/tos_page", :form %>
    </div>
  </div>
</div>
