<% add_decidim_meta_tags(
  title: translated_attribute(page.title),
  description: translated_attribute(page.content)
) %>

<%
edit_link(
  decidim_admin.edit_static_page_path(page),
  :update,
  :static_page,
  static_page: page
)
%>

<main class="wrapper">
  <%= cell "decidim/tos_page", :announcement %>

  <div class="row column">
    <h1 class="heading1 page-title"><%= translated_attribute page.title %></h1>
  </div>

  <div class="row">
    <div class="columns large-8">
      <div class="static__content">
        <%= decidim_sanitize translated_attribute page.content %>
      </div>
    </div>
  </div>

  <%= cell "decidim/tos_page", :sticky_form %>
</main>
