$foreground: #202751;
$background: #fafafa;
$background-alt: darken($background, 5%);
$white: white;

$border-radius-top: 4px 4px 0 0;
$border-radius-bottom: 0 0 4px 4px;

$border: 1px solid $foreground;

$small-padding: 10px;
$padding: 25px;

.questionnaire-answers{
  font-family: 'Source Sans Pro', Helvetica, Roboto, Arial, sans-serif;

  .header{
    .logo{
      height: 1rem;
      width: auto;
    }

    .title,
    .subtitle,
    .description{
      margin: 0;
      padding: $small-padding $padding;
      background: $foreground;
      color: $white;
      border-radius: $border-radius-top;
    }

    .title{
      padding: $padding;
    }

    .subtitle{
      border-radius: 0;
      padding-top: $padding;
    }

    .subtitle,
    .description,
    .answers-count{
      background: $background-alt;
      color: $foreground;
    }

    .answers-count{
      margin: -1px 0;
      padding: $padding;
    }

    .description{
      border-radius: $border-radius-bottom;
    }
  }

  .answer{
    margin-top: $padding;
    background: $background;
    border-radius: $border-radius-bottom;

    .title{
      page-break-inside: avoid;
      border-radius: $border-radius-top;
      padding: $small-padding $padding;
      margin: 0;
      background: $foreground;
      color: $white;
    }

    .participant-info{
      margin-top: 0;
      padding: $small-padding $padding;
      width: 100%;
      text-align: center;
      background: $background-alt;
      color: $foreground;
      border-bottom: $border;
      page-break-inside: avoid;

      td,
      th{
        &:first-child{
          text-align: left;
        }

        &:last-child{
          text-align: right;
        }
      }
    }

    .answers{
      padding: 25px;

      .response{
        ol,
        ul,
        dl{
          color: red;
        }
      }

      .question{
        page-break-inside: avoid;
        font-size: inherit;
        color: $foreground;
      }
    }
  }
}
