<ol id="wizard-steps" class="wizard-steps">
  <% wizard_steps.each do |wizard_step| %>
    <% next if wizard_step.to_s == "promotal_committee" && !promotal_committee_required? %>
    <% next if wizard_step.to_s == "select_initiative_type" && single_initiative_type? %>
    <% if step == wizard_step %>
      <li data-active aria-current="step">
        <%= t(wizard_step, scope: "layouts.decidim.initiative_signature_creation_header") %>
      </li>
    <% else %>
      <li>
        <%= t(wizard_step, scope: "layouts.decidim.initiative_signature_creation_header") %>
      </li>
    <% end %>
  <% end %>
</ol>
