<%= cell("decidim/announcement", t("decidim.initiatives.initiative_votes.create.success_html"), callout_class: "secondary", title: translated_attribute(current_initiative.title)) %>

<h2 class="section-heading"><%= t("finished", scope: "layouts.decidim.initiative_signature_creation_header") %></h2>

<%= render partial: "wizard_steps" %>

<div class="card">
  <br>
  <div class="column actions">
    <%= link_to t(".back_to_initiative"), initiative_path(current_initiative), class: "button white-button expanded" %>
  </div>
</div>
