<%= cell("decidim/announcement", t("decidim.initiatives.initiative_signatures.sms_code.help"), callout_class: "secondary") %>

<%= decidim_form_for(@form, url: sms_code_initiative_signatures_path, method: :put) do |f| %>
  <div class="form__wrapper">
    <%= f.text_field :verification_code %>
  </div>

  <div class="form__wrapper-block">
    <%= f.submit t(".continue"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
