<!DOCTYPE html>
<html>
  <head>
    <title>Decidim Design Guide</title>
    <%= render partial: "layouts/decidim/design/head" %>
  </head>

  <body>
    <%= render layout: "layouts/decidim/design/layout" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
