@import "stylesheets/decidim/variables";

$list-color: #333;
$list-background: #f2f9fc;
$middle-gray: #ccc;
$list-border: 1px solid $middle-gray;

.admin-autocomplete_search {
  input {
    margin-bottom: 0;
    &.selected {
      caret-color: transparent;
    }
  }

  span {
    &.selected-value {
      position: absolute;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  ul {
    background-color: $white;
    list-style: none;
    border: $list-border;
    margin-left: 0;

    &.no_results {
      margin: 0;
    }

    li {
      color: $list-color;
      border-top: 1px solid $light-gray;
      padding: 8px 10px;
      cursor: pointer;

      &[aria-selected="true"] {
        background-color: $list-background;
      }
    }
  }

  .search_prompt,
  .no_result {
    color: $middle-gray;
    border: $list-border;
  }

  .clear-selection {
    display: inline;
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    right: 4rem;
  }
}
