/* Foundation button overrides */
.button{
  &.small{
    padding-top: .5rem;
    padding-bottom: .5rem;

    &.compact{
      padding-left: .5rem;
      padding-right: .5rem;
      letter-spacing: 0;
    }
  }

  &.tiny{
    padding-top: .25rem;
    padding-bottom: .25rem;

    &.compact{
      padding-left: .25rem;
      padding-right: .25rem;
      letter-spacing: 0;
    }
  }

  &.reverse{
    @include modifiers(color);
    @include modifiers(
      background-color,
      (
        primary: $white,
        secondary: $white,
        success: $white,
        warning: $white,
        alert: $white,
      )
    );
  }
}

.button.muted{
  background-color: $medium-gray;
  color: $white;

  &:hover{
    background-color: darken($medium-gray, 10);
  }
}

.button.light{
  color: $white;
}

.button--title{
  margin-bottom: 0;
  float: right;

  &:not(:first-child){
    margin-right: 1rem;
  }
}

.button--double{
  .button:not(:last-child){
    margin-right: 1rem;
  }

  display: flex;
  align-items: center;

  .button{
    margin-bottom: 0;
  }
}

.button--simple{
  margin-bottom: 0;
}

.button--nomargin{
  margin: 0;
}

.button--vote-button{
  flex: .2 1 auto;
  text-align: right;
}
