$card-padding-small: 1rem;

.card-title{
  @include smallemphasis;

  button:not(.clear){
    @include smallemphasis;
  }

  // clearfix if there is no flex--* class in the same element
  &:not([class*="flex--"]){
    @include clearfix;
  }

  font-size: 1rem;
  width: 100%;

  &--nocaps{
    text-transform: lowercase;
    letter-spacing: 0;

    &::first-letter{
      text-transform: uppercase;
    }
  }

  .data-picker{
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 0;
    text-transform: none;
  }
}

.card-footer{
  padding: $card-padding;
  border-top: 1px solid rgba(black, .1);

  .button--remove{
    margin-left: auto;
  }
}

.card__icon-open{
  display: none;
}

.card--collapsed{
  .card-section,
  .card-footer{
    display: none;
  }

  .card__icon-close{
    display: none;
  }

  .card__icon-open{
    display: block;
  }
}

.card--list__item{
  display: flex;
  align-items: center;
  padding-left: $card-padding-small;

  .card--list--mini &{
    padding-left: $card-padding-small;
  }

  @include breakpoint(medium){
    padding-left: $card-padding;
  }
}

.card--list__icon{
  display: none;
  fill: $anchor-color;

  @include breakpoint(medium){
    margin-right: 1rem;
    display: block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}

.card--list__text{
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  padding: 1rem 1rem 1rem 0;

  .card--list--mini &{
    padding: .5rem .5rem .5rem 0;
  }

  .author{
    margin-top: .3rem;
    margin-right: 1rem;
  }
}

.card--list__heading{
  margin-bottom: 0;
  display: block;
}

.card-divider{
  @include modifiers(background){
    color: $white;
  }
}

.card-divider--reduced{
  // height adjust
  padding: (($global-padding * .5) + rem-calc(.7)) $global-padding;
}

.card.with-overflow{
  overflow: visible;
}
