.textarea-char-counter {
  position: relative;

  textarea {
    padding-bottom: 2.2rem;
  }
}

.char-counter {
  position: absolute;
  color: $muted;
  background-color: $white;
  padding: 0.3rem 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 1px;
  text-align: right;
}

.char-counter--excess {
  color: $alert-color;
}
