.color-picker {
  cursor: pointer;
  margin-bottom: 1rem;

  summary {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &__box {
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 1rem;
  }

  &__label_choose {
    height: 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    div {
      display: flex;
      height: 100%;
      cursor: pointer;
    }
  }

  &__label_saturation {
    height: 3rem;
    margin-bottom: 1rem;

    input {
      display: block;
    }
  }

  fieldset {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }

  &__color {
    display: grid;
    place-items: center;
    width: 12rem;
    height: 2rem;
    border-radius: 4px;
  }

  &__color_primary {
    background-color: var(--primary);
  }

  &__color_secondary {
    background-color: var(--secondary);
  }

  &__color_tertiary {
    background-color: var(--secondary);
  }

  .button {
    margin: 0;
  }
}
