.filters__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: $global-padding $global-padding 0;

  & > .fcell{
    &.search{
      flex-grow: 1;
      margin: 0 .5rem;
    }
  }

  .button,
  .input-group{
    margin-bottom: 0;
  }

  .button.dropdown{
    font-weight: 600;
    letter-spacing: .1em;
  }

  .dropdown.menu{
    z-index: 5;

    & > li.is-dropdown-submenu-parent > a{
      padding-right: 1rem;
      background-color: $button-background;
      color: $white;

      &::after{
        border-top-color: $white;
      }

      &:hover{
        background-color: $button-background-hover;
        color: $white;
      }
    }

    li.is-active > a,
    li.is-active li.is-submenu-item > a:hover{
      background-color: $primary-color;
      color: $white;
    }

    .menu.vertical li.is-active.opens-right > a::after{
      border-left-color: $white;
    }
  }
}

.filter-status{
  position: relative;
  width: 100%;
  margin-top: .5rem;

  .label{
    font-weight: 600;
    margin-top: .5rem;

    .type-icon{
      vertical-align: top;
    }

    .action-icon{
      span{
        margin-left: .25rem;
      }

      &.action-icon--remove{
        color: lighten(#e66a5d, 24);
        margin-left: .3rem;

        &:hover{
          color: #e66a5d;
        }
      }
    }
  }
}
