$input-margin: 1.5rem;
$checkboxes-minimum-width: 200px;

button,
input,
textarea{
  font-family: inherit;
}

.form{
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"],
  select{
    height: 3rem;

    &.chosen-select{
      height: unset;

      option{
        &.green{
          color: $success-color;
        }

        &.red{
          color: $alert-color;
        }
      }
    }
  }

  input,
  select,
  textarea,
  .check-radio,
  .input-field,
  .data-picker{
    margin-bottom: $input-margin;

    &.nomargin{
      margin-bottom: 0;
    }
  }

  .check-radio-group{
    margin-bottom: 1rem;

    .check-radio{
      margin-bottom: .5rem;
    }
  }

  label{
    font-weight: 600;
  }
}

.legend{
  @include smallemphasis;

  margin-bottom: 1rem;
}

.form-group{
  background-color: $lighter-gray;
  padding: 1.5rem 1rem .5rem;
  margin-bottom: 1.5rem;
}

label,
.field{
  &.has-tribute{
    position: relative;

    .tribute-container{
      top: auto;
      margin-top: -$input-margin;
      max-width: none;
      width: 100%;
    }
  }
}

.form-submit .button{
  margin-bottom: 0;
}

.form-general-submit{
  margin-top: 3rem;
  justify-content: center;
}

.check-radio,
.check-radio-collection{
  label{
    font-weight: normal;
    display: inline-flex;
    align-items: center;
  }

  legend{
    font-weight: 600;
  }
}

.check-radio{
  input{
    margin-bottom: 0;
  }
}

.form-error{
  margin-top: -$input-margin;
  margin-bottom: $input-margin;
}

.custom-error{
  @extend .form-error;
}

.is-custom-error-visible{
  display: block;
}

.checkboxes{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after{ /* Align last row to left */
    min-width: $checkboxes-minimum-width;
    content: "";
  }

  label{
    min-width: $checkboxes-minimum-width;

    input[type=checkbox]{
      vertical-align: baseline;
    }
  }
}

.readonly_container{
  cursor: not-allowed;
  opacity: .5;
}

.edit_component .step-settings{
  .card-section fieldset legend{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid grey;
  }
}
