.moderation-details {
  .toggle-content {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }

  .reported-content {
    .original {
      display: none;
    }
  }

  .callout {
    &-text {
      margin-left: 0.5rem;

      .icon {
        width: 0.6rem;
        margin: 0 0.2rem;
      }
    }
  }

  dd {
    padding: $global-padding;
    background-color: $light-gray;
    margin-bottom: 0.5rem;
  }

  .reportable-authors {
    list-style: none;
    margin: 0;

    .icon {
      margin-left: 0.5rem;
    }
  }
}
