//Basics
@import "stylesheets/decidim/admin/modules/typography";
@import "stylesheets/decidim/admin/modules/icons";
@import "stylesheets/decidim/admin/modules/buttons";
@import "stylesheets/decidim/admin/modules/forms";
@import "stylesheets/decidim/admin/modules/tabs";
@import "stylesheets/decidim/admin/modules/autocomplete";

//General layout
@import "stylesheets/decidim/admin/modules/layout";
@import "stylesheets/decidim/admin/modules/title-bar";
@import "stylesheets/decidim/admin/modules/user-login";
@import "stylesheets/decidim/admin/modules/main-nav";
@import "stylesheets/decidim/admin/modules/secondary-nav";

//Process
@import "stylesheets/decidim/admin/modules/process-header";

//Contents
@import "stylesheets/decidim/admin/modules/callouts";
@import "stylesheets/decidim/admin/modules/cards";
@import "stylesheets/decidim/admin/modules/card-grid";
@import "stylesheets/decidim/admin/modules/table-list";
@import "stylesheets/decidim/admin/modules/action-icon";
@import "stylesheets/decidim/admin/modules/char-counter";
@import "stylesheets/decidim/admin/modules/component-counter";
@import "stylesheets/decidim/admin/modules/pics";
@import "stylesheets/decidim/admin/modules/filters";
@import "stylesheets/decidim/admin/modules/dropdown";
@import "stylesheets/decidim/admin/modules/agenda";
@import "stylesheets/decidim/admin/modules/draggable-list";
@import "stylesheets/decidim/admin/modules/loading-spinner";
@import "stylesheets/decidim/admin/modules/import_result";
@import "stylesheets/decidim/admin/modules/reveal";

// mentions__container
@import "stylesheets/decidim/modules/tags";
@import "stylesheets/decidim/modules/input-tags";
@import "stylesheets/decidim/modules/input-mentions";
@import "stylesheets/decidim/modules/input-gallery";

//Admin dashboard
@import "stylesheets/decidim/admin/modules/users_statistics";
@import "stylesheets/decidim/admin/modules/moderations";
