.assembly-header__title,
.process-header__title{
  font-size: .8rem;
  margin-bottom: 1rem;
  color: $muted;
}

.assembly-title-summary,
.process-title-summary{
  @extend .card-title;

  margin-bottom: 2rem;
}
