//Override Foundation defaults
.table-scroll table{
  border-collapse: unset;
  width: 100%;
}

//Table list
.table-list{
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td{
    border-bottom: 1px solid rgba(black, .05);
  }

  th:not(:first-child),
  td:not(:first-child){
    text-align: center;
  }

  th:first-child,
  td:first-child{
    padding-left: $global-padding;
  }

  th:last-child,
  td:last-child{
    padding-right: $global-padding;
    text-align: right;
  }

  th [type="checkbox"]:only-child,
  td [type="checkbox"]:only-child{
    margin-bottom: .5rem;
  }

  &.table-list--lastcenter{
    th:last-child,
    td:last-child{
      text-align: center;
    }
  }

  &.table-list--lastleft{
    th:last-child,
    td:last-child{
      text-align: left;
    }
  }

  &.table-list--selectable{
    th:nth-child(2),
    td:nth-child(2){
      text-align: left;
    }
  }

  tr.selected{
    background-color: rgba($brand, .05);
  }

  a:not(.button){
    color: $body-font-color;

    &:hover{
      color: $primary-color;
    }
  }

  td > .button{
    margin-bottom: 0;
  }

  td{
    @include modifiers(color, (muted: $muted));
  }

  .switch.tiny{
    margin: 0 auto;
    width: 48px;
  }

  // tbodys separation
  tbody + tbody::before{
    content: "-";
    display: block;
    line-height: 2em;
    color: transparent;
  }

  tbody th{
    color: $muted;
    font-weight: 600;
  }
}

.table-list__actions{
  text-align: center;
  white-space: nowrap;

  &:last-child{
    text-align: right;
  }

  .action-icon,
  a.action-icon{
    color: $muted;
  }

  .action-icon,
  a.action-icon.highlighted{
    color: $body-font-color;

    &:hover{
      color: $primary-color;
    }
  }

  .action-icon.action-icon--remove{
    color: $alert-color;
  }
}

.table-list__state{
  text-align: center;
}

.table-list__type-icon{
  position: relative;
  top: 1px;
  cursor: pointer;
}

.table-list__type-label{
  display: none;
  position: relative;
  top: -1px;
  margin-left: -1.5 * $global-padding;
  font-size: 80%;
  font-weight: 600;

  &.expanded{
    display: inline-block;
  }
}
