/* .title-bar{
  @apply py-2 px-8 flex items-center bg-tertiary;
}

.menu-trigger {
  display: inline-block;
  padding: 0.5rem;
  width: 2.5rem;
  text-align: center;
  color: $white;

  @include breakpoint(large) {
    display: none;
  }
}

.logo{
  @apply p-4 block max-w-[80px] md:max-w-[120px] bg-gray-2;

  img{
    @apply block;
  }
}
 */
