@import "stylesheets/decidim/modules/upload_modal";

.upload-modal{
  button{
    cursor: pointer;
  }

  .upload-items{
    .upload-item-first-row{
      display: flex;

      .file-name-span{
        flex: 4 1 0;
      }
      .title-container{
        flex: 3.5 1 0;
      }
    }

    .upload-item-second-row{
      display: flex;

      .progress-bar-wrapper{
        flex: 4 1 0;
        margin-right: 1rem;

        .progress-bar-border{
          border: 1px solid map-get($foundation-palette, primary);
          .progress-bar{
            background-color: map-get($foundation-palette, primary);
          }
        }
      }

      .remove-upload-item{
        flex: 1 1 0;
      }
    }
  }
}
