<div class="row section" id="consultation-details">
  <div class="columns medium-6 large-5 large-push-1">
    <p class="lead"><%= decidim_sanitize_editor translated_attribute(consultation.description) %></p>
  </div>
  <div class="columns medium-6 large-5 large-pull-1">
    <% if consultation.introductory_video_url.blank? %>
      <div class="card--full__image consultations-card__image introductory-image"
           style="background-image: url('<%= consultation.attached_uploader(:introductory_image).path %>');">
      </div>
    <% else %>
      <div class="embed-container">
        <iframe src="<%= consultation.introductory_video_url %>" allowfullscreen>
        </iframe>
      </div>
    <% end %>
  </div>
</div>
