<% if consultation.highlighted_questions.any? %>
  <div class="row section" id="highlighted-questions">
    <% if consultation.highlighted_scope.present? %>
      <h2 class=section-heading>
        <%= t "consultations.highlighted_questions.title",
              scope: "decidim",
              scope_name: translated_attribute(consultation.highlighted_scope.name) %>
      </h2>
    <% end %>

    <% consultation.highlighted_questions.each do |question| %>
      <%= render partial: "decidim/consultations/consultations/question", locals: { question: question } %>
    <% end %>
  </div>
<% end %>
