<% if active_consultations.any? %>
  <div class="row section">
    <h2 class="section-heading"><%= t "consultations.finished.active_consultations", scope: "decidim" %></h2>
    <%= render active_consultations %>
  </div>
<% end %>

<% if finished_consultations.any? %>
  <div class="row section">
    <h2 class="section-heading">
      <%= t "consultations.finished.past_consultations", scope: "decidim" %>
    </h2>
    <%= render finished_consultations %>
  </div>
<% end %>
