<div class="comment__header">
  <div class="comment__moderated">
    <%= t("decidim.components.comment.moderated_at", date: l(comment.moderation.hidden_at, format: :decidim_short)) %>
  </div>
</div>
