<div class="card__footer">
  <div class="card__support">
    <% if presenter.last_comment_by %>
      <% author = presenter.last_comment_by %>
      <%= cell "decidim/author", author, from: model, author_name_text: t(".commented_time_ago", time: presenter.last_comment_at), context: { extra_classes: ["author-data--small"] } %>
    <% end %>

    <%= link_to t("participate", scope: "decidim.debates.debates.debate"), resource_path, class: "card__button button button--sc small" %>
  </div>
</div>
