<div class="card__footer">
  <div class="card__support">
    <%= link_to t("participate", scope: "decidim.debates.debates.debate"), resource_path, class: "card__button button secondary button--sc small light" %>
  </div>
</div>
