  <%= decidim_form_for(@form, url: participatory_process_user_role_path(@user_role.participatory_process, @user_role), html: { class: "form edit_participatory_process_user_roles" }) do |f| %>
    <%= render partial: 'form', object: f, locals: { title: t('.title') } %>

    <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
    </div>
  <% end %>