// Custom mixins and functions

/// Slightly lighten a color
@function tint($color, $percentage){
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage){
  @return mix(black, $color, $percentage);
}

//Small caps
@mixin smallcaps{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  font-size: .9em;
}

// Status modifier mixin
$palette: $foundation-palette;

@mixin modifiers($vars, $colors: $palette){
  $map: map-merge($palette, $colors);

  @each $key, $value in $map{
    &.#{$key}{
      @content;

      @each $property in $vars{
        #{$property}: map-get($map, $key);
      }
    }
  }
}
