// Custom mixins and functions

/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


//Small caps
@mixin smallcaps{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  font-size: .9em;
}
