<% content_for :sidebar_menu_nav do %>
  <%= decidim_initiative_menu.render do
    public_page_link decidim_initiatives.initiative_path(current_participatory_space)
  end %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(current_participatory_space.title), decidim_initiatives.initiative_path(current_participatory_space), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
