<% add_secondary_root_menu(:admin_initiative_menu) %>

<% content_for :breadcrumb_context_menu do %>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
