<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
      <%= wicked_pdf_stylesheet_pack_tag "decidim_initiatives_initiatives_votes" %>
    </head>
  <body>
    <%= yield %>
  </body>
</html>
