<div class="field">
  <%= form.translated :text_field, :title, autofocus: true, label: t("models.components.title", scope: "decidim.pages.admin") %>
  <%= form.translated :editor, :body, toolbar: :full, lines: 30, label: t("models.components.body", scope: "decidim.pages.admin")  %>
  <%= form.check_box :commentable, label: t("models.components.commentable", scope: "decidim.pages.admin") %>
</div>
