<h3><%= t ".title" %></h3>

<%= form_for(@form, url: page_path, method: :post) do |form| %>
  <%= render partial: 'form', object: form %>

  <div class="actions">
    <%= form.submit t(".save") %>
  </div>
<% end %>
