<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".title" %></h2>
  </div>

  <div class="card-section">
    <%=  decidim_form_for(@form, url: page_path, method: :post) do |form| %>
      <%= render partial: 'form', object: form %>

      <div class="actions">
        <%= form.submit t(".save") %>
      </div>
    <% end %>
  </div>
</div>
