.initiatives{
  @apply block;

  &__selection{
    @apply border-[3px] border-background rounded cursor-pointer;

    &__container{
      @apply space-y-8 my-10;
    }

    &__card{
      @apply flex items-center justify-between gap-4 pl-4 pr-20 py-4;
    }

    &__icon{
      @apply flex-none w-8 h-8 text-gray fill-secondary;

      &.is-granted{
        @apply text-success;
      }
    }

    &__text{
      @apply grow space-y-2.5 text-left;

      span{
        @apply inline-block text-sm text-gray-2;
      }
    }

    &:hover{
      @apply border-tertiary;
    }

    &:hover &__text > :first-child{
      @apply underline;
    }
  }
}

.wizard__steps{
  @apply text-center my-8 text-center list-none;

  font-size: 0;

  li{
    @apply p-4 relative inline-block cursor-default text-sm text-success;

    border: none;
    color: green;
  }

  li::before{
    @apply h-[10px] bg-success inline-block text-center w-[10px] absolute mt-4 top-[-10px] right-[35%] rounded-full;

    content: "";
  }

  li::after{
    @apply h-[2px] bg-success inline-block w-full absolute top-[20%] right-0 rounded-full;

    content: "";
  }

  .step--active{
    @apply font-bold;

    & ~ li{
      @apply text-gray-2;

      &::before,
      &::after{
        @apply bg-gray-2;
      }
    }
  }
}

.initiative{
  &__hero{
    @apply backdrop-brightness-[30%];

    &-text{
      @apply container text-center text-white space-y-6 md:px-16 pt-10 pb-14 md:[&_a_+_a]:ml-6;
    }

    &-slogan{
      @apply text-lg font-semibold;
    }

    &-location{
      @apply text-lg;
    }
  }
}

#initiatives .card__grid{
  @apply relative;
}
