<div class="card__author">
  <%= cell(
    "decidim/collapsible_list",
    authors,
    size: 3,
    cell_name: "decidim/author",
    hidden_elements_count_i18n_key: "decidim.initiatives.initiatives.author_list.hidden_authors_count",
    cell_options: { extra_classes: ["author-data--small"] }
  ) %>
</div>
