<% content_for :sidebar_menu_nav do %>
  <%= admin_assemblies_menu.render %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.assemblies"), decidim_assemblies.assemblies_path, target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
