<%=  decidim_form_for(@form, url: template_texts_path, html: { class: "form edit_template_texts" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('.title') }  %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>

