<p><%= t ".hello", admin: h(@admin.name) %></p>

<p><%= t ".body_1", user: h(@user.user_name), token: h(@token.name) %></p>

<p><%= t ".body_2", reason: h(@reason) %></p>

<p><%= t(".greetings", organization_name: h(@organization.name), organization_url: decidim.root_url(host: @organization.host)).html_safe %></p>
