  <div class="filters__section">
    <div class="fcell search mt-4">
      <%= search_form_for(@query, url: url_for) do |form| %>
        <div class="input-group">
          <%= form.search_field(
                :name_or_children_name_cont,
                class: "input-group-field bg-secondary/5",
                label: false,
                placeholder: t("filters.search_placeholder", scope: "decidim.admin.taxonomies")
              ) %>
          <div class="input-group-button">
            <button type="submit" class="text-secondary" aria-label="<%= t("decidim.search.term_input_placeholder") %>">
              <%= icon "search-line", class: "fill-secondary w-4 h-4" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
