<% if allowed_to? :update, :taxonomy, taxonomy: taxonomy %>
  <% if taxonomy.root? %>
    <%= icon_link_to "pencil-line", edit_taxonomy_path(taxonomy), t("actions.edit", scope: "decidim.admin.taxonomies"), class: "action-icon--edit js-drawer-editor" %>
    <%= icon_link_to "filter-line", taxonomy_filters_path(taxonomy), t("actions.filters", scope: "decidim.admin.taxonomies"), class: "-action-icon--edit" %>
  <% else %>
    <%= icon_link_to "pencil-line", edit_taxonomy_item_path(taxonomy_id: taxonomy.root_taxonomy.id, id: taxonomy.id), t("actions.edit", scope: "decidim.admin.taxonomies"), class: "action-icon--edit js-drawer-editor" %>
  <% end %>
<% else %>
  <span class="action-space icon"></span>
<% end %>
<% if allowed_to? :destroy, :taxonomy, taxonomy: taxonomy %>
  <%= icon_link_to "delete-bin-line", taxonomy, t("actions.destroy", scope: "decidim.admin.taxonomies"), class: "action-icon--remove", method: :delete, data: { confirm: t(".confirm_destroy", name: strip_tags(translated_attribute(taxonomy.name))) } %>
<% else %>
  <span class="action-space icon"></span>
<% end %>
