<% if allowed_to? :update, :taxonomy, taxonomy: taxonomy %>
  <%= icon_link_to "pencil-line", taxonomy.root? ? edit_taxonomy_path(taxonomy) : edit_taxonomy_item_path(taxonomy_id: taxonomy.root_taxonomy.id, id: taxonomy.id), t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit js-drawer-editor" %>
<% else %>
  <span class="action-space icon"></span>
<% end %>
<% if allowed_to? :destroy, :taxonomy, taxonomy: taxonomy %>
  <%= icon_link_to "delete-bin-line", taxonomy, t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t(".confirm_destroy", name: strip_tags(translated_attribute(taxonomy.name))) } %>
<% else %>
  <span class="action-space icon"></span>
<% end %>
