// // Variables
//
// $primary: map-get($foundation-palette, primary);
// $secondary: map-get($foundation-palette, secondary);
// $success: map-get($foundation-palette, success);
// $warning: map-get($foundation-palette, warning);
// $alert: map-get($foundation-palette, alert);
//
// $light-gray-dark: darken($light-gray, 2.5);
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
//
// $muted: lighten($body-font-color, 30);
//
// $border: 1px solid $medium-gray;

@import "../../../../decidim-core/app/packs/stylesheets/decidim/application";
@import "components/consultations/_consultations-title";
@import "components/consultations/_consultations-card";
@import "components/consultations/_consultations_nav";
@import "components/consultations/_consultations-intro";
@import "components/consultations/_consultations-home-banner";
@import "components/consultations/_consultations-banner";
@import "components/consultations/_consultations-header";
@import "components/consultations/_consultations-home-intro";
@import "components/banners/_top-banner";
@import "components/accordion/_accordion";
@import "components/evote/_timeline";
@import "components/evote/_focus";
@import "components/evote/_evote";

