table{
  td.actions, th.actions{
    text-align: right;
  }
  td.center, th.center{
    text-align: center;
  }
}

tbody.sortable tr {
  cursor: move;

  td:first-child {
    border-left-style: dotted;
    border-left-color: #ccc;
  }
}

#process_admins td input {
  margin: 0;
}