// Variables

$brand: #9675ce !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #dd4b39 !default;

$primary: #ef604d !default;
$secondary: #599aa6 !default;
$green : #55d85c;
