@import "foundation_and_overrides";
@import "layout";
@import "login";
@import "sidebar";
@import "tables";
@import "actions";
@import "forms";

@import "decidim/editor";
@import "decidim/utils/fontface";

body {
  font-family: 'Source Sans Pro', sans-serif;
}
