<div class="rounded border border-gray p-4">
  <div class="h5 text-center">
    <%= t("form.legend", scope: "decidim.pages.terms_and_conditions") %>
  </div>

  <div class="flex items-center justify-center gap-4 mt-4">
    <%= cell "decidim/tos_page", :refuse_btn_modal %>

    <%= button_to decidim.accept_tos_path, method: :put, class: "button sm secondary" do %>
      <%= t("form.agreement", scope: "decidim.pages.terms_and_conditions") %>
    <% end %>
  </div>
</div>
