<div class="tos">
  <h2 class="h5 text-center">
    <%= t("form.legend", scope: "decidim.pages.terms_of_service") %>
  </h2>

  <div class="tos__buttons">
    <%= cell "decidim/tos_page", :refuse_btn_modal %>

    <%= button_to decidim.accept_tos_path, method: :put, class: "button button__sm button__secondary" do %>
      <%= t("form.agreement", scope: "decidim.pages.terms_of_service") %>
    <% end %>
  </div>
</div>
