<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% add_decidim_page_title(t("user_groups", scope: "layouts.decidim.user_profile")) %>
  <% content_for(:subtitle) { t("user_groups", scope: "layouts.decidim.user_profile") } %>

  <div class="profile__user-grid">
    <% @user_groups.each do |user_group| %>
      <%= card_for user_group %>
    <% end %>
  </div>
<% end %>
