<% if profile_path? %>
  <%= link_to profile_path, class: "flex items-center gap-2" do %>
    <%= render :profile_inline_compact %>
  <% end %>
<% else %>
  <div class="flex items-center gap-2">
    <%= render :profile_inline_compact %>
  </div>
<% end %>
