<div class="author__avatar-container is-compact">
  <%= render :avatar_image %>
</div>

<div>
  <div class="author__name"><%= render :name %></div>
  <% context_actions.each do |action| %>
    <%= render action %>
  <% end %>
</div>
