<div class="flex items-center gap-8 text-sm text-gray-2">
  <%= render :profile %>

  <% if actionable? %>
    <%= render :date %>

    <%= render :comments %>

    <%= render :endorsements %>

    <%#= TODO: perhaps deprecated %>
    <%#= render :flag %>
    <%#= render :withdraw %>
  <% end %>
</div>
