<div class="row section" id="voting-details">
  <div class="columns medium-6 large-5 large-push-1">
    <p class="lead"><%= decidim_sanitize translated_attribute(voting.description), strip_tags: true %></p>
  </div>
  <div class="columns medium-6 large-5 large-pull-1">
  </div>
</div>
