<% add_decidim_meta_tags({
                           title: translated_attribute(current_participatory_space.title),
                           image_url: current_participatory_space.attached_uploader(:banner_image).path,
                           description: translated_attribute(current_participatory_space.description),
                           url: voting_url(current_participatory_space)
                         }) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :voting,
  voting: current_participatory_space
)
%>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<main class="participatory-space__container">

  <% landing_content_blocks.each do |content_block| %>
    <%= cell content_block.manifest.cell, content_block %>
  <% end %>

</main>
