<% add_decidim_meta_tags(title: translated_attribute(current_participatory_space.title)) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :voting,
  voting: current_participatory_space
)
%>

<div class="participatory-space__container">

  <% landing_content_blocks.each do |content_block| %>
    <% next unless content_block.manifest %>

    <% if content_block.manifest.component %>
      <%= render("#{content_block.manifest.cell}_component".classify.constantize.new(content_block)) %>
    <% else %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  <% end %>

</div>
