<%
edit_link(
  resource_locator(current_voting).edit,
  :update,
  :voting,
  voting: current_voting
)
%>

<div class="wrapper">
  <div class="row column">
    <% Decidim::ContentBlock.published.for_scope(:voting_landing_page, organization: current_organization).where(scoped_resource_id: current_voting.id).each do |content_block| %>
      <% next unless content_block.manifest %>

      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  </div>
</div>

<%= render partial: "voting_details", locals: { voting: current_voting } %>
