<% add_decidim_page_title(t("templates", scope: "decidim.admin.titles")) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: debate_debate_close_path(debate, @form), html: { class: "form form-defaults edit_close_debate" }) do |f| %>
      <div class="form__wrapper">
        <div class="card pt-4 pb-4">

          <div class="card-section">
            <div class="row column">
              <%= f.translated :editor, :conclusions, autofocus: true, rows: 15 %>
            </div>
          </div>
        </div>
        <div class="item__edit-sticky">
          <div class="item__edit-sticky-container">
            <%= f.submit t(".close"), class: "button button__sm button__secondary" %>
          </div>
        </div>
        <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        </div>
      </div>
    <% end %>
  </div>
</div>
