<div id="sortition-<%= sortition.id %>-results-count">
  <span class="text-bold text-5xl block text-center text-gray-2">
    <%= sortition.selected_proposals.count %>
  </span>
  <span class="text-gray-2 text-sm block text-center">
    <%= t(".count", count: sortition.selected_proposals.count) %>
  </span>
</div>
