<div>
  <div class="author">
    <span class="author__avatar">
      <%= image_tag present(sortition.cancelled_by_user).avatar_url %>
    </span>
    <span class="author__name">
      <% if sortition.cancelled_by_user&.deleted? %>
        <span class="label">
          <%= t(".deleted") %>
        </span>
      <% else %>
        <%= sortition.cancelled_by_user.name %>
      <% end %>
    </span>
    <%= l sortition.cancelled_on, format: :decidim_short %>
  </div>
</div>
