<div>
  <div class="author">
    <span class="author__avatar">
      <%= image_tag present(sortition.author).avatar_url %>
    </span>
    <span class="author__name">
      <% if sortition.author&.deleted? %>
        <span class="label">
          <%= t(".deleted") %>
        </span>
      <% else %>
        <%= sortition.author.name %>
      <% end %>
    </span>
    <%= l sortition.created_at, format: :decidim_short %>
  </div>
</div>
