<% content_for :aside do %>
  <h2 id="sortitions-count" class="title-action__title section-heading">
    <%= render partial: "sortitions_count" %>
  </h2>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "sortitions" %>
<% end %>
