<% content_for :aside do %>
  <h1 class="h1 decorator">
    <%= render partial: "sortitions_count" %>
  </h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <div id="sortitions">
    <%= render partial: "sortitions" %>
  </div>
<% end %>
