.results-stats{
  &__table{
    margin-top: 2rem;

    caption{
      background-color: $secondary;
      color: $white;
      text-transform: uppercase;
      text-align: left;
      font-weight: bold;
      letter-spacing: .02em;
      line-height: 1;
    }

    thead th{
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .02em;
      line-height: 1;
      font-size: 90%;
      background-color: $medium-gray;
      white-space: nowrap;
    }

    td{
      font-size: 120%;
      white-space: nowrap;
    }

    tbody th{
      text-align: left;
      background-color: inherit;
      border-right: 1px solid $medium-gray;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  &__percentage{
    font-size: 75%;
  }
}
