.evote-timeline{
  display: flex;
  overflow: auto;

  &__card{
    background-color: $white;
    border: 1px solid $medium-gray;
    padding: 1rem;
    margin-left: 1rem;
    width: 200px;
    border-radius: $global-radius;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child{
      margin-left: 0;
    }

    &.is-past{
      opacity: .75;
      background-color: $light-gray-dark;
    }

    &.is-current{
      background-color: $secondary;
      color: $white;
    }
  }

  &__dates{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  &__dates-item{
    display: flex;
    flex-direction: column;
  }

  &__dates-separator{
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &__day{
    font-size: 1.75em;
    line-height: 1;
  }

  &__month{
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1;
    opacity: .4;
  }

  &__title{
    font-weight: 600;
  }
}
