<% if Decidim.enable_html_header_snippets %>
  <div class="card" data-component="accordion" id="accordion-header-snippets">
    <div class="card-divider">
      <button class="card-divider-button" data-open="true" data-controls="panel-header-snippets" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title">
          <%= t("title", scope: "decidim.admin.organization_appearance.form.header_snippets") %>
        </h2>
      </button>
    </div>
    <div id="panel-header-snippets" class="card-section">
      <div class="row column">
        <%= form.text_area :header_snippets, help_text: t(".header_snippets_help_html") %>
      </div>
    </div>
  </div>
<% end %>
