<div id="resource-<%= resource&.id %>-endorsement-button">
  <% path = resource.endorsed_by?(current_user) ? path_to_destroy_endorsement(resource) : path_to_create_endorsement(resource) %>
  <% label = resource.endorsed_by?(current_user) ? t("decidim.endorsement_buttons_cell.already_endorsed") : endorse_translated %>
  <% method = resource.endorsed_by?(current_user) ? :delete : :post %>
  <%= action_authorized_button_to(
        :endorse,
        path,
        resource: resource,
        method: method,
        remote: true,
        class: button_classes,
        id: "endorsement_button"
      ) do %>
    <%= label %>
    <%= icon "heart-add-line", class: "fill-current" %>
  <% end %>
</div>
