<div id="card__tos" class="form__wrapper-block">
  <h2 class="h4"><%= t("decidim.devise.registrations.new.tos_title") %></h2>

  <div>
    <% terms_of_service_summary_content_blocks.each do |content_block| %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  </div>

  <%= form.check_box :tos_agreement, label: t("decidim.verifications.authorizations.new.tos_agreement", link: link_to(t("decidim.devise.registrations.new.terms"), decidim.page_path("terms-of-service", locale: current_locale))), label_options: { class: "form__wrapper-checkbox-label" } %>
</div>
