<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.statistics" %>
    </h2>
  </div>

  <div class="statistic__container">
    <% if statistics_presenter.highlighted.present? %>
      <%= cell("decidim/statistic", collection: statistics_presenter.highlighted) %>
    <% end %>
  </div>
</div>

<% if show_link_to_more %>
  <div class="text-center">
    <%= link_to t(".see_more_statistics"), statistics_path %>
  </div>
<% end %>
