<div class="field">
  <%= form.translated :text_field, :name, autofocus: true %>

  <div class="steps">
    <%= form.label :step_id %>
    <%= form.collection_radio_buttons :step_id, participatory_process.steps, :id, :title do |builder| %>
      <% builder.label { builder.radio_button + translated_attribute(builder.text) } %>
    <% end %>
    <%= form.error_for :step_id %>
  </div>
</div>
