<div id="filter-container-<%= name %>" 
     class="js-taxonomy-filters-container min-h-screen" 
     data-name="<%= name %>" 
     data-index-url="<%= decidim_admin.taxonomy_filters_selector_index_path(name:) %>" 
     data-show-url="<%= decidim_admin.taxonomy_filters_selector_path(name:, id: '_ID_', filter_id: '_FILTER_ID_') %>"></div>
