<span data-filter="<%= value %>" class="label my-2 py-1.5 text-secondary">
  <%= title %>
  <%= icon_link_to("delete-bin-line", "#", t(".remove")) %>
  <%= hidden_field_tag("#{object_name}[#{name}][]", value) %>
</span>
