<%= decidim_form_for([current_participatory_space, @form], url: component_path(current_participatory_space, @component), method: "put", html: { class: "form edit_component" }) do |form| %>
  <%= render partial: "form", object: form, locals: { component: @component, title: t(".title", name: t("#{@component.manifest.name}.name", scope: "decidim.components")) } %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= form.submit t(".update"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
