
<%= decidim_form_for([current_participatory_space, @form], url: components_path(type: params[:type]), method: "post", html: { class: "form new_component" }) do |form| %>
  <%= render partial: "form", object: form, locals: { component: @component, title: t(".title", name: t("#{manifest.name}.name", scope: "decidim.components"))} %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".add") %>
  </div>
<% end %>
<script type="text/javascript">

function disableClick(supports, votes){
  if (supports.is(":checked")){
    votes.prop("disabled", true);
  } else if (votes.is(":checked")){
    supports.prop("disabled", true);
  }
}

function switchDisabling(check1, check2){
 check1.change(function(){
      if ($(this).is(":checked")){
      check2.prop("disabled", true);
    } else if (!check2.is(":checked") && !$(this).is(":checked")){
      $(this).prop("disabled", false);
      check2.prop("disabled", false);
    } else {
      $(this).prop("disabled", false);
      check2.prop("disabled", false);
    }
  })
}

$(document).ready(function() {
  var participatory_space_id = <%= current_participatory_space.id %>;
  var $supports = $('input[name="component[step_settings][' + participatory_space_id + '][votes_enabled]"]')
  var $votes = $('input[name="component[step_settings][' + participatory_space_id + '][votes_weight_enabled]"]')
  disableClick($supports, $votes)
  switchDisabling($supports, $votes)
  switchDisabling($votes, $supports)
});

</script>
