<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.text_field :token, aria: { label: :token }, style: "text-transform: uppercase" %>
    </div>
    <div class="row column">
      <%= form.datetime_field :expires_at, aria: { label: :expires_at } %>
    </div>
  </div>
</div>
