<% add_decidim_page_title(translated_attribute(current_component.name)) if try(:current_component) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% add_decidim_meta_tags(
  image_url: current_participatory_space.attached_uploader(:banner_image).path,
  description: translated_attribute(current_participatory_space.short_description)
) %>

<%= append_javascript_pack_tag "decidim_assemblies" %>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<%= render "layouts/decidim/application" do %>
  <main>
    <%= yield %>
  </main>
<% end %>

<% provide :meta_image_url, current_participatory_space.attached_uploader(:banner_image).path %>
