<% if meetings.length == 0 %>
  cell("decidim/announcement", t("decidim.meetings.meetings.meetings.no_meetings_warning"), callout_class: "warning" )
<% elseif @forced_past_meetings %>
  cell("decidim/announcement", t("decidim.meetings.meetings.meetings.upcoming_meetings_warning"), callout_class: "warning" )
<% else %>
  <div id="meetings" class="meeting-list__container">
    <% meetings.each do |meeting| %>
      <%= cell "decidim/meetings/meeting_l", meeting, link_whole_card: true, title_tag: :h2 %>
    <% end %>
  </div>
  <%= decidim_paginate meetings, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
<% end %>
