<table class="meeting-calendar__month">
  <caption><%= Date::MONTHNAMES[month[0]] %></caption>
  <thead>
    <%
      # REDESIGN_PENDING: translatable day/months
      Date::ABBR_DAYNAMES.each do |day| %>
      <th><%= day %></th>
    <% end %>
  </thead>
  <tbody>
    <% month[1].group_by {|e| l e, format: "%U"}.each do |week| %>
      <tr>
        <% if l(week[1].first, format: "%d") == "01" %>
          <% (7 - week[1].length).times do %>
            <td></td>
          <% end %>
        <% end %>
        <% week[1].each do |day| %>
          <%
            # REDESIGN_PENDING: create a controller function to get the css class
            classes = []

            classes << "is-today" if day == Date.today
            classes << "is-past-event" if events.include? day and day < Date.today
            classes << "is-upcoming-event" if events.include? day and day > Date.today
          %>
          <td class="<%= classes.join(" ") %>"><%= l day, format: "%d" %></td>
        <% end %>
        <% if l(week[1].first, format: "%d") != "01" %>
          <% (7 - week[1].length).times do %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
