<div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <% unless first_step? %>
    <%= button_tag(
      t("decidim.elections.votes.voting_step.back"),
      type: "button",
      id: "back-#{current_step_index}",
      class: "button button__sm md:button__lg button__transparent-secondary",
      data: {
        #controls: previous_step_dom_id
      }
    ) %>
  <% end %>

  <%= button_tag(
    class: "button button__sm md:button__lg button__secondary",
    type: "button",
    id: "next-#{current_step_index}",
    data: {
      #controls: next_step_dom_id
    },
  ) do %>
    <span><%= button_continue_text %></span>
    <%= icon "arrow-right-line" %>
  <% end %>
</div>
