<article class="card card--badge">
  <div class="card__content">
    <div class="card__header">
      <%= image_tag "badge-demo.png", class: "card__image" %>
    </div>
    <div class="card__text text-center">
      <strong>Yo y mi ballantines</strong>
    </div>
  </div>
  <div class="card__footer card__footer--transparent">
    <div class="card__support">
      Level 0
    </div>
  </div>
</article>
