<div class="row small-up-1 medium-up-2 card-grid">
  <% 8.times do %>
    <div class="column">
      <article class="card card--member">
        <div class="card__content">
          <div class="card__header collapse">
            <%= partial "author_data", { big: true, verified: false } %>
          </div>
          <div class="card__text card--picture-offset">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <a href="#">&nbsp;<u>read more</u></a></p>
            <a href="#" class="text-uppercase"><%= icon "bell", class: "icon--small", aria_label: "Respaldos", role: "img" %>&nbsp;<small>Following</small></a>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>

<%= partial "pagination" %>
