<div class="reveal" data-reveal id="login-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Conéctate</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row p-s">
    <div class="columns large-10 medium-centered">
      <form class="register-form mt-m mb-m">
        <label>Adreça electrònica <a class="pull-right alert"><u>canviar</u></a>
          <input type="email" placeholder="exemple@domini.com" disabled>
        </label>
        <p>Vemos que eres un nuevo usuario, <a href="#">puedes hacer el registro completo</a> o continuar con el registro rápido:</p>
        <label>
          <input type="checkbox"> Quiero recibir un boletín ocasional con información relevante
        </label>
        <label class="mb-s">
          <input type="checkbox"> Al registrarte aceptas <a href="#">los términos y condiciones de uso</a>.
        </label>
        <button type="submit" class="button expanded">Continuar</button>
      </form>
      <span class="register__separator">
        <span class="register__separator__text">o</span>
      </span>
      <div class="button-group text-center">
        <a class="button button--twitter">
          <%= icon "twitter" %>
        </a>
        <a class="button button--facebook">
          <%= icon "facebook" %>
        </a>
        <a class="button button--google">
          <%= icon "google" %>
        </a>
      </div>
    </div>
  </div>
</div>
