<%
@title = "Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="columns medium-3">
      <%= render partial: page_path("user") + "/user-profile" %>
    </div>
    <div class="columns medium-9">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex alias, distinctio nisi voluptas dolorem veritatis. Odio repudiandae quae commodi culpa veniam assumenda nam minima et, provident. Maxime dolor harum ea!
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
