<div class="row">
  <h1><%= params[:hashtag] %></h1>
</div>
<% if @hashtagged %>
  <div class="row small-up-1 medium-up-3 card-grid">
    <% @hashtagged.each do |hashtagged| %>
      <%= render_hashtaggable hashtagged %>
    <% end %>
  </div>
<% else %>
  <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
<% end %>
