<p class="email-greeting"><%= t ".hello" %></p>

<p class="email-instructions"><%= t ".body_1", organization_name: translated_attribute(@organization.org_translated_name) %></p>

<p class="email-instructions"><%= t ".body_2", justification: h(@justification) %></p>

<p class="email-closing"><%= t(".greetings", organization_name: translated_attribute(@organization.org_translated_name), organization_url: decidim.root_url(host: @organization.host)).html_safe %></p>
