<% add_decidim_page_title(translated_attribute(group.name)) %>
<% add_decidim_meta_tags(title: t("participatory_process_groups.show.title", scope: "decidim")) %>

<div class="wrapper">
  <div class="row column">
    <% Decidim::ContentBlock.published.for_scope(:participatory_process_group_homepage, organization: current_organization).where(scoped_resource_id: group.id).each do |content_block| %>
      <% next unless content_block.manifest %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  </div>
</main>
