<% add_decidim_meta_tags(title: t("participatory_process_groups.show.title", scope: "decidim")) %>

<main class="wrapper">
  <section id="processes-grid" class="section row collapse">
    <h1 class="section-heading"><%= t("participatory_process_groups.show.group_participatory_processes", scope: "decidim", count: participatory_processes.count, group: translated_attribute(group.name)) %></h1>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
      <%= render participatory_processes %>
    </div>
  </section>
  <%= render_participatory_processes_hook(:process_group_highlighted_elements) %>
</main>
