<% add_decidim_page_title(translated_attribute(group.title)) %>
<% add_decidim_meta_tags(title: t("participatory_process_groups.show.title", scope: "decidim")) %>

<%
  edit_link(
    decidim_admin_participatory_processes.edit_participatory_process_group_path(group),
    :update,
    :process_group,
    process_group: group
  )
%>

<div class="wrapper">
  <div class="row column">
    <% Decidim::ContentBlock.published.for_scope(:participatory_process_group_homepage, organization: current_organization).where(scoped_resource_id: group.id).each do |content_block| %>
      <% next unless content_block.manifest %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  </div>
</div>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_participatory_processes" %>
<% end %>
