<% add_decidim_page_title(translated_attribute(group.title)) %>
<% add_decidim_meta_tags(title: t("participatory_process_groups.show.title", scope: "decidim")) %>

<%
  edit_link(
    decidim_admin_participatory_processes.edit_participatory_process_group_path(group),
    :update,
    :process_group,
    process_group: group
  )
%>

<div class="participatory-space__container">
  <% active_content_blocks.each do |content_block| %>
    <% next unless content_block.manifest %>

    <% if content_block.manifest.component %>
      <%= render("#{content_block.manifest.cell}_component".classify.constantize.new(content_block)) %>
    <% else %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>
  <% end %>
</div>

<%= append_javascript_pack_tag "decidim_participatory_processes" %>
