<div class="grid-x">
  <div class="cell">
    <%= form.hidden_field :position, class: "position" %>
    <%= form.text_field :title, required: true %>
  </div>
  <% if proposal.article? %>
  <div class="cell">
    <%= form.text_area :body, required: true, rows: 5 %>
  </div>
  <% end %>
</div>
