<div class="row column">
  <%= form.translated :text_field, :subject %>
</div>

<div class="row column">
  <%= form.translated :editor, :body, toolbar: "basic-no-video" %>
</div>

<div class="row column">
  <%= t('.interpolations_hint') %>
</div>
