<%= decidim_form_for(@form, html: { class: "form edit_newsletter" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".save_and_preview") %>
  </div>
<% end %>
