<% if geolocalizable.respond_to? :location %>
  <strong><%= decidim_sanitize(translated_attribute(geolocalizable.location)) %></strong><br>
<% end %>
<span><%= geolocalizable.address %></span><br>
<% if geolocalizable.respond_to? :location_hints %>
  <span><%= decidim_sanitize(translated_attribute(geolocalizable.location_hints)) %></span>
<% end %>
