<% announcement = translated_attribute(current_settings.announcement).presence || translated_attribute(component_settings.announcement).presence %>
<% if announcement %>
  <section class="layout-main__section">
    <%= cell("decidim/announcement", announcement, callout_class: "editor-content") %>
  </section>
<% end %>
