<div class="row collapse filter-tags">
  <strong class="filter-tags__title">Filtres actius:</strong>

  <% filter.to_tags.each do |tag| %>
    <span class="filter-tag">
      <span class="filter-tag__label"><%= tag[:value] %></span>
      <a href="#" class="filter-tag__close">
        <%= icon "x", aria_label: "Treure", class: "icon--small" %>
      </a>
    </span>
  <% end %>
</div>