<% if resource.category.present? || has_visible_scopes?(resource) %>
  <ul class="tags <%= tags_class_extra %>" >
    <% if resource.category.present? %>
      <li><%= link_to translated_attribute(resource.category.name), resource_locator(resource).index(filter: { category_id: resource.category.id }) %></li>
    <% end %>
    <% if has_visible_scopes?(resource) %>
      <li><%= link_to translated_attribute(resource.scope.name), resource_locator(resource).index(filter: { scope_id: [resource.scope.id] }) %></li>
    <% end %>
  </ul>
<% end %>
