<% if templates_defined? && choose_template? %>
  <%= render partial: "decidim/templates/admin/questionnaire_templates/choose", locals: { target: questionnaire, form_title: t("decidim.forms.admin.questionnaires.edit.title") } %>
<% else %>
  <%= decidim_form_for(@form, url: update_url, method: :put, html: { class: "form edit_questionnaire" }) do |form| %>
    <%= render partial: "decidim/forms/admin/questionnaires/form", object: form %>

    <div class="button--double form-general-submit">
      <%= form.submit t(".save"), class: "button" %>
    </div>
  <% end %>
<% end %>
