<%= decidim_form_for(@form, url: update_url, method: :put, html: { class: "form edit_questionnaire" }) do |form| %>
  <%= render partial: "decidim/forms/admin/questionnaires/form", object: form, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".save"), class: "button" %>
  </div>
<% end %>
