<%= decidim_form_for(@form, url: create_url, method: :post, html: { class: "form new_questionnaire" }) do |form| %>
  <%= render partial: "decidim/forms/admin/questionnaires/form", object: form, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".create"), class: "button" %>
  </div>
<% end %>
