<% if highlighted.any? %>
  <div id="highlighted-budgets" class="card__highlight-container">
    <% highlighted.each do |budget| %>
      <%= cell("decidim/budgets/budget_list_item", budget) %>
    <% end %>
  </div>
<% end %>

<% non_highlighted = (budgets - highlighted - voted) %>

<% if non_highlighted.any? %>
  <div id="budgets" class="card__highlight-container">
    <% non_highlighted.each do |budget| %>
      <%= cell("decidim/budgets/budget_list_item", budget) %>
    <% end %>
  </div>
<% end %>
