<p><%= heading %></p>

<% if budgets do %>
  <div class="row">
    <div class="columns mediumlarge-6">
      <div id="budgets" class="card card--list card--list--mini">
        <% budgets.each do |budget| %>
          <%= cell("decidim/budgets/groups/budget_list_item", budget) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
