<%= render partial: "decidim/shared/component_announcement" %>

<div class="row">
  <div class="columns medium-7 mediumlarge-8">
    <%= cell("decidim/budgets/budgets_header", component_settings) %>

    <%= cell("decidim/budgets/budgets_list", current_workflow) %>
  </div>
</div>
