<div class="row section voting-description-cell mt-m">
  <div class="columns">
    <% if introductory_image.attached? %>
      <div id="introductory-image" class="columns medium-4 mediumlarge-5">
        <img src="<%= introductory_image.path %>" alt="">
      </div>
    <% end %>
    <div class="columns medium-8 mediumlarge-7">
      <h2 class="show-for-sr"><%= t("decidim.votings.content_blocks.landing_page.description.title") %></h2>
      <div><%= description_text %></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_votings_voting_description_cell" %>
