/*= require social-share-button */
$size: 45px;

.share-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-share-button {
  display: inline-block;
  vertical-align: top;
  .ssb-icon {
    margin-right: 5px;
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

