<div class="card" id="monitoring_committee_certificates">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <% certificates.each do |certificate| %>
            <tr data-id="<%= certificate.id %>">
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
