<div class="main-bar__links-desktop">
  <div>
    <%= link_to(
        decidim.destroy_user_session_path,
        method: :delete,
        class: "main-bar__links-desktop__item",
        "aria-label": t("layouts.decidim.header.close"),
        data: {
          close: "main-bar__links-desktop__item",
          confirm: t("layouts.decidim.header.confirm_close_ephemeral_session"),
          confirm_title: t("layouts.decidim.header.confirm_title_close_ephemeral_session"),
          confirm_icon: "logout-box-line"
        }
     ) do %>
        <%= icon "close-line" %><span><%= t("layouts.decidim.header.close") %></span>
    <% end %>
  </div>
</div>

<div class="main-bar__menu-mobile">
  <%= link_to(
      icon("close-line", class: "w-8 h-6 fill-current"),
      decidim.destroy_user_session_path,
      method: :delete,
      class: "text-secondary",
      type: :button,
      "aria-label": t("layouts.decidim.header.close"),
      data: {
        close: "",
        confirm: t("layouts.decidim.header.confirm_close_ephemeral_session"),
        confirm_title: t("layouts.decidim.header.confirm_title_close_ephemeral_session"),
        confirm_icon: "logout-box-line"
      }
    ) %>
</div>
