<div id="menu-bar" class="menu-bar__container">
  <div class="menu-bar">

    <%# secondary dropdown only desktop %>
    <div class="menu-bar__breadcrumb-desktop">
      <%= render partial: "layouts/decidim/header/menu_breadcrumb_desktop" %>
    </div>
    <% if content_for?(:participatory_space_actions) %>
      <div class="menu-bar__actions">
        <%= content_for :participatory_space_actions %>
      </div>
    <% end %>

    <%# secondary dropdown mobile-tablet %>
    <div class="menu-bar__breadcrumb-mobile">
      <%= render partial: "layouts/decidim/header/menu_breadcrumb_mobile_tablet" %>
    </div>

  </div>
</div>
