<!-- TODO: revisar ancho en tablet -->
<div class="bg-white divide-y divide-border-2 rounded-b shadow-lg text-black w-[1200px]">
  <div class="flex justify-between p-8 gap-x-8">
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_first_dropdown_top_left" %>
    </div>
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_first_dropdown_top_right" %>
    </div>
  </div>
  <div class="flex justify-between p-8 gap-x-8">
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_first_dropdown_bottom_left" %>
    </div>
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_first_dropdown_bottom_right" %>
    </div>
  </div>
</div>
