<!-- TODO: revisar ancho en tablet -->
<div class="bg-white divide-y divide-border-2 rounded-b shadow-lg text-black w-[1200px]">
  <div class="flex justify-between p-8 gap-x-8">
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown_top_left" %>
    </div>
    <ul class="w-1/2 px-8 divide-y divide-border-2 grid grid-cols-2 gap-x-6 text-secondary">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_links" %>
    </ul>
  </div>
  <div class="flex justify-between p-8 gap-x-8">
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown_bottom_left" %>
    </div>
    <div class="w-1/2">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_last_activity" %>
    </div>
  </div>
</div>
