<div id="main-dropdown-summary"
  class="menu-bar__breadcrumb-desktop__dropdown-trigger"
  data-controls="main-dropdown-panel">
  <%= icon "home-2-line" %>
</div>
<div id="main-dropdown-panel" class="menu-bar__breadcrumb-desktop__dropdown-content" aria-hidden="true">
  <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_main_dropdown", locals: { id: "breadcrumb-main-dropdown-desktop" } %>
</div>

<%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_items" %>
