<h4 class="h4">Procés participatiu sobre el planejament urbanístic de l'àmbit de Ca n' Ametller, Can Mates Oest, Can Cabassa i Can Fontanals</h4>
<%= arrow_link "Més informació", "", class: "mt-4 text-secondary" %>
<div class="my-8 flex items-center text-sm space-x-6">
  <span class="flex items-center space-x-2">
    <%= icon "direction-line", class: "text-border fill-current" %>
    <span class="font-semibold">fase Actual:</span>
    <a href="" class="text-secondary underline">Informació i participació</a>
  </span>
  <span class="flex items-center space-x-2">
    <%= icon "twitter-line", class: "text-border fill-current" %>
    <a href="" class="text-secondary underline">#Ecobarri</a>
  </span>
</div>
