<button class="button sm transparent">
  <span>Segueix aquest procés</span>
  <%= icon "notification-2-line", class: "fill-current" %>
</button>
<button class="button sm white text-primary">
  <span>Nova proposta</span>
  <%= icon "add-fill", class: "fill-current" %>
</button>
<button class="button sm secondary">
  <span>Nova proposta</span>
  <%= icon "add-fill", class: "fill-current" %>
</button>
