<div class="bg-primary">
  <div class="container flex justify-between items-center py-4 relative">
    <div class="flex justify-between items-center gap-2.5 text-lg text-white">
      <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb" %>
    </div>
    <div class="flex justify-between items-center gap-6">
      <%= render partial: "layouts/decidim/header/redesigned_menu_buttons" %>
    </div>
  </div>
</div>
