<h3 class="menu-bar__main-dropdown__title"><%= t("decidim.pages.home.footer_sub_hero.footer_sub_hero_headline", organization: current_organization.name) %></h3>
<p class="menu-bar__main-dropdown__subtitle"><%== t("decidim.pages.home.footer_sub_hero.footer_sub_hero_body") %></p>
