<div class="absolute top-full left-0 lg:relative flex justify-between bg-white rounded-b shadow-lg text-black w-full lg:w-[1000px]">
  <div class="hidden md:block w-3/4 p-8">
    <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_secondary_dropdown_top_left" %>
    <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_last_activity" %>
  </div>
  <ul class="w-full md:w-1/4 bg-primary px-8 py-3 divide-y divide-border-2 text-white">
    <%= render partial: "layouts/decidim/header/redesigned_menu_breadcrumb_links" %>
  </ul>
</div>
