<button class="button button__sm button__transparent">
  <span>Segueix aquest procés</span>
  <%= icon "notification-2-line", class: "fill-current" %>
</button>
<button class="button button__sm button__transparent-primary">
  <span>Nova proposta</span>
  <%= icon "add-fill", class: "fill-current" %>
</button>
