<footer>
  <div class="bg-gray-4">
    <div class="flex flex-col lg:flex-row gap-8 container py-10">
      <div class="lg:w-1/3">
        <a class="block mb-6" href="">
          <img alt="Christiansen and Sons" class="max-h-16"
            src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaFFEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ec4069153443822a3e26156c6b535e3a8b863cff/879857dd97617f0aee66d0d718ea08a5.png">
        </a>
        <div class="text-sm text-white prose">
          <p>Welcome to Christiansen and Sons participatory platform.</p>
          <p>Let's build a more open, transparent and collaborative society.<br> Join, participate and decide.</p>
        </div>

      </div>
      <div class="lg:w-2/3 grid grid-cols-2 gap-x-4 gap-y-10 lg:grid-cols-4 text-md text-white">
        <nav role="navigation" aria-label="Decidim">
          <h5 class="h5 mb-4">Decidim</h5>
          <ul class="space-y-4 break-inside-avoid">
            <li class="font-semibold"><a href="/">Processos</a></li>
            <li class="font-semibold"><a href="/">Assemblees</a></li>
            <li class="font-semibold"><a href="/">Iniciativas</a></li>
            <li class="font-semibold"><a href="/">Votacions</a></li>
            <li class="font-semibold"><a href="/">Consultes</a></li>
            <li class="font-semibold"><a href="/">Jornades</a></li>
          </ul>
        </nav>
        <nav role="navigation" aria-label="Recursos">
          <h5 class="h5 mb-4">Recursos</h5>
          <ul class="space-y-4 break-inside-avoid">
            <li class="font-semibold"><a href="/">Activitat</a></li>
            <li class="font-semibold"><a href="/">Trobades</a></li>
          </ul>
        </nav>
        <nav role="navigation" aria-label="Interaccions">
          <h5 class="h5 mb-4">Interaccions</h5>
          <ul class="space-y-4 break-inside-avoid">
            <li class="font-semibold"><a href="/">Ajuda general</a></li>
            <li class="font-semibold"><a href="/">Preguntes freqüents</a></li>
            <li class="font-semibold"><a href="/">Tutorials de participació</a></li>
            <li class="font-semibold"><a href="/">Accesibilitat</a></li>
            <li class="font-semibold"><a href="/">Dades obertes</a></li>
          </ul>
        </nav>
        <nav role="navigation" aria-label="El meu compte">
          <h5 class="h5 mb-4">El meu compte</h5>
          <ul class="space-y-4 break-inside-avoid">
            <li class="font-semibold"><a href="/">Configuració</a></li>
            <li class="font-semibold"><a href="/">Perfil públic</a></li>
            <li class="font-semibold"><a href="/">Notificacions</a></li>
            <li class="font-semibold"><a href="/">Converses</a></li>
          </ul>
        </nav>

      </div>
    </div>
    <div class="border-t border-black flex flex-wrap items-center gap-6 container py-6 text-white">
      <nav class="md:w-1/2 lg:w-auto" role="navigation" aria-label="Legal">
        <ul class="flex flex-col md:flex-row gap-10 text-sm text-white">
          <li>
            <a href="/">Avís Legal</a>
          </li>
          <li>
            <a href="/">Termes i condicions d'ús</a>
          </li>
          <li>
            <a href="/">Cookies</a>
          </li>
        </ul>

      </nav>
      <nav class="max-w-fit w-full md:w-auto md:ml-auto" role="navigation" aria-label="Social media">
        <ul class="flex justify-between md:justify-start gap-6 text-sm text-white">
          <li>
            <a target="_blank" data-external-link="false" rel="noopener noreferrer"
              href="/link?external_url=https%3A%2F%2Ftwitter.com%2Flumbersexual" data-remote="true">
              <span class="sr-only">Christiansen and Sons at Twitter</span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" aria-label="Twitter"
                class="w-8 h-8 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-twitter-line"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" data-external-link="false" rel="noopener noreferrer"
              href="/link?external_url=https%3A%2F%2Fwww.facebook.com%2Fvinyl" data-remote="true">
              <span class="sr-only">Christiansen and Sons at Facebook</span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" aria-label="Facebook"
                class="w-8 h-8 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-facebook-fill">
                </use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" data-external-link="false" rel="noopener noreferrer"
              href="/link?external_url=https%3A%2F%2Fwww.instagram.com%2Fwayfarers" data-remote="true">
              <span class="sr-only">Christiansen and Sons at Instagram</span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" aria-label="Instagram"
                class="w-8 h-8 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-instagram-line">
                </use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" data-external-link="false" rel="noopener noreferrer"
              href="/link?external_url=https%3A%2F%2Fwww.youtube.com%2Fhelvetica" data-remote="true">
              <span class="sr-only">Christiansen and Sons at YouTube</span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" aria-label="Youtube"
                class="w-8 h-8 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-youtube-line"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" data-external-link="false" rel="noopener noreferrer" href="https://www.github.com/goth">
              <span class="sr-only">Christiansen and Sons at GitHub</span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" aria-label="Github"
                class="w-8 h-8 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-github-fill"></use>
              </svg>
            </a>
          </li>
        </ul>

      </nav>
      <details class="relative">
        <summary id="language-chooser-control"
          class="flex items-center border border-white rounded py-1.5 px-2 cursor-pointer text-md font-semibold"
          aria-controls="language-chooser-menu">
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-4 h-4 fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-global-line"></use>
          </svg>
          <span class="ml-1">
            English
          </span>
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-4 h-4 ml-4 fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-down-s-line">
            </use>
          </svg>
          <span class="sr-only">
            <span lang="en">
              Choose language
            </span>
            <span lang="ca">
              Triar la llengua
            </span>
            <span lang="es">
              Elegir el idioma
            </span>
          </span>
        </summary>

        <ul id="language-chooser-menu" class="absolute top-full left-0 bg-white rounded w-full" role="menu"
          aria-labelledby="language-chooser-control">
          <li class="text-black text-md hover:bg-secondary hover:text-white transition" role="presentation">
            <a role="menuitem" class="p-2 w-full block" rel="nofollow" data-method="post" href="/locale?locale=ca"
              lang="ca">Català</a>
          </li>
          <li class="text-black text-md hover:bg-secondary hover:text-white transition" role="presentation">
            <a role="menuitem" class="p-2 w-full block" rel="nofollow" data-method="post" href="/locale?locale=es"
              lang="es">Castellano</a>
          </li>
        </ul>
      </details>

    </div>
  </div>

  <div class="bg-black py-5">
    <div class="container flex justify-between items-center text-white">
      <div>
        <a rel="decidim noopener noreferrer" href="https://decidim.org/" target="_blank" data-external-link="false">
          <img alt="Decidim Logo" class="max-h-8 block"
            src="/decidim-packs/media/images/decidim-logo-318879ac2f9a6dd9ab6b.svg">
        </a>
        <div class="text-xs mt-2">
          Website made with <a target="_blank" href="https://github.com/decidim/decidim">free software<span
              class="inline-block mx-0.5"><svg class="icon icon--external-link w-2 h-2 fill-current" role="img"
                aria-hidden="true">
                <title>external-link</title>
                <use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-external-link"></use>
              </svg><span class="sr-only">(External link)</span></span></a>.
        </div>
      </div>
      <a class="flex gap-1" rel="license noopener noreferrer"
        href="/link?external_url=http%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby-sa%2F4.0%2F" target="_blank"
        data-external-link="false" data-remote="true">
        <span class="sr-only">t("layouts.decidim.footer.cc_by_license")</span>
        <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-6 h-6 fill-current">
          <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-creative-commons-line">
          </use>
        </svg>
        <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-6 h-6 fill-current">
          <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-creative-commons-by-line">
          </use>
        </svg>
        <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-6 h-6 fill-current">
          <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-creative-commons-sa-line">
          </use>
        </svg>
      </a>
    </div>
  </div>

</footer>
