<header>
  <div class="relative w-full">
    <div class="container flex justify-between items-center py-5">
      <div class="w-3/4 md:w-2/5 lg:w-1/4 prose prose-img:max-h-16 prose-img:my-0">
        <a aria-label="Go to front page" href="https://decidim-redesign.populate.tools/">
          <img alt="Christiansen and Sons's official logo"
            src="/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaElEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5c895dfe64864d46f17dc18a9ff302e8f373988d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDV0FKcEFhQT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--83695be0b77a0a09899ae9c34db5a58e390533c3/70420ac6f28aad7f138f03c645b8f190.png">
        </a>
      </div>
      <div class="hidden md:block md:w-2/5 lg:w-1/6">
        <form id="form-search_topbar" action="/search" accept-charset="UTF-8" method="get">
          <label class="block relative rounded text-md bg-background">
            <span class="sr-only">Search</span>
            <input type="text" class="block bg-transparent w-full px-4 py-1.5 reset-defaults" placeholder="Search">
            <button type="submit" class="absolute right-2 inset-y-2 text-secondary" aria-label="Search">
              <svg width="1em" height="1em" role="img" aria-hidden="true">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-search-line"></use>
              </svg>
            </button>
          </label>
        </form>
      </div>
      <div class="hidden lg:flex justify-between text-center divide-x-2 divide-gray-3 ml-auto">
        <a class="flex flex-col items-center text-secondary px-8" aria-label="Help" href="/pages">
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-5 h-5 fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-question-line"></use>
          </svg><span class="text-sm first-letter:uppercase">Help</span>
        </a>
        <div class="flex px-8 gap-x-8">
          <a class="flex flex-col items-center text-secondary" aria-label="Meetings" href="/meetings/">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-5 h-5 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-road-map-line"></use>
            </svg><span class="text-sm first-letter:uppercase">Meetings</span>
          </a> <a class="flex flex-col items-center text-secondary" aria-label="Activity" href="/last_activities">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-5 h-5 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-bubble-chart-line">
              </use>
            </svg><span class="text-sm first-letter:uppercase">Activity</span>
          </a>
        </div>
        <a class="flex flex-col items-center text-secondary px-8" aria-label="Sign In" href="/users/sign_in">
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-5 h-5 fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-login-box-line"></use>
          </svg><span class="text-sm first-letter:uppercase">Sign In</span>
        </a>
      </div>

      <div class="lg:hidden">
        <div
          class="fixed bottom-0 left-0 z-20 bg-white w-full px-4 py-3 grid grid-cols-4 text-secondary shadow-[0_-4px_6px_rgba(198,198,198,0.25)]">
          <a href="" class="flex flex-col items-center" aria-label="Sign In">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-8 h-8 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-home-2-line"></use>
            </svg>
            <span class="text-sm first-letter:uppercase">Inici</span>
          </a>
          <a href="" class="flex flex-col items-center" aria-label="Search">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-8 h-8 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-search-line"></use>
            </svg>
            <span class="text-sm first-letter:uppercase">Search</span>
          </a>
          <a href="" class="flex flex-col items-center" aria-label="Activity">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-8 h-8 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-bubble-chart-line">
              </use>
            </svg>
            <span class="text-sm first-letter:uppercase">Activity</span>
          </a>
          <a href="/users/sign_in" class="flex flex-col items-center" aria-label="Sign In">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-8 h-8 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-login-box-line"></use>
            </svg>
            <span class="text-sm first-letter:uppercase">Sign In</span>
          </a>

        </div>

        <details>
          <summary id="main-dropdown-summary-mobile" class="flex flex-col items-center text-secondary cursor-pointer"
            aria-controls="main-dropdown-mobile">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-5 h-5 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-menu-line"></use>
            </svg><span class="text-sm first-letter:uppercase">menu</span>
          </summary>

          <div id="main-dropdown-mobile" aria-labelledby="main-dropdown-summary-mobile"
            class="absolute top-full left-0 z-10">
            <div class="bg-white divide-y divide-gray-3 rounded-b shadow-lg text-black w-full lg:w-[1200px]">
              <div class="flex flex-col md:flex-row justify-between p-4 md:p-8 gap-x-8">
                <div class="w-full md:w-1/2">
                  <h3 class="h4 md:h3">Benvinguda a la plataforma participativa decidim.barcelona</h3>
                  <p class="text-md md:text-lg text-gray-2 mt-5">Welcome to Christiansen and Sons participatory
                    platform.</p>
                  <p class="text-md md:text-lg text-gray-2 mt-5">Let's build a more open, transparent and collaborative
                    society.<br> Join, participate and decide.</p>

                </div>
                <ul
                  class="w-full md:w-1/2 mt-8 md:mt-0 divide-y divide-gray-3 grid md:grid-cols-2 gap-x-6 text-secondary">
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Imatges<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Inici<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Barna<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Rambla<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Corbelles<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Trencar<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Esdeveniment<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>

                </ul>
              </div>
              <div class="flex flex-col md:flex-row justify-between p-4 md:p-8 gap-x-8">
                <div class="w-full md:w-1/2">
                  <h4 class="h4">Pressupostos Participatius 2020-21</h4>
                  <div class="flex gap-6 mt-5">
                    <img class="w-2/5 aspect-square" src="https://via.placeholder.com/300/09f/fff.png" alt="">
                    <p class="w-3/5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel molestiae dolor
                      vitae, iste praesentium excepturi sequi numquam eaque unde ea consequatur sint voluptate
                      recusandae beatae, nisi error eius sit.</p>
                  </div>
                  <a href="" class="arrow-link mt-4 text-secondary">Procés destacat<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a>

                </div>
                <div class="hidden md:block md:w-1/2">
                  <div class="bg-background rounded p-4 space-y-3">
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                  </div>
                  <a href="" class="arrow-link mt-4 text-secondary">Last activity<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a>

                </div>
              </div>
            </div>

          </div>
        </details>
      </div>
    </div>



  </div>

  <div class="bg-primary relative">
    <div class="container flex justify-between items-center py-4 lg:relative">

      <div class="hidden lg:flex justify-between items-center gap-2.5 text-lg text-white">
        <details>
          <!-- REDESIGN_PENDING: the summary block styles could be simplified using backdrop-filter (i.e. tailwind: backdrop-brightness-75),
  but still incompatible with firefox: https://caniuse.com/css-backdrop-filter -->
          <summary id="main-dropdown-summary"
            class="flex rounded overflow-hidden px-2 py-1 cursor-pointer relative group" aria-controls="main-dropdown">
            <span
              class="opacity-0 group-hover:opacity-100 transition z-0 absolute top-0 left-0 w-full h-full brightness-75 bg-primary"></span>
            <span class="relative z-10"><svg width="1em" height="1em" role="img" aria-hidden="true"
                class="w-6 h-6 fill-current">
                <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-home-2-line"></use>
              </svg></span>
          </summary>
          <div id="main-dropdown" aria-labelledby="main-dropdown-summary" class="absolute top-full left-8 z-20">
            <div class="bg-white divide-y divide-gray-3 rounded-b shadow-lg text-black w-full lg:w-[1200px]">
              <div class="flex flex-col md:flex-row justify-between p-4 md:p-8 gap-x-8">
                <div class="w-full md:w-1/2">
                  <h3 class="h4 md:h3">Benvinguda a la plataforma participativa decidim.barcelona</h3>
                  <p class="text-md md:text-lg text-gray-2 mt-5">Welcome to Christiansen and Sons participatory
                    platform.</p>
                  <p class="text-md md:text-lg text-gray-2 mt-5">Let's build a more open, transparent and collaborative
                    society.<br> Join, participate and decide.</p>

                </div>
                <ul
                  class="w-full md:w-1/2 mt-8 md:mt-0 divide-y divide-gray-3 grid md:grid-cols-2 gap-x-6 text-secondary">
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Imatges<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Inici<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Barna<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Rambla<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Corbelles<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Trencar<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>
                  <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Esdeveniment<svg width="1em" height="1em"
                        role="img" aria-hidden="true" class="fill-current">
                        <use
                          href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                        </use>
                      </svg></a></li>

                </ul>
              </div>
              <div class="flex flex-col md:flex-row justify-between p-4 md:p-8 gap-x-8">
                <div class="w-full md:w-1/2">
                  <h4 class="h4">Pressupostos Participatius 2020-21</h4>
                  <div class="flex gap-6 mt-5">
                    <img class="w-2/5 aspect-square" src="https://via.placeholder.com/300/09f/fff.png" alt="">
                    <p class="w-3/5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel molestiae dolor
                      vitae, iste praesentium excepturi sequi numquam eaque unde ea consequatur sint voluptate
                      recusandae beatae, nisi error eius sit.</p>
                  </div>
                  <a href="" class="arrow-link mt-4 text-secondary">Procés destacat<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a>

                </div>
                <div class="hidden md:block md:w-1/2">
                  <div class="bg-background rounded p-4 space-y-3">
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                    <div class="flex justify-between gap-4">
                      <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                      <div class="flex flex-col grow space-y-1 text-sm">
                        <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                            Públic</a></span>
                        <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                      </div>
                      <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                        <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                      </div>
                    </div>
                  </div>
                  <a href="" class="arrow-link mt-4 text-secondary">Last activity<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a>

                </div>
              </div>
            </div>

          </div>
        </details>


        <span>/</span>


        <span class="cursor-pointer ">Process</span>
        <span>/</span>


        <details class="relative">
          <!-- REDESIGN_PENDING: the summary block styles could be simplified using backdrop-filter (i.e. tailwind: backdrop-brightness-75),
      but still incompatible with firefox: https://caniuse.com/css-backdrop-filter -->
          <summary id="secondary-dropdown-summary"
            class="flex rounded overflow-hidden px-2 py-1 cursor-pointer relative group font-bold"
            aria-controls="secondary-dropdown">
            <span
              class="opacity-0 group-hover:opacity-100 transition z-0 absolute top-0 left-0 w-full h-full brightness-75 bg-primary"></span>
            <span class="relative z-10">Imaginem el nou ecobarri de Ca n' Ametller</span>
          </summary>
          <div id="secondary-dropdown" aria-labelledby="secondary-dropdown-summary"
            class="absolute top-[calc(100%+1rem)] left-0 z-20">
            <div
              class="absolute top-full left-0 lg:relative flex justify-between bg-white rounded-b shadow-lg text-black w-full lg:w-[1000px]">
              <div class="hidden md:block w-3/4 p-8">
                <h4 class="h4">Procés participatiu sobre el planejament urbanístic de l'àmbit de Ca n' Ametller, Can
                  Mates Oest, Can Cabassa i Can Fontanals</h4>
                <a href="" class="arrow-link mt-4 text-secondary">Més informació<svg width="1em" height="1em" role="img"
                    aria-hidden="true" class="fill-current">
                    <use
                      href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                    </use>
                  </svg></a>
                <div class="my-8 flex items-center text-sm space-x-6">
                  <span class="flex items-center space-x-2">
                    <svg width="1em" height="1em" role="img" aria-hidden="true" class="text-gray fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-direction-line">
                      </use>
                    </svg>
                    <span class="font-semibold">fase Actual:</span>
                    <a href="" class="text-secondary underline">Informació i participació</a>
                  </span>
                  <span class="flex items-center space-x-2">
                    <svg width="1em" height="1em" role="img" aria-hidden="true" class="text-gray fill-current">
                      <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-twitter-line">
                      </use>
                    </svg>
                    <a href="" class="text-secondary underline">#Ecobarri</a>
                  </span>
                </div>

                <div class="bg-background rounded p-4 space-y-3">
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                </div>
                <a href="" class="arrow-link mt-4 text-secondary">Last activity<svg width="1em" height="1em" role="img"
                    aria-hidden="true" class="fill-current">
                    <use
                      href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                    </use>
                  </svg></a>

              </div>
              <ul class="w-full md:w-1/4 bg-primary px-8 py-3 divide-y divide-gray-3 text-white">
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Imatges<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Inici<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Barna<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Rambla<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Corbelles<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Trencar<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Esdeveniment<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>

              </ul>
            </div>

          </div>
        </details>
        <span>/</span>


        <span class="cursor-pointer ">Sobre el procés</span>

      </div>
      <div class="hidden lg:flex justify-between items-center gap-6">
        <button class="button button__sm button__transparent">
          <span>Segueix aquest procés</span>
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-notification-2-line">
            </use>
          </svg>
        </button>
        <button class="button button__sm button__transparent-primary">
          <span>Nova proposta</span>
          <svg width="1em" height="1em" role="img" aria-hidden="true" class="fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-add-fill"></use>
          </svg>
        </button>

      </div>

      <div class="block lg:hidden w-full">
        <details>
          <summary id="secondary-dropdown-summary-mobile" aria-controls="secondary-dropdown-mobile"
            class="flex items-center justify-between text-white">
            <div class="flex flex-wrap md:flex-nowrap gap-x-2.5 overflow-hidden">

              <!-- REDESIGN_PENDING: Only displays two last items -->
              <span class="hidden">/</span>
              <span class="cursor-pointer  ">Process</span>
              <span class="">/</span>
              <span class="cursor-pointer truncate font-bold">Imaginem el nou ecobarri de Ca n' Ametller</span>
            </div>

            <svg width="1em" height="1em" role="img" aria-hidden="true" class="flex-none w-6 h-6 fill-current">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-down-s-line">
              </use>
            </svg>
          </summary>
          <div id="secondary-dropdown-mobile" aria-labelledby="secondary-dropdown-summary-mobile">
            <div
              class="absolute top-full left-0 lg:relative flex justify-between bg-white rounded-b shadow-lg text-black w-full lg:w-[1000px]">
              <div class="hidden md:block w-3/4 p-8">
                <h4 class="h4">Procés participatiu sobre el planejament urbanístic de l'àmbit de Ca n' Ametller, Can
                  Mates Oest, Can Cabassa i Can Fontanals</h4>
                <a href="" class="arrow-link mt-4 text-secondary">Més informació<svg width="1em" height="1em" role="img"
                    aria-hidden="true" class="fill-current">
                    <use
                      href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                    </use>
                  </svg></a>
                <div class="my-8 flex items-center text-sm space-x-6">
                  <span class="flex items-center space-x-2">
                    <svg width="1em" height="1em" role="img" aria-hidden="true" class="text-gray fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-direction-line">
                      </use>
                    </svg>
                    <span class="font-semibold">fase Actual:</span>
                    <a href="" class="text-secondary underline">Informació i participació</a>
                  </span>
                  <span class="flex items-center space-x-2">
                    <svg width="1em" height="1em" role="img" aria-hidden="true" class="text-gray fill-current">
                      <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-twitter-line">
                      </use>
                    </svg>
                    <a href="" class="text-secondary underline">#Ecobarri</a>
                  </span>
                </div>

                <div class="bg-background rounded p-4 space-y-3">
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                  <div class="flex justify-between gap-4">
                    <time class="text-sm text-gray-2 whitespace-nowrap flex-none">Fa 3 hores</time>
                    <div class="flex flex-col grow space-y-1 text-sm">
                      <span>Nova proposta: <a class="text-secondary" href="">Cal un Hospital amb servei
                          Públic</a></span>
                      <span class="text-gray-2">Pressupostos Participatius 2020-21</span>
                    </div>
                    <div class="overflow-hidden w-6 h-6 rounded-full flex-none">
                      <img class="object-cover w-full h-full" src="https://www.fillmurray.com/640/360">
                    </div>
                  </div>
                </div>
                <a href="" class="arrow-link mt-4 text-secondary">Last activity<svg width="1em" height="1em" role="img"
                    aria-hidden="true" class="fill-current">
                    <use
                      href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                    </use>
                  </svg></a>

              </div>
              <ul class="w-full md:w-1/4 bg-primary px-8 py-3 divide-y divide-gray-3 text-white">
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Imatges<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Inici<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Barna<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Rambla<svg width="1em" height="1em" role="img"
                      aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Corbelles<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Trencar<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>
                <li class="py-3 md:py-3.5"><a href="" class="arrow-link ">Esdeveniment<svg width="1em" height="1em"
                      role="img" aria-hidden="true" class="fill-current">
                      <use
                        href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-arrow-right-line">
                      </use>
                    </svg></a></li>

              </ul>
            </div>

          </div>
        </details>

      </div>

    </div>
  </div>

</header>
