<div class="add-comment">
  <% if user_signed_in? %>
    <%= render Decidim::Comments::AddCommentForm::Component.new(commentable: , root_depth: ) %>
  <% else %>
    <p>
      <span>
      <%= t(
            "decidim.components.add_comment_form.account_message_html",
            sign_in_url: decidim.new_user_session_path,
            sign_up_url: decidim.new_user_registration_path
          ) %>
      </span>
    </p>
  <% end %>
</div>
