{
  "presets": [
    "@babel/preset-env",
    "airbnb",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-classes"
  ],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|stub).*"}]
      ]
    }
  }
}
