{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "airbnb",
    "react",
    "stage-2"
  ],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|stub).*"}],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
