**/*{.,-}min.js
decidim-*/vendor/**/*.js
spec/decidim_dummy_app/**/*.js
development_app
**/node_modules/**
vendor/bundle/**
bundle.js
karma.conf.js
webpack.config.js
webpack.config.babel.js
entry.test.js
entry.js
*_manifest.js
coverage
decidim-dev/**/*/test/**/*.js
