<%= decidim_form_for([current_participatory_space, @form], url: feature_path(current_participatory_space, @feature), method: "put", html: { class: "form edit_feature" }) do |form| %>
  <%= render partial: 'form', object: form, locals: { feature: @feature, title: t(".title", name: t("#{@feature.manifest.name}.name", scope: "decidim.features"))} %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".update") %>
  </div>
<% end %>
