<%= decidim_form_for([participatory_process, @form], url: participatory_process_feature_path(participatory_process, @feature), method: "put", html: { class: "form edit_participatory_process_feature" }) do |form| %>
  <%= render partial: 'form', object: form, locals: { feature: @feature, title: t(".title", name: t("#{@feature.manifest.name}.name", scope: "decidim.features"))} %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".update") %>
  </div>
<% end %>
