<label>
  <span>Show:</span>
  <button data-toggle="inline-filter-order">All types of assemblies</button>
  <div id="inline-filter-order" class="dropdown-pane" data-position="bottom" data-alignment="right" data-dropdown data-auto-focus="true">
    <ul class="list-reset">

      <li><a href="">All types of assemblies</a></li>
      <% 6.times do %><li><a href="">        <%= link_to "Hello", resource_locator(assemblies.first).index(filter: { assembly_type: "others" }) %></a></li><% end %>
    </ul>
  </div>
</label>
