<div class="picker-prompt">
  <%= link_to prompt_params[:text], prompt_params[:url], role: "button", aria_label: t("decidim.scopes.scopes_picker_input.select_scope", current: prompt_params[:text]) %>
</div>
