<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_moderation_intro %></p>

<p>
  <a href= "http://" + @domain_name + "/admin/participatory_processes/" + @slug + "/moderations?locale=" + @locale + "&moderation_type=upstream" /> Moderer le contenu </a>
</p>
