<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_moderation_intro %></p>

<p>
<!-- TODO Trouver comment appeler ce path -->
<!--   </%= link_to "Moderer", moderations_url(participatory_process_slug: @participatory_process, moderation_type: "upstream") %>
 --></p>
