<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>

<% if @event_instance.resource %>
<p>
  <%= link_to @event_instance.resource_url, @event_instance.resource_url %>
</p>
<% end %>

<p><%= @event_instance.email_outro %></p>
