<p><%= @event_instance.email_greeting %></p>

<p><%= @event_instance.email_intro %></p>

<p>
  <%= link_to @event_instance.resource_url, @event_instance.resource_url %>
</p>

<p><%= @event_instance.email_outro %></p>
