<div class="field">
  <%= form.translated :text_field, :name, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :editor, :description %>
</div>

<div class="field">
  <%= form.label :parent_id %>
  <%= select :category, :parent_id, @form.parent_categories.collect { |c| [c.name[current_organization.default_locale], c.id] }, include_blank: true %>
</div>
