<div class="form__wrapper">
  <div class="card pt-4">
    <div id="panel-title" class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :name, autofocus: true, aria: { label: :name } %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

      <div class="row column">
        <%= form.label :parent_id %>
        <%= select :category, :parent_id, @form.parent_categories.map { |c| [c.name[current_organization.default_locale], c.id] }, include_blank: true %>
      </div>
    </div>
  </div>
</div>
