<%= decidim_form_for(@form, url: participatory_process_categories_path(participatory_process), html: { class: "form new_category" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('.title') } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
