<h3><%= translated_attribute(@category.name) %></h3>

<div class="actions">
  <hr />
  <%= link_to t("decidim.admin.actions.edit"), ['edit', participatory_space, @category] if can? :update, @category %>
  <%= link_to t("decidim.admin.actions.destroy"), [participatory_space, @category], method: :delete, class: "alert button", data: { confirm: t("decidim.admin.actions.confirm_destroy") } if can? :destroy, @category %>
</div>

<dl>
  <%= display_for @category,
    :name,
    :description
    %>
</dl>
