<div class="expanded">
  <div class="wrapper wrapper--inner">
    <div class="row">
      <div class="columns large-12">
        <h2 id="modalTitle"> <%= t(".modal_title") %> </h2>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">
        <input type="text" class="js-multiple-mentions" placeholder="<%= t(".add_max_users") %>">
        <div class="js-multiple-mentions-recipients"></div>
      </div>
    </div>
  </div>
</div>
