<div class="expanded">
  <div class="wrapper wrapper--inner">
    <div class="row">
      <div class="columns large-12">
        <h2 id="modalTitle"> <%= t(".modal_title") %> </h2>
      </div>
    </div>
    <div class="row">
      <div class="row column hashtags__container">
        <input type="text" class="js-multiple-mentions" placeholder="<%= t(".add_max_users") %>" data-noresults="<%= t(".no_results") %>" data-tribute="yes">
      </div>
      <div class="columns large-12">
        <div class="js-multiple-mentions-recipients"></div>
      </div>
    </div>
  </div>
</div>
