<article class="message">
  <div class="message__header">
    <div class="card__author author-data author-data--small">
      <%= cell "decidim/author", present(message.sender), context: { extra_classes: ["author-data--small"] } %>

      <time datetime="<%= message.created_at.utc %>">
        <%= message.friendly_created_at %>
      </time>
    </div>
  </div>
  <div class="message__content">
    <%= simple_format(message.body) %>
  </div>
</article>
