<%= render layout: "show", locals: { participants: conversation.interlocutors(current_user) } do %>
  <div id="messages">
    <% conversation.messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>

  <% if conversation.accept_user?(current_user) %>
    <%= render "reply", form: @form, conversation: conversation %>
  <% else %>
    <em><%= t ".not_allowed" %></em>
  <% end %>
<% end %>
