<div class="comment__actions">
  <button class="comment__reply muted-link" aria-controls="comment<%= model.id %>-reply" data-toggle="comment<%= model.id %>-reply">
    <%= icon "pencil", class: "icon--small", role: "none presentation" %>&nbsp;<%= t("decidim.components.comment.reply") %>
  </button>
</div>
