<div class="mb-s">
  <% if model.respond_to? :location %>
    <div>
      <strong><%= translated_attribute model.location %></strong><br />
    </div>
  <% end %>
  <div class="text-medium"><%= model.address %></div>
  <% if model.respond_to? :location_hints %>
    <div class="text-medium"><%= translated_attribute model.location_hints %></div>
  <% end %>
</div>
