<% add_decidim_meta_tags(title: t("conference_speakers.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_conferences.conference_speakers_path(current_participatory_space.slug),
  :update,
  :conference,
  conference: current_participatory_space
)
%>

<%# NOTE: this page does not use a regular layout %>
<main class="container">

  <section id="conference_speakers-grid">
    <h1 class="title-decorator my-12">
      <span class="not-sr-only"><%= t("decidim.conferences.conference_speakers.index.speakers", count: "") %></span>
      <span class="sr-only"><%= t("decidim.conferences.conference_speakers.index.speakers", count: "") %> (<%= translated_attribute current_participatory_space.title %>)</span>
    </h1>
    <div class="conference__speaker__container">
      <%= render(collection) %>
    </div>
  </section>

</main>
