<% add_decidim_meta_tags(title: t("conference_speakers.index.title", scope: "decidim")) %>

<h2 class="section-heading"><%= t(".speakers") %></h2>
<div class="row small-up-2 medium-up-4 mb-l">
  <%= render(collection) %>
</div>
