<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <%= icon "random-seed", class: "icon--big", aria_label: t("decidim.sortitions.sortitions.sortition.random_seed"), role: "img" %>
    </li>
    <li class="card-data__item">
      <div class="text-left">
        <strong class="heading4">
          <%= model.seed %>
        </strong>
        &nbsp;<small aria-hidden="true"><%= t("decidim.sortitions.sortitions.sortition.random_seed") %></small>
      </div>
    </li>
  </ul>
</div>
