<section class="layout-main__section layout-main__buttons" data-buttons>
  <%= cell("decidim/like_block", @proposal) %>
  <%= cell "decidim/comments_button", nil %>

  <div class="ml-auto lg:ml-0">
    <%= cell "decidim/share_widget", @proposal %>
  </div>
</section>

<%= cell "decidim/likes_list", @proposal %>
