<% identity= adhesion.user_group ? adhesion.user_group : adhesion.author %>
<div class="author author--inline">
  <span class="author__avatar author__avatar--small">
    <%= image_tag identity.avatar_url %>
  </span>
  <span class="author__name">
    <%= identity.name %>
  </span>
</div>