<div class="row collapse buttons__row">
  <div class="column small-9 collapse">
    <div class="button-group button-group--collapse button--nomargin small">
      <button type="button" name="button" class="button small compact light secondary button--sc button--shadow">
        <svg aria-label="Endorsements" role="img" class="icon--bullhorn icon icon--small"><use xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-bullhorn"></use></svg> 332
      </button>
      <button type="button" name="button" class="button small compact light secondary button--sc">
        Reivindicar
      </button>
    </div>
  </div>
  <div class="column collapse small-3">
    <button type="button" name="button" class="button small compact hollow secondary button--nomargin expanded">
      <a href="#comments" title="Comentarios">
        <svg aria-label="Comentarios" role="img" class="icon--comment-square icon icon--small"><use xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-comment-square"></use></svg> 108 
      </a>
    </button>
  </div>
</div>