<%= order_selector available_orders, i18n_scope: "decidim.proposals.proposals.orders" %>
<div class="row small-up-1 medium-up-2 card-grid">
  <%= render @proposals %>
</div>
<%= decidim_paginate @proposals, random_seed: random_seed %>
