<figure>
  <figcaption class="text-uppercase">
    <strong>
      <%= t("filed_as", scope: "decidim.proposals.proposals.tags") %>
    </strong>
  </figcaption>

  <ul>
    <% if resource.category.present? %>
      <li>
        <%= link_to translated_attribute(resource.category.name), resource_locator(resource).index(filter: { category_id: resource.category.id }) %>
        <% if resource.previous_category.present? && action_name == "show" %>
          &nbsp;
          <small class="text-small">
            <%= t("changed_from", scope: "decidim.proposals.proposals.tags", previous_category: "#{resource.previous_category.translated_name}").html_safe %>
          </small>
        <% end %>
      </li>
    <% end %>

    <% if has_visible_scopes?(resource) %>
      <li><%= link_to translated_attribute(resource.scope.name), resource_locator(resource).index(filter: { scope_id: [resource.scope.id] }) %></li>
    <% end %>
  </ul>
</figure>
