<% if current_user %>
  <% if proposal.voted_by? current_user %>
    <button class="card__button button small success">
      <%= t('.already_voted') %>
    </button>
  <% else %>
    <%= button_to t('.vote'), proposal_proposal_votes_path(proposal_id: proposal), remote: true, class: "card__button button small" %>
  <% end %>
<% else %>
  <button class="card__button button small" data-toggle="loginModal">
    <%= t('.vote') %>
  </button>
<% end %>