<div class="columns large-3">
  <div class="m-bottom">
    <%= wizard_aside_link_to_back %>
  </div>
  <div class="section">
    <p>
      <%= wizard_aside_info_text %>
    </p>
  </div>
  <div class="show-for-large">
    <%= proposal_wizard_stepper(@step) %>
  </div>
</div>
