<div class="flex justify-center">
  <h1 class="h1 decorator my-12">
    <%= proposal_wizard_step_title action_name %>
    <%= "(#{@similar_proposals.count})" if @similar_proposals.present? %>
  </h1>
</div>

<ol id="wizard-steps" class="proposal__wizard">
  <% proposal_wizard_steps.each do |wizard_step| %>
    <%
      scope = "decidim.proposals.proposals.wizard_steps"
      attributes = @step == wizard_step ? { "aria-current": "step", "aria-label": "#{t("current_step", scope:)}: #{t(wizard_step, scope:)}" } : {} %>
    <%= content_tag :li, t(wizard_step, scope:), attributes %>
  <% end %>
</ol>
