<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-9">
    <%= render partial: "wizard_header", locals: {callout_step_help_text_class: "warning"} %>

    <% if @similar_proposals.presence %>
      <div class="row small-up-1 card-grid">
        <% @similar_proposals.each do |proposal| %>
          <%= render partial: "proposal_similar", locals: {proposal: proposal} %>
        <% end %>
      </div>
    <% end %>

    <%= link_to t(".mine_is_different"), preview_proposal_path(@proposal), class: "button" %>
  </div>
</div>
