<% add_decidim_page_title(t(".title")) %>

<% provide :title do %>
  <h2><%= t ".title" %></h2>
<% end %>

<div class="actions title">
  <%= link_to t("actions.new", scope: "decidim.system", name: t("models.organization.name", scope: "decidim.system")), [:new, :organization], class: "new" %>
</div>
<%= render partial: "decidim/system/shared/organizations_list", locals: { organizations: @organizations } %>
