<section class="page-title">
  <h2><%= link_to @organization.name, @organization %></h2>
  <h3 class="subheader"><%= @organization.host %></h3>
</section>

<div class="actions">
  <hr />
  <%= link_to "Edit", ['edit', @organization] %>
  <%= link_to "Destroy", @organization, method: :delete, class: "alert button", data: { confirm: "Are you sure you want to do this?" } %>
</div>
