<div class="author" data-author="">
  <div class="author__container has-tip" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
    <div class=&quot;author__container&quot;>
    <span class=&quot;author__avatar-container&quot;>
    <a href=&quot;#&quot;>
    <img alt=&quot;Avatar: Ettie Hickle&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
    </a>
    </span>
    <div>
    <a class=&quot;author__name underline&quot; href=&quot;#&quot;>Ettie Hickle</a>
    <span class=&quot;text-md&quot;>@jarred_vandervort</span>
    </div>
    </div>
    <div class=&quot;author__tooltip-links&quot;>
    <a href=&quot;#&quot;>
    <span id=&quot;followers_count_user_1&quot;>0</span> Seguidoras
    </a>
    <a href=&quot;#&quot;>
    4 Siguiendo
    </a>
    </div>
    <a class=&quot;button button__sm button__transparent&quot; href=&quot;/users/sign_in&quot;>
    <span>Envia mensaje privado</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-mail-send-line&quot; tabindex=&quot;-1&quot;></use></svg>
    </a>
    <form class=&quot;button_to&quot; method=&quot;post&quot; action=&quot;#&quot;><button class=&quot;button button__sm button__transparent&quot; title=&quot;Pro favor, inicia sesión antes de realizar esta acción&quot; aria-haspopup=&quot;true&quot; id=&quot;follow_user_1&quot; data-dialog-open=&quot;loginModal&quot; type=&quot;submit&quot;>
    <span class=&quot;&quot;>Seguir</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-notification-3-line&quot; tabindex=&quot;-1&quot;></use></svg>
    </button><input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;0tc00Idqu62KnwJ8Jt2TkvxtdXn4Y1719QeR5jI-J_JC-F3DGwPDOyQJGvv7FHfIg83tAiQdRmXe63Nv4miWKw&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[button_classes]&quot; value=&quot;button button__sm button__transparent&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[followable_gid]&quot; value=&quot;BAh7CEkiCGdpZAY6BkVUSSIyZ2lkOi8vZGVjaWRpbS1kZXZlbG9wbWVudC1hcHAvRGVjaWRpbTo6VXNlci8xBjsAVEkiDHB1cnBvc2UGOwBUSSIMZGVmYXVsdAY7AFRJIg9leHBpcmVzX2F0BjsAVEkiHTIwMjMtMTItMDhUMTE6MDg6MjQuODMzWgY7AFQ=--3d47942fb13084110877f3470e21f67c7649c114&quot; autocomplete=&quot;off&quot; /></form>
    </div>
    " aria-describedby="60onjg-tooltip" data-yeti-box="60onjg-tooltip" data-toggle="60onjg-tooltip" data-resize="60onjg-tooltip" id="toggle-36j4hx" aria-controls="60onjg-tooltip">
    <span class="author__avatar-container">
    <a href="#">
    <img alt="Avatar: Ettie Hickle" class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
    </a>
    </span>
  </div>
</div>
