<div class="author" data-author="">
  <div class="author__container has-tip" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
    <div class=&quot;author__container&quot;>
    <span class=&quot;author__avatar-container&quot;>
    <img alt=&quot;Avatar: Clint Runolfsdottir 2 2 0&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
    </span>
    <div>
    <span class=&quot;author__name&quot;>Clint Runolfsdottir 2 2 0</span>
    <span class=&quot;text-md&quot;>@macie</span>
    </div>
    </div>
    <div class=&quot;author__tooltip-links&quot;>
    <a href=&quot;#&quot;>
    <span id=&quot;followers_count_user_66&quot;>0</span> Seguidoras
    </a>
    <a href=&quot;#&quot;>
    0 Siguiendo
    </a>
    </div>
    <a class=&quot;button button__sm button__transparent&quot; href=&quot;/users/sign_in&quot;>
    <span>Envia mensaje privado</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#ri-mail-send-line" %>&quot; tabindex=&quot;-1&quot;></use></svg>
    </a>
    <form class=&quot;button_to&quot; method=&quot;post&quot; action=&quot;#&quot;><button class=&quot;button button__sm button__transparent&quot; title=&quot;Pro favor, inicia sesión antes de realizar esta acción&quot; aria-haspopup=&quot;true&quot; id=&quot;follow_user_66&quot; data-dialog-open=&quot;loginModal&quot; type=&quot;submit&quot;>
    <span class=&quot;&quot;>Seguir</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#ri-notification-3-line" %>&quot; tabindex=&quot;-1&quot;></use></svg>
    </button><input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;prDEaQztVBlA3g5I6jFlPpN8SZXJfsqBsfxqfPmEaa42n616kIQsj-5IFs83-IFk7NzR7hUA0hGaEIj1KdLYdw&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[button_classes]&quot; value=&quot;button button__sm button__transparent&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[followable_gid]&quot; value=&quot;BAh7CEkiCGdpZAY6BkVUSSIzZ2lkOi8vZGVjaWRpbS1kZXZlbG9wbWVudC1hcHAvRGVjaWRpbTo6VXNlci82NgY7AFRJIgxwdXJwb3NlBjsAVEkiDGRlZmF1bHQGOwBUSSIPZXhwaXJlc19hdAY7AFRJIh0yMDIzLTEyLTA4VDExOjA1OjQwLjc5M1oGOwBU--3e2a9169f4eca80b74b92866053e11182b15c059&quot; autocomplete=&quot;off&quot; /></form>
    </div>
    " aria-describedby="tooltip-6kqmd" data-yeti-box="f8ufax-tooltip" data-toggle="f8ufax-tooltip" data-resize="f8ufax-tooltip" id="toggle-bce33" aria-controls="f8ufax-tooltip">
    <span class="author__avatar-container">
    <img alt="Avatar: Clint Runolfsdottir 2 2 0" class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
    </span>
    <span class="author__name">Clint Runolfsdottir 2 2 0</span>
  </div>
</div>
