<div class="author" data-author="">
  <div class="author__container is-compact has-tip" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
    <div class=&quot;author__container&quot;>
    <span class=&quot;author__avatar-container&quot;>
    <a href=&quot;#&quot;>
    <img alt=&quot;Avatar: Rolande Jacobi 1 2 endr1&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
    </a>
    </span>
    <div>
    <a class=&quot;author__name underline&quot; href=&quot;#&quot;>Rolande Jacobi 1 2 endr1</a>
    <span class=&quot;text-md&quot;>@fausto_kassulke</span>
    </div>
    </div>
    <div class=&quot;author__tooltip-links&quot;>
    <a href=&quot;#&quot;>
    <span id=&quot;followers_count_user_107&quot;>0</span> Seguidoras
    </a>
    <a href=&quot;#&quot;>
    0 Siguiendo
    </a>
    </div>
    <a class=&quot;button button__sm button__transparent&quot; href=&quot;/users/sign_in&quot;>
    <span>Envia mensaje privado</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-mail-send-line&quot; tabindex=&quot;-1&quot;></use></svg>
    </a>
    <form class=&quot;button_to&quot; method=&quot;post&quot; action=&quot;#&quot;><button class=&quot;button button__sm button__transparent&quot; title=&quot;Pro favor, inicia sesión antes de realizar esta acción&quot; aria-haspopup=&quot;true&quot; id=&quot;follow_user_107&quot; data-dialog-open=&quot;loginModal&quot; type=&quot;submit&quot;>
    <span class=&quot;&quot;>Seguir</span>
    <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-notification-3-line&quot; tabindex=&quot;-1&quot;></use></svg>
    </button><input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;mPVFPECIb-iR5Aw7rIVzmwi8j7F_fHW9MizYAWFLyvwI2iwv3OEXfj9yFLxxTJfBdxwXyqMCbS0ZwDqIsR17JQ&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[button_classes]&quot; value=&quot;button button__sm button__transparent&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[followable_gid]&quot; value=&quot;BAh7CEkiCGdpZAY6BkVUSSI0Z2lkOi8vZGVjaWRpbS1kZXZlbG9wbWVudC1hcHAvRGVjaWRpbTo6VXNlci8xMDcGOwBUSSIMcHVycG9zZQY7AFRJIgxkZWZhdWx0BjsAVEkiD2V4cGlyZXNfYXQGOwBUSSIdMjAyMy0xMi0wOFQxMDo1NDozNC42OTBaBjsAVA==--757a138d9c782a459354bce8e4849567be436ea6&quot; autocomplete=&quot;off&quot; /></form>
    </div>
    " aria-describedby="tooltip-d98lre" data-yeti-box="3gjzgq-tooltip" data-toggle="3gjzgq-tooltip"
    data-resize="3gjzgq-tooltip" id="toggle-oe62o" aria-controls="3gjzgq-tooltip">
    <span class="author__avatar-container">
    <a href="#">
    <img alt="Avatar: Rolande Jacobi 1 2 endr1" class="author__avatar"
      src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
    </a>
    </span>
    <div>
      <a class="author__name underline" href="#">Rolande Jacobi 1 2 endr1</a>
      <span class="author__metadata">
      25/10/2023 12:50
      </span>
    </div>
  </div>
</div>
