<% add_decidim_page_title(t("assemblies_deleted", scope: "decidim.admin.titles")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t "assemblies.manage_trash.title", scope: "decidim.admin" %>
  </h1>
</div>
<%= admin_filter_selector %>
<div class="table-scroll">
  <table class="table-list">
    <%= render partial: "assemblies_thead" %>
    <tbody>
      <%= render partial: "decidim/assemblies/admin/assemblies/assembly_row",
                 collection: trashable_deleted_collection,
                 as: :assembly,
                 locals: { view: :deleted } %>
    </tbody>
  </table>
</div>
