@import "stylesheets/decidim/elections/focus/accordion";
@import "stylesheets/decidim/elections/focus/evote";
@import "stylesheets/decidim/elections/focus/focus";

.card__icondata ul li:not(:first-child) strong,
.card__block ul li:not(:first-child) strong{
  font-size: 100%;
}
