<a class="button button__sm button__text-secondary only:m-auto" title="Seguir" id="follow_meeting_1821" data-remote="true" rel="nofollow" data-method="post" href="#">
  <span class="">Follow</span>
  <%= icon("notification-3-line") %>
</a>
