<a class="button button__sm button__text-secondary only:m-auto" title="Stop following" id="follow_meeting_1821" data-remote="true" rel="nofollow" data-method="delete" href="#">
  <span class="">Stop following</span>
  <%= icon("notification-3-fill") %>
</a>
