<a class="button button__sm button__text-secondary only:m-auto" title="Stop following" id="follow_meeting_1821" data-remote="true" rel="nofollow" data-method="delete" href="#">
  <span class="">Stop following</span>
  <svg width="1em" height="1em" role="img" aria-hidden="true">
    <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-notification-3-fill" tabindex="-1"></use>
  </svg>
</a>
