<div class="main-footer">
  <div class="main-footer__down">
    <%= render partial: "layouts/decidim/footer/main_legal" %>
    <div class="w-full md:w-auto md:ml-auto"></div>
    <%= render partial: "layouts/decidim/footer/main_language_chooser" %>
  </div>
</div>
