<ul class="flex flex-col md:flex-row gap-10 text-sm text-white">
  <li>
    <%= link_to t("layouts.decidim.footer.terms_and_conditions"), page_path("terms-and-conditions") %>
  </li>
  <li>
    <a href="#" data-open="cc-modal"><%= t("layouts.decidim.footer.cookie_settings") %></a>
  </li>
</ul>
