// Helpers

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline {
  > li {
    display: inline-block;
    vertical-align: top;
  }

  > dt {
    clear: both;
    margin-right: 0.3em;
  }

  > dt,
  > dd {
    float: left;
    margin-bottom: 0;
  }
}
