// Mixins

// Media queries, based on: http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin

@mixin mq($point, $query1: min, $query2: width) {
  @media (#{$query1}-#{$query2}: $point) {
    @content;
  }
}

// Centered elements

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Drop Overlays

@mixin drop-overlay {
  content: "";
  position: absolute;
  z-index: $z2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#27353B, 0.6);
}

/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
