// Decidim Variables

$primary: map-get($foundation-palette, primary) !default;
$secondary: map-get($foundation-palette, secondary) !default;
$success: map-get($foundation-palette, success) !default;
$warning: map-get($foundation-palette, warning) !default;
$alert: map-get($foundation-palette, alert) !default;

$light-gray-dark: darken($light-gray, 2.5) !default;

$proposals: #238FF7 !default;
$actions: #57D685 !default;
$debates: #FA6C96 !default;
$meetings: #FABC6C !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #dd4b39 !default;

$muted: lighten($body-font-color, 30) !default;

$border: 1px solid $medium-gray !default;
