<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
    </h1>
  </div>
  <div class="table-stacked">
    <table class="table-list">
      <%= render partial: "debates-thead" %>
      <tbody>
        <%= render partial: "decidim/debates/admin/debates/debate-tr",
                   collection: trashable_deleted_collection,
                   as: :debate,
                   locals: { view: :deleted } %>
      </tbody>
    </table>
  </div>
</div>
