<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <h4><%= t(".trustees") %></h4>
    <ul>
      <% election.trustees.each do |trustee| %>
        <li>
          <%= trustee.name %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
