<div class="card__header">
  <div class="card__link">
    <%= link_to resource_path, class: "card__link" do %>
      <div class="card__list-title">
        <%= title %>
      </div>
    <% end %>
    <div class="my-2">
      <%== cell("decidim/redesigned_author", author_presenter).profile %>
    </div>
  </div>
</div>
