<div class="card__list" id="<%= dom_id(model) %>">
  <div class="card__list-content">

    <%= render :header if has_header? %>

    <div class="card__text">
      <div class="card__text--paragraph">
        <%= Decidim::ContentProcessor.render(description, "div") %>
      </div>
    </div>

    <%= render :metadata %>

  </div>
</div>
