.callout.announcement{
  margin-bottom: 1em;
}

.announcement-show-less{
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 21px;
    position: absolute;
    bottom: 0;
    background: #e8f3f5;
    filter: blur(9px);
    left: -10px;
  }
}

.announcement-show-button{
  font-weight: 600;
  cursor: pointer;
  color: var(--secondary);
}

.announcement-show-icon{
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
  fill: currentColor;
}
