<div class="field hashtags__container">
  <%= text_editor_for(form, :closing_report, hashtaggable: true) %>
</div>

<div class="field hashtags__container">
  <%= proposals_picker(form, :proposals, proposals_picker_meeting_meeting_closes_path(meeting)) %>
</div>
