<div class="address__details">
  <strong><%== translated_attribute meeting.location %></strong><br />
  <span><%= meeting.address %></span><br />
  <span><%== translated_attribute meeting.location_hints %></span>
</div>
