<% if embedded_meeting_open?(meeting) && embedded_meeting_role_for(meeting, current_user) != "none" %>
  <div class="card">
    <%= embedded_meeting(meeting, current_user) %>
    <div id="videoconference-closed-message" class="hide callout warning">
      <p><%= t(".closed") %></p>
    </div>
  </div>
<% else %>
  <div class="callout warning">
    <p><%= t(".unavailable") %></p>
  </div>
<% end %>

<%= javascript_include_tag "decidim/meetings/meeting" %>