<%= icon "qr-code-line", class: "text-gray fill-current" %>
<div>
  <span><%= registration_code_help_text %></span>
  <span><strong><%= registration.code %></strong></span>
  <div><%= validation_state_for(registration) %></div>
</div>
