<%= icon "star-line", class: "text-gray fill-current" %>
<div>
  <h3 class="meeting__aside-service__title"><%= translated_attribute(service["title"]) %></h3>
  <span class="meeting__aside-service__description"><%= translated_attribute(service["description"]) %></span>
</div>
