<%= icon "star-line", class: "text-gray fill-current" %>
<div>
  <h3 class="meeting__aside-block__title"><%= translated_attribute(service["title"]) %></h3>
  <div class="meeting__aside-block__text"><%= translated_attribute(service["description"]) %></div>
</div>
