<% if meeting.category.present? || meeting.scope.present? %>
  <ul class="tags tags--meeting" >
    <% if meeting.category.present? %>
      <li><%= link_to translated_attribute(meeting.category.name), resource_locator(meeting).index(filter: { category_id: meeting.category.id }) %></li>
    <% end %>
    <% if meeting.scope.present? && !current_participatory_process.scope %>
      <li><%= link_to translated_attribute(meeting.scope.name), resource_locator(meeting).index(filter: { scope_id: [meeting.scope.id] }) %></li>
    <% end %>
  </ul>
<% end %>
