<div id="offline-fallback-html" style="text-align:center;padding:1rem">
  <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="r5em" viewBox="0 0 25 25">
    <path
    d="m20.293 4-1.477 1.477A4.473 4.473 0 0 0 11.17 7.33 4.362 4.362 0 0 0 9.5 7a4.486 4.486 0 0 0-4.23 3.01 4.49 4.49 0 0 0 .042 8.971L4 20.293l.707.707L21 4.707zM19.99 8.21a3.936 3.936 0 0 0-.16-.92L8.12 19H18.5a5.497 5.497 0 0 0 1.49-10.79z"
    style="fill:#1a181d" />
  </svg>
  <h3><%= t(".message") %></h3>
  <button class="button large button--sc mt-s" onclick="location.reload()"><%= t(".retry") %></button>
</div>
