<% content_for(:subtitle) { t("demographics", scope: "layouts.decidim.user_profile") } %>
<div class="row">
  <div class="columns large-12">
    <div class="card__content">
      <%= decidim_form_for(@form, url: demographics_engine.create_path,  method: :patch ) do |f| %>
        <%= render partial: "form", object: f %>
        <div class="actions">
          <%= f.submit t(".save"), class: "button expanded", data: { disable: true } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
