<div class="form__wrapper">
  <div class="card">
    <div class="card-divider"></div>
    <div class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.upload :main_logo, button_class: "button button__sm button__transparent-secondary" %>
        </div>
      </div>

      <div class="row">
        <div class="columns">
          <%= form.upload :signature, button_class: "button button__sm button__transparent-secondary" %>
        </div>
      </div>
      <div class="row column">
        <%= form.date_field :sign_date %>
      </div>

      <div class="row column">
        <%= form.text_field :signature_name %>
      </div>
    </div>
  </div>
</div>
