<%= decidim_form_for(@form, url: conference_diploma_path, html: { class: "form edit_conference_diploma" })  do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("diplomas.edit.title", scope: "decidim.conferences.admin") } %>

   <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".save"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
