<div class="button--double form-general-submit answer-questionnaire__submit">
  <% if first_step? %>
    <a></a>
  <% else %>
    <%= form.submit(
      icon("caret-left", class: "icon--small", role: "img") + " " + t("decidim.forms.steps_navigation.show.back"),
      formaction: answer_and_previous_step_url,
      class: "hollow secondary",
      data: {
        disable: true
      }
    ) do %>
    <% end %>
  <% end %>

  <% if last_step? %>
    <%= form.submit(
      t("decidim.forms.steps_navigation.show.submit"),
      class: "button button--sc",
      disabled: disabled?,
      formaction: answer_form_url,
      data: {
        confirm: t("decidim.forms.steps_navigation.show.are_you_sure"),
        disable: true
      }
    ) %>
  <% else %>
    <%= form.submit(
      t("decidim.forms.steps_navigation.show.continue"),
      class: "button button--sc",
      formaction: answer_and_next_step_url,
      data: {
        disable: true
      }
    ) %>
  <% end %>
</div>
