<div class="reveal" data-reveal id="conference-registration-confirm-<%= model.id %>">
  <div class="row">
    <div class="columns medium-10 medium-offset-1 help-text">
      <%= decidim_sanitize translated_attribute(model.registration_terms) %>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <%= button_to t("confirm", scope: "decidim.conferences.conference.registration_confirm"), conference_conference_registration_path(model), class: "button expanded", data: { disable: true } %>
    </div>
  </div>
  <div class="text-center">
    <button class="link" data-close><%= t("cancel", scope: "decidim.conferences.conference.registration_confirm") %></button>
  </div>
</div>
