<div class="field">
  <%= form.text_field :email, autofocus: true %>
</div>

<div class="field">
  <%= form.password_field :password %>
</div>

<div class="field">
  <%= form.password_field :password_confirmation %>
</div>
