<% provide :title do %>
  <h2><%= link_to @admin.email, @admin %></h2>
<% end %>

<div class="actions">
  <hr>
  <%= link_to t(".edit"), ["edit", @admin] %>
  <%= link_to t(".destroy"), @admin, method: :delete, class: "alert button", data: { confirm: "Are you sure you want to do this?" } %>
</div>
