<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :editor, :description, toolbar: :full, lines: 20 %>
</div>

<div class="field">
  <%= form.file_field :file %>
</div>
