<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :text_field, :description %>
</div>

<div class="field">
  <%= form.file_field :file %>
</div>
