<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if allowed_to?(:enter, :space_area, space_name: :processes) %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_processes_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.participatory_processes", scope: "decidim.admin"),
          decidim_admin_participatory_processes.participatory_processes_path %>
        </li>
      <% end %>
      <% if allowed_to?(:enter, :space_area, space_name: :process_groups) %>
        <li <% if is_active_link?(decidim_admin_participatory_processes.participatory_process_groups_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.participatory_process_groups", scope: "decidim.admin"), decidim_admin_participatory_processes.participatory_process_groups_path %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
