<%= decidim_form_for(@form,
                     method: :post,
                     url: certify_polling_officer_election_closure_path(polling_officer, election),
                     html: { multipart: true, class: "form certify_closure" }) do |form| %>

  <div class="form__wrapper">
    <%= form.attachment :photos,
                        multiple: true,
                        button_class: "button button__sm button__transparent-secondary",
                        label: t("decidim.votings.polling_officer_zone.closures.certify.upload_photos"),
                        button_label: t("decidim.votings.polling_officer_zone.closures.certify.add_photos"),
                        button_edit_label: t("decidim.votings.polling_officer_zone.closures.certify.edit_photos") %>

  </div>

  <%= form.submit t("submit", scope: "decidim.votings.polling_officer_zone.closures.certify"), class: "button button__sm md:button__lg button__secondary" %>
<% end %>
