<div class="reveal" data-reveal id="modal-closure-results-count-error" role="dialog" aria-modal="true" aria-labelledby="modal-closure-results-count-error-label">
  <div class="reveal__header">
    <%= content_tag :h3,
                    t("title", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error"),
                    class: "reveal__title",
                    id: "modal-closure-results-count-error-label" %>

    <button class="close-button" data-close aria-label="<%= t("close_modal", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error") %>" type="button">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <%= content_tag :p,
                  t("info_text", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error") %>
  <%= content_tag :button,
                  t("close_modal", scope: "decidim.votings.polling_officer_zone.closures.edit.modal_ballots_results_count_error"),
                  type: "button",
                  data: { close: "" },
                  class: "button button--sc expanded" %>
</div>
