<div class="author-data__main">
  <div class="author author--inline">
    <% if author.respond_to?(:avatar) %>
      <span class="author__avatar author__avatar--small">
        <%= image_tag present(author).avatar_url, alt: t("decidim.author.avatar", name: decidim_sanitize(author_name)) %>
      </span>
    <% end %>
    <span class="author__name">
      <% if author.try(:deleted?) %>
        <span class="label label--small label--basic">
          <%= t("decidim.version_author.show.deleted") %>
        </span>
      <% else %>
        <%= decidim_sanitize(author_name || author) %>
      <% end %>
    </span>
  </div>
</div>
