
<div class="section">
  <%= cell("decidim/elections/election_preview", elections.first) %>

  <%= cell("decidim/elections/election_results", elections.first) %>

  <div class="row columns">
    <%= cell("decidim/elections/election_vote_cta", elections.first) %>
  </div>
</div>
