
<div class="section">
  <%= cell("decidim/elections/election_preview", single_election) %>

  <%= cell("decidim/elections/election_results", single_election) %>

  <div class="row columns">
    <%= cell("decidim/elections/remaining_time_callout", single_election) %>
    <%= cell("decidim/elections/election_vote_cta", single_election) %>
  </div>
</div>
