<% content_for :breadcrumb_nav_item do %>
  <span class="text-white">/</span>
  <span class="process-title-content-breadcrumb">
    <%= t("menu.homepage", scope: "decidim.admin") %>
  </span>
<% end %>
<%= render partial: "decidim/admin/shared/landing_page/content_blocks" %>
