<div class="user-activity">
  <div id="activities" class="columns small-12">

      <div class="callout secondary">
        <%= t "decidim.user_conversations.index.conversations_info" %>
      </div>

      <div class="row">
        <%= t "decidim.user_conversations.index.no_conversations_warning" %>
      </div>

  </div>
</div>
