@media all{
  .initiative-title{
    border: 1pt solid black;
    margin: 15pt 0;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
  }

  .initiatives-votes-table{
    width: 100%;
    display: block;
    border: 1pt solid black;

    .initiatives-votes-table-header{
      background-color: lightgray;
      display: inline-block;
      width: 100%;
      font-size: 12pt;
      font-weight: bold;
      border-bottom: 1pt solid black;
    }

    .initiatives-votes-table-row{
      width: 100%;
      display: inline-block;
      min-height: 33pt;
    }

    .initiatives-votes-table-row::after{
      content: '';
      display: inline-block;
      clear: both;
    }

    .initiatives-votes-table-row:last-child{
      border-bottom: 0;
    }

    .initiatives-votes-table-cell{
      padding-left: 5pt;
      word-wrap: break-word;
      display: inline-block;
      float: left;
      min-height: 36pt;

      .cell-content{
        font-size: 10pt;
        word-wrap: break-word;
      }
    }

    .checkbox-cell{
      width: 36pt;
    }

    .initiatives-votes-table-cell:last-child{
      border-right: 0;
    }

    .w11{
      width: 10.8%;
    }

    .w20{
      width: 19%;
    }
  }

  .no-border{
    border: none !important;
  }
}

@page{
  size: A4;
  margin: 17mm 17mm 11mm 11mm;
}

@media print{
  .title-bar{
    display: none;
  }

  .layout-nav{
    display: none;
  }

  .button.expanded{
    display: none;
  }

  .page-break{
    page-break-before: auto;
  }
}
