<% add_decidim_meta_tags(
  title: translated_attribute(page.title),
  description: translated_attribute(page.content)
) %>

<main class="wrapper">
  <div class="row column">
    <h1 class="heading1 page-title"><%= translated_attribute page.title %></h1>
  </div>
  <div class="row">
    <div class="columns large-8">
      <div class="static__content">
        <%= decidim_sanitize translated_attribute page.content %>
      </div>
    </div>
  </div>
</main>
