<section class="extended hero">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight heading1 hero-heading">
          <%= translated_attribute page.title %>
        </h1>
      </div>
    </div>

    <div class="row">
      <%== translated_attribute page.content %>
    </div>
  </div>
</section>
