.polling_station_closure_certificate_results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}
