.polling_station_closure_certificate_results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
