<div class="card__footer">
  <div class="card__support">
    <% if admin_membership? %>
      <%= link_to(
        t("decidim.group_admins.actions.demote_admin"),
        decidim.demote_group_manage_admin_path(model.user_group.nickname, model),
        method: :post,
        data: { confirm: t("decidim.group_admins.actions.are_you_sure") },
        class: "card__button button button--sc small"
      ) %>
    <% else %>
      <%= link_to(
        t("decidim.group_members.actions.promote_to_admin"),
        decidim.promote_group_manage_user_path(model.user_group.nickname, model),
        method: :post,
        data: { confirm: t("decidim.group_members.actions.are_you_sure") },
        class: "card__button button button--sc small"
      ) %>

      <%= link_to(
        t("decidim.group_members.actions.remove_from_group"),
        decidim.group_manage_user_path(model.user_group.nickname, model),
        method: :delete,
        data: { confirm: t("decidim.group_members.actions.are_you_sure") },
        class: "card__button button button--sc small"
      ) %>
    <% end %>
  </div>
</div>
