<div class="card__footer">
  <div class="card__support">
    <%= link_to(
      t("decidim.group_members.actions.remove_from_group"),
      decidim.group_manage_user_path(model.user_group.nickname, model),
      method: :delete,
      data: { confirm: t("decidim.group_members.actions.are_you_sure") },
      class: "card__button button secondary button--sc small light"
    ) %>
  </div>
</div>
