<section id="home__menu" class="home__menu">
  <div class="home__menu__container">
    <% menu_items.each do |item| %>
      <div class="home__menu-element">
        <%= link_to item.url, class: "button button__text home__menu-element--link" do %>
          <%= item.label %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
