<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote -%>
<li class="w-6 h-6 rounded-full hover:bg-background-5 transition<%= 'mx-2 bg-background-5 grid place-items-center' if page.current? %>" <%== 'aria-current="page"' if page.current? %> data-page>
  <%= link_to_unless page.current?, page, url, { class: "w-full h-full grid place-items-center", remote: remote, rel: page.rel, title: t("views.pagination.title") << page.to_s } %>
</li>
