<div class="card flex flex-col justify-between h-full my-4">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("decidim.elections.admin.dashboard.status.title") %>
    </h2>
  </div>

  <div class="pb-4">
    <div class="row column">
      <div class="election-title mb-2"><%= translated_attribute election.title %></div>
      <div class="status-label">
        <%= election_status_with_label(election) %>
      </div>
    </div>
  </div>
</div>
