<%= decidim_form_for(@form, url: conference_speaker_path(conference_speaker.conference, conference_speaker), html: { class: "form edit_conference_speaker" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("conference_speakers.edit.title", scope: "decidim.admin") } %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= f.submit t("conference_speakers.edit.update", scope: "decidim.admin"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
