<% add_decidim_page_title(t("conference_speakers.edit.title", scope: "decidim.admin")) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("conference_speakers.edit.title", scope: "decidim.admin") %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: conference_speaker_path(conference_speaker.conference, conference_speaker), html: { class: "form-defaults form edit_conference_speaker" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t("conference_speakers.edit.update", scope: "decidim.admin"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
