<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_accountability" %>
<% end %>
<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "decidim/accountability/results/nav_breadcrumb", locals: { category: versioned_resource.parent.try(:category) || versioned_resource.try(:category) } %>
  </div>

  <%= cell(
    "decidim/version",
    current_version,
    index: params[:id],
    versioned_resource: versioned_resource,
    versions_path: proc { url_for(action: :index) },
    i18n_scope: "decidim.accountability.results.show.stats"
  ) %>
</div>
