<%= decidim_form_for(@form, html: { class: "form new_election" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".create"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
