<% if initiative.has_signature_interval_defined? %>
  <div class="columns mediumlarge-4">
    <div class="process-header__phase">
      <div>
        <span class="phase-title">
          <%= t("signature_interval.title", scope: "decidim.initiatives") %>
        </span>
        <span class="phase-date">
          <%= l(initiative.signature_start_date, format: :default) %>
          -
          <%= l(initiative.signature_end_date, format: :default) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
