<div class="flex justify-center">
  <h1 class="title-decorator my-12">
    <% if content_for :title %>
      <%= yield :title %>
    <% else %>
      <%= t(".title", initiative_title: translated_attribute(current_initiative.title)) %>
    <% end %>
  </h1>
</div>

<% if content_for :help %>
  <%= yield :help %>
<% end %>
