<% if initiative.has_signature_interval_defined? %>
  <span class="font-bold text-sm inline-block">
    <%= l(initiative.signature_start_date, format: :default) %>
  </span>
  <%= icon "arrow-right-line", class: "fill-white inline-block"%>
  <span class="font-bold text-sm inline-block">
    <%= l(initiative.signature_end_date, format: :default) %>
  </span>
<% end %>
