<% if content_for :title %>
  <div class="flex justify-center">
    <h1 class="title-decorator my-12">
      <%= yield :title %>
    </h1>
  </div>
<% end %>

<% if content_for :help %>
  <%= yield :help %>
<% end %>
