<% if initiative.has_signature_interval_defined? %>
  <div class="columns mediumlarge-3">
    <div class="process-header__phase">
      <div class="process-header__progress show-for-medium">
        <ol>
          <li><span></span></li>
        </ol>
        <span class="phase-current"><!-- Step 1 of 1 --></span>
      </div>
      <div>
        <span class="phase-title"><!-- Step name --></span>
        <span class="phase-date">
          <%= l(initiative.signature_start_date, format: :default) %>
          -
          <%= l(initiative.signature_end_date, format: :default) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
