<div class="process-header">
  <div class="process-header__inner">
    <div class="row column process-header__main">
    </div>
    <div class="process-header__container initiative-creation-header__container row collapse column">
      <div class="columns mediumlarge-8 process-header__info">
        <% if content_for? :back_link %>
          <%= content_for :back_link %>
        <% end %>

        <h1 class="text-highlight heading2"><%= t(".#{step}") %></h1>
      </div>
      <div class="columns mediumlarge-4">
        <div class="process-header__phase initiative-creation-header__phase">
          <div class="process-header__progress show-for-medium">
            <ol>
              <% wizard_steps.each do |wizard_step| %>
                <% unless future_step? wizard_step %>
                  <li class="phase-item--past">
                    <span></span>
                  </li>
                <% else %>
                  <li>
                    <span></span>
                  </li>
                <% end %>
              <% end %>
              <% current_step = wizard_steps.select{ |step| !future_step?(step) }.last %>
              <% current_step_index = wizard_steps.index(current_step) %>
            </ol>
            <span class="phase-current"><%= t(".step", current: (current_step_index + 1), total: wizard_steps.length) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
