<div class="process-header">
  <div>
    <div class="row column"
        style="background-image:url('<%= current_participatory_space.type.attached_uploader(:banner_image).url %>');">
    </div>
    <div class="row collapse column">
      <div class="columns">
        <div>
          <h1>
            <%= participatory_space_helpers.translated_attribute(current_participatory_space.title) %>
          </h1>
        </div>
        <div>
          <p>
            <%= strip_tags participatory_space_helpers.translated_attribute(current_participatory_space.type.title) %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%= extended_navigation_bar(initiative_nav_items(current_participatory_space)) %>
</div>
