<div class="flex justify-center">
  <h1 class="title-decorator my-12">
    <%= t(".title", initiative_title: translated_attribute(current_initiative.title)) %>
  </h1>
</div>
<%= render partial: "wizard_steps" %>
