<% if initiative.has_signature_interval_defined? %>
  <div class="initiatives__card__grid-metadata-dates">
    <div class="flex items-center text-center justify-center">
      <%= icon "calendar-line", class: "fill-gray mr-1" %>
      <%= format_date_range(initiative.signature_start_date, initiative.signature_end_date) %>
    </div>
  </div>
<% end %>
