<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/initiative_header" %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
