<%= render "layouts/decidim/application" do %>
  <div class="wrapper">
  <div class="row">
    <%= render partial: "layouts/decidim/initiative_signature_creation_header" %>
    <div class="columns large-6">
      <%= yield %>
    </div>
    <div class="columns large-3"></div>
  </div>
  </div>

  <% content_for :js_content do %>
    <%= javascript_pack_tag "decidim_initiatives" %>
  <% end %>
<% end %>
