<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/initiative_creation_header" %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <%= javascript_include_tag "decidim/initiatives/application" %>
<% end %>
