<%= decidim_form_for([current_voting, @form], html: { class: "form new_monitoring_committee_member" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
