<template id="marker-popup">
  <div class="space-y-6">
    <a href="${link}" class="card__list">
      <div class="card__list-content">
        <h3 class="h4 card__list-title">${title}</h3>
        <div class="card__list-metadata">
          {{each JSON.parse(items)}}
          <span>{{html icon}}${text}</span>
          {{/each}}
        </div>
      </div>
    </a>
  </div>
</template>
