<%= decidim_form_for(@form, url: { action: "update" }, html: { class: "form meetings_form edit_meeting", :"data-online" => current_component.settings.allow_online_meetings? })  do |f| %>
  <%= render partial: "form", object: f %>

    <div class="button--double form-general-submit">
      <%= f.submit t(".update") %>
    </div>
<% end %>
