<%= decidim_form_for(@form, html: { class: "form new_meeting", :"data-online" => current_component.settings.allow_online_meetings? }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
      <%= f.submit t(".create") %>
  </div>
<% end %>
