<% unless form.object.user.managed? %>
  <%= form.text_field :reason, label: t(".reason") %>
<% end %>

<div class="row column">
  <%= form.fields_for :authorization, form.object.authorization, builder: Decidim::AuthorizationFormBuilder do |f| %>
    <%= f.collection_select :handler_name,
                            available_authorization_handlers,
                            :name,
                            :fullname,
                            { label: t(".authorization_method") },
                            { "data-authorization-handler-path" => decidim_admin.authorization_handler_path(id: ":handler_name") } %>

    <div id="authorization-handler-fields">
      <%= render "decidim/admin/managed_users/handler_form", handler_form: f %>
    </div>
  <% end %>
</div>
