<%# REDESIGN_PENDING: members and followers should share the validations code %>

<% if validation_messages.present? %>
  <% validations.each do |validation| %>
    <%= cell("decidim/announcement", validation) %>
  <% end %>
<% else %>
  <div class="grid grid-cols-2 gap-10">
    <% memberships.each do |membership| %>
      <%= card_for membership %>
    <% end %>
  </div>
<% end %>
