<div class="absolute top-4 right-4 bg-background rounded block p-1 border border-white justify-center content-center">
  <%= render partial: "layouts/decidim/initiative_header_steps.html" %>
</div>

<div class="initiatives__progress_bar">
  <%= render partial: "decidim/initiatives/initiatives/progress_bar.html" %>
</div>
<div class="bg-success/20 text-success rounded px-2">
  <p>Publicada</p>
</div>
