<% content_for :sidebar_menu_nav do %>
  <%= participatory_process_group_menu.render do
    public_page_link decidim_participatory_processes.participatory_process_group_path(participatory_process_group)
  end %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to translated_attribute(participatory_process_group.title), decidim_participatory_processes.participatory_process_group_path(participatory_process_group), target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
