<div class="columns large-3">
  <% if wizard_aside_back_url %>
    <div class="m-bottom">
      <%= link_to wizard_aside_back_url do %>
        <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
        <%= i18n_wizard_aside_back %>
      <% end %>
    </div>
  <% end %>

  <div class="show-for-large">
    <%= wizard_stepper %>
  </div>
</div>
