<div class="text-center py-10">
  <h1 class="title-decorator inline-block text-left">
    <%= t("decidim.verifications.id_documents.authorizations.choose.title") %>
  </h1>
</div>

<p><%= t("decidim.verifications.id_documents.authorizations.choose.choose_a_type") %></p>

<div class="mt-4 flex justify-between">
  <%= link_to t("decidim.verifications.id_documents.authorizations.choose.offline"), { action: :new, using: :offline, redirect_url: }.compact, class: "button button__sm md:button__lg button__transparent-secondary" %>
  <%= link_to t("decidim.verifications.id_documents.authorizations.choose.online"), { action: :new, using: :online, redirect_url: }.compact, class: "button button__sm md:button__lg button__secondary" %>
</div>
