<main class="wrapper">
  <%= render partial: "process_header_home" %>
  <div class="row column">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <div class="lead">
            <%= translated_attribute(participatory_process.short_description).html_safe %>
          </div>
          <%= translated_attribute(participatory_process.description).html_safe %>
        </div>
      </div>
    </div>
  </div>
</main>
