<% if results.any? %>
    <section class="section row collapse highlighted_results">
      <h2 class="section-heading"><%= t(".results") %></h2>
      <div class="row">
        <div class="columns accountability">
          <div class="card card--action card--list">
            <%= render partial: "decidim/participatory_processes/participatory_process_groups/result", collection: results %>
          </div>
        </div>
      </div>
    </section>
<% end %>
