version: 2

defaults: &defaults
  docker:
    - image: codegram/decidim:0.7.0
      environment:
        SIMPLECOV: true
        DATABASE_USERNAME: postgres
    - image: postgres
      environment:
        POSTGRES_USER: postgres
  working_directory: /code

jobs:
  build:
    <<: *defaults
    steps:
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - checkout
      - run:
          name: Install app dependencies
          command: |
            bundle install
            npm i
      - run:
          name: Generate test app
          command: bundle exec rake decidim:generate_test_app
      - persist_to_workspace:
          root: .
          paths:
            - "*"
  main:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run:
          name: Install dependencies
          command: gem install decidim
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run main folder npm lint
          command: cd /code && time npm run lint
      - run:
          name: Run main folder RSpec
          command: cd /code && time bundle exec rspec
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  core:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=core
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run core JS tests
          command: cd /code && time npm test -- decidim-core
      - run:
          name: Run core RSpec
          command: cd /code/decidim-core && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  assemblies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=assemblies
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run assemblies JS tests
          command: cd /code && time npm test -- decidim-assemblies
      - run:
          name: Run assemblies RSpec
          command: cd /code/decidim-assemblies && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  api:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=api
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run api JS tests
          command: cd /code && time npm test -- decidim-api
      - run:
          name: Run api RSpec
          command: cd /code/decidim-api && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  processes:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=processes
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run participatory_processes JS tests
          command: cd /code && time npm test -- decidim-participatory_processes
      - run:
          name: Run participatory_processes RSpec
          command: cd /code/decidim-participatory_processes && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  admin:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=admin
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run admin JS tests
          command: cd /code && time npm test -- decidim-admin
      - run:
          name: Run admin RSpec
          command: cd /code/decidim-admin && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  system:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=system
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run system JS tests
          command: cd /code && time npm test -- decidim-system
      - run:
          name: Run system RSpec
          command: cd /code/decidim-system && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  proposals:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=proposals
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run proposals JS tests
          command: cd /code && time npm test -- decidim-proposals
      - run:
          name: Run proposals RSpec
          command: cd /code/decidim-proposals && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  comments:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=comments
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run comments JS tests
          command: cd /code && time npm test -- decidim-comments
      - run:
          name: Run comments RSpec
          command: cd /code/decidim-comments && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  meetings:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=meetings
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run meetings JS tests
          command: cd /code && time npm test -- decidim-meetings
      - run:
          name: Run meetings RSpec
          command: cd /code/decidim-meetings && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  pages:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=pages
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run pages JS tests
          command: cd /code && time npm test -- decidim-pages
      - run:
          name: Run pages RSpec
          command: cd /code/decidim-pages && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  accountability:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=accountability
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run accountability JS tests
          command: cd /code && time npm test -- decidim-accountability
      - run:
          name: Run accountability RSpec
          command: cd /code/decidim-accountability && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  budgets:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=budgets
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run budgets JS tests
          command: cd /code && time npm test -- decidim-budgets
      - run:
          name: Run budgets RSpec
          command: cd /code/decidim-budgets && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara
  surveys:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /code
      - run:
          name: Install PhantomJS
          command: |
            curl -OLk https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
            tar xvjf phantomjs-2.1.1-linux-x86_64.tar.bz2
            mv phantomjs-2.1.1-linux-x86_64 /usr/local/share
            ln -sf /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin
            rm phantomjs-2.1.1-linux-x86_64.tar.bz2
      - run: export CODECOV_FLAG=surveys
      - run:
          name: Create test DB
          command: |
            cd spec/decidim_dummy_app/
            bundle install
            RAILS_ENV=test bundle exec rake db:create db:schema:load
      - run:
          name: Run surveys JS tests
          command: cd /code && time npm test -- decidim-surveys
      - run:
          name: Run surveys RSpec
          command: cd /code/decidim-surveys && time bundle exec rake
      - store_artifacts:
          path: /code/spec/decidim_dummy_app/tmp/capybara

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - main:
          requires:
            - build
      - core:
          requires:
            - build
      - assemblies:
          requires:
            - build
      - api:
          requires:
            - build
      - processes:
          requires:
            - build
      - admin:
          requires:
            - build
      - system:
          requires:
            - build
      - proposals:
          requires:
            - build
      - comments:
          requires:
            - build
      - meetings:
          requires:
            - build
      - pages:
          requires:
            - build
      - accountability:
          requires:
            - build
      - budgets:
          requires:
            - build
      - surveys:
          requires:
            - build
