version: 2

defaults: &defaults
  docker:
    - image: codegram/decidim:test-latest
      environment:
        SIMPLECOV: true
        DATABASE_USERNAME: postgres
        FAIL_FAST: true
    - image: postgres
      environment:
        POSTGRES_USER: postgres
  working_directory: /decidim

jobs:
  build_docker_images:
    docker:
      - image: docker:17.10.0-ce-git
    working_directory: /decidim
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.10.0-ce
      - run:
          name: Login to dockerhub
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build, tag and push docker production image
          command: |
            docker pull codegram/decidim:latest
            if [ $CIRCLE_BRANCH = 'master' ]; then
              docker build --tag codegram/decidim:prod-$CIRCLE_SHA1 --tag codegram/decidim:latest .
              docker push codegram/decidim:latest
            else
              docker build --tag codegram/decidim:prod-$CIRCLE_SHA1 --cache-from codegram/decidim:latest .
            fi
      - run:
          name: Build, tag and push docker test image
          command: |
            docker pull codegram/decidim:test-latest
            if [ $CIRCLE_BRANCH = 'master' ]; then
              docker build -f Dockerfile.ci --build-arg BASE_IMAGE_TAG=prod-$CIRCLE_SHA1 --tag codegram/decidim:test-$CIRCLE_SHA1 --tag codegram/decidim:test-latest .
              docker push codegram/decidim:test-latest
            else
              docker build -f Dockerfile.ci --build-arg BASE_IMAGE_TAG=prod-$CIRCLE_SHA1 --tag codegram/decidim:test-$CIRCLE_SHA1 --cache-from codegram/decidim:test-latest .
            fi
  build_test_app:
    <<: *defaults
    steps:
      - run:
          name: "Remove image's decidim folder"
          command: rm -fR /decidim
      - attach_workspace:
          at: /
      - checkout
      - restore_cache:
         keys:
          - decidim-{{ .Branch }}
          - decidim-master
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Generate test app
          command: rake test_app
      - run:
          name: Precompile test app assets
          command: |
            cd /decidim/spec/decidim_dummy_app
            bundle install
            rails assets:precompile
      - save_cache:
          key: decidim-{{ .Branch }}
          paths:
            - /usr/local/bundle/gems
      - persist_to_workspace:
          root: /
          paths:
            - "usr/local/bundle/gems/*"
            - "decidim/*"
  main:
    <<: *defaults
    steps:
      - run:
          name: "Remove image's decidim folder"
          command: rm -fR /decidim
      - attach_workspace:
          at: /
      - checkout
      - restore_cache:
         keys:
          - decidim-{{ .Branch }}
          - decidim-master
      - run:
          name: Install ruby dependencies
          command: bundle install
      - run:
          name: Install npm dependencies
          command: npm install
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Run main folder npm lint
          command: npm run lint
      - run:
          name: Run main folder RSpec
          command: rspec
      - save_cache:
          key: decidim-{{ .Branch }}
          paths:
            - /decidim/node_modules
            - /usr/local/bundle/gems
  core:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=core
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run core JS tests
          command: npm test -- decidim-core
      - run:
          name: Run core RSpec
          command: cd decidim-core && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  assemblies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=assemblies
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run assemblies JS tests
          command: npm test -- decidim-assemblies
      - run:
          name: Run assemblies RSpec
          command: cd decidim-assemblies && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  api:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=api
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run api JS tests
          command: npm test -- decidim-api
      - run:
          name: Run api RSpec
          command: cd decidim-api && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  processes:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=processes
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run participatory_processes JS tests
          command: npm test -- decidim-participatory_processes
      - run:
          name: Run participatory_processes RSpec
          command: cd decidim-participatory_processes && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  admin:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=admin
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run admin JS tests
          command: npm test -- decidim-admin
      - run:
          name: Run admin RSpec
          command: cd decidim-admin && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  system:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=system
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run system JS tests
          command: npm test -- decidim-system
      - run:
          name: Run system RSpec
          command: cd decidim-system && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  proposals:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=proposals
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run proposals JS tests
          command: npm test -- decidim-proposals
      - run:
          name: Run proposals RSpec
          command: cd decidim-proposals && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  comments:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=comments
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run comments JS tests
          command: npm test -- decidim-comments
      - run:
          name: Run comments RSpec
          command: cd decidim-comments && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  meetings:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=meetings
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run meetings JS tests
          command: npm test -- decidim-meetings
      - run:
          name: Run meetings RSpec
          command: cd decidim-meetings && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  pages:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=pages
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run pages JS tests
          command: npm test -- decidim-pages
      - run:
          name: Run pages RSpec
          command: cd decidim-pages && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  accountability:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=accountability
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run accountability JS tests
          command: npm test -- decidim-accountability
      - run:
          name: Run accountability RSpec
          command: cd decidim-accountability && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  budgets:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=budgets
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run budgets JS tests
          command: npm test -- decidim-budgets
      - run:
          name: Run budgets RSpec
          command: cd decidim-budgets && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara
  surveys:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /
      - run: export CODECOV_FLAG=surveys
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create test DB
          command: cd spec/decidim_dummy_app && RAILS_ENV=test rake db:create db:schema:load
      - run:
          name: Run surveys JS tests
          command: npm test -- decidim-surveys
      - run:
          name: Run surveys RSpec
          command: cd decidim-surveys && rake
      - store_artifacts:
          path: /decidim/spec/decidim_dummy_app/tmp/capybara

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_docker_images
      - build_test_app
      - main
      - core:
          requires:
            - build_test_app
      - assemblies:
          requires:
            - build_test_app
      - api:
          requires:
            - build_test_app
      - processes:
          requires:
            - build_test_app
      - admin:
          requires:
            - build_test_app
      - system:
          requires:
            - build_test_app
      - proposals:
          requires:
            - build_test_app
      - comments:
          requires:
            - build_test_app
      - meetings:
          requires:
            - build_test_app
      - pages:
          requires:
            - build_test_app
      - accountability:
          requires:
            - build_test_app
      - budgets:
          requires:
            - build_test_app
      - surveys:
          requires:
            - build_test_app
