version: 2.1

defaults: &defaults
  docker:
    # This is the sha of the latest `decidim/decidim:latest-test` docker image. You can retrieve the
    # latest digest by doing `$ docker pull decidim/decidim:latest-test`.
    - image: decidim/decidim@sha256:743a212e757a0c0d4cb85cf99251290864b6d02d1a17aa285d342d0bdcff796b
      environment:
        SIMPLECOV: true
        DATABASE_USERNAME: postgres
        FAIL_FAST: true
    - image: postgres
      environment:
        POSTGRES_USER: postgres
  working_directory: /app

references:
  attach_workspace: &attach_workspace
    attach_workspace:
      at: /app
  restore_ruby_cache: &restore_ruby_cache
    restore_cache:
      keys:
        - bundler-dependencies-{{ checksum "Gemfile.lock" }}
  install_ruby_dependencies: &install_ruby_dependencies
    run:
      name: Install ruby dependencies
      command: cd decidim-$CIRCLE_JOB && bundle install
  save_ruby_cache: &save_ruby_cache
    save_cache:
      key: bundler-dependencies-{{ checksum "Gemfile.lock" }}
      paths:
        - /usr/local/bundle/
  wait_for_db: &wait_for_db
    run:
      name: Wait for db
      command: dockerize -wait tcp://localhost:5432 -timeout 2m
  install_test_reporter: &install_test_reporter
    run:
      name: Install CodeClimate test reporter
      command: /app/.circleci/install_cc_test_reporter.sh
  create_test_db: &create_test_db
    run:
      name: Create test DB
      command: cd spec/decidim_dummy_app && RAILS_ENV=test bundle exec rails db:create db:schema:load
  extract_failure_logs: &extract_failure_logs
    run:
      name: Extract failure logs
      command: |
        mkdir -p /app/spec/decidim_dummy_app/tmp/logs/
        tail -1000 /app/spec/decidim_dummy_app/log/test.log > /app/spec/decidim_dummy_app/tmp/logs/failures.log
      when: on_fail
  store_screenshot_artifacts: &store_screenshot_artifacts
    store_artifacts:
      path: /app/spec/decidim_dummy_app/tmp/screenshots
  store_log_artifacts: &store_log_artifacts
    store_artifacts:
      path: /app/spec/decidim_dummy_app/tmp/logs
  store_test_results: &store_test_results
    store_test_results:
      path: ~/rspec
  run_rspec: &run_rspec
    run:
      name: Run RSpec
      command: mkdir ~/rspec && cd decidim-$CIRCLE_JOB && bundle exec rake
  run_rspec_without_system: &run_rspec_without_system
    run:
      name: Run RSpec
      command: mkdir ~/rspec && cd decidim-${CIRCLE_JOB%_without_system} && ls spec | grep -v system | xargs -I '{}' bundle exec rspec spec/'{}'
  run_rspec_only_system: &run_rspec_only_system
    run:
      name: Run RSpec
      command: mkdir ~/rspec && cd decidim-${CIRCLE_JOB%_only_system} && bundle exec rspec spec/system
  format_test_coverage: &format_test_coverage
    run:
      name: Format CodeClimate test coverage
      command: ./cc-test-reporter format-coverage -t simplecov -o coverage/codeclimate.$CIRCLE_JOB.json coverage/.resultset.json
  persist_coverage_to_workspace: &persist_coverage_to_workspace
    persist_to_workspace:
      root: coverage
      paths:
        - codeclimate.*.json

jobs:
  build_test_app:
    <<: *defaults
    steps:
      - checkout
      - *restore_ruby_cache
      - run: bundle install
      - *save_ruby_cache
      - *wait_for_db
      - run:
          name: Generate test app
          command: bundle exec rake test_app
      - *install_test_reporter
      - persist_to_workspace:
          root: /app
          paths:
            - "*"
  main:
    <<: *defaults
    steps:
      - *attach_workspace
      - checkout
      - restore_cache:
          keys:
            - npm-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install npm dependencies
          command: npm ci --verbose
      - save_cache:
          key: npm-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - /root/.npm
      - run:
          name: Run js lint & tests
          command: npm run test:ci
      - *restore_ruby_cache
      - run: bundle install
      - *save_ruby_cache
      - *wait_for_db
      - run:
          name: Run main folder RSpec
          command: mkdir ~/rspec && bundle exec rspec --format progress --format RspecJunitFormatter -o ~/rspec/rspec.xml
      - run:
          name: Run rubocop
          command: bundle exec rubocop
      - run:
          name: Run erb_lint
          command: bundle exec erblint **/app/{cells,views}/**/*.erb
      - *store_test_results
  generators:
    <<: *defaults
    steps:
      - *attach_workspace
      - checkout
      - *restore_ruby_cache
      - *install_ruby_dependencies
      - *save_ruby_cache
      - *wait_for_db
      - *run_rspec
      - *install_test_reporter
      - *format_test_coverage
      - *store_test_results
      - *persist_coverage_to_workspace
  core:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  assemblies:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  conferences:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  initiatives:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  api:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  participatory_processes:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  admin_without_system:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec_without_system
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  admin_only_system:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec_only_system
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  system:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  proposals_only_system:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec_only_system
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  proposals_without_system:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec_without_system
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  comments:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  meetings:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  pages:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  accountability:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  budgets:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  surveys:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  verifications:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  debates:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  sortitions:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  blogs:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  consultations:
    <<: *defaults
    steps:
      - *attach_workspace
      - *restore_ruby_cache
      - *wait_for_db
      - *create_test_db
      - *run_rspec
      - *format_test_coverage
      - *extract_failure_logs
      - *store_screenshot_artifacts
      - *store_log_artifacts
      - *store_test_results
      - *persist_coverage_to_workspace
  build_design_app:
    working_directory: /app
    docker:
      - image: docker:17.09.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build image
          command: |
            docker build -f Dockerfile.design .
  upload-coverage:
    <<: *defaults
    environment:
      CC_TEST_REPORTER_ID: 148648277beffae5e8707dac3b5c0df89bf6d5cf44c696e06c82cdfc87473520
    steps:
      - *attach_workspace
      - run:
          name: Upload coverage results to Code Climate
          command: |
            ./cc-test-reporter sum-coverage codeclimate.*.json -p 23 -o codeclimate.total.json
            ./cc-test-reporter upload-coverage -i codeclimate.total.json

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_test_app
      - main
      - build_design_app:
          requires:
            - main
      - generators:
          requires:
            - main
      - core:
          requires:
            - build_test_app
            - main
      - assemblies:
          requires:
            - build_test_app
            - main
      - conferences:
          requires:
            - build_test_app
            - main
      - initiatives:
          requires:
            - build_test_app
            - main
      - api:
          requires:
            - build_test_app
            - main
      - participatory_processes:
          requires:
            - build_test_app
            - main
      - admin_without_system:
          requires:
            - build_test_app
            - main
      - admin_only_system:
          requires:
            - build_test_app
            - main
      - system:
          requires:
            - build_test_app
            - main
      - proposals_without_system:
          requires:
            - build_test_app
            - main
      - proposals_only_system:
          requires:
            - build_test_app
            - main
      - sortitions:
          requires:
            - build_test_app
            - main
      - blogs:
          requires:
            - build_test_app
            - main
      - consultations:
          requires:
            - build_test_app
            - main
      - comments:
          requires:
            - build_test_app
            - main
      - meetings:
          requires:
            - build_test_app
            - main
      - pages:
          requires:
            - build_test_app
            - main
      - accountability:
          requires:
            - build_test_app
            - main
      - budgets:
          requires:
            - build_test_app
            - main
      - surveys:
          requires:
            - build_test_app
            - main
      - verifications:
          requires:
            - build_test_app
            - main
      - debates:
          requires:
            - build_test_app
            - main
      - upload-coverage:
          requires:
            - generators
            - core
            - assemblies
            - initiatives
            - api
            - participatory_processes
            - admin_without_system
            - admin_only_system
            - system
            - proposals_without_system
            - proposals_only_system
            - comments
            - meetings
            - pages
            - accountability
            - budgets
            - surveys
            - verifications
            - debates
            - sortitions
            - consultations
            - blogs
            - conferences
