<p class="email-greeting"><%= t(".hello", name: @user.name) %></p>

<p class="email-instructions">
  <%= t(".report_html", url: reported_content_url ) %>
</p>

<p class="email-button email-button__cta">
  <%= link_to t(".manage_moderations"), manage_moderations_url %>
</p>
