<section class="section">
  <div class="row column">
    <h3 class="section-heading"><%= t("timeline.heading", scope: "decidim.votings.content_blocks.landing_page") %></h3>

    <%= html_content %>
  </div>
</section>
