<div class="polling_officer_zone">
  <%= cell("decidim/announcement", t("polling_officer_role_description", scope: "decidim.votings.polling_officer_zone.polling_officers.index"), callout_class: "success") %>

  <%= content_tag :h2,
                  t("polling_station.title", scope: "decidim.votings.polling_officer_zone.polling_officers.index") %>

  <% if polling_officers_elections.any? %>
    <% polling_officers_elections.each do |election| %>
      <% polling_officer = polling_officers.find_by(voting: election.participatory_space) %>
      <%= render partial: "polling_station", locals: { polling_officer: polling_officer, election: election } %>
    <% end %>
  <% else %>
    <%= cell("decidim/announcement", t("polling_station.no_polling_stations", scope: "decidim.votings.polling_officer_zone.polling_officers.index"), callout_class: "warning") %>
  <% end %>
</div>
