<div class="card__list-metadata">
  <% statuses.each do |status_name| %>
    <span class="card-data__item <%= status_name %>_status">
      <%= send("#{status_name}_status") %>
    </span>
  <% end %>
</div>
