.attachment-modal{
  .button{
    margin: 0;
  }

  .dropzone-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;

    input[type="file"]{
      display: none;
    }

    label{
      background-color: lightblue;
      margin: 1rem 0;
      cursor: pointer;

      &.is-dragover {
        background-color: white;
      }

      &.dropzone {
        padding: 1rem;
        text-align: center;
        border-style: dashed;
        border-color: blue;
        border-width: 2px;
        border-radius: 4px;
      }
    }
  }

  .file-fields{
    display: flex;
    flex-direction: column;

    .progress-bar-border{
      height: 2rem;
      border: 1px solid red;
      box-sizing: border-box;
      padding: 0;

      .progress-bar{
        display: flex;
        align-items: center;
        color: white;
        background-color: red;
        padding: 0 .5rem;
        height: 2rem;
      }
    }
  }
}
