$custom-gray: #ededed;
$list-border: 1px solid $custom-gray;

.autoComplete_wrapper{
  color: $secondary;

  input{
    margin: 0;
  }

  ul{
    background-color: $white;
    margin: 0;
    border: $list-border;
    border-top: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;

    li{
      padding: .5rem;
      border-top: $list-border;
      cursor: pointer;

      &:hover,
      &[aria-selected="true"]{
        background-color: $custom-gray;
      }

      &.disabled{
        pointer-events: none;
        opacity: .6;
      }
    }
  }

  span{
    color: $black;

    &.author__avatar{
      display: inline-block;
      vertical-align: middle;
      padding: 0;
    }

    &.selected-value{
      position: absolute;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  .search_prompt,
  .no_result{
    color: $custom-gray;
    border: $list-border;
  }

  .clear-selection{
    display: inline;
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    right: 4rem;
  }
}

.conversation-recipient-users{
  font-size: 1.3rem;
  line-height: 1.8;
  list-style: none;
  margin: 1rem 0 0;

  button{
    cursor: pointer;
  }

  img{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
}
