#cc-dialog-wrapper{
  position: fixed;
  z-index: 1000000;

  .cc-dialog{
    position: fixed;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    border: 1px solid #e8e8e8;

    @include breakpoint(medium down){
      flex-direction: column;
    }

    .cc-content{
      flex: 3 1 0;
    }

    .cc-button-wrapper{
      display: flex;
      flex: 2 1 0;
      justify-content: space-evenly;
      align-items: center;

      *{
        margin: 0 1rem;
      }
    }
  }
}

#cc-modal{
  background-color: $white;

  .category-wrapper{
    background-color: $light-gray;
    margin: 1rem 0;
    padding: .2rem;

    .category-row{
      position: relative;
      display: flex;
      justify-content: space-between;

      .cc-title{
        &::before{
          border: solid #2d4156;
          border-width: 0 2px 2px 0;
          padding: .2em;
          display: inline-block;
          content: '';
          margin-right: 15px;
          position: absolute;
          left: 1.2em;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &.open{
          &::before{
            transform: translateY(-50%) rotate(225deg);
          }
        }

        padding: 0 0 0 3rem;
      }

      .cc-switch{
        padding: .5rem 0 0;
      }
    }
  }

  .cc-buttons-wrapper{
    display: flex;
    justify-content: space-between;
  }
}

.cookie-warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: $global-weight-bold;
  padding: 1rem;
  margin: 1rem;
}
