#cc-dialog-wrapper{
  display: flex;
  justify-content: center;
  z-index: 1000000;

  .cc-dialog{
    position: fixed;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    border: 1px solid #e8e8e8;
    flex-direction: column;

    @include breakpoint(mediumlarge){
      flex-direction: row;
      width: 90%;
    }

    .cc-content{
      flex: 3 1 0;
    }

    .cc-button-wrapper{
      display: flex;
      flex: 2 1 0;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      margin: 1rem 0;

      > *{
        width: 100%;
        margin: .5rem 0;
      }

      @include breakpoint(mediumlarge){
        flex-direction: row;
        margin: 0;

        > *{
          width: unset;
          margin: 0 1rem;
        }
      }
    }
  }
}

#cc-modal{
  background-color: $white;

  .category-wrapper{
    background-color: $light-gray;
    margin: 1rem 0;
    padding: .2rem;

    .category-row{
      position: relative;
      display: flex;
      justify-content: space-between;

      .cc-title{
        &::before{
          border: solid #2d4156;
          border-width: 0 2px 2px 0;
          padding: .2em;
          display: inline-block;
          content: '';
          margin-right: 15px;
          position: absolute;
          left: 1.2em;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &.open{
          &::before{
            transform: translateY(-50%) rotate(225deg);
          }
        }

        padding: 0 0 0 3rem;
      }

      .cc-switch{
        padding: .5rem 0 0;
      }
    }

    .cookie-details-wrapper{
      .detail-titles{
        border-bottom: 1px solid $medium-gray;

        > *{
          font-weight: 600;
        }
      }

      .cookie-detail-row{
        font-size: .6rem;
      }
    }
  }

  .cc-buttons-wrapper{
    display: flex;
    justify-content: space-between;
  }
}

.disabled-iframe{
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  cursor: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 20rem;

  &.ql-video{
    display: flex;
  }
}

.cookie-warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: $global-weight-bold;
  padding: 2rem;

  a{
    margin: 2rem 0;
  }
}
