.input-inline-group{
  position: relative;

  .input-group{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    margin-top: .5em;
    width: 1%;

    .icon{
      width: 1.125em;
      height: 1.125em;
      margin: 5px;
      color: $black;
    }
  }
}

.register-form{
  .input-group{
    margin-top: .75em;
  }
}
