.gallery__container {
  width: 100%;

  fieldset {
    border: 1px solid $light-gray;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  legend {
    padding: 0.25rem;
  }

  .thumbnail {
    max-height: 100px;
  }

  .gallery__item {
    display: inline-block;
    border: none;
    margin-right: 0.5rem;
    padding: 0;

    .close-button {
      right: 2px;
      top: 2px;
      width: 2rem;
      height: 2rem;
      background: rgba(var(--primary-rgb), 0.8);
      color: $white;
      border-radius: 50%;
    }
  }
}
