@import "stylesheets/decidim/variables";

.autocomplete_search {
  color: $secondary;

  &.select-control {
    input {
      width: 100%;
      height: 3rem;
      border-radius: 4px;
      border: 1px solid $dark-gray;
    }
  }

  span {
    &.selected-value {
      position: absolute;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  input {
    margin: 0;
    border-radius: 4px 4px 0 0;
    &::placeholder {
      color: $dark-gray;
    }
  }

  ul {
    background-color: $white;
    margin: 0;
    border: 1px solid $black;
    border-top: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;

    li {
      border-top: 1px solid $light-gray;

      &[aria-selected="true"] {
        background-color: #ccc;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;
  }

  .clear-selection {
    display: inline;
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    right: 4rem;
  }
}

.autocomplete_results {
  li {
    font-weight: $global-weight-bold;
  }

  [aria-label="Close"] {
    cursor: pointer;
  }
}
