.attachment-modal{
  .button{
    margin: 0;
  }

  .dropzone-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

    input[type="file"]{
      display: none;
    }

    label{
      background-color: $white;
      margin: 1rem 0;
      cursor: pointer;

      &.is-dragover{
        background-color: lighten($secondary, 50);
      }

      &.dropzone{
        padding: 1rem;
        text-align: center;
        border-style: dashed;
        border-color: var(--secondary);
        border-width: 2px;
        border-radius: 4px;
      }

      &.disabled{
        background-color: $light-gray;
        cursor: not-allowed;
        border-color: lighten($secondary, 50);

        span{
          color: #ccc;
        }
      }
    }
  }

  .upload-items{
    display: flex;
    flex-direction: column;

    .progress-bar-border{
      height: 2rem;
      border: 1px solid var(--primary);
      box-sizing: border-box;
      padding: 0;

      .progress-bar{
        display: flex;
        align-items: center;
        color: white;
        background-color: var(--primary);
        padding: 0 .5rem;
        height: 2rem;
      }
    }

    .remove-upload-item {
      cursor: pointer;
    }
  }
}
