<div class="reveal" id="show-backup-modal" data-reveal data-close-on-click="false">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t(".title", election: translated_attribute(election.title)) %></h3>
  </div>

  <div class="row m-bottom">
    <div class="columns">
      <div class="section">
        <div class="callout alert">
          <p><%= t(".description") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-5 medium-centered">
      <a class="button download-election-keys">
        <%= icon "data-transfer-download", class: "icon", role: "img", aria_label: t(".download_icon") %>
        <span><%= t(".download_election_keys") %></span>
      </a>
    </div>
  </div>
</div>
