<%= decidim_modal id: "show-backup-modal" do %>
  <div data-dialog-container>
    <h2 id="dialog-title-show-backup-modal" tabindex="-1" data-dialog-title><%= t("title", scope: "decidim.elections.trustee_zone.elections.backup_modal", election: translated_attribute(election.title)) %></h2>
    <div>
      <p id="dialog-desc-show-backup-modal"><%= t("description", scope: "decidim.elections.trustee_zone.elections.backup_modal") %></p>
    </div>
  </div>

  <div data-dialog-actions>
    <a id="download-election-keys" class="button button__sm md:button__lg button__secondary">
      <span><%= t("download_election_keys", scope: "decidim.elections.trustee_zone.elections.backup_modal") %></span>
    </a>
  </div>
<% end %>
