<div class="reveal" id="show-restore-modal" data-reveal data-close-on-click="false">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t(".title", election: translated_attribute(election.title)) %></h3>
  </div>

  <div class="row m-bottom">
    <div class="columns">
      <div class="section">
        <div class="callout info">
          <p><%= t(".description") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-5 medium-centered">
      <label class="button upload-election-keys">
        <%= icon "data-transfer-upload", class: "icon", role: "img", aria_label: t(".upload_icon") %>
        <span><%= t(".upload_election_keys") %></span>
        <input class="restore-button-input" style="display: none" type="file">
      </label>
    </div>
  </div>
</div>
