<%= decidim_modal id: "show-restore-modal" do %>
  <div data-dialog-container>
    <h2 id="dialog-title-show-restore-modal" tabindex="-1" data-dialog-title><%= t("title", scope: "decidim.elections.trustee_zone.elections.restore_modal", election: translated_attribute(election.title)) %></h2>
    <div>
      <p id="dialog-desc-show-restore-modal"><%= t("description", scope: "decidim.elections.trustee_zone.elections.restore_modal") %></p>
    </div>
  </div>

  <div data-dialog-actions>
    <label id="upload-election-keys" class="button button__sm md:button__lg button__secondary">
      <span><%= t("upload_election_keys", scope: "decidim.elections.trustee_zone.elections.restore_modal") %></span>
      <input id="restore-button-input" style="display: none" type="file">
    </label>
  </div>
<% end %>
