<%= decidim_form_for @form,
                     url: question_configuration_path(current_question),
                     method: :patch,
                     html: { class: "form edit_question" } do |f| %>
  <%= render partial: "form", object: f %>
  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t("questions.edit.update", scope: "decidim.admin"),
                 class: "button button__sm md:button__lg button__secondary",
                 data: { disable_with: true } %>

  </div>
<% end %>
