<% versions.each_with_index do |version, index| %>
  <%= cell(
    "decidim/versions_list_item",
    version,
    index: index,
    versioned_resource: versioned_resource,
    version_path: version_path,
    i18n_scope: i18n_scope,
    total: versions.count
  ) %>
<% end %>

<%# REDESIGN_PENDING: Move to version cell %>
<%= link_to resource_path, class: "button button__sm button__text-secondary" do %>
  <%= icon "arrow-left-line", class: "fill-current" %>
  <span><%= i18n_back_to_resource %></span>
<% end %>
