<h2 class="process-title-summary">
  <%= t ".title" %>
</h2>

<%= decidim_form_for(@form, html: { class: "form new_initiatives_types" }) do |f| %>
  <%= render partial: "form", object: f %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".create"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
