#meeting-registration-confirm {
  .help-text {
    border: 1px solid #eee;
    background: #fff;
    padding: 0.5em;
    overflow-y: scroll;
    margin-bottom: 1em;
    margin-top: 0.5em;
    height: 20em;
  }
}
