.votes_block .button[disabled]{
  background-color: #adadad;
}

.up-highlighted{
  background-color: #57d685;
}

.neutral-highlighted{
  background-color: #599aa6;
}

.down-highlighted{
  background-color: #ec5840;
}
.width-O{
  width: 0
}
.pr-pl-2{
  padding-right: 2px;
  padding-left: 2px;
}
.flex-center{
  display: flex;
  justify-content: center;
}

#up-votes-count, #down-votes-count, #neutral-vote-count{
  margin-bottom: 2px;
}
