/*
 *= require social-share-button
 */

$size: 45px;

.share-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.social-share-button{
  display: inline-block;
  vertical-align: top;

  .ssb-icon{
    margin-right: 5px;
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

/* hide whatsapp_app icon on devices with mouse or touch pad */
@media (hover: hover) and (pointer: fine) {
  a.ssb-icon.ssb-whatsapp_app{
      display: none;
  }
}

/* hide whatsapp_web icon on devices with touchscreens */
@media (hover: none) and (pointer: coarse) {
  a.ssb-icon.ssb-whatsapp_web {
    display: none;
  }
}
