<%
@title = "Decidim Barcelona"
@files = Dir.glob("app/assets/images/badges/*.svg")
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row column mb-m">
    <h1>Decidim badges</h1>
    <p>Badges are recognitions to participant actions and progress in the platform. As you start discovering, participating and interacting in the platform, you will earn different badges. Here is the list of badges and some ways you can earn them. </p>
  </div>
  <% @files.each do |i| %>
    <div class="row mb-m">
      <div class="column medium-2">
        <%= render partial: page_path("profile") + "/badge", locals: { template: File.basename(i, ".svg"), level: 0 } %>
      </div>
      <div class="column medium-10">
        <h6><strong><%= File.basename(i, ".svg").capitalize %> badge</strong></h6>
        <p>The invitations badge is earned when you get friends and acquantainces to know and use Decidim Barcelona.</p>
        <h6><strong>How you can earn it</strong></h6>
        <ul>
          <li>Use the custom invitation tool to invite your friends</li>
          <li>Share this URL in social media</li>
          <li>Ask your friends about their opinion on a specific debate or proposal</li>
        </ul>
      </div>
    </div>
  <% end %>
</main>

<%= partial "template_bottom" %>
