<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t ".title" %>
  </h2>
</div>

<div>
  <div class="item__edit-form">
    <%= decidim_form_for @form,
                         url: initiatives_type_initiatives_type_scope_path(params[:initiatives_type_id], current_initiative_type_scope),
                         html: { class: "form form-defaults edit_initiative_type_scope" } do |f| %>

      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
