<% add_decidim_meta_tags(title: t("assembly_members.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_assemblies.assembly_members_path(current_participatory_space.slug),
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<%= cell "decidim/content_blocks/participatory_space_hero", nil, resource: current_participatory_space %>
<div class="container py-8">
  <h3 class="h3 decorator mb-8">
    <%= t("members", scope: "decidim.assemblies.assembly_members.index") %>
    <span class="label text-md"><%= collection.size %></span>
  </h3>
  <div id="assembly_members-grid" class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12">
    <%= render(collection) %>
  </div>
</div>
