<div id="diff-for-<%= data[:label].parameterize %>" class="version__diff">
  <%= content_tag :h2, class: "h4" do %>
    <%= data[:label] %>
  <% end %>

  <%= unified_mode? ? diff_unified(data, display_html_config) : diff_split_full(data, display_html_config) %>
</div>
