<div id="diff-for-<%= data[:label].parameterize %>" class="version__diff">
  <h2 class="h4">
    <%= data[:label] %>
  </h2>

  <%= unified_mode? ? diff_unified(data, display_html_config) : diff_split_full(data, display_html_config) %>
</div>
