<div class="mediumlarge-6 columns">
  <div class="diff-direction-label">
    <%= t(direction, scope: "versions.directions") %>
  </div>

  <% available_locales_for(data).each do |locale, filled| %>
    <% next unless filled %>
    <% unless I18n.locale.to_s == locale %>
      <p><strong><%= locale_name(locale) %></strong></p>
    <% end %>
    <div class="card">
      <div class="diff-data">
        <%= output_split_diff(data, direction, format, locale) %>
      </div>
    </div>
  <% end %>
</div>
