<div id="js-block-moderated_users-actions" class="hide js-bulk-action-form">
  <%= form_tag(bulk_new_moderated_users_path, method: :post, id: "js-form-block-moderated_users", class: "form form-defaults flex items-center gap-x-2") do %>

    <div class="hide">
      <% moderated_users.each do |moderation| %>
        <%= check_box_tag "user_ids[]", moderation.user.id, false, class: "js-check-all-moderated_users js-moderated_user-id-#{moderation.user.id}" %>
      <% end %>
    </div>

    <%= submit_tag(
          t("decidim.admin.moderated_users.index.actions.bulk_actions.block.update_moderated_user_button"),
          id: "js-submit-block-moderated_users",
          class: "button button__sm button__secondary small button--simple float-left"
        ) %>

    <button id="js-cancel-block-moderated_users" class="button button__sm button__secondary js-cancel-bulk-action" type="button">
      <%= t("decidim.admin.moderated_users.index.cancel") %>
    </button>
  <% end %>
</div>
