<h2><%= t(".title", election: translated_attribute(election.title)) %></h2>
<div class="callout alert">
  <p><%= t(".process_warning") %></p>
</div>
<button class="button download-election-keys">
  <%= icon "data-transfer-download", class: "icon", role: "img", aria_label: t(".download_icon") %>
  <span><%= t(".download_election_keys") %></span>
</button>
