<div id="onboarding-messages-container" class="container">
  <div class="flash warning" data-closable>
    <div class="flash__message">
      <%= message_text %>
    </div>

    <%= button_tag class: "close-button", type: :button, data: { close: "" } do %>
      <%= close_icon %>
    <% end %>
  </div>
</div>
