<div id="onboarding-messages-container" class="container">
  <div class="flash info" data-closable>
    <div class="flash__icon">
      <%= info_icon %>
    </div>

    <div class="flash__message">
      <%= message_text %>
    </div>

    <button class="close-button" type="button" data-close aria-label="<%= t("decidim.alert.dismiss") %>">
      <%= close_icon %>
    </button>
  </div>
</div>
