<% questionnaire.questions.each do |question| %>
  <% next if question.question_type == "separator" %>
  <% next unless question.survey_responses_published_at %>

  <div class="mb-12">
    <div class="mb-4">
      <h2 class="h5 inline"><%= translated_attribute question.body %></h2>
      <span><%= I18n.t("decidim.surveys.admin.publish_responses.index.responses", count: question.responses.count) %></span>
    </div>

    <%= chart_for_question(question.id) %>
  </div>
<% end %>
