<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= cell "decidim/authorization_modal", authorizations %>
      </div>
    </div>
  </div>
</div>
