<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= render partial: "decidim/authorization_modals/content" %>
      </div>
    </div>
  </div>
</div>
