<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.url_field :link %>
      </div>

      <div class="row column">
        <%= form.date_field :date %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>
    </div>
  </div>
</div>
