<%= decidim_form_for(@form, url: conference_media_link_path(@media_link.conference, @media_link), html: { class: "form edit_media_link" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("media_links.edit.title", scope: "decidim.admin") } %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= f.submit t("media_links.edit.update", scope: "decidim.admin"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
