<%= decidim_form_for(@form, html: { class: "form new_media_link" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("media_links.new.title", scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("media_links.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
