<% add_decidim_page_title(t("conferences_deleted", scope: "decidim.admin.titles")) %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>

<div class="card" id="conferences">
  <%= admin_filter_selector %>
</div>
<%= render partial: "conferences_table", locals: { collection: deleted_collection, view: :deleted } %>
