<h2 class="card-title">
  <%= t "decidim.admin.titles.dashboard" %>
</h2>
<div class="content">
  <p><%= t ".welcome" %></p>
  <% if can? :read, :admin_log %>
    <div class="row">
      <h3 class="card-title">
        <%= t "decidim.admin.titles.admin_log" %>
      </h3>
      <ul>
        <% latest_action_logs.each do |log| %>
          <%= render_log(log) %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
