<h2 class="card-title">
  <%= t "decidim.admin.titles.dashboard" %>
</h2>
<div class="content">
  <p><%= t ".welcome" %></p>
  <div class="row">
    <ul>
      <% Decidim::ActionLog.order(created_at: :desc).first(20).each do |log| %>
        <%= render_log(log) %>
      <% end %>
    </ul>
  </div>
</div>
