<div class="cookie-warning flex-center padding-1 hide">
  <p>
  <%= t("layouts.decidim.data_consent.warning.need_cookies", cookies: t("layouts.decidim.data_consent.warning.all_cookies")) %>
  </p>
  <a href="#" class="button margin-vertical-2" data-open="cc-modal">
    <%= t("change_cookie_settings", scope: "layouts.decidim.data_consent.warning") %>
  </a>
</div>
