<div id="svg-cors-container" style="display: none"></div>
<script type="text/javascript">
  $.get(window.Decidim.config.get("icons_path"), function(data) {
    var div = document.getElementById("svg-cors-container");
    div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
    document.body.insertBefore(div, document.body.childNodes[0]);
  });
</script>
