<div hidden data-dataconsent-warning class="hide">
  <p>
  <%= t("layouts.decidim.data_consent.warning.consent_required", categories: t("layouts.decidim.data_consent.warning.all_categories")) %>
  </p>
  <a href="#" class="button" data-dialog-open="dc-modal">
    <%= t("change_settings", scope: "layouts.decidim.data_consent.warning") %>
  </a>
</div>
