<% if content_for?(:edit_link) %>
  <div class="topbar__edit__link">
    <%= link_to content_for(:edit_link) do %>
      <%= icon "pencil" %>
      <span><%= t(".edit") %></span>
    <% end %>
  </div>
<% end %>
