<% if current_user.managed? %>
  <div class="impersonation-warning">
    <%= t('.description_html', user_name: current_user.name) %>
    <div class="impersonation-warning__action">
      <%= button_to t('.close_session'), '#', class: "button tiny impersonation-bar__button" %>
    </div>
  </div>
<% end %>
