<% if organization %>
  <%= link_to root_url, "aria-label": t("front_page_link", scope: "decidim.accessibility") do %>
    <% if organization.favicon.attached? %>
      <%= image_tag organization.attached_uploader(:favicon).variant_path(:medium), alt: t("logo", scope: "decidim.accessibility", organization: current_organization_name) %>
    <% else %>
      <span><%= current_organization_name %></span>
    <% end %>
  <% end %>
<% else %>
  <%= Decidim.application_name %>
<% end %>
