<% if organization %>
  <%= link_to root_url do %>
    <% if organization.logo.attached? %>
      <%= image_tag organization.attached_uploader(:logo).variant_url(:medium),
        alt: "#{current_organization_name} (#{t('decidim.errors.not_found.back_home')})" %>
    <% else %>
      <span><%= current_organization_name %></span>
    <% end %>
  <% end %>
<% else %>
  <%= Decidim.application_name %>
<% end %>
