<% if organization %>
  <% if @custom_url_for_mail_root.present? %>
    <% url = @custom_url_for_mail_root %>
  <% else %>
    <% url = decidim.root_url(host: organization.host) %>
  <% end %>
  <%= link_to url do %>
    <% if organization.logo.present? %>
      <%= image_tag organization.logo.medium.url, style: "max-height: 50px", alt: "#{@organization.name}" %>
    <% else %>
      <span><%= organization.name %></span>
    <% end %>
  <% end %>
<% else %>
  <%= Decidim.application_name %>
<% end %>
