<!-- TODO: Remove when redesigned is finished -->
<div class="mini-footer">
  <div class="row">
    <div class="medium-7 large-8 column">
      <a rel="license noopener" class="cc-badge"
         href="http://creativecommons.org/licenses/by-sa/4.0/"
         target="_blank">
        <%= image_pack_tag("media/images/cc-badge.png", alt: t("layouts.decidim.footer.cc_by_license")) %>
      </a>
      <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
    </div>
    <div class="medium-3 large-2 column">
      <div class="decidim-logo">
        <a rel="decidim noopener"
           href="https://decidim.org/"
           target="_blank">
          <%= image_pack_tag("media/images/decidim-logo.svg", alt: t("layouts.decidim.footer.decidim_logo")) %>
        </a>
      </div>
    </div>
  </div>
</div>
