<div class="flash callout primary small js-offline-message" style="display: none">
  <%= t(".cache_version_page") %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // show the banner if it's offline AND the offline-fallback is not displaying
    if (!navigator.onLine && !document.querySelector("#offline-fallback-html")) {
      document.querySelector(".js-offline-message").style.display = "block"
    }
  })
</script>
