<% if current_organization.enable_omnipresent_banner %>
  <%= link_to current_organization.omnipresent_banner_url, class: "omnipresent-banner" do %>
    <span>
      <%= translated_attribute current_organization.omnipresent_banner_title %>
    </span>
    -
    <span>
      <%= translated_attribute current_organization.omnipresent_banner_short_description %>
    </span>
    <%= icon "play-fill" %>
  <% end %>
<% end %>
