<div class="flex flex-col min-h-screen">
  <header>
    <%= render partial: "layouts/decidim/redesigned_main_header" %>
    <%= render partial: "layouts/decidim/redesigned_menu_header" %>
  </header>
  <main class="grow">
    <%#= yield %>
  </main>
  <footer>
    <%= render partial: "layouts/decidim/redesigned_main_footer" %>
    <%= render partial: "layouts/decidim/redesigned_mini_footer" %>
  </footer>
</div>
