<ul class="flex flex-col md:flex-row gap-4 text-sm text-white">
  <li>
    <%= link_to "Avís Legal" %>
  </li>
  <li>
    <%= link_to "Termes i condicions d'ús" %>
  </li>
  <li>
    <%= link_to "Cookies" %>
  </li>
</ul>
