<h4 class="h4">Pressupostos Participatius 2020-21</h4>
<div class="flex gap-6 mt-5">
  <img class="w-2/5" src="https://via.placeholder.com/300/09f/fff.png" alt="">
  <p class="w-3/5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel molestiae dolor vitae, iste praesentium excepturi sequi numquam eaque unde ea consequatur sint voluptate recusandae beatae, nisi error eius sit.</p>
</div>
<%= arrow_link "Procés destacat", "", class: "mt-4 text-secondary" %>
