<ul class="px-8 divide-y divide-border-2 grid grid-cols-2 gap-x-6">
  <% items = ["Imatges", "Inici", "Barna", "Rambla", "Corbelles", "Trencar", "Esdeveniment"] %>
  <% items.each do |i| %>
    <li class="text-secondary py-5"><%= arrow_link i, "", class: "text-secondary" %></li>
  <% end %>
</ul>
