<h3 class="h3">Benvinguda a la plataforma participativa decidim.barcelona</h3>
<p class="text-lg text-gray-2 mt-5"><%= t("decidim.pages.home.footer_sub_hero.footer_sub_hero_headline", organization: current_organization.name) %></p>
<p class="text-lg text-gray-2 mt-5"><%== t("decidim.pages.home.footer_sub_hero.footer_sub_hero_body") %></p>
