<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag "decidim/email" %>
</head>

<body>
  <!-- <style> -->
  <table class="body">
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <th class="small-12 first columns decidim-bar">
                      <center class="decidim-logo">
                        <%= render partial: "layouts/decidim/logo", locals: { organization: @organization } %>
                      </center>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
                <table class="spacer">
                  <tbody>
                    <tr>
                      <td height="40px" style="font-size:40px;line-height:40px;"> </td>
                    </tr>
                  </tbody>
                </table>

                <table class="row content">
                  <tr>
                  <th class="small-12 first columns">
                    <%= yield %>
                  </th>
                    <th class="expander"></th>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <th class="small-12 first columns">
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <th class="expander"></th>
                    <th class="small-12 first columns cityhall-bar">
                      <div class="decidim-logo" style="float: right; text-align: right; padding-right: 16px">
                        <%= link_to @organization.name, decidim.root_url(host: @organization.host) %>
                      </div>
                    </th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
