<% content_for :social_image_url do %>
  <% current_participatory_process.banner_image.url %>
<% end %>

<%= render "layouts/decidim/application" do %>
  <div class="wrapper">
    <%= render partial: "layouts/decidim/process_header" %>
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
