<div class="row" id="participatory-space-filters">
  <%= render partial: "decidim/shared/participatory_space_filters/filters_small_view" %>
  <%= render partial: "decidim/shared/participatory_space_filters/filters" %>
</div>
