<div class="row" id="participatory-space-filters">
  <%= render partial: "decidim/shared/participatory_space_filters/filters_small_view" %>
  <div class="show-for-mediumlarge">
    <%= render partial: "decidim/shared/participatory_space_filters/filters",
        locals: { checkboxes_on_top: false } %>
  </div>
</div>
