<div id="project-<%= model.id %>-item" class="card__list">
  <%= link_to resource_path, class: "card__list__content" do %>
    <%= render :project_text %>
  <% end %>
  <div class="budget__card__list-project">
    <%= render :project_data %>
  </div>
</div>
