<div id="project-<%= model.id %>-item" class="item-list">
  <div class="item-list__content">
    <%= render :project_image %>
    <%= render :project_text %>
  </div>
  <div class="budget__item-list__project">
    <%= render :project_data %>
  </div>
</div>
