<div id="project-<%= model.id %>-item" class="card__list">
  <div class="card__list-content">
    <%= render :project_image %>
    <%= render :project_text %>
  </div>
  <div class="budget__card__list-project">
    <%= render :project_data %>
  </div>
</div>
