<% if user_signed_in? %>
  <button class="button button__lg button__secondary flex md:hidden w-full h-9 text-sm add-comment-mobile">
    <%= t("add_comment", scope: "decidim.components.add_comment_form") %>
  </button>
<% end %>
