<div class="add-comment" id="add-comment-anchor">
  <% if user_signed_in? %>
    <%== cell("decidim/comments/comment_form", model, root_depth:) %>
  <% else %>
    <p>
      <h5 class="text-lg text-gray-2">Leave your comment</h5>
      <div>
        <div class="flash flex-col warning">
          <div class="flash__message">
            <%= t(
              "decidim.components.add_comment_form.account_message",
              sign_up_url: decidim.new_user_registration_path
            ) %>
          </div>
        </div>
      </div>
    </p>
  <% end %>
</div>
