<div class="comments-two-columns card__grid-grid">
  <%= render_column(comments_in_favor, "thumb-up-line", t("decidim.components.comments.in_favor")) %>
  <%= render_column(comments_against, "thumb-down-line", t("decidim.components.comments.against")) %>
</div>
