<%# We cannot use the AnnouncementCell directly here as the link is escaped and it would not work %>
<div class="flash warning" data-announcement="">
  <span class="flash__message">
    <% if comment_permissions? %>
      <p><%= blocked_comments_for_unauthorized_user_warning_link %></p>
    <% else %>
      <p><%= t("decidim.components.comments.blocked_comments_for_user_warning") %></p>
    <% end %>
  </span>
</div>
