<div>
  <h2 class="h2 decorator"><%= title_text %></h2>

  <% if description_text.present? %>
    <div class="content-block__description">
      <%= description_text %>
    </div>
  <% end %>

  <% if group_attributes.length %>
    <div class="card__list-metadata mt-10 [&>span]:text-md">
      <% group_attributes.each do |item| %>
        <% next if item.blank? %>

        <span>
          <%= icon item[:icon] %>
          <%= item[:text] %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
