<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<% if can? :update_slug, form.object %>
  <div class="field">
    <%= form.text_field :slug %>
  </div>
<% end %>

<div class="field">
  <%= form.translated :editor, :content, toolbar: :full %>
</div>
