<%= decidim_form_for(@form, html: { class: "form new_static_page" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title" %></h2>
    </div>
    <div class="card-section">
      <%= render partial: 'form', object: f %>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
