<span class="order-by__tabs ml-s">
  <%# <span class="muted mr-s ml-s">No hay procesos activos</span> %>
  <% if should_show_tabs? %>
    <%= explanation %>
    <span class="muted mr-xs">Ver</span>
    <% other_filters_with_value.each do |filter| %>
      <%= link_to raw("<strong>#{filter}</strong>&nbsp;<span>(" + model[filter].to_s + ")</span>"), filter_link(filter), remote: true, class: "order-by__tab" %>
    <% end %>
  <% else %>
    <%= explanation %>
  <% end %>
</span>