<div class="row column">
  <div>
    <h3 class="collapse">
      <%= title %>
      <%= render :filter_tabs %>
    </h3>
  </div>
  <hr>
</div>
<% if process_count_by_filter["active"] == 0 && process_count_by_filter["upcoming"] == 0 %>
  <div class="row column">
    <%= cell("decidim/announcement", t("decidim.participatory_processes.participatory_processes.filters.explanations.no_active_nor_upcoming_callout"), callout_class: "warning") %>
    </div>
  </div>
<% end %>
