<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(
      t("layouts.decidim.participatory_process_groups.participatory_process_group.browse"),
      resource_path,
      class: "card__button button button--sc secondary light small"
    ) %>
  </div>
</div>
