<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(resource_path, class: "card__button button button--sc small") do %>
      <span class="show-for-sr"><%= t("browse_resource", resource_name: title, scope: "layouts.decidim.participatory_process_groups.participatory_process_group") %></span>
      <%= t("layouts.decidim.participatory_process_groups.participatory_process_group.browse") %>
    <% end %>
  </div>
</div>
