<div class="profile__activity">
  <%= cell "decidim/resource_types_filter", resource_types, source: :profile_activity %>
  <div class="profile__activity__container" id="activities-container">
    <% if activities.length == 0 %>
      <%= cell "decidim/announcement", t("decidim.user_activity.index.no_activities_warning") %>
    <% else %>
      <%= cell "decidim/activities", activities %>
    <% end %>
  </div>
</div>

<div id="decidim-paginate-container">
  <%= decidim_paginate activities %>
</div>
