<div class="user-activity">
  <div id="conversation" class="columns">

    <div class="title-action">
      <h1 class="heading3 title-action__title">
        <%= link_to decidim.profile_conversations_path(nickname: user.nickname), class: "card--list__data__icon card--list__data__icon--back" do %>
          <%= icon "chevron-left", role: "img" %>
        <% end %>

        <%= t "decidim.user_conversation.new.title", usernames: username_list(interlocutors) %>
      </h1>
    </div>

    <div id="conversation">
      <div id="messages"></div>

      <%= render view: :reply, locals: { title: t("decidim.user_conversation.reply.title_new") } %>

    </div>
  </div>
</div>
