<div class="add-message">
  <h5 class="section-heading">
    <%= t("decidim.user_conversation.reply.title") %>
  </h5>

  <%= form_for form_ob, url: decidim.profile_conversation_path(nickname: user.nickname, id: conversation.id), method: :put, remote: true do |f| %>
    <%= f.text_area :body, label: false, rows: 4, required: true %>

    <%= f.submit t("decidim.user_conversation.reply.send"), data: { disable: true } %>
  <% end %>
</div>
