<div class="user-activity">
  <div id="conversation" class="columns small-12">

<%= link_to "back-to-conversations", decidim.profile_conversations_path(nickname: user.nickname) %>

conversation #<%= conversation.id %>
  </div>
</div>
