<div class="accountability__grid">
  <% first_class_categories.each do |category| %>
    <div>
      <span class="accountability__grid-title"><%= categories_label %></span>
      <%= cell(
            "decidim/accountability/status",
            category,
            extra_classes: "accountability__status__background",
            url: results_path(filter: { with_category: category, with_scope: current_scope })
          ) %>
    </div>

    <div>
      <span class="accountability__grid-title"><%= subcategories_label %></span>
      <div class="accountability__subgrid">
        <% category.subcategories.each do |subcategory| %>
          <%= cell(
                "decidim/accountability/status",
                subcategory,
                extra_classes: "accountability__status__border",
                url: results_path(filter: { with_category: subcategory, with_scope: current_scope })
              ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
