<div class="item-list">
  <% resources.each do |result| %>
    <%= link_to resource_locator(result).path, class: "item-list__content" do %>
      <h5 class="h4 item-list__title">
        <%= translated_attribute(result.title) %>
      </h5>
    <% end %>
  <% end %>
</div>
