<div class="small-12 columns section">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <%= linked_resources_for result, :proposals, "included_proposals" %>
    </div>

    <div class="small-12 medium-9 columns">
      <%= linked_resources_for result, :projects, "included_projects" %>
    </div>

    <div class="small-12 medium-9 columns end">
      <%= linked_resources_for result, :meetings, "meetings_through_proposals" %>
    </div>
  </div>
</div>
