<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.translated :text_field, :name, aria: { label: :name } %>
    </div>

    <div class="row column">
      <%= form.text_field :code %>
    </div>

    <div class="row column">
      <%= form.collection_select :scope_type_id, organization_scope_types, :id, :name %>
    </div>
  </div>
</div>
