.action-icon:not(:last-child){
  margin-right: 1rem;
}

.action-icon.has-tip,
.simple-has-tip.has-tip{
  border-bottom: 0;
  cursor: pointer;
}

.action-icon.action-icon--remove{
  color: $alert-color;
}
