@import "../vendor/mathsass/math";

$action-icon-height: 24px;
$action-icon-width: $icon-size;

.action-icon {
  height: $action-icon-height;
}

.action-icon:not(:last-child){
  margin-right: 1rem;
}

.action-icon.has-tip,
.simple-has-tip.has-tip{
  border-bottom: 0;
  cursor: pointer;
}

.action-icon.action-icon--remove{
  color: $alert-color;
}

.action-icon--hide{
  position: relative;

  &:before{
    border-left: 1px solid;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(rad-to-deg(atan2($action-icon-width, $action-icon-height)));
  }
}
