.card-title{
  @include smallcaps;
  font-size: 1rem;
  @include clearfix;
}

.card-footer{
  padding: $card-padding;
  border-top: 1px solid rgba(black, .1);
  .button--remove{
    margin-left: auto;
  }
}

.card__icon-open{
  display: none;
}
.card--collapsed{
  .card-section,
  .card-footer{
    display: none;
  }
  .card__icon-close{
    display: none;
  }
  .card__icon-open{
    display: block;
  }
}
