.draggable-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: ($global-padding * 2) + $global-lineheight;

  &.dragging{
    border-top: 2px dashed $medium-gray;
    border-bottom: 2px dashed $medium-gray;
    background-color: $body-background;
  }

  li{
    cursor: move;
    padding: $global-padding / 2 0;
  }

  .draggable-content{
    @include flex;
    @include flex-align(justify, middle);

    font-weight: $global-weight-bold;
    border: $border;
    background-color: $light-gray;
    padding: $global-padding / 2 $global-padding;
  }
}
