.filters__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: $global-padding $global-padding 0;

  & > .fcell{
    &.search{
      flex-grow: 1;
      margin: 0 .5rem;
    }

    &.status{
      width: 100%;
      margin-top: .5rem;

      .label{
        font-weight: 600;
        text-transform: uppercase;

        .type-icon{
          vertical-align: top;
        }

        .action-icon{
          vertical-align: text-bottom;

          &:first-child{
            margin-left: .5rem;
          }

          &.action-icon--remove{
            color: lighten(#e66a5d, 24);
            margin-left: .3rem;

            &:hover{
              color: #e66a5d;
            }
          }
        }
      }
    }
  }

  .button,
  .input-group{
    margin-bottom: 0;
  }

  .button.dropdown{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
  }

  .dropdown.menu{
    z-index: 100;

    .nested{
      background-color: $white;
      border: $card-border;
      border-radius: $global-radius;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    }

    & > li.is-dropdown-submenu-parent > a{
      padding-right: 1rem;

      &::after{
        border-top-color: $white;
      }

      &:hover{
        background-color: $button-background-hover;
        color: $white;
      }
    }

    li.is-active > a,
    li.is-active li.is-submenu-item > a:hover{
      background-color: $primary-color;
      color: $white;
    }

    .menu.vertical li.is-active.opens-right > a::after{
      border-left-color: $white;
    }
  }
}
