.loading-spinner{
  height: 25px;
  text-align: center;

  &::before{
    @include spinner(25px, $medium-gray, var(--primary), 800ms);

    content: "";
    vertical-align: middle;
  }
}

span.loading-spinner{
  height: 15px;

  &::before{
    @include spinner(15px, $medium-gray, var(--primary), 800ms);
  }
}
