.main-nav{
  width: 120px;
  min-height: 100%;
  background-color: $dark-gray;
  float: left;
  text-align: center;
}

.main-nav ul{
  list-style: none;
  margin-left: 0;
  a{
    padding-top: 1rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid rgba(white, .2);
    li:first-child > &{
      border-top: 1px solid rgba(white, .2);
    }
    display: block;
    color: $medium-gray;
    font-size: .7rem;
    text-transform: uppercase;
    &:hover{
      background-color: lighten($dark-gray, 10);
    }
  }
  .is-active a{
    color: $body-font-color;
    background-color: $white;
    box-shadow: inset 5px 0 0 $brand;
    border-bottom-color: $dark-gray;
  }

  .icon{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    opacity: .5;
  }
}
