.table-list tbody tr td.title {
  text-align: center;
  color: $medium-gray;
}

.table-list th {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .users_statistics {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .users_statistics {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .users_statistics {
    width: 33%;
  }
}
