.user-login{
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -1.2em;
  a{
    color: $body-font-color;
  }

  .is-dropdown-submenu-parent > a{
    color: white;
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a{
    padding-right: 1rem;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    border-top-color: $white;
    border-width: 4px;
    right: 0;
    margin-top: -1px;
  }
}
