.table-list.users_count tbody tr td.title {
  text-align: center;
  color: $medium-gray;
}

.table-list.users_count th:not(:first-child), .table-list.users_count td:not(:first-child) {
  text-align: center;
}

.table-list.users_count th:last-child, .table-list.users_count td:last-child {
  text-align: center;
}

.table-list.users_count th {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .users_statistics {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .users_statistics {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .users_statistics {
    width: 33%;
  }
}
