<div class="section">
  <h4 class="section-heading"><%= t("conferences.show.related_#{title}", scope: "decidim")%></h4>
  <div class="row small-up-1 medium-up-2 card-grid">
    <% model.each do |space| %>
      <%= card_for space %>
    <% end %>
  </div>
</div>
