<div class="statistic <%= stat_dom_class %>" data-statistic>
  <span class="statistic__title" title="<%= stat_title %>">
    <%= stat_title %>
  </span>
  <span class="statistic__number">
    <%= stat_number %>
  </span>
</div>
