<article class="card block-banner card--full card--process" style="background-color:#edf0ad; background-image:url(<%= image_path "demo-consultations-banner.jpg" %>);">
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card__content">
        <a href="/info" class="card__link">
          <h2 class="card__title">Consultas municipales Barcelona <br>
          <strong>MULTICONSULTA 2018</strong></h2>
        </a>
        <p class="lead">In hac habitasse platea dictumst. Vivamus adipiscing fermentum
          quam volutpat aliquam. Integer et elit eget elit facilisis
          tristique. Namvel iaculis mauris. Sed ullamcorper tellus erat, non
          ultrices semtincidunt euismod.
        </p>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-6 card--process__column">
        <div class="card__content row collapse">
          <div class="large-6 large-offset-6 columns">
            <a href="/info" class="button expanded button--sc">
              Participa
              <span class="button__info">Votaciones: 05/05/2018</span>
            </a>
          </div>
        </div>
    </div>
  </div>
</article>
