<div class="reveal" data-reveal id="budget-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Confirmar voto</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    Estos son los proyectos que has elegido para que formen parte de los presupuestos.
  </p>
  <div class="card card--secondary">
    <ul class="card__content">
      <li class="budget-summary__selected-item">
        <a href="#">
          Diagnòstic sobre l'existència i la necessitat de menjadors socials per a gent gran al Districte
        </a>
        <strong class="budget-summary__selected-number">22.000.000€</strong>
      </li>
      <li class="budget-summary__selected-item">
        <a href="#">
          Diagnòstic sobre l'existència i la necessitat de menjadors
        </a>
        <strong class="budget-summary__selected-number">22.000.000€</strong>
      </li>
      <li class="budget-summary__selected-item">
        <a href="#">
          Diagnòstic sobre l'existència i la necessitat de menjadors socials per a gent gran al Districte
        </a>
        <strong class="budget-summary__selected-number">22.000.000€</strong>
      </li>
      <li class="budget-summary__selected-item">
        <a href="#">
          Diagnòstic sobre l'existència i la necessitat de menjadors
        </a>
        <strong class="budget-summary__selected-number">33.000.000€</strong>
      </li>
      <li class="budget-summary__selected-item">
        <a href="#">
          Menjadors socials per a gent gran al Districte
        </a>
        <strong class="budget-summary__selected-number">55.000.000€</strong>
      </li>
      <li class="budget-summary__selected-item">
        <a href="#">
          Necessitat de menjadors
        </a>
        <strong class="budget-summary__selected-number">12.000.000€</strong>
      </li>
    </ul>
  </div>
  <p class="text-center">
    ¿Estás de acuerdo? Una vez hayas confirmado tu voto, no se puede cambiar.
  </p>
    <div class="row">
      <div class="columns medium-8 medium-offset-2">
        <button class="button expanded">Confirmar</button>
      </div>
    </div>
  <div class="text-center">
    <button class="link">Cancelar</button>
  </div>
</div>
