<div class="reveal" data-reveal id="budget-modal">
    <div class="reveal__header">
        <h3 class="reveal__title">M치ximo superado</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <p>
        Ese proyecto supera el presupuesto m치ximo y no puede ser a침adido. Si
         quieres, puedes eliminar un proyecto de los que ya has seleccionado para
          a침adir este, o bien realizar ya tu voto con tus preferencias.
    </p>
    <div class="row">
        <div class="columns medium-8 medium-offset-2">
            <button class="button expanded">De acuerdo</button>
        </div>
    </div>
</div>
