<div class="reveal" data-reveal id="budget-modal">
    <div class="reveal__header">
        <h3 class="reveal__title">Votación de distrito completada</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <p>
      Has votado en el <strong>distrito de Gràcia</strong> correctamente.
    </p>
    <p>
      Además de votar en tu distrito, puedes votar los presupuestos de uno de los
      siguientes distritos:
    </p>
    <div class="row">
      <div class="card card--list card--list--mini">
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Ciutat Vella
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Eixample
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Sants-Montjuïc
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Les Corts
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Sarrià-Sant Gervasi
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Horta-Guinardó
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Nou Barris
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Sant Andreu
              </a>
            </div>
          </div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <a href="#" class="card__link card--list__heading">
                Sant Martí
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="columns text-center">
            <button class="link">No votar en otros distritos</button>
        </div>
    </div>
</div>
