<div class="reveal" data-reveal id="budget-modal">
    <div class="reveal__header">
        <h3 class="reveal__title">Votación de distrito completada</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <p>
      Has votado en el <strong>distrito de Gràcia</strong> y en el <strong>distrito de Ciutat Vella</strong> correctamente.
    </p>

    <p>
      ¡Muchas gracias por tu participación!
    </p>

    <div class="row">
        <div class="columns medium-8 medium-offset-2">
            <button class="button expanded">Cerrar</button>
        </div>
    </div>
</div>
