<% for i in [
  "information",
  "process",
  "meetings",
  "proposals",
  "debates",
  "actions",
  "polls",
  "budgets",
  "random-seed",
  "euro-outline",
  "blog",
  "assemblies",
  "initiatives",
  "proposals",
  "sortition",
  "consultation",
  "videos",
  "profile",
  "members"
  ] do %>
  <div class="m-bottom">
    <div class="process-nav__link">
      <%= icon i %>
      <span><%= i %></span>
    </div>
  </div>
<% end %>
