<% for i in [
  "information",
  "process",
  "meetings",
  "debates",
  "actions",
  "polls",
  "budgets",
  "random-seed",
  "euro-outline",
  "datetime",
  "blog",
  "assemblies",
  "initiatives",
  "proposals",
  "sortition",
  "consultation",
  "videos",
  "profile",
  "members"
  ] do %>
  <div class="m-bottom">
    <div class="process-nav__link">
      <%= icon i %>
      <span><%= i %></span>
    </div>
  </div>
<% end %>
<!-- <%
file = Rails.root.join("app/assets/images/icons.svg")
doc = File.open(file) { |f| Nokogiri::XML(f) }
titles = doc.css("title").map(&:text)
%>

<% titles.each do |i| %>
  <div class="m-bottom">
    <div class="process-nav__link">
      <%= icon i %>
      <span><%= i %></span>
    </div>
  </div>
<% end %> -->
