<div class="reveal" data-reveal id="consultations-vote-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Multiconsulta: confirmar voto</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    Por favor, confirma el voto seleccionado.
  </p>
  <div class="card card--secondary">
    <div class="card__content">
      <h4 class="heading5 text-center">¿Quieres remunicipalizar el agua y que se gestione participativamente?</h4>
      <h5 class="heading6 text-center">A favor</h5>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded">Confirmar</button>
    </div>
  </div>
  <div class="text-center">
    <button class="link">Cambiar</button>
  </div>
</div>
