<div class="consultations-header row column">
  <div class="row column consultations-header__main"
   style="background-image:url(<%= image_path "demo-consultations-banner.jpg" %>;">
    <div class="consultations-header__container row">
      <div class="columns mediumlarge-9 consultations-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= link_to "Multiconsulta 2018", page_path("consultations") %>
          </h1>
          <a href="#" class="consultations-header__link">
            Ver todas las preguntas <%= icon "media-play" %>
          </a>
        </div>
      </div>
      <div class="columns mediumlarge-3">
        <div class="consultations-header__extra">
          <div>
            <span class="consultations-header__extra-title">
              Votación a partir de:
            </span>
            <span class="consultations-header__extra-date">
              02/06/2018
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row column consultations-title">
  <h1 class="heading1">
    <!-- IF the question is longer than 145 chars,
    the heading class should be heading2 instead. -->
    ¿Quieres remunicipalizar el agua y que se gestione participativamente?
  </h1>
  <div class="text-center">
    <a href="#"><strong>#MulticonsultaAigua</strong></a>
  </div>

  <div class="row consultations-home-intro">
    <div class="columns medium-5">
      <img src="<%= image_path "demo-consultations.jpg" %>" alt="">
    </div>
    <div class="columns medium-5">
      <h4 class="heading6">AMBIT</h4>
      <p>
        Iniciativa Ciudadana
      </p>
      <h4 class="heading6">GRUP PROMOTOR</h4>
      <p>
        Plataforma de Municipalización del Agua
      </p>
      <h4 class="heading6">ÀREA MUNICIPAL</h4>
      <p>
        Barcelona
      </p>
      <h4 class="heading6">ÀMBIT PARTICIPATIU</h4>
      <p>
        El resultado de la votación será apoyado en el pleno
      </p>
    </div>
  </div>

  <div class="text-center">
    <a href="#" disabled class="button large button--sc consultations-title__cta">
      Vota
      <span class="button__info">a partir de 10/06/2018</span>
    </a>
  </div>
</div>
