<div class="consultations-header row column">
  <div class="row column consultations-header__main"
   style="background-image:url(<%= image_path "demo-consultations-banner.jpg" %>);">
    <div class="consultations-header__container row">
      <div class="columns mediumlarge-9 consultations-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <a href="#">Multiconsulta 2018</a>
          </h1>
          <a href="#" class="consultations-header__link">
            Ver todas las preguntas <%= icon "media-play" %>
          </a>
        </div>
      </div>
      <div class="columns mediumlarge-3">
        <div class="consultations-header__extra">
          <div>
            <span class="consultations-header__extra-title">
              Votación a partir de:
            </span>
            <span class="consultations-header__extra-date">
              02/06/2018
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row column consultations-title">
  <h1 class="heading1">
    <!-- IF the question is longer than 145 chars,
    the heading class should be heading2 instead. -->
    ¿Quieres remunicipalizar el agua y que se gestione participativamente?
  </h1>
  <div class="text-center">
    <a href="#"><strong>#MulticonsultaAigua</strong></a>
  </div>
  <div class="text-center">
    <a href="#" disabled class="button large button--sc consultations-title__cta">
      Vota
      <span class="button__info">a partir de 10/06/2018</span>
    </a>
  </div>
</div>
