<div class="consultations-header consultations-home-banner row column">
  <div class="row column consultations-header__main"
   style="background-image:url(<%= image_path "demo-consultations-banner.jpg" %>);">
    <div class="consultations-header__container row">
      <div class="columns mediumlarge-9 consultations-header__info">
        <div>
          <h1 class="heading2">
            Multiconsulta 2018
          </h1>
          <p>
            Participación ciudadana por democracia directa.
          </p>
        </div>
      </div>
      <div class="columns mediumlarge-3">
        <div class="consultations-header__extra">
          <div>
            <span class="consultations-header__extra-title">
              Votación a partir de:
            </span>
            <span class="consultations-header__extra-date">
              02/06/2018
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
