<section class="extended hero"
  style="background-image:url(<%= image_path "hero-home.jpg" %>);">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-10 text-left">
        <h1 class="text-highlight hero-heading mb-none">
          IV Jornades MetaDecidim
        </h1>
        <h3 class="text-highlight">
          <span class="process-header__hashtag card__link">#MetaDecidim</span>
          Vols dissenyar el Facebook de la democràcia?</h3>
      </div>
    </div>
    <div class="row">
      <div class="row column medium-8 text-left mt-m">
        <div class="column medium-6">
          <button type="button" class="button hollow light expanded">31 NOV - 1 DIC Barcelona</button>
        </div>
        <div class="column medium-3">
          <%= link_to page_path("conferences/conference-view-registration") do %>
            <button type="button" class="button button--sc expanded">Registrate</button>
          <% end %>
        </div>
        <div class="column medium-3">
          <%= link_to page_path("conferences/conference-view-programme") do %>
            <button type="button" class="button button--sc secondary light expanded">Programa</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
