<div class="reveal" data-reveal id="consultations-vote-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Multiconsulta: votación de pregunta</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    Por favor, selecciona una opción. Ten en cuenta que una vez hayas confirmado
     tu voto, no se podrá cambiar.
  </p>
  <div class="card card--secondary">
    <div class="card__content">
      <h4 class="heading5 text-center">¿Quieres remunicipalizar el agua y que se gestione participativamente?</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button hollow expanded">A favor</button>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button hollow expanded">En contra</button>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button hollow expanded">En blanco</button>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button hollow expanded">Otra opción</button>
    </div>
  </div>
</div>
