<div class="dataconsent-warning" role="region">
  Aquest lloc web fa servir cookies pròpies i de tercers per millorar
  l’experiència de navegació, i oferir continguts i serveis d’interès.
  En continuar la navegació entenem que s’accepta
    <a href="http://www.barcelona.cat/ca/cookies.html" target="_blank">
      la nostra política de cookies (més informació)
    </a>.
    <div class="dataconsent-warning__action">
      <button class="button tiny cookie-bar__button">D'acord</button>
    </div>
</div>
