<div class="card--list__item">
  <div class="card--list__text">
    <div>
      <%= link_to file, class: "card__link", target: "_blank" do %>
        <h6 class="card--list__heading heading6">
          <%= title %> <small><%= type %></small>
        </h6>
      <% end %>
    </div>
  </div>
  <div class="card--list__data">
    <a href="" class="card--list__data__icon">
      <%= icon "cloud-download" %>
    </a>
  </div>
</div>
