<div class="row">
  <div class="columns">
    <h1 class="heading3">Consulta sobre la organización del Comité de Fiestas del Barrio del Fort Pienc</h1>
    <p>
      Active voting until: <strong>15th July 2020</strong>
    </p>
  </div>
</div>
<div class="row section">
  <div class="columns medium-4 mediumlarge-5">
    <img src="<%= asset_pack_path "media/images/superilles.jpg" %>" alt="">
  </div>
  <div class="columns medium-8 mediumlarge-7">
    <div class="section">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div>
        <a class="button" href="evote-1">
          Start voting
        </a>
      </div>
      <p class="text-sm">
        Already voted? <a href="evote-public-verify">Check&nbsp;your vote&nbsp;here</a>.
      </p>
    </div>
  </div>
</div>
