<div class="reveal" data-reveal id="evote-survey-onboarding-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Survey complete!</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    Do you want to create a new account in Decidim? You will be able to lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet risus ac sapien elementum porta. Nam ornare vitae mi vitae commodo.
  </p>
  <div class="row mt-sm">
    <div class="columns medium-8 medium-offset-2">
      <button class="button button--sc expanded">Create account</button>
      <div class="text-center">
        <button class="link" data-close>No, thanks</button>
      </div>
    </div>
  </div>
</div>
