<div class="row section">
  <div class="columns large-8">
    <h2 class="section-heading">Statistics</h2>
    <div class="space-stats">
      <div class="space-stats__data">
        <span class="space-stats__number">22,225</span>
        <h4 class="space-stats__title">Proposals</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">1678</span>
        <h4 class="space-stats__title">Participants</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">459</span>
        <h4 class="space-stats__title">Supports</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">506</span>
        <h4 class="space-stats__title">Followers</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">49</span>
        <h4 class="space-stats__title">Comments</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">96</span>
        <h4 class="space-stats__title">Endorsements</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">59</span>
        <h4 class="space-stats__title">Meetings</h4>
      </div>
      <div class="space-stats__data">
        <span class="space-stats__number">7</span>
        <h4 class="space-stats__title">Blog posts</h4>
      </div>
    </div>
  </div>
</div>
