<div class="row section">
  <div class="columns large-8">
    <h1 class="heading3">Election Log</h1>
    <p><%= Faker::Hipster.paragraph(sentence_count: 5) %></p>
    <div class="mt-sm">
      <div class="card">
        <div class="card__content">
          <div class="card__header">
            <span class="text-small">23/03/2021</span>
            <h5 class="card__title">New election created</h5>
          </div>
          <div class="card__text">
            <span>
              <span class="card__text--status success">Complete</span>
              <%= Faker::Hipster.paragraph(sentence_count: 2) %>
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <div class="card__header">
            <span class="text-small">20/03/2021</span>
            <h5 class="card__title">New Trustee key</h5>
          </div>
          <div class="card__text">
            <span>
              <span class="card__text--status success">Complete</span>
              <%= Faker::Hipster.paragraph(sentence_count: 2) %>
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <div class="card__header">
            <span class="text-small">15/03/2021</span>
            <h5 class="card__title">Election closed</h5>
          </div>
          <div class="card__text">
            <span>
              <span class="card__text--status alert">Closed</span>
              <%= Faker::Hipster.paragraph(sentence_count: 2) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
