<div class="row">
  <div class="columns mediumlarge-8">
    <div class="section">
      <p class="lead">
        <%= Faker::Hipster.paragraph(sentence_count: 4) %>
      </p>
      <p>
        <%= Faker::Hipster.paragraph(sentence_count: 8) %>
      </p>
      <p>
        <%= Faker::Hipster.paragraph(sentence_count: 10) %>
      </p>
      <div class="show-more">
        <button class="button button--muted tiny">
          Leer más
        </button>
      </div>
    </div>
  </div>
</div>
