<section class="extended hero"
  style="background-image:url(<%= asset_pack_path "media/images/hero-home.jpg" %>);">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-10 text-left">
        <h1 class="text-highlight hero-heading mb-none">
          Consultation Lorem Ipsum
        </h1>
        <h3 class="text-highlight">
          17/02/2021 - 14/03/2021
      </div>
    </div>
    <div class="row">
      <div class="row column medium-8 mt-m">
        <div class="column medium-3">
          <button type="button" class="button button--sc expanded">Take part</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row expanded">
  <%= partial "evote_nav" %>
</div>
