<div class="row section">
  <div class="columns large-8">
    <h2 class="section-heading">Election questions</h2>
    <p>
      These are the questions you will find in the voting process:
    </p>
    <ul class="accordion js-sortable evote__preview"
        data-accordion
        data-multi-expand="true"
        data-allow-all-closed="true">

          <li class="accordion-item evote__preview-question" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc">¿Estás de acuerdo con que se imponga una cuota de 40€ al año por miembro?</a>
            <div class="accordion-content" data-tab-content>
              <strong>Available answers:</strong>
              <ul>
                <li>Yes</li>
                <li>No</li>
                <li>Blank</li>
              </ul>
            </div>
          </li>
          <li class="accordion-item evote__preview-question" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc">¿Con cuáles de estas afirmaciones sobre la organización del Comité de Fiestas estás de acuerdo?</a>
            <div class="accordion-content" data-tab-content>
              <strong>Available answers:</strong>
              <ul>
                <li>El Comité debería abordar otros problemas del barrio más allá de las fiestas</li>
                <li>Las asambleas deberían hacerse cada mes en vez de cada tres, como hasta ahora</li>
                <li>El foro debería abrirse a la participación de todas y todos</li>
                <li>Blank/None of the above</li>
              </ul>
            </div>
          </li>
          <li class="accordion-item evote__preview-question" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc"> ¿Qué programa organizativo crees que debería aplicar el Comité de Fiestas durante el próximo año? </a>
            <div class="accordion-content" data-tab-content>
              <strong>Available answers:</strong>
              <ul>
                <li>El plan de Expansión Trasversal</li>
                <li>El plan de Participación Vecinal Inclusiva</li>
                <li>El plan de Intervención Social Aplicada</li>
                <li>Blank / None of the above</li>
              </ul>
            </div>
          </li>
      </ul>
      <% if locals[:hasCta] %>
        <div class="mt-m">
          <a class="button button--sc" href="evote-1">
            Start voting
          </a>
        </div>
        <p class="text-sm">
          Already voted? <a href="evote-public-verify">Check&nbsp;your vote&nbsp;here</a>.
        </p>
      <% end %>
  </div>
</div>
