<section class="extended hero"
  style="background-image:url(<%= image_path "hero-home.jpg" %>);">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-10 text-left">
        <h1 class="text-highlight hero-heading mb-none">
          Consultation Lorem Ipsum
        </h1>
        <h3 class="text-highlight">
          <span class="process-header__hashtag card__link">#consultation</span>
          Lorem ipsum dolor sit amet</h3>
      </div>
    </div>
    <div class="row">
      <div class="row column medium-8 text-left mt-m">
        <div class="column medium-3">
          <button type="button" class="button button--sc expanded">Take part</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row expanded">
  <%= partial "process_nav" %>
</div>
