<div class="row section">
  <div class="columns medium-4 mediumlarge-5">
    <img src="<%= asset_pack_path "media/images/superilles.jpg" %>" alt="">
  </div>
  <div class="columns medium-8 mediumlarge-7">
    <div class="section">
      <div class="callout secondary">
        Hurry up! Only <strong>10 hours 45 minutes</strong> remaining to vote.
      </div>
      <p><%= Faker::Hipster.paragraph(sentence_count: 6) %></p>
      <p><%= Faker::Hipster.paragraph(sentence_count: 6) %></p>
    </div>
  </div>
</div>
