<div class="row section">
  <div class="columns medium-4 mediumlarge-5">
    <img src="<%= image_path "superilles.jpg" %>" alt="">
  </div>
  <div class="columns medium-8 mediumlarge-7">
    <div class="section">
      <p><%= Faker::Hipster.paragraph(sentence_count: 6) %></p>
      <p><%= Faker::Hipster.paragraph(sentence_count: 6) %></p>
    </div>
  </div>
</div>
