<div class="row section results-stats">
  <div class="columns large-8">
    <h1 class="heading3">Statistics</h1>
    <p><%= Faker::Hipster.paragraph(sentence_count: 3) %></p>

    <div class="table-scroll">
      <table class="results-stats__table">
        <caption>Total votes</caption>
        <thead>
          <tr>
            <th>Online</th>
            <th>In-person</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>475.578 <span class="results-stats__percentage">(49,34%)</span></td>
            <td>525.315 <span class="results-stats__percentage">(50,66%)</span></td>
            <td><strong>1.000.893 <span class="results-stats__percentage">(100%)</span></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-scroll">
      <table class="results-stats__table">
        <caption>Total participants</caption>
        <thead>
          <tr>
            <th>Online</th>
            <th>In-person</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>76,481  <span class="results-stats__percentage">(35,73%)</span></td>
            <td>23.315  <span class="results-stats__percentage">(11,05%)</span></td>
            <td><strong>117.893 <span class="results-stats__percentage">(100%)</span></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-scroll">
      <table class="results-stats__table">
        <caption>Participation by gender</caption>
        <thead>
          <tr>
            <th>Gender</th>
            <th>Online</th>
            <th>In-person</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Men</th>
            <td>108.591 <span class="results-stats__percentage">(47%)</span></td>
            <td>1.315 <span class="results-stats__percentage">(1,05%)</span></td>
            <td><strong>214.893 <span class="results-stats__percentage">(48,05%)</span></strong></td>
          </tr>
          <tr>
            <th scope="row">Women</th>
            <td>108.591 <span class="results-stats__percentage">(49%)</span></td>
            <td>1.315 <span class="results-stats__percentage">(1,15%)</span></td>
            <td><strong>214.893 <span class="results-stats__percentage">(50,15%)</span></strong></td>
          </tr>
          <tr>
            <th scope="row">Non binary</th>
            <td>108.591 <span class="results-stats__percentage">(1,20%)</span></td>
            <td>1.315 <span class="results-stats__percentage">(0,60%)</span></td>
            <td><strong>14.893 <span class="results-stats__percentage">(1,80%)</span></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-scroll">
      <table class="results-stats__table">
        <caption>Participation by age group</caption>
        <thead>
          <tr>
            <th>Age</th>
            <th>Online</th>
            <th>In-person</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>14-19 y.o.</th>
            <td>2.305 <span class="results-stats__percentage">(1,06%)</span></td>
            <td>576 <span class="results-stats__percentage">(0,27%)</span></td>
            <td><strong>7.181 <span class="results-stats__percentage">(3,3%)</span></strong></td>
          </tr>
          <tr>
            <th>20-24 y.o.</th>
            <td>5.628 <span class="results-stats__percentage">(2,59%)</span></td>
            <td>912 <span class="results-stats__percentage">(0,42%)</span></td>
            <td><strong>12.561 <span class="results-stats__percentage">(5,78%)</span></strong></td>
          </tr>
          <tr>
            <th>25-29 y.o.</th>
            <td>8.447 <span class="results-stats__percentage">(3,89%)</span></td>
            <td>1.267 <span class="results-stats__percentage">(0,58%)</span></td>
            <td><strong>17.057 <span class="results-stats__percentage">(7,85%)</span></strong></td>
          </tr>
          <tr>
            <th>30-34 y.o.</th>
            <td>11.733 <span class="results-stats__percentage">(5,40%)</span></td>
            <td>1.723 <span class="results-stats__percentage">(0,79%)</span></td>
            <td><strong>22.837 <span class="results-stats__percentage">(10,98%)</span></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-scroll">
      <table class="results-stats__table">
        <caption>Participation by district</caption>
        <thead>
          <tr>
            <th>District</th>
            <th>Online</th>
            <th>In-person</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Ciutat Vella</th>
            <td>2.305 <span class="results-stats__percentage">(1,06%)</span></td>
            <td>576 <span class="results-stats__percentage">(0,27%)</span></td>
            <td><strong>7.181 <span class="results-stats__percentage">(3,3%)</span></strong></td>
          </tr>
          <tr>
            <th>Gràcia</th>
            <td>5.628 <span class="results-stats__percentage">(2,59%)</span></td>
            <td>912 <span class="results-stats__percentage">(0,42%)</span></td>
            <td><strong>12.561 <span class="results-stats__percentage">(5,78%)</span></strong></td>
          </tr>
          <tr>
            <th>Eixample</th>
            <td>8.447 <span class="results-stats__percentage">(3,89%)</span></td>
            <td>1.267 <span class="results-stats__percentage">(0,58%)</span></td>
            <td><strong>17.057 <span class="results-stats__percentage">(7,85%)</span></strong></td>
          </tr>
          <tr>
            <th>Horta-Guinardó</th>
            <td>11.733 <span class="results-stats__percentage">(5,40%)</span></td>
            <td>1.723 <span class="results-stats__percentage">(0,79%)</span></td>
            <td><strong>22.837 <span class="results-stats__percentage">(10,98%)</span></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
