<div class="row section">
  <div class="columns large-8">
    <h1 class="heading3">Check your census data</h1>
    <p><%= Faker::Hipster.paragraph(sentence_count: 3) %></p>

      <% if locals[:success] %>
        <div class="callout success mt-s">
          <h5>Your census data is correct!</h5>
          <p>If you don't have one, you can <a href="#">ask for an Access Code</a>.</p>
        </div>
      <% elsif locals[:blocked] %>
        <div class="callout alert mt-s">
          <h5>Too many attempts.</h5>
          <p>There has been too many incorrect attempts. You can try again in 24 hours.</p>
        </div>
      <% elsif locals[:error] %>
        <div class="callout alert mt-s">
          <h5>Your census data is incorrect!</h5>
          <p>Please try again. If you think the data in the system is incorrect, you can <a href="#">report it</a>.</p>
        </div>
          <div class="row mt-sm">
          <div class="columns medium-7">
            <p><strong>Fill the following form to check your census data:</strong></p>
            <div class="card">
              <div class="card__content">
                <form>
                  <div>
                    <div>
                      <label>Document type
                        <select>
                          <option disabled selected hidden>Select the type of document</option>
                          <option>Passport</option>
                          <option>DNI</option>
                        </select>
                      </label>
                    </div>
                    <div>
                      <label>Document number
                        <input type="text" placeholder="ID number">
                      </label>
                    </div>
                    <div>
                      <label>Postal code
                        <input type="text" placeholder="Postal code number">
                      </label>
                    </div>
                    <fieldset>
                      <legend>Date of birth</legend>
                      <div class="row">
                        <label class="columns small-4">Day
                          <input type="text" placeholder="DD">
                        </label>
                        <label class="columns small-4">Month
                          <input type="text" placeholder="MM">
                        </label>
                        <label class="columns small-4">Year
                          <input type="text" placeholder="YY">
                        </label>
                      </div>
                    </fieldset>
                  </div>
                  <button type="button" class="button expanded mt-s mb-none">Check status</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row mt-sm">
          <div class="columns medium-7">
            <p><strong>Fill the following form to check your census data:</strong></p>
            <div class="card">
              <div class="card__content">
                <form>
                  <div>
                    <div>
                      <label>Document type
                        <select>
                          <option disabled selected hidden>Select the type of document</option>
                          <option>Passport</option>
                          <option>DNI</option>
                        </select>
                      </label>
                    </div>
                    <div>
                      <label>Document number
                        <input type="text" placeholder="ID number">
                      </label>
                    </div>
                    <div>
                      <label>Postal code
                        <input type="text" placeholder="Postal code number">
                      </label>
                    </div>
                    <fieldset>
                      <legend>Date of birth</legend>
                      <div class="row">
                        <label class="columns small-4">Day
                          <input type="text" placeholder="DD">
                        </label>
                        <label class="columns small-4">Month
                          <input type="text" placeholder="MM">
                        </label>
                        <label class="columns small-4">Year
                          <input type="text" placeholder="YY">
                        </label>
                      </div>
                    </fieldset>
                  </div>
                  <button type="button" class="button expanded mt-s mb-none">Check status</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
