<div class="filters">
  <div class="filters__section">
    <form>
      <fieldset>
        <legend>
          <h6 class="heading6">
            Origen
            <span class="help">
              <%= icon "info", class: "icon--after" %>
            </span>
          </h6>
        </legend>
        <label><input id="" type="radio" name="author" checked>Tots</label>
        <label><input id="" type="radio" name="author">Ajuntament</label>
        <label><input id="" type="radio" name="author">Ciutadania</label>
        <label><input id="" type="radio" name="author">Organitzacions</label>
        <label><input id="" type="radio" name="author">Cites presencials</label>
      </fieldset>
    </form>
  </div>
  <div class="filters__section">
    <form>
      <fieldset>
        <legend><h6 class="heading6">Resultat de la revisió</h6></legend>
          <label data-global-checkbox><input data-checkboxes-tree="filters-review" type="checkbox" checked>Totes</label>
          <div id="filters-review" class="filters__subfilters">
            <label data-children-checkbox><input type="checkbox" checked>Acceptades</label>
            <label data-children-checkbox><input type="checkbox" checked>Rebutjades</label>

          </div>
      </fieldset>
    </form>
  </div>
  <div class="filters__section">
    <form>
      <fieldset>
        <legend><h6 class="heading6">Tu actividad</h6></legend>
        <label><input id="" type="checkbox">Creadas</label>
        <label><input id="" type="checkbox">Comentadas</label>
        <label><input id="" type="checkbox">Votadas</label>
        <label><input id="" type="checkbox">Seguidas</label>
      </fieldset>
    </form>
  </div>
  <div class="filters__section">
    <%= partial "tags" %>
  </div>
  <div class="filters__section">
    <form>
      <fieldset>
        <legend>
          <h6 class="heading6">
            Eix
            <span class="help">
              <%= icon "info", class: "icon--after" %>
            </span>
          </h6>
        </legend>
        <label data-global-checkbox><input data-checkboxes-tree="filters-axis" type="checkbox" checked>Tots</label>
        <div id="filters-axis" class="filters__subfilters">
          <label data-children-checkbox><input id="" type="checkbox" checked>Bon viure</label>
          <label data-children-checkbox><input id="" type="checkbox" checked>Economia plural</label>
          <label data-children-checkbox><input id="" type="checkbox" checked>Transició ecològica</label>
          <label data-children-checkbox><input id="" type="checkbox" checked>Bon govern</label>
          <label data-children-checkbox><input id="" type="checkbox" checked>Justícia global</label>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="filters__section">
    <form>
      <fieldset>
        <legend><h6 class="heading6">Altres</h6></legend>
        <label><input id="" type="checkbox">Debatudes a cites presencials</label>
      </fieldset>
    </form>
  </div>
  <div class="filters__section">
    <%= partial "scope" %>
  </div>
</div>
