<div class="row collapse filter-tags">
  <strong class="filter-tags__title">Filtres actius:</strong>
  <span class="filter-tag">
    <span class="filter-tag__label">Fase 2</span>
    <a href="#" class="filter-tag__close">
      <%= icon "x", class:"icon--small", aria_label:"Treure" %>
    </a>
  </span>
  <span class="filter-tag">
    <span class="filter-tag__label">Ajuntament</span>
    <a href="#" class="filter-tag__close">
      <%= icon "x", class:"icon--small", aria_label:"Treure" %>
    </a>
  </span>
</div>
