<div class="filters">
  <div class="filters__section">
    <form>
      <fieldset>
        <legend>
          <h6 class="heading6">
            Veure
          </h6>
        </legend>
        <label><input id="" type="radio" name="author" checked>Tots</label>
        <label><input id="" type="radio" name="author">Comentaris</label>
        <label><input id="" type="radio" name="author">Propostes</label>
        <label><input id="" type="radio" name="author">Trobades</label>
        <label><input id="" type="radio" name="author">Altres</label>
      </fieldset>
    </form>
  </div>
</div>
