<%= partial "filters_small_view" %>
<div class="show-for-mediumlarge">
  <p><%= link_to "Back to all results", page_path("search") %></p>
  <div class="card card--secondary">
    <%= partial "filters" %>
  </div>
</div>