<div class="floating-helper">
  <div class="floating-helper__layout">
    <div class="floating-helper__content">
      <div class="floating-helper__text">
        Ayuda
      </div>
      <div class="floating-helper__icon">
        <%= icon "question-mark", class: "icon--small" %>
      </div>
    </div>
  </div>
</div>
