<h1 class="heading2">
  Vote confirmed
</h1>
<h2 class="h4">Your vote has already been cast!</h2>
<div class="evote__content">
  <p>
    You can check that your vote has been successfully added to the ballot box with the following identifier:  <strong class="evote__poll-id">qw12Sf35vVb556Hfvh7qw12Sf35vVb556Hfvh7</strong>
  </p>
  <p>
    To check it, copy the identifier and paste it on the <a href="evote-verify">vote verification page</a>
  </p>
</div>

<a href="evote-poll-list" class="button">
  Back to Decidim
</a>
<div>
How was the experience?
<a href="survey">
  Give us some feedback
</a>
</div>
