<h1 class="heading2">
  Identify myself with my voting census data
</h1>
<div class="evote__content">
  <div class="evote__grid">
    <div class="row mt-sm">
      <div class="columns medium-centered large-8">
        <p class="text-center"><strong>Fill the following form to access the voting:</strong></p>
        <div class="card">
          <div class="card__content">
            <form>
              <div>
                <div>
                  <label>Document type
                    <select>
                      <option disabled="" selected="" hidden="">Select the type of document</option>
                      <option>Passport</option>
                      <option>DNI</option>
                    </select>
                  </label>
                </div>
                <div>
                  <label>Document number
                    <input type="text" placeholder="ID number">
                  </label>
                </div>
                <div>
                  <label>Postal code
                    <input type="text" placeholder="Postal code number">
                  </label>
                </div>
                <fieldset>
                  <legend>Date of birth</legend>
                  <div class="row">
                    <label class="columns small-4">Day
                      <input type="text" placeholder="DD">
                    </label>
                    <label class="columns small-4">Month
                      <input type="text" placeholder="MM">
                    </label>
                    <label class="columns small-4">Year
                      <input type="text" placeholder="YY">
                    </label>
                  </div>
                </fieldset>
                <div>
                  <label>Access code
                    <input type="text" placeholder="Access code number">
                  </label>
                </div>
              </div>
              <button type="button" class="button expanded mt-s mb-none">Start voting</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    Don't have an access code?
    <button type="button" class="link" data-open="evote-access-code-modal">Ask for a new one.</button>
  </p>

  <%= partial "evote_access_code_modal" %>
</div>
