<h1 class="heading2">
  Cifrando voto…
</h1>
<div class="evote__encrypting" aria-hidden="true">
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
</div>
<p>
  Tu voto se está cifrando para garantizar que puedas emitirlo de forma anónima.
</p>