<div class="focus__footer">
  <div class="row">
    <a href="#" class="focus__back">
      <%= icon("chevron-left", class: "icon", role: "img") %>
      Atrás
    </a>
    <a href="#" class="button focus__next">
      Siguiente
      <%= icon("chevron-right", class: "icon", role: "img") %>
    </a>
  </div>
</div>