<h1 class="h2">
  ¿Qué socias y socios crees que deberían presidir la mesa del Comité de Fiestas del Barrio del Fort Pienc?
</h1>
<p>
  Puedes elegir hasta 4.
</p>
<div class="evote__options">
<% (1..30).each do  %>
  <label class="evote__check evote__card">
    <input type="checkbox" />
    <span class="evote__check-label">
      <%= Faker::Name.name %>
    </span>
  </label>
<% end %>
</div>

<div class="evote__counter">
  <div>
  <strong class="evote__counter-num">3</strong> de
  <span class="evote__counter-num">4</span>
  </div>
  seleccionados
</div>