<h1 class="h2">
  ¿Qué programa organizativo crees que debería aplicar el Comité de Fiestas durante el próximo año?
</h1>
<div class="evote__options">
  <label class="evote__check evote__card">
    <input type="radio" name="programa" />
    <span class="evote__check-label">
      El plan de Expansión Trasversal
      <span class="evote__check-extra">
        <button class="link" data-toggle="show-focus-modal">más información</button>
      </span>
    </span>
  </label>
  <label class="evote__check evote__card">
    <input type="radio" name="programa" />
    <span class="evote__check-label">
      El plan de Participación Vecinal Inclusiva
      <span class="evote__check-extra">
        <button class="link" data-toggle="show-focus-modal">más información</button>
      </span>
    </span>
  </label>
  <label class="evote__check evote__card">
    <input type="radio" name="programa" />
    <span class="evote__check-label">
      El plan de Intervención Social Aplicada
      <span class="evote__check-extra">
        <button class="link" data-toggle="show-focus-modal">más información</button>
      </span>
    </span>
  </label>
  <label class="evote__check evote__card">
    <input type="radio" name="programa" />
    <span class="evote__check-label">
      Indiferente / en blanco
      <span class="evote__check-extra">
        <button class="link" data-toggle="show-focus-modal">más información</button>
      </span>
    </span>
  </label>
  <%= partial "focus_modal" %>
</div>