<div class="reveal" id="show-focus-modal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Propuesta de Plan de Expansión Trasversal</h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row m-bottom">
    <div class="columns">
      <div class="section">
        <img src="<%= image_path "superilles.jpg" %>" alt="">
      </div>
      <div class="section">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="section">
        <h4 class="heading4">Propuestas recogidas:</h4>
        <ul>
          <li><a href="#">Plan de expansión transversal</a></li>
          <li><a href="#">Propuesta del Comité de Fiestas</a></li>
          <li><a href="#">Documento de referencia técnica</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-4 medium-centered">
      <button class="button expanded" data-close>
        Cerrar
      </button>
    </div>
  </div>
</div>
