<div class="reveal" id="show-focus-modal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Title</h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="columns medium-4 medium-centered">
      <p>Desc</p>


      <div class="button--double form-general-submit">
        <button class="button" data-open="user_email" data-open-url="">
          ok
        </button>
      </div>
    </div>
  </div>
</div>
