<div class="focus__top">
  <a href="/" class="focus__brand">
    <%= image_tag "decidim-logo-red.png", alt: "Decidim Barcelona" %>
  </a>
  <a href="/" class="focus__exit">
    <%= icon("account-logout", class: "icon", role: "img") %>
    Salir
  </a>
</div>