<h1 class="heading2">
  ¿Con cuáles de estas afirmaciones sobre la organización del Comité de Fiestas estás&nbsp;de&nbsp;acuerdo?
</h1>
<p>
  Puedes seleccionar varias o ninguna.
</p>
<div class="evote__options">
  <label class="evote__check evote__card">
    <input type="checkbox" />
    <span class="evote__check-label">
      El Comité debería abordar otros problemas del barrio más allá de las fiestas
    </span>
  </label>
  <label class="evote__check evote__card">
    <input type="checkbox" />
    <span class="evote__check-label">
      Las asambleas deberían hacerse cada mes en vez de cada tres, como hasta ahora
    </span>
  </label>
  <label class="evote__check evote__card">
    <input type="checkbox" />
    <span class="evote__check-label">
      El foro debería abrirse a la participación de todas y todos
    </span>
  </label>
</div>