<h1 class="heading2">
  Encrypting vote…
</h1>
<div class="evote__encrypting" aria-hidden="true">
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
  <div class="evote__dot"></div>
</div>
<p>
  Your vote is being encrypted to ensure you can cast it anonymously.
</p>
