<h1 class="h2">
  Verifica tu voto
</h1>
<p>
  Este verificador comprueba que tu voto, identificado con una cadena de texto cifrada,
  ha sido emitido correctamente y se encuentra dentro de la urna.
</p>
<div class="evote__content">
  <div class="callout success">
    <h2 class="h4">
    ¡Voto localizado correctamente!
    </h2>
    <p>
      Tu voto cifrado se encuentra en la urna de la votación<br><a href="#">Consulta sobre el sistema de organización del Comité de Fiestas del Barrio del Fort&nbsp;Pienc</a>.
    </p>
  </div>
  <form class="form">
    <label>
      Código de identificación:
      <input type="text" value="qw12Sf35vVb556Hfvh7qw12Sf35vVb556Hfvh7">
    </label>
    <div>
      <button type="submit" class="button">Comprobar</button>
    </div>
    <a href="#">Volver a Decidim</a>
  </form>
</div>