<div class="focus__content evote">
  <div class="row">
    <% if locals[:step] == 1 %>
      <h1 class="h2">
        ¿Estás de acuerdo con que se imponga una cuota de 40€ al año por miembro?
      </h1>
      <div class="evote__options-center">
        <button class="button secondary hollow evote__button-big">En contra</button>
        <button class="button secondary hollow evote__button-big">A favor</button>
        <button class="button secondary hollow evote__button-big">Indiferente</button>
      </div>
    <% elsif locals[:step] == 2 %>
      <h1 class="h2">
        ¿Con cuáles de estas afirmaciones sobre la organización del Comité de Fiestas estás&nbsp;de&nbsp;acuerdo?
      </h1>
      <p>
        Puedes seleccionar varias o ninguna.
      </p>
      <div class="evote__options">
        <label class="evote__check">
          <input type="checkbox" />
          El Comité debería abordar otros problemas del barrio más allá de las fiestas
        </label>
        <label class="evote__check">
          <input type="checkbox" />
          Las asambleas deberían hacerse cada mes en vez de cada tres, como hasta ahora
        </label>
        <label class="evote__check">
          <input type="checkbox" />
          El foro debería abrirse a la participación de todas y todos
        </label>
      </div>
    <% elsif locals[:step] == 3 %>
      <h1 class="h2">
        ¿Qué programa organizativo crees que debería aplicar el Comité de Fiestas durante el próximo año?
      </h1>
      <div class="evote__options">
        <label class="evote__check">
          <input type="checkbox" />
          El plan de Expansión Trasversal (<a href="#">más información</a>)
        </label>
        <label class="evote__check">
          <input type="checkbox" />
          El plan de Participación Vecinal Inclusiva (<a href="#">más información</a>)
        </label>
        <label class="evote__check">
          <input type="checkbox" />
          El plan de Intervención Social Aplicada (<a href="#">más información</a>)
        </label>
        <label class="evote__check">
          <input type="checkbox" />
          Indiferente / en blanco (<a href="#">más información</a>)
        </label>
      </div>
    <% elsif locals[:step] == 4 %>
      <h1 class="h2">
        ¿Qué socias y socios crees que deberían presidir la mesa del Comité de Fiestas del Barrio del Fort Pienc?
      </h1>
      <p>
        Puedes elegir hasta 4.
      </p>
      <div class="evote__options">
      <% (1..30).each do  %>
        <label class="evote__check">
          <input type="checkbox" />
          <%= Faker::Name.name %>
        </label>
      <% end %>
      </div>
    <% elsif locals[:step] == 4 %>
      <h1 class="h2">

      </h1>
      <div class="evote__options">
        <button class="button secondary hollow evote__button-big">En contra</button>
        <button class="button secondary hollow evote__button-big">A favor</button>
        <button class="button secondary hollow evote__button-big">Indiferente</button>
      </div>
    <% end %>
  </div>
</div>