<h1 class="heading2">
  ¿Estás de acuerdo con que se imponga una cuota de 40€ al año por miembro?
</h1>
<div class="evote__options evote__options--boolean">
  <label class="evote__boolean evote__boolean-ok evote__card">
    <input type="radio" name="programa" />
    <span class="evote__boolean-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
      A favor
    </span>
  </label>
  <label class="evote__boolean evote__boolean-ko evote__card">
    <input type="radio" name="programa" />
    <span class="evote__boolean-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-frown"><circle cx="12" cy="12" r="10"></circle><path d="M16 16s-1.5-2-4-2-4 2-4 2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
      En contra
    </span>
  </label>
  <label class="evote__boolean evote__boolean-indiferent evote__card">
    <input type="radio" name="programa" />
    <span class="evote__boolean-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-meh"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="15" x2="16" y2="15"></line><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
      Indiferente
    </span>
  </label>
</div>