<div class="card text-center">
  <div class="card__content">
    <button class="button secondary hollow expanded button--icon button--sc">
      <%= icon "bell" %>
      <span>Seguir</span>
    </button>
    <small>Recibe una notificación cuando haya novedades en esta propuesta</small>
  </div>
</div>
