<div class="gallery row">
  <div class="columns small-6 medium-4">
    <%= image_tag "meeting1.jpg", class: "thumbnail" %>
  </div>
  <div class="columns small-6 medium-4">
    <%= image_tag "meeting2.jpg", class: "thumbnail" %>
  </div>
  <div class="columns small-6 medium-4 end">
    <%= image_tag "meeting3.jpg", class: "thumbnail" %>
  </div>
</div>
