<div class="gallery row">
  <div class="columns small-6 medium-4">
    <%= image_pack_tag "media/images/meeting1.jpg", class: "thumbnail" %>
  </div>
  <div class="columns small-6 medium-4">
    <%= image_pack_tag "media/images/meeting2.jpg", class: "thumbnail" %>
  </div>
  <div class="columns small-6 medium-4 end">
    <%= image_pack_tag "media/images/meeting3.jpg", class: "thumbnail" %>
  </div>
</div>
