<button class="help" data-toggle="help">
  <%= icon "info", class: "icon--after" %>
</button>

<div class="reveal" id="help" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title">Información sobre este elemento</h3>
    <button class="close-button" data-close aria-label="Cerrar modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac varius dui,
    egestas rutrum metus. Nulla venenatis elit tortor, id rhoncus sem interdum
    vel. In magna mauris, blandit rhoncus enim non, malesuada egestas nisl.
    Donec aliquet commodo imperdiet. Morbi non elit arcu. Nullam magna urna,
    hendrerit convallis dui a, vulputate</p>
</div>
