<div class="row column text-center">
  <h2 class="heading2">decidim en cifras</h2>
</div>
<div class="row">
  <% 3.times do %>
  <div class="column medium-4">
    <% partial "linechart" %>
  </div>
  <% end %>
</div>
<div class="row">
  <% 6.times do %>
  <div class="column medium-2">
    <% partial "linechart" %>
  </div>
  <% end %>
</div>
