<div class="row column text-center mb-sm">
  <h2 class="heading2">decidim en cifras</h2>
</div>
<div class="row mb-sm">
  <% 3.times do %>
  <div class="column medium-4">
    <%= partial "areachart", metric: "areachart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<div class="row collapse section">
  <% 3.times do %>
  <div class="column medium-4">
    <div class="column medium-6">
      <%= partial "areachart", classes: "small", metric: "areachart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1) %>
    </div>
    <div class="column medium-6">
      <%= partial "areachart", classes: "small", metric: "areachart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1) %>
    </div>
  </div>
  <% end %>
</div>
<div class="row column text-center">
  <%= link_to "Ver estadísticas del sitio", page_path("stats") %>
</div>
