<div id="linechart-<%= SecureRandom.random_number(9999) %>"
  class="linechart<%= " small" if small ||= false %>"
  data-url="<%= url ||= "" %>"
  data-title="<%= Faker::Commerce.department(1) %>"></div>
