<div class="mini-footer">
  <div class="row">
    <div class="columns">
      <a rel="license" class="cc-badge"
         href="http://creativecommons.org/licenses/by-sa/4.0/"
         target="_blank">
        <%= image_tag "cc-badge.png" %>
      </a>
      Aquesta web està feta amb
      <a target="_blank" href="https://github.com/AjuntamentdeBarcelona/decidimbcn">
        software lliure</a>, basat en
      <a target="_blank" href="https://github.com/consul/consul">consul</a>.
    </div>
  </div>
</div>
