<div class="order-by">
  <div class="order-by__dropdown">
    <span class="order-by__text">Ordenar
      <!--<strong>168
      <% if @activepage == "actions" %>
       actuacions
    <% end %>
    <% if @activepage == "proposals" %>
       propostes
    <% end %>
    <% if @activepage == "debates" %>
       debats
    <% end %>
    <% if @activepage == "meetings" %>
     cites
    <% end %>
      </strong>-->
      per:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Pesos</a>
        <ul class="menu">
          <li><a href="#">Pesos</a></li>
          <li><a href="#">Aleatòries</a></li>
          <li><a href="#">Amb més suport</a></li>
          <li><a href="#">Més participades</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
