<% actives ||= Faker::Number.between(from: 0, to: 2) %>
<% futures ||= Faker::Number.between(from: 0, to: 2) %>
<% pasts ||= Faker::Number.between(from: 0, to: 2) %>
<div class="row collapse order-by">
  <h2 class="order-by__text section-heading">
    <%= actives > 0 ? actives.to_s + " activos" : futures > 0 ? futures.to_s + " futuros" : (actives + pasts + futures).to_s + " en total" %>
    <%= partial "order_by__tabs", { actives: actives, pasts: pasts, futures: futures } %>
  </h2>
  <div class="order-by__dropdown order-by__dropdown--right">
    <span class="order-by__text">Ordenar per:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Más recientes</a>
        <ul class="menu">
          <li><a href="#">Más recientes</a></li>
          <li><a href="#">Fecha de finalización</a></li>
          <li><a href="#">Amb més suport</a></li>
          <li><a href="#">Més participades</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<% if actives == 0 && futures == 0 %>
<div class="row column">
  <div class="callout warning mb-sm">
    <p>There are no active nor next planned processes. Here is a list of the past ones. <a href="#">Signup to receive updates on next processes</a>.</p>
  </div>
</div>
<% end %>
