<div class="order-by">
  <div class="order-by__dropdown">
    <span class="order-by__text">Order by:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Random order</a>
        <ul class="menu">
          <li><a href="#">Random order</a></li>
          <li><a href="#">Highest cost</a></li>
          <li><a href="#">Lowest cost</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
