<div class="row collapse order-by">
  <h2 class="order-by__text section-heading">
    3 Active votings
    <span class="order-by__tabs ml-s">
      <a class="order-by__tab is-active" href="#"><strong>Active</strong></a>
      <a class="order-by__tab" href="#"><strong>Incoming</strong></a>
      <a class="order-by__tab" href="#"><strong>Past</strong></a>
    </span>
  </h2>
  <div class="order-by__dropdown order-by__dropdown--right">
    <span class="order-by__text">Order by:</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Newer</a>
        <ul class="menu">
          <li><a href="#">Newer</a></li>
          <li><a href="#">Older</a></li>
          <li><a href="#">More active</a></li>
          <li><a href="#">Closing soon</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>