<div class="order-by">
  <div class="order-by__dropdown">
    <span class="order-by__text">Resultados por página</span>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">20</a>
        <ul class="menu">
          <li><a href="#">10</a></li>
          <li><a href="#">20</a></li>
          <li><a href="#">50</a></li>
          <li><a href="#">100</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
