<div class="polling_officer_zone">
  <div class="callout success">
    <p>You have been assigned to act as a Polling Station Officer (President or Manager) in some of the elections celebrated in this platform.</p>
  </div>

  <h2>Polling Stations</h2>
    <div class="card card--secondary">
      <div class="card__content">
        <div class="card__header">
          <a href="#" class="card__link">
            <h5 class="card__title">Voting name lorem ipsum dolor sit amet</h5>
          </a>
        </div>
        <div>
          <span class="label label--small label--basic">
            Manager
          </span>
        </div>
        <p>
          <strong>Eagle Estates</strong>
          <br>
          <span>598 Skiles Summit&nbsp;99672&nbsp;Gislasonmouth</span>
        </p>
        <div>
          <%= link_to "Identify a person", page_path("evote/evote-polling-station-officer-identify"), class: "button small" %>
          <%= link_to "Count the votes", page_path("evote/evote-polling-station-officer-count-votes"), class: "button small secondary" %>
        </div>
      </div>
    </div>
    <div class="card card--secondary">
      <div class="card__content">
        <div class="card__header">
          <a href="#" class="card__link">
            <h5 class="card__title">Voting name lorem ipsum dolor sit amet</h5>
          </a>
        </div>
        <div>
          <span class="label label--small label--highlight">
            President
          </span>
        </div>
        <p>
          <strong>Eagle Estates</strong>
          <br>
          <span>598 Skiles Summit&nbsp;99672&nbsp;Gislasonmouth</span>
        </p>
        <div>
          <%= link_to "Identify a person", page_path("evote/evote-polling-station-officer-identify"), class: "button small" %>
          <%= link_to "Count the votes", page_path("evote/evote-polling-station-officer-count-votes"), class: "button small secondary" %>
        </div>
      </div>
    </div>
</div>
