<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Identify and verify a participant</h2>
    
  <div class="row section">
    <div class="columns">
        <div class="callout success mt-s">
          <h5>This participant is listed in the census.</h5>
        </div>
        <div class="row mt-sm">
          <div class="columns large-7">
            <p><strong>Check that her data is correct:</strong></p>
            <div class="card--secondary">
              <div class="card__content">
                <form>
                  <div>
                    <div>
                      <label>Full name
                        <input type="text" placeholder="Participant full name">
                      </label>
                    </div>
                    <fieldset>
                      <legend>Date of birth</legend>
                      <div class="row">
                        <label class="columns small-4">Day
                          <input type="text" placeholder="DD">
                        </label>
                        <label class="columns small-4">Month
                          <input type="text" placeholder="MM">
                        </label>
                        <label class="columns small-4">Year
                          <input type="text" placeholder="YY">
                        </label>
                      </div>
                    </fieldset>
                  </div>
                  <button type="button" class="button button--sc expanded mt-sm mb-none">Verify participant</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>

</div>