<div class="reveal" data-reveal id="polling-officer-count-answers-error-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Total of ballots do not add up</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    The total number of ballots doesn't match the total number of envelopes. Please review the total of ballots.
  </p>
  <button class="button button--sc expanded" data-close>Close</button>
</div>