<div class="reveal" data-reveal id="polling-officer-count-error-modal">
  <div class="reveal__header">
    <h3 class="reveal__title">Total records do not add up</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p>
    The total number of ballots (envelopes) introduced doesn't match the record of people that has voted in this Polling Station.
  </p>
  <div class="card card--secondary">
    <div class="card__content">
      <span><strong>Total of people:</strong> 50</span>
      <br>
      <span><strong>Total of ballots:</strong> 53</span>
    </div>
  </div>
  <p>Please review the total number of ballots. If the total number is correct, you must provide an explanation for the Monitoring Committee:
  <form action="">
    <div>
      <label>Message for the Monitoring Committee
        <textarea placeholder="Please type your message" rows="5" required></textarea>
      </label>
    </div>
    <div class="row mt-sm">
      <div class="columns medium-8 medium-offset-2">
        <button type="submit" class="button button--sc expanded disabled">Validate total recount of ballots</button>
        <div class="text-center">
          <button class="link" data-close>Review the recount</button>
        </div>
      </div>
    </div>
  </form>
</div>
