<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Identify and verify a participant</h2>

  <div class="row section">
    <div class="columns">
        <div class="callout success mt-s">
          <h5>This participant is listed in the census.</h5>
        </div>
        <div class="row mt-sm">
          <div class="columns large-7">
            <p><strong>Check that their data is correct:</strong></p>
            <div class="card--secondary">
              <div class="card__content">
                <form>
                  <p>
                    <strong>Name:</strong>
                    <br>
                    Lorem Ipsum Dolor
                  </p>
                  <p>
                    <strong>Date of birth:</strong>
                    <br>
                    12/03/1983
                  </p>
                  <button type="button" class="button button--sc expanded mt-sm mb-none">Verify participant</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>

</div>
