<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Vote recount</h2>
  <p>
    <strong>Polling Station:</strong>
    <br>
    Voting name lorem ipsum
    <br>
    598 Skiles Summit
  </p>

  <div class="row section">
    <div class="columns">
      <% if locals[:error] %>
        <%= partial "polling_officer_count_error_modal" %>
        <script>
          /* Inline script for demo purposes */
          window.addEventListener("load", function(event) {
            $('#polling-officer-count-error-modal').foundation('open');
          });
        </script>
      <% end %>
      <div class="row mt-sm">
        <div class="columns large-7">
          <p><strong>Please introduce the total number of ballots (envelopes) recounted in this Polling Station:</strong></p>
          <div class="card--secondary">
            <div class="card__content">
              <form>
                <div>
                  <div>
                    <label>Number of ballots
                      <input type="text" placeholder="Total number of envelopes">
                    </label>
                  </div>
                </div>
                <button type="button" class="button button--sc expanded mt-sm mb-none">Verify total number</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

</div>
