<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Identify and verify a participant</h2>

  <div class="row section">
    <div class="columns">
      <% if locals[:error] %>
        <div class="callout alert mt-s">
          <h5>This participant is not listed in the census.</h5>
          <p>They must go to the census complaint office or contact support.</p>
        </div>
      <% else %>
        <div class="row mt-sm">
          <div class="columns large-7">
            <p><strong>Select the document type and enter the participant's document number:</strong></p>
            <div class="card--secondary">
              <div class="card__content">
                <form>
                  <div>
                    <div>
                      <label>Document type
                        <select>
                          <option disabled selected hidden>Select the type of document</option>
                          <option>Passport</option>
                          <option>DNI</option>
                        </select>
                      </label>
                    </div>
                    <div>
                      <label>Document number
                        <input type="text" placeholder="ID number">
                      </label>
                    </div>
                  </div>
                  <button type="button" class="button button--sc expanded mt-sm mb-none">Validate document</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

</div>
