<div class="polling_officer_zone">
  <div>
    <a href="evote-polling-station-officer">
      <svg role="img" class="icon--caret-left icon icon--small"><title></title><use href="/assets/decidim/icons-12032a129d2a2668259128b86df2c8829ea6cdaa07beb8538a61c4872aa66328.svg#icon-caret-left"></use></svg>&nbsp;Back to polling stations
    </a>
  </div>
  <h2>Vote recount - Upload certificate</h2>
  <p>Please upload a picture of the Electoral Closure Certificate and validate the recount.</p>
  <div class="row mt-sm">
    <div class="columns">
      <p><strong>Recount summary:</strong></p>
      <div class="card--secondary">
        <div class="card__content">
          <div>
            <span><strong>Total ballots:</strong> 50</span>
            <div class="ml-s">
              <span><strong>Valid:</strong> 48</span>
              <br>
              <span><strong>Blank:</strong> 1</span>
              <br>
              <span><strong>Invalid:</strong> 1</span>
            </div>
          </div>
          <div class="mt-s">
            <span><strong><%= Faker::Hipster.paragraph[0..60] %></strong></span>
            <div class="ml-s">
              <span><strong>Yes:</strong> 48</span>
              <br>
              <span><strong>No:</strong> 1</span>
              <br>
              <span><strong>Blank:</strong> 1</span>
            </div>
          </div>
          <div class="mt-s">
            <span><strong><%= Faker::Hipster.paragraph[0..60] %></strong></span>
            <div class="ml-s">
              <span><strong>Yes:</strong> 48</span>
              <br>
              <span><strong>No:</strong> 1</span>
              <br>
              <span><strong>Blank:</strong> 1</span>
            </div>
          </div>
        </div>
      </div>
      <form action="" class="mt-sm">
        <div>
          <label>
            <strong>Upload a picture of the Electoral Closure Certificate</strong>
            <input type="file">
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox">
              I've reviewed this and is the same as the physical electoral closure certificate
          </label>
        </div>
        <div class="mt-sm">
            <button type="submit" class="button button--sc disabled">Complete recount</button>
          </div>
      </form>
    </div>
  </div>
</div>

</div>
