<div class="card card--secondary">
  <div class="card__content">
      <div class="mb-s">
        <div class="data-title">
          <h3 class="data-title__over">
            Estimated cost
          </h3>
          <div>
            <strong class="data-title__main">
              20.000€
            </strong>
          </div>
          <div class="data-title__sub">
            March 2021 - July 2021
          </div>
        </div>
      </div>
    <div>
      <%= Faker::Lorem.paragraph(8) %>…
      <button class="muted-link">
        Read more
      </button>
    </div>
  </div>
</div>
