<div class="row mb-sm">
  <% 3.times do %>
  <div class="column medium-4">
    <%= partial "areachart", metric: "areachart-" + SecureRandom.random_number(3).to_s, title: Faker::Commerce.department(1) %>
  </div>
  <% end %>
</div>
<div class="row column text-center">
  <%= link_to "Ver todas estadísticas del proceso", page_path("processes/process-stats") %>
</div>
