<ul class="tags tags--list">
  <li>
    <a href="">Transició ecológica</a> <small class="text-small">(ha canviat de <u>Justícia Climàtica</u> per un administrador)</small>
  </li>
  <li><a href="">Mobilitat sostenible</a></li>
  <li><a href="">Barri de Sarrià</a></li>
</ul>
