<h3 class="section-heading">Citas relacionadas</h3>
<div class="row small-up-1 medium-up-2 card-grid">
  <div class="column">
    <article class="card card--meeting">
      <div class="card__content">
        <div class="card__header">
          <h5 class="card__title">
            <a href="#" class="card__link">
              Cooperatives i economia solidària
            </a>
          </h5>
        </div>
        <div class="card__datetime">
            <div class="card__datetime__date">
              20 <span class="card__datetime__month">Ago</span>
            </div>
            <div class="card__datetime__time">
              16:00 - 18:00
            </div>
          </div>
        <p>
          Recollir, en sessió oberta al carrer, propostes per millorar
          la convivència i l´ús de l´espai públic al barri.
        </p>
        <div class="address card__extra">
          <div class="address__icon">
            <%= icon "meetings", removeIconClass: true, width: 40, height: 70 %>
            </svg>
          </div>
          <div class="address__details">
            <strong>Seu del Districte Sants-Montjuïc</strong><br>
            <span>Carrer de la Creu Coberta, 104</span><br>
            <span>Barcelona</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
