<h3 class="section-heading">Proposta recollida als següents resultats:</h3>

<div class="card card--action card--list">
  <div class="card--list__item">
    <%= icon "actions", removeIconClass: true, class: "card--list__icon" %>
    <a href="#" class="card--list__text card__link card__link--block">
      <h5 class="card--list__heading">
        Creació d'aules ambientals al Parc del Clot i altres parcs de la ciutat

      </h5>
    </a>
    <div class="card--list__data">
      <span class="card--list__data__number">130</span>apoyos
    </div>
  </div>
  <div class="card--list__item">
    <%= icon "actions", removeIconClass: true, class: "card--list__icon" %>
    <a href="#" class="card--list__text card__link card__link--block">
      <h5 class="card--list__heading">
        Creació d'aules ambientals al Parc del Clot
      </h5>
    </a>
    <div class="card--list__data">
      <span class="card--list__data__number">130</span>apoyos
    </div>
  </div>
</div>
