<form>
  <fieldset>
    <legend><h6 class="heading6">Àmbit</h6></legend>
    <div class="data-picker picker-multiple">
      <div class="picker-values"></div>
      <div class="picker-prompt"><a href="">Select a scope</a></div>
    </div>
  </fieldset>
</form>
