<form>
  <fieldset>
    <legend><h6 class="heading6">Àmbit</h6></legend>
    <%# <div class="data-picker picker-multiple">
      <div class="picker-values"></div>
      <div class="picker-prompt"><a href="">Select a scope</a></div>
    </div> %>

    <label><input id="" type="checkbox" checked><strong>Tota la Ciutat</strong></label>
    <div class="filters__subfilters">
        <div class="filters__has-subfilters">
          <label><input id="" type="checkbox" checked>Ciutat Vella</label>
          <button type="button" aria-label="Mostrar/ocultar barris"  data-toggle="docs-collection-75 docs-collection-75-trigger">
            <span id="docs-collection-75-trigger" data-toggler=".filters__is-open">
              <span class="filters__icon-is-closed" aria-hidden="true"><%= icon "chevron-bottom" %></span>
              <span class="filters__icon-is-open" aria-hidden="true"><%= icon "chevron-top" %></span>
            </span>
          </button>
        </div>
        <div id="docs-collection-75" class="filters__subfilters hide" data-toggler=".hide">
          <label><input id="" type="checkbox" checked>el Barri Gòtic</label>
          <label><input id="" type="checkbox" checked>el Raval</label>
          <label><input id="" type="checkbox" checked>la Barceloneta</label>
          <label><input id="" type="checkbox" checked>Sant Pere, Santa Caterina i la Ribera</label>
        </div>
      <label><input id="" type="checkbox" checked>Eixample</label>
      <label><input id="" type="checkbox" checked>Gràcia</label>
      <label><input id="" type="checkbox" checked>Horta-Guinardó</label>
      <label><input id="" type="checkbox" checked>Les Corts</label>
      <label><input id="" type="checkbox" checked>Nou Barris</label>
      <label><input id="" type="checkbox" checked>Sant Andreu</label>
      <label><input id="" type="checkbox" checked>Sant Martí</label>
      <label><input id="" type="checkbox" checked>Sants-Montjuïc</label>
      <label><input id="" type="checkbox" checked>Sarrià - Sant Gervasi</label>
    </div>
  </fieldset>
</form>
