<form>
  <fieldset>
    <legend><h6 class="heading6">Àmbit</h6></legend>
    <label data-global-checkbox><input data-checkboxes-tree="filters-all" type="checkbox" checked>Ciutat Vella</label>
    <div id="filters-all" class="filters__subfilters">
      <div>
        <label data-children-checkbox><input id="" type="checkbox" checked>el Barri Gòtic</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>el Raval</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>la Barceloneta</label>
        <label data-children-checkbox><input id="" type="checkbox" checked>St. Pere, Sta. Caterina i la Ribera</label>
      </div>
    </div>
  </fieldset>
</form>
