<div class="input-group">
  <input id="input-search" class="input-group-field" type="search" placeholder="Buscar">
  <div class="input-group-button">
    <button type="submit" class="button button--muted">
      <%= icon "magnifying-glass", aria_label: "Buscar", role: "img" %>
    </button>
  </div>
</div>
