<form>
  <fieldset>
    <legend><h6 class="heading6">TAGS</h6></legend>
    <input type="text" name="" value="" placeholder="Add words separated by commas">
      <%= render layout: "public/components/tag" do %>
        tag1
      <% end %>
    </input>
  </fieldset>
</form>
