<form>
  <fieldset>
    <legend><h6 class="heading6">TAGS</h6></legend>
    <input type="text" name="" value="" placeholder="Add words separated by commas">
      <span class="button button--muted tiny">
        tag1 <%= icon "x", class: "icon--small" %>
      </span>
    </input>
  </fieldset>
</form>
