      </div><!-- /.footer-separator -->
      <%= partial "main_footer" %>
      <%= partial "mini_footer" %>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->
