<div class="top-banner">
  <a href="#">
    <strong>Multiconsulta municipal Barcelona 2018</strong>  –
    votaciones a partir del 5 de mayo&nbsp;de&nbsp;2018
    <strong class="button--sc top-banner__action">
      Participa
      <%= icon "media-play" %>
    </strong>
  </a>
</div>
