<% if @component.try(:scopes_enabled) %>
<%= t(
  ".voted_on_space_with_scope",
  space_name: translated_attribute(@space.title),
  scope_name: translated_attribute(@component.scope.name),
  scope_type: translated_attribute(@component.scope.scope_type.name)
) %>
<% else %>
<%= t(
  ".voted_on_space",
  budget_name: translated_attribute(@budget.title),
  space_name: translated_attribute(@space.title)
) %>
<% end %>

<p><%= t(".selected_projects") %></p>

<ul>
<% @order.projects.each do |project| %>
  <li><%= translated_attribute(project.title) %></li>
<% end %>
</ul>
