<% if @component.try(:scopes_enabled) %>
<%= t(
  ".voted_on_space_with_scope",
  space_name: translated(@space, :title),
  scope_name: translated(@component.scope, :name),
  scope_type: translated(@component.scope.scope_type, :name)
) %>
<% else %>
<%= t(
  ".voted_on_space",
  space_name: translated(@space, :title)
) %>
<% end %>

<p><%= t(".selected_projects") %></p>

<ul>
<% @order.projects.each do |project| %>
  <li><%= translated(project, :title) %></li>
<% end %>
</ul>
