<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_1.title") %>
<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_1.body_html") %>
<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_2.title") %>
<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_2.body_html") %>
<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_3.title") %>
<%# i18n-tasks-use t("decidim.open_data.index.how_to.step_3.body_html") %>
<%= render layout: "decidim/application/accordion_section", locals: { panel_id: "how_to", title: t("title", scope: "decidim.open_data.index.how_to") } do %>
  <% (1..3).each do |step_number| %>
    <% scope = "decidim.open_data.index.how_to.step_#{step_number}" %>
    <div class="row column">
      <h3 class="text-lg pt-8"><%= t("title", scope:) %></h3>
      <%= t("body_html", scope:) %>
    </div>
  <% end %>
<% end %>
