<div id="js-bulk-actions-wrapper">
  <button
    id="js-bulk-actions-button"
    class="button button--nomargin tiny success light dropdown"
    type="button"
    data-toggle="js-bulk-actions-dropdown"
    aria-controls="js-bulk-actions-dropdown"
    data-is-focus="false"
    data-yeti-box="js-bulk-actions-dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <%= t("decidim.proposals.admin.proposals.index.actions") %>
  </button>

  <div
    id="js-bulk-actions-dropdown"
    class="dropdown-pane"
    data-position="bottom"
    data-alignment="right"
    data-dropdown="4uw09p-dropdown"
    data-auto-focus="false"
    aria-hidden="true"
    data-yeti-box="js-bulk-actions-dropdown"
    data-resize="js-bulk-actions-dropdown"
    aria-labelledby="5lj300-dd-anchor"
    data-events="resize">
    <ul class="list-reset">
      <li>
        <button type="button" id="js-bulk-actions-recategorize">
          <%= t("decidim.proposals.admin.proposals.index.change_category") %>
        </button>
      </li>
    </ul>
  </div>
</div>
