<details class="meeting-polls__question">
  <summary>
    Pregunta #1
  </summary>

  <div>
    <strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur dolorem quasi perspiciatis, dignissimos iusto accusantium alias numquam dicta possimus commodi.</strong>
    <div>- Ratione blanditiis soluta cum culpa beatae, distinctio vel adipisci eius sapiente exercitationem rerum recusandae, aut quisquam laboriosam.</div>
    <div>- In modi quidem et repudiandae voluptas molestias vero sint ducimus necessitatibus ipsum nemo vitae, libero corrupti!</div>
    <div>- Magni laborum obcaecati voluptate, et exercitationem maxime!</div>

    <div class="text-right">
      <button class="button button--nomargin primary small margin-top-1">Enviar respuesta</button>
    </div>
  </div>
</details>