<% open ||= false %>
<% admin ||= false %>
<% questions ||= false %>
<header class="meeting-polls__header">
  <div class="flex--cc">
    <button class="meeting-polls__button<%= ' is-open' if open %>">Preguntas<% if questions %> (<%= questions %>)<% end %></button>
    <% if admin %><button class="meeting-polls__button">Administrar</button><% end %>
  </div>

  <div>
    <strong class="text-secondary">Decidim Barcelona</strong> / <strong>Consejo de Barrio de Les Roquetes - Octubre 2020</strong>
  </div>

  <div class="flex--cc">
    <span>Bill Murray</span>
    <span class="meeting-polls__close">cerrar <span aria-hidden="true">&times;</span></span>
  </div>
</header>