<% open = true unless local_assigns.has_key?(:open) %>
<details class="meeting-polls__question" <%= 'open' if open %>>
  <summary>
    Pregunta
  </summary>

  <div>
    <!-- dynamic content -->
    <p>Recusandae repellat repudiandae iure consequuntur, veritatis, ratione minus omnis qui possimus odio maxime odit magni nulla cum ullam modi voluptatum autem doloribus facere culpa sit deserunt?</p>

    <!-- multi-selection -->
    <label for="answer-1"><input type="checkbox" name="answer-1" id="answer-1"> Magni laborum obcaecati voluptate, et exercitationem maxime!</label>
    <label for="answer-2"><input type="checkbox" name="answer-2" id="answer-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
    <label for="answer-3"><input type="checkbox" name="answer-3" id="answer-3"> Eos quaerat eius eligendi quisquam excepturi laborum.</label>

    <!-- unique selection -->
    <label for="radio-1"><input type="radio" name="radio" id="radio-1"> Facere, dolores doloribus! Quisquam iste sequi voluptas eum quasi esse adipisci quos ullam eius omnis?</label>
    <label for="radio-2"><input type="radio" name="radio" id="radio-2"> Maiores et veniam placeat reiciendis architecto impedit voluptate quidem similique!</label>
    <label for="radio-3"><input type="radio" name="radio" id="radio-3"> Temporibus voluptas nam consequuntur minima, modi unde libero natus perspiciatis repudiandae amet, sapiente ad, eaque suscipit quia explicabo</label>
    <!-- end dynamic content -->

    <div class="text-right">
      <button class="button button--nomargin primary small margin-top-1">Enviar respuesta</button>
    </div>
  </div>
</details>