<div id="proposal-costs" class="proposal__cost">
  <h2 class="h4"><%= t("decidim.proposals.proposals.show.estimated_cost") %></h2>
  <div class="h2"><%= cost %></div>
  <div class="proposal__cost-period"><%= execution_period %></div>
  <%= cost_report %>
</div>
