<%= decidim_drawer id: "merge-proposals_drawer" do %>
  <div id="js-merge-proposals-actions" class="js-bulk-action-form spinner-container h-full overflow-y-scroll relative">

  </div>
  <%# form_build automatically adds this tag when the editor form field is called but as this is rendered with ajax it will be ignored so we manually put here %>
  <%= append_stylesheet_pack_tag "decidim_editor" %>
  <%= append_stylesheet_pack_tag "decidim_geocoding" %>
<% end %>
