.evote {
  $checkfocus: 1px dotted rgba(black, 0.5);
  $checkfocus-offset: 0.1em;

  padding: 1rem;
  margin-top: 1rem;
  @include breakpoint(medium) {
    padding: 2rem;
    margin-top: 2rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__content {
    margin: 1rem auto;

    @include breakpoint(medium) {
      margin: 2rem auto;
    }
  }

  &__options {
    text-align: left;
    margin: 1rem auto;

    @include breakpoint(medium) {
      margin: 2rem auto;
    }

    &--boolean {
      display: flex;
      width: 100%;
      justify-content: center;

      > * {
        flex-basis: 200px;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  &__card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: $white;
    margin-bottom: 1rem;
  }

  &__check {
    cursor: pointer;
    display: flex;
    align-items: center;
    @include breakpoint(medium) {
      font-size: 1.2rem;
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  &__check-label {
    position: relative;
    padding-left: 1em;
    line-height: 1.4;

    input[type="radio"] + &::before {
      content: "";
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 1px solid;
      position: absolute;
      left: -0.7em;
      top: 0.2em;
      color: $secondary;
    }
    input[type="radio"]:focus + &::before {
      outline: $checkfocus;
      outline-offset: $checkfocus-offset;
    }

    input[type="radio"]:checked + &::after {
      content: "";
      width: 0.7em;
      height: 0.7em;
      border-radius: 50%;
      background-color: $secondary;
      position: absolute;
      left: -0.55em;
      top: 0.35em;
    }

    input[type="checkbox"] + &::before {
      content: "";
      width: 1em;
      height: 1em;
      border: 1px solid;
      position: absolute;
      left: -0.7em;
      top: 0.2em;
      color: $secondary;
      border-radius: 3px;
    }
    input[type="checkbox"]:focus + &::before {
      outline: $checkfocus;
      outline-offset: $checkfocus-offset;
    }

    input[type="checkbox"]:checked + &::before {
      background-color: $secondary;
    }
    input[type="checkbox"]:checked + &::after {
      content: "";
      width: 0.3em;
      height: 0.6em;
      position: absolute;
      left: -0.5em;
      top: 0.15em;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: $white;
      transform-origin: bottom left;
      transform: rotate(45deg);
    }
  }

  &__check-extra {
    display: block;
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 600;
    button {
      font-size: inherit;
      text-transform: inherit;
      font-family: inherit;
    }
  }

  &__boolean {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  &__boolean-label {
    position: relative;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;

    svg {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 auto 0.5rem;
      stroke-width: 1.5;
      opacity: 0.25;
    }

    input[type="radio"]:focus + & svg {
      outline: $checkfocus;
      outline-offset: $checkfocus-offset;
    }

    input[type="radio"]:checked + & svg {
      opacity: 1;
      color: $secondary;
    }
  }

  &__counter {
    position: sticky;
    bottom: 2rem;
    right: 0;
    margin-left: auto;
    text-align: right;
    line-height: 1.2;
    background-color: $medium-gray;
    padding: 0.3rem 1rem;
    border-radius: $global-radius;
  }
  &__counter-num {
    font-size: 1.2em;
  }

  &__confirm {
    margin-top: 2rem;
    max-width: 40em;
    text-align: left;
    line-height: 1.2;

    dt {
      font-weight: 600;
    }

    dd:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__confirm-label {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $primary;
  }

  &__encrypting {
    width: 200px;
    height: 40px;
    display: flex;
    margin: 2rem auto;
  }

  &__dot {
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50px;
    background: $primary;
    &:nth-child(odd) {
      animation: dotTop 1s infinite ease-in-out;
    }
    &:nth-child(even) {
      animation: dotBottom 1s infinite ease-in-out;
    }

    @media (prefers-reduced-motion) {
      animation: none !important;
    }

    @keyframes dotTop {
      0% {
        transform: translateY(-15px);
      }
      50% {
        transform: translateY(15px);
      }
      100% {
        transform: translateY(-15px);
      }
    }
    @keyframes dotBottom {
      0% {
        transform: translateY(15px);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(15px);
      }
    }
  }
}
