<div class="author-data initiative-authors">
  <div class="author-data__main ">
    <%= card_for initiative.author %>

    <% initiative.committee_members.excluding_author.approved.each do |m| %>
      <% unless m.user.deleted? %>
        <div class="author author--inline">
          <%= card_for m.user %>
        </div>
      <% end %>
    <% end %>

    <div class="publish-date mt-4">
      <%= l initiative.published_at || initiative.created_at, format: :decidim_short %>
    </div>
  </div>
</div>


