<div class="row collapse">
  <h2 id="initiatives-count" class="title-action__title section-heading">
    <%= render partial: "count" %>
  </h2>
  <% if can? :create, Decidim::Initiative %>
    <%= action_authorized_link_to :create, create_initiative_path(:select_initiative_type), class: "title-action__action button small hollow" do %>
        <%= t(".new_initiative") %>
        <%= icon "plus" %>
    <% end %>
  <% end %>
</div>
