<div class="row collapse buttons__row">
  <div class="column collapse">
      <%= link_to "#comments", class: "button small compact hollow button--nomargin expanded" do %>
        <%= icon "comment-square", class: "icon--small", role: "img", "aria-hidden": true %>
        <%= stats.comments_count %>
        <%= t(".comments_count.count", count: stats.comments_count) %>
      <% end %>
    </button>
  </div>
</div>
