<div id="initiative-<%= current_initiative.id%>-progress-bar">
  <% current_initiative.votable_initiative_type_scopes.each_with_index do |type_scope, index| %>
    <% if index == 0 %>
      <%= cell(
        "decidim/progress_bar",
        current_initiative.supports_count_for(type_scope.scope),
        total: type_scope.supports_required,
        units_name: "decidim.initiatives.initiatives.votes_count.count",
        element_id: "initiative-#{current_initiative.id}-votes-count",
        subtitle_text: current_initiative.supports_goal_reached? ? t("decidim.initiatives.initiatives.votes_count.most_popular_initiative") : t("decidim.initiatives.initiatives.votes_count.need_more_votes"),
        small: false
        ) %>
    <% else %>
      <%= cell(
        "decidim/progress_bar",
        current_initiative.supports_count_for(type_scope.scope),
        total: type_scope.supports_required,
        subtitle_text: translated_attribute(type_scope.scope_name),
        element_id: "initiative-scope-#{type_scope.id}-#{current_initiative.id}-votes-count",
        horizontal: true
        ) %>
    <% end %>
  <% end %>
</div>
