<div id="initiative-<%= current_initiative.id%>-progress-bar">
  <%= cell(
    "decidim/progress_bar",
    current_initiative.supports_count,
    total: current_initiative.supports_required,
    units_name: "decidim.initiatives.initiatives.votes_count.count",
    element_id: "initiative-#{current_initiative.id}-votes-count",
    subtitle_text: current_initiative.supports_goal_reached? ? t("decidim.initiatives.initiatives.votes_count.most_popular_initiative") : t("decidim.initiatives.initiatives.votes_count.need_more_votes"),
    small: false
  ) %>

  <% current_initiative.available_child_scopes.each do |child_scope| %>
    <%= cell(
      "decidim/progress_bar",
      current_initiative.supports_count_for(child_scope.scope),
      total: child_scope.supports_required,
      subtitle_text: translated_attribute(child_scope.scope_name),
      element_id: "initiative-scope-#{child_scope.id}-#{current_initiative.id}-votes-count",
      horizontal: true
      ) %>
  <% end %>
</div>
