<% if initiative.votes.supports.any? %>
  <div class="row">
    <div class="columns large-12">
      <div class="section committee">
        <h4 class="section-heading"><%= t(".title") %></h4>
      </div>
    </div>

    <div class="columns large-12 supports-list">
      <% initiative.votes.supports.each do |s| %>
        <div class="author author--inline">
          <span class="author__avatar author__avatar--small">
            <%= image_tag s.user_group.avatar_url %>
          </span>
          <span class="author__name">
            <%= s.user_group.name %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
