<% unless initiative.offline? %>
  <div class="card__support__data">
    <span class="extra__suport-number">
        <%= initiative.supports_count %>
    </span>
    <span class="extra__suport-text">
      <%= t(".count", count: initiative.supports_count) %>
    </span>

    <%= popularity_tag initiative %>
  </div>
<% end %>
