<% if initiative.accepts_online_votes? %>
    <%= render partial: "decidim/initiatives/initiatives/vote_button",
               locals: {
                   initiative: initiative,
                   vote_label: t(".vote"),
                   unvote_label: t(".already_voted"),
                   verification_label: t(".verification_required"),
                   steps: signature_has_steps?
               } %>
<% else %>
  <button class='button expanded light button--sc disabled' disabled>
    <%= t(".votes_blocked") %>
  </button>
<% end %>
