<div class="reveal__header">
  <h1 class="reveal__title"><%= t ".select_identity" %></h1>
</div>

<% if current_initiative.online_signature_type? %>
  <%= render partial: "decidim/initiatives/initiatives/vote_button",
            locals: {
                initiative: current_initiative,
                vote_label: current_user.name,
                unvote_label: current_user.name,
                verification_label: current_user.name,
                steps: signature_has_steps?
            } %>
<% end %>
