<div class="card-section polling_station_closure_certificate_results">
  <%= cell("decidim/votings/polling_station_closure_certificate", closure) %>

  <div>
    <%= cell("decidim/votings/polling_station_closure_recount", closure) %>
  </div>
</div>

<%= append_stylesheet_pack_tag "decidim_votings_admin" %>
