<%= decidim_form_for(@form, html: { class: "form new_participatory_process_user_role" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('assembly_private_users.new.title', scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("assembly_private_users.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
