<div class="card-section" id="census-creating-data-wrapper" data-update-status-url="<%= admin_status_voting_census_path %>">
  <%= cell("decidim/announcement", "<span class='loading-spinner'></span> &nbsp;#{t("exporting_access_codes.info_message", scope: "decidim.votings.census.admin.census", email: user_email)}", callout_class: "warning") %>
</div>
