<div class="card-section">
  <%= cell("decidim/announcement", t("freeze.callout", scope: "decidim.votings.census.admin.census", email: user_email), callout_class: "warning" ) %>

  <p><%= t("freeze.help_html", scope: "decidim.votings.census.admin.census") %></p>
</div>
