<% if current_census.csv_row_raw_count != current_census.data.size %>
  <% info_message = t("generate_access_codes.info_message_warn",
                      scope: "decidim.votings.census.admin.census",
                      data_count: current_census.data.size,
                      raw_count: current_census.csv_row_raw_count,
                      file: current_census.filename) %>
  <% callout_class = "warning" %>
<% else %>
  <% info_message = t("generate_access_codes.info_message_all",
                      scope: "decidim.votings.census.admin.census",
                      data_count: current_census.data.size,
                      raw_count: current_census.csv_row_raw_count,
                      file: current_census.filename) %>
  <% callout_class = "success" %>
<% end %>

<div class="card-section">
  <%= cell("decidim/announcement", info_message, callout_class: callout_class ) %>

  <%= cell("decidim/announcement", t("generate_access_codes.callout", scope: "decidim.votings.census.admin.census"), callout_class: "warning" ) %>
  <%= link_to t("generate_access_codes.button", scope: "decidim.votings.census.admin.census"),
                    generate_access_codes_path,
                    class: "button",
                    data: { confirm: t("generate_access_codes.confirm", scope: "decidim.votings.census.admin.census") } %>
</div>
