<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("show.heading", scope: "decidim.votings.census.admin.census") %>

      <% if current_census.data_created? %>
        <%= link_to t("delete.button", scope: "decidim.votings.census.admin.census"),
                  admin_voting_census_path,
                  class: "button alert hollow tiny button--title destroy",
                  method: :delete,
                  data: { confirm: t("delete.confirm", scope: "decidim.votings.census.admin.census") } %>
      <% end %>
    </h2>
  </div>

  <div id="wrapper-action-view">
    <%= render current_census_action_view %>
  </div>
</div>

<% if waiting_status? %>
  <%= javascript_pack_tag "decidim_votings_admin_update_census_dataset_status" %>
<% end %>
