{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_126280 {\\n  closeBallotBox(messageId: \\\"decidim-test-authority.10002.close_ballot_box+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MDg2Mzc2MDksIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAyLmNsb3NlX2JhbGxvdF9ib3grYS5kZWNpZGltLXRlc3QtYXV0aG9yaXR5In0.CP1xw2L7nMrH-TNxBpp3wzUbKflUF1PMc6cUdjdKX2yDb8ruQeL2UwWqmP7a9_bR4eiXxdWROX2BczENfJ18z7sIm2BSGQk4tOTdOMq2ymgUgRHd3lHdEfJeohP8XlY_grcIAbOctq3Ury0aUlHs-FulN260QRD0uiU3-sGizqPUbuLNdLRUeWn7Gi2rICYjaJnEcap-aHqNOEQp1vhOsPJh66oZSvaRxkcs2jmTdjzVji7-Jr_BMXbQz2uBKKwaPxD8qXvA0PVN2l1TxFcDrkpws-J6gqTZ4fEHW5_psEZh0XNkHlK_brKEpTlu_qUsYB-iPTyoNj9lD0Vsz1u1mRC3rPI24APNdZIzQ7Gu3MM5s_-wUopQh_63XXhPKjotAKrEYdYD1NYEfRKRub5g1YteNBFuiHChblc8h8--5fjCWyVMqeXYO2gP-FqpEOoRw27CbspCnm7B0VNnAgcZH5XKmBmC4kflxD6lGRuzeC6dAS1qYnq32IG2KrPlfFZmO8P_fEUlANHj16OvRCt0C-qsvdlupRkFJoEZ_ElHKM3yybk8HVP_ZbV2bKfd9rAh6xqs1JvsVxra6l03AE-ll7GVJG4Gxft3PWbAiR8yPnhjCko2vbyYs7MAX3klVDk5T2yoV9sb7_cYDB8hJc9saomIghdSXkBigHHkp9Sc7l0\\\") {\\n    election {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_126280\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"d88c83daf267765e702b4d923de5f6a0\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"closeBallotBox\":{\"election\":{\"status\":\"tally\"},\"error\":null}}}"}},"recorded_at":"Tue, 22 Dec 2020 11:46:51 GMT"}],"recorded_with":"VCR 6.0.0"}