<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if has_assembly_type? %>
      <div class="card__support__data--left">
        <div><%= t("assemblies.show.assembly_type", scope: "decidim") %></div>
        <div class="text-ellipsis"><strong><%= assembly_type %></strong></div>
      </div>
    <% end %>
    <%= link_to(
      t(model.cta_button_text_key, scope: "layouts.decidim.assemblies.assembly"),
      resource_path,
      class: "card__button button button--sc small"
    ) %>
  </div>
</div>
