{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_226340 {\\n  startKeyCeremony(messageId: \\\"decidim-test-authority.10000.start_key_ceremony+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTIyNzAxMzIsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAwLnN0YXJ0X2tleV9jZXJlbW9ueSthLmRlY2lkaW0tdGVzdC1hdXRob3JpdHkifQ.bHHWtP9QbthDwSKd-Zolb5r5j7jOnYNCbaR3-0WgyQHq7lGBIqvmDVMmLo5JqenfXAZSYZ9BmLzWDel9pcybRPYp22raPrn_3R-AhCQsLDLv6BdlyBvCjBsTZY2i5riJWOCYBj9-K014H18zLL_M4bYTjWKfv-V-faFbwEazefwkXr4zj8kfXPkHB7hFekJw_nm9jgB9CrJW-E_MZwslUacbunEAZZtkcZZqUPlun7kQLExjAtJozkY8HT3PsDSbjkFfvE6ssskYS3SAC4vLRKkvWPuEcuGQRkP5gMQj_N8TRP067ZBS2QDbwu9EEyaCY-4MOYwy0hCxq821ywMilXfya0VA_JF0-j9yujKxadhvxOtOe2GWkvTkJubLoog1PjyKLDb2Tc5_6gU45mBrxsaMI3J_grCwK9_2LOCCXg8lJbEqOFmruSDRyPByugihrFjE3-FPT77CkeeQ4sSgF6W9vTZqQUIcClA8smm1xsJK2qzxmyjNhRdm9eg1MQ29Q5Oqge7T_0VGe4Z971ciJ78KKWix6UqdFKspzFW5ZTAHviH56YMgn6n_xo_WjUBmh0tWpRFSoicMa2BK8YcwUaD0pILU_vwR6Xjw5YTE0lkY0P3B7PeYBCkNBSSieFw-IvjOVRiYuW4yASExJP3l56Dh8Uy0GthIyKE9fCqobBM\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_226340\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"18e372e42d18ebdbc2ac6bfe3dac27f5\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"startKeyCeremony\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Tue, 02 Feb 2021 12:48:52 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_228960 {\\n  election(uniqueId: \\\"decidim-test-authority.10000\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_228960\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"b1a82aa2a5bf6ec8e80b9783f0a6f559\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"key_ceremony\"}}}"}},"recorded_at":"Tue, 02 Feb 2021 12:48:55 GMT"}],"recorded_with":"VCR 6.0.0"}