{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_250540 {\\n  startKeyCeremony(messageId: \\\"decidim-test-authority.10000.start_key_ceremony+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTQyNjk0MzcsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAwLnN0YXJ0X2tleV9jZXJlbW9ueSthLmRlY2lkaW0tdGVzdC1hdXRob3JpdHkifQ.WTc-AhypP0koEXZ_KZRs08D4AWs-0CbTxjex4pSwg-B0_d9_8mR-yP2CKa3YQWU75cMfzU-rtqtSugVyw4oeaMJHIS-sAWqtEBifbDLdKRjCPhGKPz7_OqRac0mloEN-lU83UTLVIYf1zp4Kki2hW8H5JabffTndUzU_rhUWDmJYvVKKA2R6o2GdvJ41o0-AnaTHfY2boh2y4eLSb-6sjavTJLZvdTu_7js6x-0OaLwJOxouWt_99avfVR2m5wl6grXcGSgrY0d3HEyPRKvCmbZvPFb7YlI9J9k8sgMJmx9bBY6VQNA7yMxp_ky2o-UHmA67mwIjQ71DrwTo7aYf-gDahsSj6MD_QTR2TIxunasjriUuy_woxIckbjLgP90x_K13MWPPAgqYl98REvD3-35ExrA3SV1M0ajvK-6xpxw7mWJ_uLWP7BpPkXelDVN0xVl0WEyMvy8x-b_wvce_A70OhTBECtkDCR5b2iq2Y4gCRxSh8Mq0NFQrqHjhhpW8UikyQah3yBd33MCe54KKYoDS00kmPrOy2NgiyKaASCaM1TgB_fsyt3_C7yVCPcPwYP-8ZIH1EjFq_FOELqdfi60cHj463oHUSj3ZlOPGldp7fLhwo0-o6DYLWMiJ03fyFX5r4mjOVjL9Oyj28tHsBIWql0-yeG2VK6Bk5kt0gDM\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_250540\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"18e372e42d18ebdbc2ac6bfe3dac27f5\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"startKeyCeremony\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:10:37 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_252700 {\\n  election(uniqueId: \\\"decidim-test-authority.10000\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_252700\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"b1a82aa2a5bf6ec8e80b9783f0a6f559\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"key_ceremony\"}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:10:38 GMT"}],"recorded_with":"VCR 6.0.0"}