<button class="close-button" data-close aria-label="<%= t ".close_modal" %>" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<%= render partial: "decidim/authorization_modals/content" %>
