<div class="activity__container">
  <div class="activity" data-activity="">
    <div class="activity__time">
      about 2 months ago
    </div>
    <div class="activity__content">
      <span>
        <span>
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-chat-1-line" tabindex="-1"></use>
          </svg>
          New comment:
        </span>
        <a href="#">
        This is a very short comment
        </a>
      </span>
      <span>
      <a href="#">Initiative without members </a>
      </span>
    </div>
    <div class="activity__author">
      <div class="author" data-author="">
        <div class="author__container has-tip" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
          <div class=&quot;author__container&quot;>
          <span class=&quot;author__avatar-container&quot;>
          <a href=&quot;#&quot;>
          <img alt=&quot;Avatar: User Group 28078&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
          </a>
          </span>
          <div>
          <a class=&quot;author__name underline&quot; href=&quot;#&quot;>User Group 28078</a>
          <span class=&quot;text-md&quot;>@anon-ug-28078</span>
          </div>
          </div>
          <div class=&quot;author__tooltip-links&quot;>
          <a href=&quot;#&quot;>
          <span id=&quot;followers_count_user_group_28078&quot;>27</span> Followers
          </a>
          </div>
          <a class=&quot;button button__sm button__transparent&quot; href=&quot;/users/sign_in&quot;>
          <span>Send private message</span>
          <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-mail-send-line&quot; tabindex=&quot;-1&quot;></use></svg>
          </a>
          <form class=&quot;button_to&quot; method=&quot;post&quot; action=&quot;#&quot;><button class=&quot;button button__sm button__transparent&quot; title=&quot;Please log in before performing this action&quot; aria-haspopup=&quot;true&quot; id=&quot;follow_user_group_28078&quot; data-dialog-open=&quot;loginModal&quot; type=&quot;submit&quot;>
          <span class=&quot;&quot;>Follow</span>
          <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-notification-3-line&quot; tabindex=&quot;-1&quot;></use></svg>
          </button><input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;l10A9D-VXx2J_sZi-EpPchvyyTbr_MuBIof0orqJ8mjskMZN38Nr1MLZHbYb06Q8XSxGIxtHP1Yz99QH5NtWaA&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[button_classes]&quot; value=&quot;button button__sm button__transparent&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[followable_gid]&quot; value=&quot;eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJajFuYVdRNkx5OWtaV05wWkdsdExYQnZjSFZzWVhSbExYSmxaR1Z6YVdkdUwwUmxZMmxrYVcwNk9sVnpaWEpIY205MWNDOHlPREEzT0FZNkJrVlUiLCJleHAiOiIyMDIzLTEyLTA4VDE3OjM2OjUxLjk1MVoiLCJwdXIiOiJkZWZhdWx0In19--3388eefc3a8a7c90bdb54c2473912eb49caa3192&quot; autocomplete=&quot;off&quot; /></form>
          </div>
          " aria-describedby="0f99qi-tooltip" data-yeti-box="0f99qi-tooltip" data-toggle="0f99qi-tooltip" data-resize="0f99qi-tooltip" id="toggle-0q86" aria-controls="0f99qi-tooltip" data-events="resize">
          <span class="author__avatar-container">
          <a href="#">
          <img alt="Avatar: User Group 28078" class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
          </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="activity" data-activity="">
    <div class="activity__time">
      about 2 months ago
    </div>
    <div class="activity__content">
      <span>
        <span>
          <svg width="1em" height="1em" role="img" aria-hidden="true">
            <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-chat-1-line" tabindex="-1"></use>
          </svg>
          New comment:
        </span>
        <a href="#">
        This is a very short comment
        </a>
      </span>
      <span>
      <a href="#">Initiative without members </a>
      </span>
    </div>
    <div class="activity__author">
      <div class="author" data-author="">
        <div class="author__container has-tip" data-tooltip="<div class=&quot;author__tooltip bottom&quot; role=&quot;tooltip&quot;>
          <div class=&quot;author__container&quot;>
          <span class=&quot;author__avatar-container&quot;>
          <a href=&quot;#&quot;>
          <img alt=&quot;Avatar: User Group 28078&quot; class=&quot;author__avatar&quot; src=&quot;<%= asset_pack_path("media/images/default-avatar.svg") %>&quot; />
          </a>
          </span>
          <div>
          <a class=&quot;author__name underline&quot; href=&quot;#&quot;>User Group 28078</a>
          <span class=&quot;text-md&quot;>@anon-ug-28078</span>
          </div>
          </div>
          <div class=&quot;author__tooltip-links&quot;>
          <a href=&quot;#&quot;>
          <span id=&quot;followers_count_user_group_28078&quot;>27</span> Followers
          </a>
          </div>
          <a class=&quot;button button__sm button__transparent&quot; href=&quot;/users/sign_in&quot;>
          <span>Send private message</span>
          <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-mail-send-line&quot; tabindex=&quot;-1&quot;></use></svg>
          </a>
          <form class=&quot;button_to&quot; method=&quot;post&quot; action=&quot;#&quot;><button class=&quot;button button__sm button__transparent&quot; title=&quot;Please log in before performing this action&quot; aria-haspopup=&quot;true&quot; id=&quot;follow_user_group_28078&quot; data-dialog-open=&quot;loginModal&quot; type=&quot;submit&quot;>
          <span class=&quot;&quot;>Follow</span>
          <svg width=&quot;1em&quot; height=&quot;1em&quot; role=&quot;img&quot; aria-hidden=&quot;true&quot;><use href=&quot;/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-notification-3-line&quot; tabindex=&quot;-1&quot;></use></svg>
          </button><input type=&quot;hidden&quot; name=&quot;authenticity_token&quot; value=&quot;l10A9D-VXx2J_sZi-EpPchvyyTbr_MuBIof0orqJ8mjskMZN38Nr1MLZHbYb06Q8XSxGIxtHP1Yz99QH5NtWaA&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[button_classes]&quot; value=&quot;button button__sm button__transparent&quot; autocomplete=&quot;off&quot; /><input type=&quot;hidden&quot; name=&quot;follow[followable_gid]&quot; value=&quot;eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJajFuYVdRNkx5OWtaV05wWkdsdExYQnZjSFZzWVhSbExYSmxaR1Z6YVdkdUwwUmxZMmxrYVcwNk9sVnpaWEpIY205MWNDOHlPREEzT0FZNkJrVlUiLCJleHAiOiIyMDIzLTEyLTA4VDE3OjM2OjUxLjk1MVoiLCJwdXIiOiJkZWZhdWx0In19--3388eefc3a8a7c90bdb54c2473912eb49caa3192&quot; autocomplete=&quot;off&quot; /></form>
          </div>
          " aria-describedby="0f99qi-tooltip" data-yeti-box="0f99qi-tooltip" data-toggle="0f99qi-tooltip" data-resize="0f99qi-tooltip" id="toggle-0q86" aria-controls="0f99qi-tooltip" data-events="resize">
          <span class="author__avatar-container">
          <a href="#">
          <img alt="Avatar: User Group 28078" class="author__avatar" src="<%= asset_pack_path("media/images/default-avatar.svg") %>">
          </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
