.blog {
  &__image {
    @apply grow rounded overflow-hidden mb-8 aspect-[3];

    img {
      @apply w-full h-full object-cover;
    }
  }

  &__likes {
    @apply space-y-3;

    &-text {
      @apply text-sm text-gray-2;
    }

    &-grid {
      @apply flex flex-wrap gap-y-3;
    }

    &-button {
      @apply block ml-auto text-right text-xs text-secondary cursor-pointer;
    }
  }

  &__section {
    @apply mt-16 first-of-type:mt-0 last:mb-16 md:last:mb-36 xl:max-w-[75%] space-y-10;

    p {
      @apply mt-4 text-gray-2 text-md;
    }
  }
}
