<% provide :meta_title, t(".title") %>

<main class="wrapper">
  <section id="processes-grid" class="section row collapse">
    <h1 class="section-heading"><%= t(".group_participatory_processes", group: translated_attribute(group.name)) %></h1>
    <%= render partial: "decidim/participatory_processes/order_by_processes" %>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
      <%= render participatory_processes || render(partial: "no_processes_yet") %>
    </div>
  </section>
</main>
