<%= render partial: "decidim/shared/component_announcement" %>

<div class="row">
  <div class="columns medium-7 mediumlarge-8">
    <%= cell("decidim/budgets/groups/budgets_group_header", current_component) %>
    <%= cell("decidim/budgets/groups/budgets_list", current_component) %>
  </div>
</div>
