<%
@title = "Decidim Barcelona"
%>

<%= partial 'partials/cookie_bar' %>
<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>
