<%
@title = "Decidim Barcelona"
%>

<%= render partial: "partials/cookie_bar" %>
<%= render partial: "partials/template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
  </div>
</div>
</main>

<%= render partial: "partials/template_bottom" %>
