.meeting{
  &__container{
    @apply space-y-8;
  }

  &__filter{
    &-container{
      @apply self-stretch;
    }
  }

  &__calendar{
    @apply w-14 flex flex-col justify-start rounded overflow-hidden bg-background text-center;

    &:only-child &-month{
      @apply rounded-t;
    }

    &-container{
      @apply flex flex-col md:flex-row items-stretch gap-y-2 md:gap-0 rounded overflow-hidden md:max-h-[120px];

      > *:last-child:not(:only-child){
        @apply grow md:pl-5 md:border-4 md:border-l-0 border-background;
      }
    }

    &-month{
      @apply bg-primary uppercase text-white text-xs rounded-t md:rounded-tr-none;
    }

    &-day{
      @apply text-black text-2xl font-bold;
    }

    &-time{
      @apply text-black text-xs;
    }

    &-month,
    &-day,
    &-time{
      @apply inline-flex items-center justify-evenly empty:[&>span]:hidden;
    }

    &-separator{
      @apply mx-2 font-normal text-sm;
    }

    &__lg{
      @apply w-fit flex-none justify-center [&>*]:px-2 border-4 md:border-r-0 border-background only:border-r-4;
    }

    &__lg &-month{
      @apply py-1 text-md;
    }

    &__lg &-day{
      @apply text-5xl;
    }

    &__lg &-time{
      @apply text-md;
    }
  }

  &__author{
    @apply flex items-center gap-4;
  }

  &__actions{
    @apply flex items-center justify-between first:[&>*]:flex;
  }

  &__grid{
    @apply grid grid-cols-4 gap-x-12 gap-y-4;
  }

  &__online{
    @apply bg-background grid place-items-center p-8 space-y-4 [&>p]:font-semibold [&>p]:text-lg [&>p]:text-gray-2 [&>p]:text-center;
  }

  &__agenda{
    &-title{
      @apply flex gap-1 items-center;

      svg{
        @apply w-6 h-6 text-tertiary fill-current;
      }
    }

    &-item{
      @apply mt-6 bg-background rounded p-4 text-gray-2;

      &__title{
        @apply text-lg inline-flex gap-1 first:[&>*]:font-bold;
      }

      &__description{
        @apply mt-2 text-md;
      }
    }

    &-subitem{
      @apply ml-4 mt-4;
    }

    &-subitem &-item__title{
      @apply text-md;
    }
  }

  &__aside{
    &-button{
      @apply space-y-4 mb-14;
    }

    &-progress{
      @apply text-sm text-gray-2 text-center space-y-1;

      progress{
        @apply block w-full h-1 appearance-none rounded-full overflow-hidden bg-gray;

        &::-webkit-progress-value{
          @apply bg-success;
        }

        &::-webkit-progress-bar{
          @apply bg-white;
        }

        &::-moz-progress-bar{
          @apply bg-success;
        }
      }
    }

    &-block{
      @apply bg-background rounded p-2 [&>*]:flex [&>*]:gap-1 first:[&>*>*]:flex-none last:[&>*>*]:space-y-1;

      & + &{
        @apply mt-4;
      }

      &__title{
        @apply text-gray-2 text-sm font-semibold;
      }

      &__text{
        @apply text-gray-2 text-sm;
      }

      &__large{
        @apply text-gray-2 text-xl font-bold;
      }

      &__list{
        @apply ml-4 list-disc text-gray-2 text-sm;
      }
    }
  }

  &__registration-modal{
    &__terms{
      @apply text-xs text-gray-2;
    }
  }

  &__cancelation-modal{
    &__description{
      @apply mt-8 mb-16 text-lg text-gray-2;
    }
  }
}
