.meeting-list{
  @apply flex items-stretch gap-4 cursor-pointer;

  &__container{
    @apply space-y-10;
  }

  &__map{
    /* negative main padding values */
    @apply md:-ml-16 -mt-6 md:-mt-12 aspect-[21/9] [&>*]:h-full;
  }

  &__link{
    @apply py-6 flex items-center justify-end gap-1 text-secondary;
  }

  &__modal{
    @apply pr-16 pb-16;

    &-title{
      @apply flex items-baseline gap-2;
    }

    &-text{
      @apply text-lg text-gray-2;
    }

    &-input{
      @apply text-lg text-gray-2 relative;

      input{
        @apply w-full;
      }

      button{
        @apply z-10 absolute top-1/2 right-2 -translate-y-1/2 text-sm;
      }
    }
  }

  &:hover h2{
    @apply underline;
  }
}
