<%= render layout: "decidim/design/layout" do %>

  <% content_for :right_aside do %>
    <%= link_to "https://github.com/decidim/decidim", target: "_blank", data: { "external-link": false }, class: "flex items-center justify-end gap-1 font-semibold text-secondary" do %>
      <span class="whitespace-nowrap">Source code on GitHub</span>
      <%= icon "github-fill", class: "flex-none w-3.5 h-3.5 fill-current" %>
    <% end %>
  <% end %>

  <section>
    <h1 class="mt-28 text-[72px] leading-[90px] font-bold text-transparent bg-clip-text bg-[linear-gradient(96deg,_var(--primary)_22.02%,_var(--secondary)_44.83%)] after:content-[''] after:block after:w-20 after:h-2 after:mt-1.5 after:bg-primary after:rounded-b-xl">Decidim Design Guide</h1>

    <div class="text-lg space-y-4 mt-12">
      <h2 class="font-semibold">The guide to design all things Decidim</h2>
      <p>Welcome to the Decidim Design Guide (DDG). This guide is the resource for designers and developers who need to customize, develop new modules, and integrate new features.</p>
      <p>By sharing the principles, philosophy, and rationale behind design decisions we want to empower the community to contribute with consistency so we reach the best participant experience.</p>
      <p>At the same time, we document the different UI components and patterns in use, that should be reused or extended.</p>
    </div>
  </section>
<% end %>
