<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to footer_button_text, resource_path, class: "card__button button--sc light button small" %>
  </div>
</div>
