<div class="row collapse order-by">
  <h2 class="order-by__text section-heading"><%= t("conferences.order_by_conferences.conferences", scope: "layouts.decidim", count: collection.count) %></h2>
</div>
