<%= decidim_form_for(@form, url: meeting_minute_path(@current_meeting, @minutes), html: { class: "form edit_minutes" })  do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

    <div class="button--double form-general-submit">
      <%= f.submit t(".update") %>
    </div>
<% end %>
