<%= decidim_form_for(@form, url: meeting_minute_path(@current_meeting, @minute), html: { class: "form edit_meeting" })  do |f| %>
  <%= render partial: "form", object: f %>

    <div class="button--double form-general-submit">
      <%= f.submit t(".update") %>
    </div>
<% end %>
