<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t("admin.instructions.title", scope: "decidim.verifications.csv_census") %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t("admin.instructions.body", scope: "decidim.verifications.csv_census") %></p>
  </div>
</div>
