<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("admin.instructions.title", scope: "decidim.verifications.csv_census") %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t("admin.instructions.body", scope: "decidim.verifications.csv_census") %></p>
  </div>
</div>
