<section class="layout-main__section layout-main__heading">
  <h1 class="h2 decorator"><%= title %></h1>
</section>

<section class="layout-main__section">
  <div class="editor-content mt-8">
    <%= description %>
  </div>
</section>

<%= cell "decidim/tab_panels", tab_panel_items %>
