<section class="layout-main__section layout-main__heading">
  <h1 class="h2 decorator"><%= title %></h1>
</section>

<section class="layout-main__section">
  <div class="editor-content mt-8">
    <%= description %>
  </div>
</section>

<% if component_settings.geocoding_enabled? && result.geocoded? %>
  <div class="static-map__container py-6">
    <%= render partial: "decidim/shared/static_map", formats: [:html], locals: { icon_name: "proposals", geolocalizable: result } %>
  </div>
<% end %>

<%= cell "decidim/tab_panels", tab_panel_items %>
