<ol class="accountability__project-timeline">
  <% timeline_entries.each_with_index do |timeline_entry, i| %>
    <li class="accountability__project-timeline-entry">
      <div class="accountability__project-timeline-entry-number">
        <span><%= i + 1 %></span>
      </div>
      <div class="accountability__project-timeline-entry-attributes">
        <h3>
          <%= translated_attribute timeline_entry.title %>
        </h3>
        <div>
          <%= l timeline_entry.entry_date, format: :decidim_short %>
        </div>
        <% if translated_attribute(timeline_entry.description).present? %>
          <div>
            <%= translated_attribute(timeline_entry.description).html_safe %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
