<% if devise_mapping.omniauthable? && any_social_provider_enabled? %>
  <div class="row">
    <div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
      <span class="register__separator">
        <span class="register__separator__text"><%= t('.or') %></span>
      </span>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <% if social_provider_enabled? provider %>
          <div class="social-register">
            <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)}" do %>
              <span class="button--social__icon">
                <%= oauth_icon provider %>
              </span>
              <%= t("devise.shared.links.sign_in_with_provider", provider: normalize_provider_name(provider).titleize) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
