<% if devise_mapping.omniauthable? && any_social_provider_enabled? %>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <span class="register__separator">
        <span class="register__separator__text"><%= t('.or') %></span>
      </span>
      <div class="text-center">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <% if social_provider_enabled? provider %>
            <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)} button--social--mini" do %>
              <span class="button--social__icon">
                <%= icon normalize_provider_name(provider) %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
