<section class="home__section" id="metrics">
  <h2 class="home__section-title mb-12">
    <%= t("decidim.pages.home.metrics.headline", organization: current_organization.name) %>
  </h2>
  <%= metrics.highlighted %>
  <%= metrics.not_highlighted %>
</section>
