<% add_decidim_page_title(t(".title")) %>
<% add_decidim_page_title(versioned_resource.title) %>
<%
if versioned_resource.is_a?(Decidim::Proposals::CollaborativeDraft)
  add_decidim_page_title(Decidim::Proposals::CollaborativeDraft.model_name.human(count: 2))
end
%>

<div class="row">
  <%= cell(
    "decidim/versions_list",
    versioned_resource,
    version_path: proc { |version_index| url_for(action: :show, id: version_index) },
    i18n_scope: "decidim.proposals.versions.#{item_name.to_s.pluralize}"
  ) %>
</div>
