<div class="content-block__title">
  <h2 class="h2 decorator"><%= t("name", scope: "decidim.content_blocks.last_activity") %></h2>
  <div class="participatory-space__metadata-link-likes">
    <%= render_recent_avatars %>
  </div>
  <div class="label text-lg"><%= participants_count %></div>
</div>

<div class="space-y-4">
  <%= cell "decidim/activities", activities_query.limit(6), hide_participatory_space: %>
</div>
