<div class="text-center">
  <%= link_to link_to_resource_text, link_to_resource_url, class: "text-secondary hover:underline" %>
  <span class="block text-gray-2 text-xs"><%= link_help_text %></span>
</div>
