<div class="text-center space-y-4">
  <span class="block text-gray-2 text-xs"><%= link_help_text %></span>
  <%= link_to link_to_resource_text, link_to_resource_url, class: "text-secondary hover:underline block" %>
</div>
