<html>
  <head>
    <title><%= current_organization.name %> - API Documentation</title>
    <%= javascript_include_tag "decidim/api/docs" %>
    <style>
      body {
        max-width: 1200px;
      }
      .intro,.info {
        margin-left: 270px;
        color: #333;
      }
      .info li {
        margin-bottom: 1rem
      }
      .info h3 {
        margin-top: 2em;
      }
      .version {
        display: inline-block;
        font-size: 0.8rem;
        margin-right: 1rem;
        padding: 3px 7px;
        background: #f33;
        border-radius: 10px;
        margin-top: 5px;
        color: white;
      }
      @media only screen and (max-width: 767px) {
        .intro,.info {
          margin: 10px;
        }
      }
      code {
        font-size: 0.8em;
        background: #ddd;
        padding: 0.1em;
      }
      pre code{
        background: none;
      }
      pre {
        padding:  0.5rem;
        background: #f0f0f0;
        border: 1px solid #e8e8e8;;
      }
      blockquote {
        border-left: 3px solid burlywood;
        padding: 0.1em 0 0.1em 1rem;
        margin: 1rem 0;
        background: #f9f7f5;
        width: 100%;

      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
