<html>
  <head>
    <title><%= current_organization.name %> - API Documentation</title>
    <%= javascript_pack_tag "decidim_api_docs" %>
    <%= stylesheet_link_tag "decidim/api/docs" %>
    <style>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
