<% date_filter_text = %w(active upcoming past all).include?(params.dig(:filter, :with_date)) ? params.dig(:filter, :with_date) : default_date_filter %>
<h2 class="h5 md:h3 decorator" role="status" aria-atomic="true"><%= t(date_filter_text, scope: "decidim.participatory_processes.participatory_processes.filters.counters", count: collection.total_count) %></h2>

<div class="card__grid-grid">
  <%= render(collection) %>
</div>

<%= decidim_paginate collection %>
