<p>
  <span class="text-small text-uppercase text-muted mr-s"><%= t("belongs_to_group", scope: "decidim.participatory_processes.show") %></span>
  <%= link_to translated_attribute(participatory_process_group.title), participatory_process_group_path(participatory_process_group) %>
</p>
