<section class="extended statistics" id="participatory_process-statistics">
  <div class="row column">
    <h3 class="section-heading"><%= t("statistics.headline", scope: "decidim.participatory_processes") %></h3>
  </div>
  <div class="row">
    <div class="columns small-centered mediumlarge-12 large-12 process_stats">
      <%= stats.highlighted %>
    </div>
  </div>
</section>
