<%= form.collection_check_boxes :taxonomy_items, collection, :value, :name do |item| %>
  <div>
    <%= item.label { item.check_box(autocomplete: false) + item.text } %>
  </div>
  <% if item.object.children.any? %>
    <div class="ml-4 js-taxonomy-children" data-parent="<%= item.object.value %>">
      <%= render "decidim/admin/taxonomy_filters/check_boxes", form:, collection: item.object.children %>
    </div>
  <% end %>
<% end %>
