<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.admin_log" %>
    </h2>
  </div>
  <%= render partial: "decidim/admin/logs/filters" if defined?(display_filters) && display_filters %>
  <div class="card-section">
    <div class="table-scroll">
      <% if logs.any? %>
        <ul class="logs table">
          <% logs.each do |log| %>
            <%= render_log(log) %>
          <% end %>
        </ul>
      <% else %>
        <div class="logs table">
          <p class="logs--no-logs"><%= defined?(empty_logs) && empty_logs ? t(".no_logs_yet") : t(".no_matching_logs") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
