<section class="layout-main__section layout-main__buttons  pt-10" data-buttons>
    <%= cell("decidim/endorsement_block", post) %>

  <%= cell "decidim/comments_button", nil %>

  <div class="ml-auto lg:ml-0">
    <%= cell "decidim/share_widget", post %>
  </div>
</section>

<%= cell "decidim/likes_list", post %>
