<%= render partial: "decidim/shared/component_announcement" %>

<%= render layout: "layouts/decidim/shared/layout_two_col", locals: { title: "Blog" } do %>
  <div id="blogs" class="">
    <%= render partial: "posts" %>
  </div>
  <div id="most-commented" class="">
    <%= render partial: "sidebar_blog", locals: { posts: posts_most_commented } %>
  </div>
<% end %>
