<%= render partial: "decidim/shared/component_announcement" %>

<%= render layout: "layouts/decidim/shared/layout_two_col", locals: { title: t("decidim.components.blogs.name") } do %>

  <%# TODO: sorting component, it requires Turbo %>

  <div id="blogs" class="space-y-12">
    <%= render partial: "posts" %>
  </div>

<% end %>
