<%= render partial: "decidim/shared/component_announcement" %>

<div class="row column">
  <div id="blogs" class="columns medium-7 mediumlarge-8">
    <%= render partial: "posts" %>
  </div>
  <div id="most-commented" class="columns medium-5 mediumlarge-4 large-4">
    <%= render partial: "sidebar_blog", locals: { posts: posts_most_commented } %>
  </div>
</div>
