body{
  max-width: 1200px;
}

.intro,
.info{
  margin-left: 270px;
  color: #333;
}

.info{
  li{
    margin-bottom: 1rem;
  }

  h3{
    margin-top: 2em;
  }
}

.version{
  display: inline-block;
  font-size: .8rem;
  margin-right: 1rem;
  padding: 3px 7px;
  background: #f33;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
}

@media only screen and (max-width: 767px){
  .intro,
  .info{
    margin: 10px;
  }
}

code{
  font-size: .8em;
  background: #ddd;
  padding: .1em;
}

pre{
  padding: .5rem;
  background: #f0f0f0;
  border: 1px solid #e8e8e8;

  code{
    background: none;
  }
}

blockquote{
  border-left: 3px solid burlywood;
  padding: .1em 0 .1em 1rem;
  margin: 1rem 0;
  background: #f9f7f5;
  width: 100%;
}
