<%= order_selector available_orders, i18n_scope: "decidim.debates.debates.orders" %>

<div class="card__grid-container">
  <%= render paginated_debates %>
</div>

<%= decidim_paginate paginated_debates %>
