<div class="form__wrapper">
  <%= form.text_field :title %>
  <%= text_editor_for_debate_description(form) %>

  <% if @form.taxonomy_filters&.any? %>
      <% @form.taxonomy_filters.each do |filter| %>
        <div class="row column">
          <%= filter_taxonomy_items_select_field form, :taxonomies, filter %>
        </div>
      <% end %>
  <% end %>

  <% if component_settings.attachments_allowed? %>
    <div class="row column">
      <%= form.attachment :documents,
                          multiple: true,
                          label: t("decidim.debates.admin.debates.form.add_attachments"),
                          button_label: t("decidim.debates.admin.debates.form.add_attachments"),
                          button_edit_label: t("decidim.debates.admin.debates.form.edit_attachments"),
                          button_class: "button button__lg button__transparent-secondary w-full",
                          help_i18n_scope: "decidim.forms.file_help.file",
                          help_text: t("decidim.debates.admin.debates.form.attachment_legend") %>
    </div>
  <% end %>
</div>
