<div class="form__wrapper">
  <%= form.text_field :title %>
  <%= text_editor_for_debate_description(form) %>

  <% if @form.taxonomy_filters&.any? %>
      <% @form.taxonomy_filters.each do |filter| %>
        <div class="row column">
          <%= filter_taxonomy_items_select_field form, :taxonomies, filter %>
        </div>
      <% end %>
  <% end %>

  <% if @form.id.blank? && Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any? %>
    <%= form.select :user_group_id, Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map { |g| [g.name, g.id] }, prompt: current_user.name %>
  <% end %>
</div>
