<section class="layout-aside__section">
  <div class="election__aside-vote layout-aside__ctas-buttons" data-sticky-buttons>
    <% if election.ongoing? %>
      <%= link_to t("vote_button", scope: "decidim.elections.elections.show"), new_election_vote_path(election), class: "button button__secondary button__lg", target: "_blank", rel: "noopener noreferrer" %>
    <% end %>
    <% if voted_by_current_user?(election) %>
      <div class="election__aside-voted mt-6">
        <span><%= icon "check-line", class: "fill-success inline mr-2" %></span>
        <span><%= t("decidim.elections.elections.show.voted") %></span>
      </div>
    <% end %>
  </div>
</section>
