<%= render partial: "decidim/shared/component_announcement" %>

<div class="row column">
  <ul>
    <% elections.each do |election| %>
      <li><%= action_authorized_link_to :vote, election_path(election), resource: election do %>
        <%= translated_attribute(election.title) %>
      <% end %></li>
    <% end %>
  </ul>
</div>
