<%= render partial: "decidim/shared/component_announcement" %>

<section class="section row">
  <div class="columns">
    <div class="row collapse order-by">
      <h2 class="order-by__text section-heading">
        <%= render partial: "count" %>
      </h2>
    </div>
    <%= render partial: "elections" %>
  </div>
</section>
