<%= render partial: "decidim/shared/component_announcement" %>

<div class="row columns">
  <div class="title-action">
    <h3 id="elections-count" class="title-action__title section-heading">
      <%= render partial: "count" %>
    </h3>
  </div>
</div>
<div class="row">
  <div id="elections" class="columns mediumlarge-8 large-9">
    <%= render partial: "elections" %>
  </div>
</div>
