<div class="process-header__phase process-header__phase--simple">
  <div>
    <span class="phase-title--initiatives">The period of collecting signatures is open</span>
    <span class="phase-subtitle--initiatives">3 days left</span>
    <span class="phase-date">02/06/2016 - 15/02/2016</span>
  </div>
</div>
