<div class="<%= has_profile? ? "profile__user-name" : "profile__user-name !no-underline" %>">
  <%= name %>
  <span class="capitalize label alert">
    <%= position %>
  </span>
</div>
<% if nickname.present? %>
  <span class="profile__user-nick block">
    <%= nickname %>
  </span>
<% end %>
