<h5 class="<%= has_profile? ? "profile__user-name" : "profile__user-name !no-underline" %>">
  <%= name %>
  <span class="capitalize profile__user-role">
    <%= position %>
  </span>
</h5>
<% if nickname.present? %>
  <span class="profile__user-nick block">
    <%= nickname %>
  </span>
<% end %>
