<div class="lines-breadcrumb">
  <% root = conferences.shift %>
  <%= link_to translated_attribute(root.title), conference_path(root) %>

  <% conferences.each do |conference| %>
    <span class="breadcrumb--separator">></span>
    <div>
      <%= link_to translated_attribute(conference.title), conference_path(conference) %>
    </div>
  <% end %>
</div>
