<% if conference.partners.any? %>
  <% conference.partners.group_by(&:partner_type).each do |partner_type, partners| %>
    <hr class="reset mt-none mb-m" />
    <section class="section">
      <h1 class="section-heading"><%= t(".#{partner_type.pluralize}") %></h1>
      <div class="row small-up-2 medium-up-3 card-grid">
        <% partners.each do |partner| %>
          <%= cell "decidim/conferences/partner", partner %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
