<%= link_to conference_path(promoted_conference), class: "conference__list__highlighted" do %>
  <div class="conference__list__highlighted-img">
    <%= image_tag promoted_conference.attached_uploader(:hero_image).path, alt: t(promoted_conference.cta_button_text_key, scope: "layouts.decidim.conferences.promoted_conference") %>
  </div>
  <div class="conference__list__highlighted-text">
    <h3 class="h3 text-secondary"><%= translated_attribute promoted_conference.title %> </h3>
    <%= decidim_sanitize_editor html_truncate(translated_attribute(promoted_conference.short_description), length: 630, separator: "...") %>
  </div>
<% end %>
