<%
@title = "Evote -- Decidim Barcelona"
%>

<main class="focus">
<%= partial "focus_top" %>
<%= partial "focus_header", locals: { step: "identification" } %>
<%= partial "focus_content", locals: { step: "identification" } %>
</main>
