<%# REDESIGN_PENDING: This endpoint should be implemented for each participatory space %>
<%= link_to "last_activities_path", class: prefixed_class("metadata-link") do %>
  <div class="<%= prefixed_class("metadata-link-endorsers") %>">
    <% last_activities_users.each do |user| %>
      <span class="endorsers-list__avatar">
        <%= cell "decidim/redesigned_author", Decidim::UserPresenter.new(user), layout: :avatar, skip_profile_link: true %>
      </span>
    <% end %>
  </div>
  <span><%= t("see_all_activity", scope: "layouts.decidim.participatory_processes.participatory_process") %></span>
<% end %>
