<h2 class="h2 decorator"><%= title_text %></h2>

<% if short_description_text.present? %>
  <div class="content-block__description editor-content">
    <%= short_description_text %>
  </div>
<% end %>

<% if description_text.present? %>
  <div class="content-block__description editor-content">
    <%= description_text %>
  </div>
<% end %>
