{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_233900 {\\n  startTally(messageId: \\\"decidim-test-authority.10004.start_tally+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTIyNzAxNDIsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDA0LnN0YXJ0X3RhbGx5K2EuZGVjaWRpbS10ZXN0LWF1dGhvcml0eSJ9.km_rjzsTwD7gY-PixOqLV8hJId24dnejhIU7oWgZstN5229xH-yJXE1Xz6TPYiZGy2HKqKrhu4048fClDKpsEnHzZFfBDX9snI7P1g-B-Uz_nsy_ObbHl0hBPFhh_OfHXESomhWue8_jiv0Edrnk8w_0O4CRBwmOAa3cgN-FjR05smNHhcgtYtDwgBvF9XQvQB3Epi7rthKNgaOFtC8BDQHK5QSTMorImbz72GKDDrI_23bpOavFdYZANJTN4GnIFPd-bHO6uDOYOXuLdOFr4l1Gla0EQxD6llmRMd0LONpy9wYq9h9CAGopBuPf_T0lXO8wok3v1PR3ulcw1rWq3d9rTQ8j5wev8G-NL8p0IKHdwWRTQV5hTUHmKUc6fom0suh9DaXG50iRYn2nBxHBVCKBZHuUGAbkBLUbXLUkQGiGQrpWUJeigWRv5-TpLhF3d8v1fX2sR_3jVh0npm_BNVptA1bcSRw2RM6jbMmlixvooNA82Q7nxbWvvplzmWbWXVStPhQq_LxbBjI-MizcZDnXnBSc4z7TI7vUc6yGCwuZIe4Ao_ROg34X0iDFM2vL3Xyk6k61d7reuz2KYQVUduc2RkKOxwQPjEtQVnBJQDrqU0ZtHx8M1wZK55G4Zq6gKXOQe5H60s1UnsyHjgsRoZZHU63pizQLj-z2U20Kzrw\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_233900\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"567c280443706a41b9de4050b4ed4afc\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"startTally\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Tue, 02 Feb 2021 12:49:02 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_236480 {\\n  election(uniqueId: \\\"decidim-test-authority.10004\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_236480\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"b99438e4c97c9df16b2954b961be3841\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"tally\"}}}"}},"recorded_at":"Tue, 02 Feb 2021 12:49:05 GMT"}],"recorded_with":"VCR 6.0.0"}