{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_219420 {\\n  startTally(messageId: \\\"decidim-test-authority.10004.start_tally+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTQyNjkzODQsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDA0LnN0YXJ0X3RhbGx5K2EuZGVjaWRpbS10ZXN0LWF1dGhvcml0eSJ9.ajaOHzSk7SDj_k1Fp1hi0FIqU3ftgwnl4koO2Z3xVqDERM0I7ifB_qznEbufIiywqUSXMs9RPXuaPMhpe_PhIzUlLYQEjFXPdYcpZIHhKIRyMYMRrz2MzI8cf3jRXLS9GesGK9wIdmsvquAXN4FK_eJpXOXveVWfzjvJdE-41ToPEI-zbMRMaafqKK1Zd2JFo0vQKPRBdUANnkVzvi16ccm_7xMnO1PPsE-z25r7asgH7-5CaRfIbysqzPLg6nXhafy5YnDrAVukgyxWopGmP4tLRlfvAEEy_YhnDpXs-C2w3IRAt6b0mA8fC2S9U-BZOlrk50dr3LNlvknZtdNf2KOJdKo-GhF1v6KKBqYle1qBAbobeePZ78WHfnv2ZUHpfc5aS27pA4YkPf0OKUz3HJ4iWda9_JcKNnSnq3JTZB_2Yuewi9WSirIf9E0xY68QI9nULb9JpO0TLVchP5f-xQOJmTEF1EUZxC1ZAgx8ZONmsxXFXxClX3JPX0XMkpikYWBTJu8Eo0CWpY3W-u75QuJzsnk71_k2iEahansHEmzcxODrwpxs8RWjPv9Ac24k0_Lxnu1mue_zyoCsSuTLAyrw9B6s5Eiyu62knpAbqnYIR-9-PwQX6M-ETiChWbqEiLNtiRxZWGYTV3JZbwqpJAITFLYlaCHr6k-35dGqb-s\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_219420\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"567c280443706a41b9de4050b4ed4afc\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"startTally\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:09:45 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_221960 {\\n  election(uniqueId: \\\"decidim-test-authority.10004\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_221960\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"b99438e4c97c9df16b2954b961be3841\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"tally\"}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:09:47 GMT"}],"recorded_with":"VCR 6.0.0"}