<div class="card__footer">
  <div class="card__support">
    <% if can_join? && show_footer_actions? %>
      <%= cell "decidim/meetings/join_meeting_button", model %>
    <% else %>
      <%= link_to t("view", scope: "decidim.meetings.meetings.show"), resource_path, class: "card__button button--sc light button small" %>
    <% end %>
  </div>
</div>
