<li class="card-data__item">
  <div>
    <strong>
      <%= l start_date, format: :decidim_with_month_name %>
    </strong>
    &nbsp;·&nbsp;
    <%= formatted_start_time %> - <%= formatted_end_time %>
  </div>
</li>
