<% if @resource.unconfirmed_email.blank? %>
  <p class="email-greeting"><%= t(".greeting", recipient: @email) %></p>
<% end %>

<p class="email-instructions"><%= t(".instruction") %></p>

<p class="email-button email-button__cta"><%= link_to t(".action"), confirmation_url(@resource, confirmation_token: @token, host: @resource.organization.host) %></p>
