<p class="email-greeting"><%= t(".greeting", recipient: @resource.email) %></p>

<p class="email-instructions"><%= t(".message") %></p>

<p class="email-instructions"><%= t(".instruction") %></p>

<p class="email-button email-button__cta"><%= link_to t(".action"), unlock_url(@resource, unlock_token: @token, host: @resource.organization.host) %></p>
