<div class="p-s">
  <h4><%= t(".document_index") %></h4>
  <div class="text-muted">
    <% @proposals.each do |proposal| %>
      <div class="mb-s">
        <p>
          <%= link_to resource_locator(proposal).path do %>
            <% if proposal.participatory_text_level == "article" %>
              <u><%= decidim_html_escape(present(proposal).title) %></u>
            <% else %>
              <u><%= decidim_html_escape(present(proposal).title) %></u>
            <% end %>
            <br>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
