<div class="p-s">
  <h4><%= t(".document_index") %></h4>
  <div class="text-muted">
    <% @proposals.each do |proposal| %>
      <div class="mb-s">
        <p>
          <%= link_to resource_locator(proposal).path do %>
            <% if proposal.participatory_text_level == "article" %>
              <u><%= present(proposal).title %></u>
            <% else %>
              <u class="text-uppercase"><%= present(proposal).title %></u>
            <% end %>
            <br />
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
