<%= render partial: "decidim/shared/component_announcement" %>

<div class="row view-header">
  <div class="column medium-9">
    <h2 class="heading2"><%= render_participatory_text_title(@participatory_text) %></h2>
  </div>
  <div class="column medium-3 pull-right">
    <%= render partial: "decidim/proposals/proposals/participatory_texts/view_index" %>
  </div>
</div>
<div class="row columns" id="proposals">
  <% @proposals.each do |proposal| %>
    <%= cell("decidim/proposals/participatory_text_proposal", proposal, context: { current_user: current_user }) %>
  <% end %>
</div>
