{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_132820 {\\n  pendingMessage(messageId: \\\"decidim-test-authority.2.vote.cast+v.5826de088371d1b15b38f00c8203871caec07041ed0c8fb0c6fb875f0df763b6\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_132820\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"a503317c02073262d737ee47b069a91f\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"pendingMessage\":{\"status\":\"accepted\"}}}"}},"recorded_at":"Fri, 15 Jan 2021 17:37:07 GMT"}],"recorded_with":"VCR 6.0.0"}