.proposal-list{
  &__aside{
    &__button-container{
      @apply flex flex-col gap-4 md:gap-10 w-full md:w-fit;
    }
  }

  &__map{
    /* negative main padding values */
    @apply md:-ml-16 -mt-6 md:-mt-12 aspect-square md:aspect-[21/9] [&>*]:h-full [&+*]:mt-6 md:[&+*]:mt-12;
  }

  &__container{
    @apply mt-6 space-y-10;
  }
}

.proposal{
  &__container{
    @apply space-y-8;

    /* overwrite defaults */
    .static-map,
    [data-decidim-map]{
      @apply aspect-[5/1];
    }
  }

  &__voting-rules{
    @apply flex flex-col md:flex-row justify-between items-center gap-2 md:gap-8 prose max-w-full last:[&>*:not(:only-child)]:flex-none last:[&>*:not(:only-child)]:w-1/4;
  }

  &__author{
    @apply flex items-center gap-4;
  }

  &__cost{
    @apply space-y-3 bg-background rounded p-4 text-black;

    &-period{
      @apply text-gray-2 uppercase text-sm;
    }
  }

  &__actions{
    @apply flex flex-col md:flex-row justify-between items-start gap-4;

    > :first-child{
      @apply flex items-center gap-2;
    }
  }

  &__aside{
    &-container{
      @apply space-y-6 md:space-y-12 flex flex-col;
    }

    &-vote{
      @apply flex flex-row-reverse md:flex-col gap-4 items-center md:items-stretch justify-between first:[&>*]:grow last:[&>*]:w-1/4 md:last:[&>*]:w-auto;
    }
  }
}

.proposal-participatory{
  &__heading{
    @apply mt-10 first:mt-0 mb-6 pb-6 border-b-4 border-background font-sans font-semibold text-xl md:text-3xl;
  }

  &__section{
    @apply p-4 rounded hover:bg-background-4 space-y-4 transition;
  }

  &__section + &__section{
    @apply mt-2;
  }

  &__title{
    @apply block font-semibold text-xl text-secondary;
  }

  &__text{
    @apply text-md text-gray-2;
  }

  &__button{
    @apply inline-flex items-center gap-1 px-0 md:px-6 border-gray-3 border-0 md:border-r first:pl-0 last:pr-0 last:border-r-0 text-sm text-secondary;

    & > span{
      @apply underline;
    }

    & > svg{
      @apply w-3.5 h-3.5 fill-current text-gray;
    }
  }

  &__section:hover &__title{
    @apply underline;
  }

  &__section:hover .label{
    @apply text-white bg-secondary;
  }
}
