<div class="picker-header">
  <h1><%= t(".current_selection") %></h1>
</div>
<div class="picker-content">
  <input type="text" name="proposal-search" id="data_picker-autocomplete">
</div>
<div class="picker-footer">
  <div class="buttons button--double">
    <a id="proposal-picker-choose" class="button mute" href="<%= proposals_results_path(current_component, format: :json) %>" data-picker-value="" data-picker-text="" data-picker-choose><%= t(".select") %></a>
    <a class="button clear" data-close=""><%= t(".close") %></a>
  </div>
</div>
