<div class="picker-header">
  <h1>Current selection</h1>
</div>
<div class="picker-content">
  <input type="text" name="proposal-search" id="data_picker-autocomplete"/>
</div>
<div class="picker-footer">
  <div class="buttons button--double">
    <a id="proposal-picker-choose" class="button mute" href="proposals" data-picker-value="" data-picker-text="" >Select</a>
    <a class="button clear" data-close="">Close</a>
  </div>
</div>
<script type="application/javascript">
$(function() {
  // copy list from main page into this multiselector
  // var modal= $('#data_picker-modal .data_picker-modal-content .picker-content');
  // modal.append(
  //   $("#decidim_accountability_proposals .picker-values").clone()
  // );
})
</script>
