<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
     <%= decidim_form_for(@form, html: { class: "form-defaults form edit_result" }) do |f| %>
       <%= render partial: "form", object: f, locals: { title: t(".title") } %>

       <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
         <%= f.submit t(".update"), class: "button button__sm md:button__lg button__secondary" %>
       </div>
     <% end %>
   </div>
</div>

<%= append_javascript_pack_tag "decidim_accountability_admin" %>
