<%= decidim_form_for(@form, html: { class: "form new_result" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>

<%=  javascript_import_module_tag "src/decidim/accountability/admin" %>
