<summary>
  <span><%= t(".question") %></span>
  <span><%= t(".question_results") %></span>
</summary>

<div>
  <p class="h3"><%= translated_attribute(question.body) %></p>

  <%= cell "decidim/meetings/question_responses", question %>
</div>
