<% if questionnaire.all_questions_unpublished? %>
  <p class="p-4"><%= t(".empty_questions") %></p>
<% else %>
  <%= render partial: "decidim/meetings/polls/questions/question", collection: questionnaire.questions.includes([:questionnaire]).visible %>
<% end %>
