<% if questionnaire.all_questions_unpublished? %>
  <p class="padding-1"><%= t(".empty_questions") %></p>
<% end %>

<%= render partial: "decidim/meetings/polls/questions/question", collection: questionnaire.questions.visible %>
