<div class="form__wrapper">
  <div class="card">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :editor, :announcement, lines: 15, aria: { label: :announcement } %>
      </div>
    </div>
  </div>
</div>
