<% add_decidim_page_title(t("participatory_process_user_roles.edit.title", scope: "decidim.admin")) %>

  <%= decidim_form_for(@form, url: participatory_process_user_role_path(@user_role.participatory_process, @user_role), html: { class: "form edit_participatory_process_user_roles" }) do |f| %>
    <%= render partial: "form", object: f, locals: { title: t("participatory_process_user_roles.edit.title", scope: "decidim.admin") } %>

    <div class="button--double form-general-submit">
    <%= f.submit t("participatory_process_user_roles.edit.update", scope: "decidim.admin") %>
    </div>
  <% end %>
