<div class="item_show__header__action-options hide" data-action-form="change-status">
  <%= decidim_form_for(bulk_actions_form, url: update_status_results_path, method: :post, html: { class: "form form-defaults w-full" }) do |f| %>
    <div class="form__wrapper gap-6">
      <%= f.hidden_field :result_ids, multiple: true, data: { result_ids_field: true } %>

      <div class="row column">
        <%= f.select :decidim_accountability_status_id,
                     options_for_select(statuses.map { |status| [translated_attribute(status.name), status.id] }),
                     { include_blank: true, label: t(".status") },
                     { class: "w-full mt-2" } %>
      </div>

      <%= render partial: "decidim/accountability/admin/results/bulk_actions/submit_buttons", locals: { submit_text: t(".change_status") } %>
    <% end %>
  </div>
</div>
