<div class="flex justify-end gap-x-4">
  <%= submit_tag(submit_text, class: "button button__sm button__secondary small button--simple float-left") %>
  <button class="button button__sm button__secondary" type="button" data-cancel-button><%= t(".cancel") %></button>
</div>
