<% if meetings.any? %>
  <section class="conference__section">
    <h2 class="h2 decorator"><%= t("conference_venues", scope: "decidim.meetings") %></h2>
    <%= cell "decidim/meetings/meetings_map", meetings_geocoded %>
    <% meetings.each do |meeting_block| %>
      <% meeting_block.last.each_with_index do |meeting, index| %>
        <% next if index != 0 %>
        <%== cell("decidim/address", meeting) %>
      <% end %>
    <% end %>
  </section>
<% end %>
