<div class="card__block">
  <h6>
    <strong class="text-uppercase text-small"><%= t("upcoming_meeting", scope: "decidim.participatory_spaces.upcoming_meeting_for_card") %></strong>
  </h6>
  <%= cell("decidim/meetings/meeting_m", upcoming_meeting).date %>
</div>
