<span data-upcoming-meeting>
  <% if redesign_enabled? %>
    <%= format_date_range(upcoming_meeting.start_time, upcoming_meeting.end_time) %>
  <% else %>
    <div class="card__block">
      <strong class="text-small"><%= t("upcoming_meeting", scope: "decidim.participatory_spaces.upcoming_meeting_for_card") %></strong>
      <%= cell("decidim/meetings/meeting_m", upcoming_meeting).date %>
    </div>
  <% end %>
</span>
