<div class="card__block">
  <strong class="text-small"><%= t("upcoming_meeting", scope: "decidim.participatory_spaces.upcoming_meeting_for_card") %></strong>
  <%= cell("decidim/meetings/meeting_m", upcoming_meeting).date %>
</div>
