<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center">
        <h1 class="heading1 page-title"><%= t(".title") %></h1>
        <p class="heading5"><%= t(".verify_with_these_options") %></p>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-7 large-5 medium-centered">
        <div class="card">
          <div class="card__content">
            <% handlers.each do |handler| %>
              <%= link_to t("authorizations.first_login.actions.#{handler.key}", scope: "decidim"), handler.root_path, class: "button expanded" %>
            <% end %>
            <p class="text-center skip"><%= t("decidim.authorizations.skip_verification", link: link_to(t("decidim.authorizations.start_exploring"), cta_button_path).html_safe).html_safe %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
