<% add_decidim_page_title(t(content_block.public_name_key)) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t content_block.public_name_key %>
  </h1>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form-defaults form edit_content_block" }, url: resource_landing_page_content_block_path) do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <%= cell content_block.settings_form_cell, form, content_block: %>
          </div>
        </div>
      </div>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= form.submit submit_button_text, class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
