<% if meetings.present? %>
  <div class="conference__program-item">
    <div class="conference__program-time">
      <%= start_time.to_fs(:time) %> - <%= end_time.to_fs(:time) %>
    </div>
    <div>
      <% categories = meetings.map(&:category).uniq %>
      <% seed = SecureRandom.hex(3).to_s %>
      <% if categories.present? %>
        <ul class="conference__program-category-container">
          <% categories.each do |category| %>
            <li>
              <div class="conference__program-category">
                <%= category.present? ? translated_attribute(category.name) : "other" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% meetings.group_by(&:category).each do |categories_block| %>
        <div class="conference__program-category-content">
          <% categories_block.last.each do |meeting| %>
            <%= render partial: "program_meeting", locals: { meeting: } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
