<%= display_flash_messages %>

<div class="row column">
  <%= form.translated :text_field, :element_name, autofocus: true, class: "js-hashtags", hashtaggable: true, aria: { label: :name } %>
</div>
<div class="row column">
  <%= form.select :parent_id, options_for_select(parent_options, selected: selected_parent_id), { prompt: "" }, class: "form-control" %>
</div>
