<% response_options_with_percentages.each do |(response_option_body, response_percentage)| %>
  <div class="meeting-polls__response">
    <div class="meeting-polls__response--bar">
      <div style="width: <%= response_percentage %>"></div>
    </div>
    <div class="meeting-polls__response--value">
      <span><%= translated_attribute(response_option_body) %></span>
      <span><%= response_percentage %></span>
    </div>
  </div>
<% end %>
