<label><%= translated_attribute(model.body) %></label>
<div class="meeting-polls__answer">
  <div class="meeting-polls__answer--value"><%= answer_percentage %></div>
  <div class="meeting-polls__answer--bar"><div style="width: <%= answer_percentage %>"></div></div>
</div>
