<% answer_options_with_percentages.each do |(answer_option_body, answer_percentage)| %>
  <div class="meeting-polls__answer">
    <div class="meeting-polls__answer--bar">
      <div style="width: <%= answer_percentage %>"></div>
    </div>
    <div class="meeting-polls__answer--value">
      <span><%= translated_attribute(answer_option_body) %></span>
      <span><%= answer_percentage %></span>
    </div>
  </div>
<% end %>
