<%= partial "main_nav" %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Páginas
  </div>
  <div class="secondary-nav__actions">
    <a href="#" class="button expanded small">Añadir página</a>
  </div>
</div>
