<%= partial "main_nav" %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Procesos
  </div>
  <div class="secondary-nav__actions">
    <%= link_to "Añadir proceso", page_path("processes-new"), class: "Añadir proceso" %>
  </div>
</div>
