<div class="card__footer">
  <div class="card__support">
    <%= link_to t("decidim.elections.election_m.footer.take_part"), resource_path, class: "card__button button--sc light button small secondary" %>
  </div>
</div>
