<li class="card-data__item">
  <div class="card-data__item--centerblock">
    <strong>
      <%= l start_date, format: :decidim_with_month_name %>
    </strong><br />
    <%= formatted_start_time %>
  </div>
</li>
<li class="card-data__item">
  <div class="card-data__item--centerblock">
    <strong>
      <%= l end_date, format: :decidim_with_month_name %>
    </strong><br />
    <%= formatted_end_time %>
  </div>
</li>
