</li>
<li class="card-data__item">
  <div class="card-data__item--centerblock">
    <strong>
      <%= l start_date, format: :decidim_with_month_name %>
    </strong>
  </div>
</li>
<li class="card-data__item">
  <div class="card-data__item--centerblock">
    <%= formatted_start_time %> - <%= formatted_end_time %>
  </div>
</li>
