<div id="dropdown-menu-endorsers-list" class="endorsers-list">
  <div class="endorsers-list__text"><%= t("decidim.endorsers_list.endorsed_by") %></div>
  <div class="endorsers-list__grid">
    <% full_endorsers.each do |endorser| %>
      <span class="endorsers-list__avatar">
        <%= cell "decidim/author", endorser, layout: :avatar %>
      </span>
    <% end %>
  </div>
</div>
