<div id="dropdown-menu-endorsers-list" class="endorsers-list">
  <div class="endorsers-list__text"><%= t("decidim.endorsers_list.endorsed_by") %></div>
  <div class="endorsers-list__grid">
    <%= render :full_endorsers_list %>
  </div>
</div>
