<section class="layout-main__section" id="endorser-list-<%= model.id %>">
  <div class="endorsers-list__container">
    <% visible_endorsers.each do |visible_endorser| %>
      <span class="endorsers-list__avatar">
        <%= cell "decidim/author", visible_endorser, layout: :avatar, skip_profile_link: true %>
      </span>
    <% end %>

    <div class="text-center">
      <div class="endorsers-list__text">
        <%= t("decidim.endorsers_list.endorsed_by",
              visible: display_link(voted_by_me? ? t("decidim.endorsers_list.you") : visible_endorsers.first.try(:name)),
              others: display_link(t("decidim.endorsers_list.others", count: endorsers_count - 1), css_class: " first-letter:uppercase"),
              count: endorsers_count
            ) %>
      </div>
    </div>
  </div>
  <%= render :full %>
</section>
