<div class="flex -space-x-2">
  <% visible_endorsers.each do |visible_endorser| %>
    <%# REDESIGN_PENDING: Use cell/author %>
    <span class="rounded-full overflow-hidden border border-white inline-block w-6 h-6">
      <%= image_tag(
            visible_endorser.avatar_url(:thumb),
            alt: t("decidim.author.avatar", name: decidim_sanitize(visible_endorser.name)),
            class: "w-full h-full object-cover"
          ) %>
    </span>
  <% end %>

  <span class="rounded-full overflow-hidden border border-white w-6 h-6 bg-background inline-grid place-items-center text-secondary text-xs font-semibold">
    <%= endorsers_count %>
  </span>
</div>
