<% visible_endorsers.each do |visible_endorser| %>
  <span class="endorsers-list__avatar">
    <%= cell "decidim/author", visible_endorser, layout: :avatar, skip_profile_link: true %>
  </span>
<% end %>

<% if full_endorsers.length > MAX_ITEMS_STACKED %>
  <span class="endorsers-list__counter">
    <%= "+" + (endorsers_count - MAX_ITEMS_STACKED).to_s %>
  </span>
<% end %>
