<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.check_box :enable_organization_chart %>
      </div>
    </div>
  </div>
</div>
