<%= decidim_form_for(@form, html: { class: "form edit_assemblies_settings" }, url: assemblies_settings_path, method: :put) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".update"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
