<div class="card" id="assembly-types">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.assemblies_settings" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= :organization_chart_enabled %>
    </div>
  </div>
</div>
