<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <%= resource_icon %>
    </li>
    <li class="card-data__item">
      <div class="text-left">
        <div class="card__icondata--address">
          <% if has_meeting_url? %>
            <span><%= link_to(live_event_url, live_event_url, target: "_blank") %></span><br>
            <span><%= translated_attribute model.location_hints %></span>
          <% else %>
            <span><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></span>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>
