<div class="filters row">
  <div class="column medium-3">
    <div class="column medium-3">
      <span class="dropdown-menu-inverted_label"><%= t("decidim.admin.actions.per_page") %> :</span>

      <%= cell "decidim/admin/results_per_page", per_page_options %>
    </div>
  </div>
</div>
