.voting-description-cell{
  .content{
    height: auto;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    transition: max-height .1s linear;

    &::before{
      background: linear-gradient(transparent, $body-background);
      bottom: 0;
      content: " ";
      display: block;
      height: 2rem;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &.content__expanded{
      max-height: 100%;
      transition: max-height .3s linear;
    }

    &.content__unexpandable::before{
      display: none;
    }
  }
}
