<div class="card__footer">
  <div class="card__support">
    <div class="card__support__data"></div>
    <%= link_to t("decidim.proposals.collaborative_drafts.collaborative_draft.view_collaborative_draft"), resource_path, class: "card__button button--sc light button small" %>
  </div>
</div>
