<%
@title = "Apoyo a iniciativas -- Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<style>

</style>

<main class="wrapper">
  <div class="row">
    <div class="columns large-3">
      <div>
        <%= link_to page_path("") do %>
          <%= icon "chevron-left", class: "icon--small" %> Volver
        <% end %>
      </div>
      <div>
        <p>
          Estás creando una <strong>consulta ciudadana.</strong>
        </p>
        <p>
          <a href="#">Más información</a>.
        </p>
      </div>
      <div>
        <!-- STEPS component: Set any kind of list with 'steps' class; Its children only require set the active element w/ 'step--active' class -->
        <ol class="steps">
          <li class="step--active">Crea tu iniciativa</li>
          <li>Validación</li>
          <li>Crea la comisión promotora</li>
        </ol>
      </div>
    </div>
    <div class="columns large-6">
      <div class="callout secondary">
        <p>
          Explícanos en qué consiste tu iniciativa. Te recomendamos que el título sea conciso y la descripción se centre en la solución que se propone.
        </p>
      </div>
      <h2 class="section-heading">Crea tu iniciativa</h2>
      <div class="card">
        <div class="card__content">
          <form>
            <div>
              <div>
                <label>Título *
                  <input type="text" placeholder="Nueva propuesta en decidim.barcelona">
                </label>
              </div>
              <div>
                <label>Descripción de la propuesta
                  <textarea placeholder="¿Qué propones?" rows="10"></textarea>
                </label>
              </div>
              <div>
                <label>Tipo de firma *
                  <select>
                    <option></option>
                    <option>Categoría 1</option>
                    <option>Categoría 2</option>
                  </select>
                </label>
              </div>
              <div>
                <label>Ámbito *
                  <select>
                    <option></option>
                    <option>Subcategoría 1</option>
                    <option>Subcategoría 2</option>
                  </select>
                </label>
              </div>
            </div>
            <button type="submit" class="button expanded">Continuar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="columns large-3"></div>
  </div>
</main>

<%= partial "template_bottom" %>
