<%
@title = "Librería de patrones -- Decidim Barcelona"
@activeuser = "logged"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="columns">
      <h1 class="section-heading">DOOOOOOOOSOSOSOSOSSOOS</h1>
    </div>
  </div>
  <div class="row collapse">
    <div class="main-container">
        <div class="row collapse">
jumbotron
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
