<%= render "layouts/decidim/admin/application" do %>
  <div class="voting-content">
    <% if !current_participatory_space.elections.any? %>
      <%= cell("decidim/announcement", t("votings.edit.add_election_component", scope: "decidim.votings.admin"), callout_class: "alert") %>
    <% end %>
    <% if current_participatory_space.polling_stations_with_missing_officers? %>
      <%= cell("decidim/announcement", t("votings.edit.assign_missing_officers", scope: "decidim.votings.admin"), callout_class: "alert") %>
    <% end %>
    <%= yield %>
  </div>
<% end %>
