<div class="row column">
  <%= form.check_box :draft, help_text: t(".draft_help_html"), label: t(".draft") %>
</div>
<div class="row column">
  <%= form.check_box :accepting_suggestions, help_text: t(".accepting_suggestions_help"), label: t(".accepting_suggestions") %>
</div>
