<div class="form__wrapper">
  <div class="card">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :title, autofocus: true, aria: { label: :title } %>
      </div>
    </div>
  </div>
</div>
