<div class="w-24 h-24 relative">
  <div class="w-full h-full rounded-full overflow-hidden drop-shadow-md border-2 border-white">
    <%= image_tag avatar_url, alt: t("decidim.author.avatar", name: decidim_sanitize(presented_profile.name)), class: "w-full h-full object-cover" %>
  </div>

  <%= render :badge if show_badge? %>
</div>
