<div class="absolute top-full right-0 -translate-y-full grid place-items-center w-6 h-6 rounded-full overflow-hidden bg-primary border border-white">
  <%= icon "star-s-fill", class: "w-4 h-4 text-white fill-current" %>
</div>
