<div class="pb-3 space-y-2">
  <h3 class="h3"><%= profile_holder.name %></h3>
  <div class="flex justify-between flex-wrap gap-x-6">
    <%
    details_array = [];

    details_array << ["account-pin-circle-line", profile_holder.nickname] if profile_holder.nickname.present?;
    details_array << ["link", profile_holder.personal_url] if profile_holder.personal_url.present?;
    details_array << ["contacts-line", profile_holder.following_count.to_s + " " + t("decidim.profiles.show.following")] if profile_holder.following_count.present?;
    details_array << ["user-received-line", profile_holder.followers_count.to_s + " " + t("decidim.profiles.show.followers")] if profile_holder.followers_count.present?;

    details_array.each do |detail| %>
      <div class="flex items-center space-x-1.5 whitespace-nowrap">
        <%= icon detail[0], class: "w-3.5 h-3.5 text-gray fill-current" %>
        <span class="text-sm text-gray-2 lowercase"><%= detail[1] %></span>
      </div>
    <% end %>
  </div>
</div>
<p class="pt-3 text-sm text-gray-2"><%= profile_holder.about %></p>
