<div class="pb-3 space-y-2">
  <h3 class="h3"><%= presented_profile.name %></h3>
  <div class="flex justify-between flex-wrap gap-x-6">
    <% details_items.each do |detail| %>
      <div class="flex items-center space-x-1.5 whitespace-nowrap">
        <%= icon detail[:icon], class: "w-3.5 h-3.5 text-gray fill-current" %>
        <span class="text-sm text-gray-2 lowercase"><%= detail[:text] %></span>
      </div>
    <% end %>
  </div>
</div>
<p class="pt-3 text-sm text-gray-2"><%= description %></p>
