<div class="profile__details">
  <h1 class="h3"><%= presented_profile.name %></h1>
  <div class="profile__details-data">
    <% details_items.each do |detail| %>
      <div class="profile__details-item">
        <%= icon detail[:icon] %>
        <span><%= detail[:text] %></span>
      </div>
    <% end %>
  </div>
</div>
<p class="profile__description"><%= description %></p>
