<div class="content"><%= contents %></div>
<div id="sidebar"><%= include.("sidebar.html") %></div>

<!-- mobile only -->
<div id="mobile-header">
  <a class="menu-button" onclick="document.body.classList.toggle('sidebar-open')">☰</a>
</div>
