<div class="content">
  <% if Decidim::Api.disclose_system_version %>
    <div class="version">Decidim <%= Decidim.version %></div>
  <% end %>

  <h1><%= current_organization_name %> API documentation</h1>
  <% if defined?(graphiql_path) %>
    <%= link_to "Explore the API interactively with GraphiQL", graphiql_path %>
  <% end %>
</div>

<%= static_api_docs_content %>
