<%
@title = "Blog -- Decidim Barcelona"
@activesection = "blog"
@activepage = "blog"
%>

<%= partial "template_top" %>

<main>
  <div class="wrapper">
    <%= partial "process_header_home" %>
    <div class="row column">
      MAÑO
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
