<%
@title = "Decidim Barcelona"
%>

<%= partial "cookie_bar" %>
<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
  </div>
</div>
</main>

<%= partial "template_bottom" %>
