<%= decidim_form_for @form,
                     url: response_group_path(current_question, current_response_group),
                     html: { class: "form edit_response_group" } do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t("response_groups.edit.update", scope: "decidim.admin"),
                 class: "button",
                 data: { disable_with: true } %>

    <% if allowed_to? :destroy, :response_group, response_group: current_response_group %>
      <%= link_to t("decidim.admin.actions.destroy"),
                  response_group_path(current_question, current_response_group),
                  method: :delete,
                  class: "alert button",
                  data: { confirm: t("decidim.admin.actions.confirm_destroy") } %>
    <% end %>
  </div>
<% end %>
