<h2 class="questions-title-summary">
  <%= t "response_groups.new.title", scope: "decidim.admin" %>
</h2>

<%= decidim_form_for @form,
                     url: response_groups_path(current_question),
                     html: { class: "form new_response_group" } do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t("response_groups.new.create", scope: "decidim.admin"), data: { disable_with: true } %>
  </div>
<% end %>
