<% close_url = local_assigns[:close_url] %>
<div>
  <%# REDESIGN_PENDING - Update layout and update %>
  <div>
    <% if local_assigns[:prev].present? %>
      <div data-drawer-prev><%= icon "arrow-right-s-line", class: "w-8 h-8 text-secondary fill-current" %></div>
    <% end %>
    <% if local_assigns[:next].present? %>
      <div data-drawer-next><%= icon "arrow-left-s-line", class: "w-8 h-8 text-secondary fill-current" %></div>
    <% end %>
    <div><%= yield %></div>
    <%# REDESIGN_PENDING - Rename this file and this drawer_aside identifier if the content is reused to not mention drawer %>
    <aside><%= yield :drawer_aside %></aside>
  </div>
</div>
