<%= render layout:"layouts/decidim/shared/layout_one_col" do %>
  <div class="grid grid-cols-8 [&_*]:col-span-8 lg:[&>*:not(.grow)]:col-start-2 lg:[&>*:not(.grow)]:col-span-6">
    <%= yield %>
  </div>
<% end %>
