<% content_for :flash_messages do %>
  <%= display_flash_messages %>
<% end %>

<div class="layout-2col">
  <div>
    <aside>
      <%= yield :aside %>
    </aside>
    <main>
      <%= content_for :flash_messages %>
      <%= yield %>
    </main>
  </div>
</div>
