.budget{
  &-summary{
    @apply bg-tertiary py-10 px-16 -ml-16 -mt-12 -mr-[8.5rem];

    &__container{
      @apply -mt-12 -my-16 mb-8;
    }

    &__content{
      @apply grid grid-cols-[70%_30%];
    }

    &__progressbar{
      @apply my-4;

      .budget-progress{
        @apply bg-white rounded;
      }
      &--meter{
        background-color: var(--success);
        @apply h-[20px] rounded;
       }
    }

    &__progressbar-marks{
      @apply grid grid-cols-3 mt-2;
    }

    &__progressbar-marks_center{
      @apply justify-self-center;
    }

    &__progressbar-marks_right{
      @apply justify-self-end text-right;
    }

    &__progressbar-legend{
      @apply text-sm block;
    }

    &__progressbar-legend-strong{
      @apply font-bold block;
    }
  }

  &__card__list-project{
    @apply ml-auto rounded px-3 md:px-6 py-4 bg-background font-bold text-gray-2 text-xl w-[50%] min-w-[120px] grid grid-cols-2 place-items-center;
  }

  &__card__highlight-vote{
    @apply justify-center flex flex-col w-1/4 bg-background p-8 bg-background font-bold text-gray-2 ml-auto;
  }

  &__definition-data__title{
    @apply text-sm text-gray-2 mt-4 block;
  }

  &__definition-data__number{
    @apply text-gray-2 font-bold text-3xl bg-background text-center py-2;
  }
}

[data-drawer]{
  .budget-summary{
    @apply mx-0 mt-0;
    + [data-drawer-content]{
      @apply max-h-[75%];
    }
  }
}
