.budgets{
  background-color: tomato;

  &__item-list__project{
    margin-left: auto;
    width: 40%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 120px;
    place-items: center;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 247 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(62 76 92 / var(--tw-text-opacity));
  }
}

.budget-summary {
  @apply bg-tertiary py-10 px-16;

  &__container{
    @apply -mt-12 -my-16 mb-8;
  }

  &__content{
    @apply grid grid-cols-[70%_30%];
  }

  &__progressbar{
    @apply my-4;

    .budget-progress{
      @apply bg-white rounded;
    }
  }

  &__progressbar-marks{
    @apply grid grid-cols-3 mt-2;
  }

  &__progressbar-marks_center{
    @apply justify-self-center;
  }

  &__progressbar-marks_right{
    @apply justify-self-end text-right;
  }

  &__progressbar-legend{
    @apply text-sm block;
  }

  &__progressbar-legend-strong{
    @apply font-bold block;
  }
}
