<div class="pb-3 space-y-2">
  <h3 class="h3">CB. Club Barna</h3>
  <div class="flex space-x-6">
    <div class="flex items-center space-x-1.5">
      <%= icon "account-pin-circle-line", class: "w-3.5 h-3.5 text-gray fill-current" %>
      <span class="text-sm text-gray-2">@CBGRUPBARNA</span>
    </div>
    <div class="flex items-center space-x-1.5">
      <%= icon "link", class: "w-3.5 h-3.5 text-gray fill-current" %>
      <span class="text-sm text-gray-2">emmarod.com</span>
    </div>
    <div class="flex items-center space-x-1.5">
      <%= icon "contacts-line", class: "w-3.5 h-3.5 text-gray fill-current" %>
      <span class="text-sm text-gray-2">21 miembros</span>
    </div>
    <div class="flex items-center space-x-1.5">
      <%= icon "user-received-line", class: "w-3.5 h-3.5 text-gray fill-current" %>
      <span class="text-sm text-gray-2">345 seguidores</span>
    </div>
  </div>
</div>
<p class="pt-3 text-sm text-gray-2">El CB GRUP BARNA és un Club Esportiu* de bàsquet formatiu, sense ànim de lucre, dedicat a desenvolupar projectes i iniciatives que tractin aspectes relacionats amb la pràctica del bàsquet, sense perdre de vista la formació integral dels seus jugadors i jugadores. El CB GRUP BARNA és un club fundat l’any 1965, al districte de Sant Martí de Barcelona.</p>
