<div class="wrapper">
  <div class="row">
    <h1 class="heading1 page-title">
      <div class="text-center">
        <p><%= t("decidim.profile.inaccessible_message") %></p>
      </div>
    </h1>
  </div>
</div>
