<div class="wrapper">
  <div class="row">
    <h1 class="heading1 page-title">
      <div class="text-center">
        <p>This profile is inaccessible due to Terms and Conditions violation!</p>
      </div>
    </h1>
  </div>
</div>
