<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :key, autofocus: true %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :name, aria: { label: :name } %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :description, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.number_field :progress %>
      </div>
    </div>
  </div>
</div>
