<div class="comment-order-by">
  <% available_orders.each do | order_value| %>
    <div class="text-center">
      <%= link_to(
            t("decidim.components.comment_order_selector.order.#{order_value}"),
            decidim_comments.comments_path(commentable_gid: commentable.to_signed_global_id.to_s, order: order_value, reload: 1),
            class: "button button__sm button__text-secondary only:m-auto comment-order-by__item inline-block #{order_value == order ? "underline font-bold" : ""}",
            remote: true
          ) %>
    </div>
  <% end %>
</div>
