<div class="field">
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.text_area :body, rows: 10 %>
</div>

<% if @form.categories&.any? %>
  <div class="field">
    <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
  </div>
<% end %>

<% if !@form.process_scope %>
  <div class="field">
    <%= form.collection_select :scope_id, organization_scopes, :id, :name %>
  </div>
<% end %>
