<%=  decidim_form_for(@form, html: { class: "form new_proposal" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('.title') }  %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
