<article class="card">
  <div class="card__content">
    <% if title.present? %>
      <div class="card__text">
        <div class="text-medium">
          <span class="icon--container">
            <%= resource_icon model, class: "primary" %>&nbsp;
            <%= title %>
          </span>
        </div>
      </div>
    <% end %>
    <div class="card__header mb-none">
      <%= link_to activity_link_path, class: "card__link" do %>
        <h5 class="card__title mb-none">
          <%= activity_link_text %>
        </h5>
      <% end %>
    </div>
  </div>
</article>
