.table-list__actions{
  .action-icon{
    &.action-icon--disabled{
      color: rgba($muted, .3);
      vertical-align: bottom;
    }

    &.action-icon--highlighted{
      color: $warning-color;
      vertical-align: bottom;
    }

    &.action-icon--success{
      color: $success-color;
      vertical-align: bottom;
    }
  }

  .action-space{
    display: inline-block;

    &:not(:last-child){
      margin-right: 1rem;
    }
  }
}

a.red-icon{
  svg{
    color: red;
  }
}
