.card__filter{
  margin-bottom: 0;

  @include breakpoint(mediumlarge){
    float: right;
  }
}

form{
  .card{
    overflow: initial;
  }
}

// Newsletters index
.subscribed_title{
  text-transform: none;
  letter-spacing: 0;
}

.subscribed_count{
  padding-right: 2em;
  font-weight: normal;
}
