<div class="meeting__aside-block">
  <div class="meeting__aside-block__item">
    <%= icon emoji || "question-line", class: "text-gray fill-current" %>
    <div>
      <%= yield %>
    </div>
  </div>
</div>
