<div class="card--list__item">
  <div class="card--list__text">
    <div>
      <%= link_to resource_path, class: "card__link" do %>
        <h4 class="card--list__heading heading6">
          <%= title %>
        </h4>
        <span class="text-small">
          <%= resource_date_time %>
        </span>
      <% end %>
    </div>
  </div>
</div>
