.conference__list{
  &__highlighted{
    @apply ring ring-4 ring-background hover:ring-tertiary rounded flex hover:cursor-pointer;

    &-container{
      @apply space-y-12 mb-28;
    }

    &-img{
      @apply w-1/2 aspect-video rounded-l overflow-hidden;

      img{
        @apply w-full h-full object-cover;
      }
    }

    &-text{
      @apply w-1/2 px-8 py-6 space-y-4 text-gray-2;
    }

    &:hover &-text h3{
      @apply underline;
    }
  }

  &__item{
    @apply ring ring-4 ring-background hover:ring-tertiary rounded hover:cursor-pointer;

    &-container{
      @apply space-y-12 mb-16;
    }

    &-grid{
      @apply grid gap-x-12 gap-y-16 grid-cols-2;
    }

    &-img{
      @apply aspect-[21/9] rounded-t overflow-hidden;

      img{
        @apply w-full h-full object-cover;
      }
    }

    &-text{
      @apply p-4 block text-secondary;

      h4{
        /* min-height: line-height * num_lines */
        @apply min-h-[calc(25px*3)];

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover &-text{
      @apply underline;
    }
  }
}

.conference{
  &__section{
    @apply space-y-8 py-16 first:pt-0 last:pb-0;

    &-description{
      @apply prose max-w-2xl;
    }

    & + &{
      @apply border-t-2 border-background;
    }
  }

  &__grid{
    @apply grid grid-cols-4 gap-x-6 gap-y-10;

    &-item{
      @apply space-y-4;

      &-img{
        @apply border-4 border-background rounded aspect-[4/3] p-1;

        img{
          @apply w-full h-full object-contain;
        }
      }

      &-text{
        @apply text-secondary text-center;
      }
    }
  }

  &__map{
    @apply flex gap-4 only:[&>*]:grow;

    &-address{
      @apply border-4 border-background rounded p-4 mt-4 first:mt-0;
    }
  }
}
