<% if request["postal_codes"]
  postal_codes = request["postal_codes"].split("-") %>
  <p><%= t("extra_explanation", scope: "decidim.verifications.dummy_authorization", postal_codes: postal_codes.join(", "), count: postal_codes.count) %></p>
<% end %>

<div class="partial-demo">
  <%= form.all_fields %>
</div>
