<% add_decidim_page_title(t(@title_key, scope: "decidim.profiles.show")) %>
<% add_decidim_page_title(profile_holder.name) %>

<% content_for :header_snippets do %>
  <%= tag :meta, name: "robots", content: "noindex" %>
<% end %>

<%# NOTE: this page does not use a regular layout %>
<main>
  <%= cell "decidim/profile", profile_holder, context: { content_cell: @content_cell } %>
</main>
