<div class="focus__header">
  <div class="row">
    <div class="focus__steps"><strong><%= header_title %></strong></div>
    <div class="heading5 focus__header-title">
      <%= translated_attribute(election.title) %>
    </div>
  </div>
</div>
