<div class="flex flex-col items-center gap-14 py-14">
  <h1 class="h1">
    <%= t("decidim.elections.votes.encrypting.header") %>
  </h1>
  <%= icon "fingerprint-line", class: "w-40 h-40 text-tertiary animate-pulse fill-current" %>
  <p class="text-lg font-semibold text-gray-2">
    <%= t("decidim.elections.votes.encrypting.text") %>
  </p>
</div>
