<div class="waiting-room" data-url="<%= waiting_election_votes_path(election_id: election) %>">
  <div>
    <div class="spinner-container mb-6"></div>
    <h2 class="h2 text-center mb-6"><%= t(".title") %></h2>
    <p class="text-center"><%= t(".description") %></p>
  </div>
  <%= link_to t(".exit_button"), exit_path, class: "button button__secondary button__sm w-full mt-12" %>
</div>
