<div data-notifications>
  <% notifications.select(&:resource).each do |notification| %>
    <%= cell("decidim/notification", notification) %>
  <% end %>
</div>

<%= decidim_paginate notifications %>
