<div id="empty-notifications" hidden>
  <%= cell("decidim/announcement", t("decidim.notifications.no_notifications")) %>
</div>

<% notifications_with_resource.each do |notification| %>
  <%= cell("decidim/notification", notification) %>
<% end %>

<%= decidim_paginate notifications %>
