<%= javascript_include_tag "decidim/identity_selector_dialog" %>
<button id="select-identity-button" type="button" name="button" class="button small compact light button--sc secondary <%= fully_endorsed?(resource, current_user) && "success" %>">
  <%= endorse_translated %>
</button>

<div class="reveal collapse"
     id="user-identities"
     data-reveal data-reveal-identities-url="<%= reveal_identities_url %>">
</div>
