<div id="resource-<%= resource&.id %>-like-button">
  <% path = resource.endorsed_by?(current_user) ? path_to_destroy_endorsement(resource) : path_to_create_endorsement(resource) %>
  <% method = resource.endorsed_by?(current_user) ? :delete : :post %>
  <%= action_authorized_button_to(
        :like,
        path,
        :resource => resource,
        :method => method,
        :remote => true,
        :class => button_classes,
        :id => "like-button",
        "aria-label" => endorse_translated
      ) do %>
    <span><%= t("decidim.endorsement_buttons_cell.like") %></span>
    <%= endorse_icon %>
  <% end %>
</div>
