<div class="button-group button-group--collapse button--nomargin small">
  <%= render_endorsements_count_card_part %>
  <%= render_endorsements_button_card_part(model, fully_endorsed?(model, current_user)) %>
</div>
