<div class="form__wrapper">
  <p>
    <%== t ".publish_helper_text" %>
  </p>
  <p>
    <%== t ".access_reminder", link: link_to(t("myself", scope: "decidim.initiatives.initiatives.filters"), decidim_initiatives.initiatives_path(filter: { author: "myself", state: "" })) %>
  </p>
</div>
