<% content_for :title do %>
  <%= t("templates", scope: "decidim.admin.titles") %>
<% end %>

<% @templates.each do |template| %>
  <tr>
    <td>
      <%= template.model_type %>
      <%= template.model_id %>
      <%= translated_attribute template.name %>
    </td>
  </tr>
<% end %>
