<div class="columns mediumlarge-3">
  <div class="consultations-header__extra">
    <div>
      <span class="consultations-header__extra-title"><%= t ".start_voting_date" %></span>
      <span class="consultations-header__extra-date">
        <%= l consultation.start_voting_date %>
      </span>
    </div>
  </div>
</div>
