<div class="row column consultations-nav">
  <%
    components = question.components.published.or(Decidim::Component.where(id: self.try(:current_component)))
  %>

  <%=
    extended_navigation_bar([
      {
        name: t(".question_menu_item"),
        url: decidim_consultations.question_path(question),
        active: is_active_link?(decidim_consultations.question_path(question), :exclusive)
      }
    ] + components.map do |component|
      {
        name: translated_attribute(component.name),
        url: main_component_path(component),
        active: is_active_link?(main_component_path(component), :inclusive)
      }
    end)
  %>
</div>
