<div class="inline-block relative">
  <%= button_tag data: { component: "dropdown", target: "conferences-dropdown-menu-settings" }, class: "dropdown__trigger button button__transparent" do %>
    <span>
      <%= t("menu.manage", scope: "decidim.admin") %>
    </span>
    <%= icon "arrow-down-s-line" %>
  <% end %>
  <div id="conferences-dropdown-menu-settings" class="process-title-content-dropdown" aria-hidden="true">
    <%= dropdown_menu(:admin_conferences_menu).render %>
  </div>
</div>
