<button class="exports dropdown tiny button button--simple" data-toggle="export-dropdown"><%= t "actions.export", scope: "decidim.proposals" %></button>
<div class="dropdown-pane" id="export-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
  <ul class="vertical menu add-features">
    <% current_feature.manifest.export_manifests.each do |manifest| %>
      <% %w{csv json}.each do |format| %>
        <li class="exports--<%= format %>"><%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{current_feature.manifest.name}.admin.exports.#{manifest.name}"), export_format: format.upcase), decidim_admin.participatory_process_feature_exports_path(feature_id: current_feature, participatory_process_id: current_participatory_process, format: format, id: manifest.name), method: :post %></li>
      <% end %>
    <% end %>
  </ul>
</div>
