<div class="absolute top-full left-0 lg:relative flex justify-between bg-white rounded-b shadow-lg text-black w-full lg:w-[1000px]">
  <div class="hidden md:block w-3/4 p-8">
    <%= render :metadata %>
    <%# REDESIGN_PENDING: Show last activity related whit participatory space only %>
    <%= cell "decidim/content_blocks/menu_breadcrumb_last_activity", nil %>
  </div>
  <ul class="w-full md:w-1/4 bg-primary px-8 py-3 divide-y divide-gray-3 text-white">
    <%= render :links %>
  </ul>
</div>
