<div class="session-box">
  <div class="admin-email">
    <%= current_admin.email %>
  </div>
  <div class="sign-out">
    <%= link_to("Logout", destroy_admin_session_path, :method => :delete) %>
  </div>
</div>
