<!DOCTYPE html>
<html>
  <head>
    <title>Decidim - Login</title>
    <%= render partial: "layouts/decidim/system/header" %>
  </head>

  <body class="login">
    <div class="login-form-wrapper">
      <div class="login-form">
        <h1>Decidim</h1>
        <%= render "decidim/system/shared/notices" %>
        <div class="login-form-inner">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
