<%= decidim_form_for([budget, @form], html: { class: "form new_project" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: "#{translated_attribute(budget.title)} &gt; #{t(".title")}" } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
