{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_238240 {\\n  endVote(messageId: \\\"decidim-test-authority.10003.end_vote+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTQyNjk0MTYsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAzLmVuZF92b3RlK2EuZGVjaWRpbS10ZXN0LWF1dGhvcml0eSJ9.hWoWXKMvbTP8TO4NTb7PbmBnsbZ_DD-WjRhpd3gXNQE5VsvkcNO_fTRO_qvZPZoCoEulEfsnz6SnDkLhpL4R81p33hJefaocYJ3mzb__hXFm62awdXXiaA94Wm4TgTEamUvpxU68GqnKljSDrvuv-A1gmtYWDHzfVJup4ydvfntD-oBOIOlakF-FbF1o7QdFmSVzHkImQUWR9A9VC33LctnE0tXL9VufLOYWCPJOmyAUky0uaPJ_MzptcfJxNueSJTbdC7ZAgYEOPfZGw0rvmzsxGWm_opw8ujvGg8ix2OHU6DVMww229N0_c6BczmyQEHWPMWTG2IVl9TNtbJfMph_9iNRi2bxSSfi1pUrWrvz9WYoVrN7u6jdv1c3xifMY0KZOvAwShyk72T24QHqqd_K60y5ACeWQ_jScBB0jNpEyw8Y_lCHWX1yMGnSd1BU3BT37E2Hd77YmOlyhKzZNA2-eID86uMVwxvdzc3-azt55R_fd4prSP2tDG4Ayk1w6PQX9oFZC_MBbapgZxR_MMTVi_Zy9npkObVai7TVS49_pO40PN3DhcMBKZ0m-aE9uZESq1fUWfIp2MuyAsxCK19xYI2eDUbKS1Gjv8gnsHWMDU0ZkSn2HQRB2VZeAUMINP26oPj6rTrQMCfsbHZvJ2DGAMz78tszxVrIbo7LYmGs\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_238240\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"a0ac0e2ac08108148bde35ed6a26b9b3\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"endVote\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:10:16 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_240400 {\\n  election(uniqueId: \\\"decidim-test-authority.10003\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_240400\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"bf7662256fcc03fb3184af4ff59da671\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"vote_ended\"}}}"}},"recorded_at":"Thu, 25 Feb 2021 16:10:18 GMT"}],"recorded_with":"VCR 6.0.0"}