<h4 class="section-heading">
  <%= t(".current_step_index", index: current_index) %>&nbsp;
  <span class="answer-questionnaire__steps">
    <%= t(".total_steps", total: total_questionnaires) %>
  </span>
</h4>
