<h4 class="section-heading">
  <%= t("decidim.forms.steps_header.show.current_step_index", index: current_index) %>
  <span class="answer-questionnaire__steps">
    <%= t("decidim.forms.steps_header.show.total_steps", total: total_questionnaires) %>
  </span>
</h4>
