<div class="card__list-metadata">
  <%# REDESIGN_PENDING: integrate these values %>
  <span>
    <%= cell "decidim/author", present(Decidim::User.first), from: model, skip_profile_link: true %>
  </span>
  <span>
    <%= icon "chat-1-line" %>
    2345
  </span>
  <span>
    <%= icon "heart-add-line" %>
    2345
  </span>
</div>
