<div class="form__wrapper pt-0">
  <div class="card">
    <div class="card-section">
      <div id="custom-input" class="row column">
        <%= form.email_field :email, autofocus: true, placeholder: t(".email") %>
      </div>
    </div>
  </div>
</div>
