<% content_for :heading do %>
  Color
<% end %>

<% content_for :description do %>
  <p>We provide a Base palette with few colors so simple customizations are easy. You can modify the Base palette either in the Administration area or in the Tailwind configuration file if you need more advanced customization.</p>
  <p>When customizing your colors, have in mind the <%= link_to "WCAG 2.1 AA compliant contrast ratios", "https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html" %>. You can check the contrast of your choosing with <%= link_to "WebAIM Contrast Checker", "https://webaim.org/resources/contrastchecker" %> or other similar tools.</p>
<% end %>

<% content_for :toc do %>
  <% colors_sections.each do |section| %>
    <%= link_to(section_text(section), "##{section[:id]}") %>
  <% end %>
<% end %>

<%= render partial: "decidim/design/shared/sections", locals: { sections: colors_sections } %>
