<h2 class="process-title-summary">
  <%= t ".title" %>
</h2>

<%= decidim_form_for(@form, html: { class: "form new_participatory_process" }) do |f| %>
  <%= render partial: 'form', object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
 