<div class="row" id="see-all-processes">
  <div class="columns small-centered small-12
    smallmedium-8 medium-6 large-4">
    <%= link_to t("see_all_processes", scope: i18n_scope), decidim_participatory_processes.participatory_processes_path, class: "button expanded hollow button--sc home-section__cta" %>
  </div>
</div>
