<section id="highlighted_processes" class="wrapper-home home__section">
  <h3 class="section-heading"><%= t("active_processes", scope: i18n_scope) %></h3>
  <%= render "_all_processes" %>
  <div class="card__grid-home">
    <% highlighted_items.each do |item| %>
      <%= card_for item, size: :g %>
    <% end %>
  </div>
</section>
