<%= link_to model.link ||= "", target: "_blank", class: "conference__grid-item" do %>
  <div class="conference__grid-item-img">
    <%= image_tag model.attached_uploader(:logo).path(variant: :medium), alt: "logo" %>
  </div>
  <h5 class="h5 conference__grid-item-text"><%= model.name %></h5>
<% end %>
