<%= decidim_form_for(@form, url: assembly_participatory_process_path(@current_assembly_participatory_process.assembly, @current_assembly_participatory_process), html: { class: "form edit_assembly_participatory_process" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('assembly_participatory_processes.edit.title', scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
  <%= f.submit t("assembly_participatory_processes.edit.update", scope: "decidim.admin") %>
  </div>
<% end %>
