<%= decidim_form_for(@form, html: { class: "form new_assembly_participatory_process" }) do |f| %>
  <%= render partial: 'form', object: f, locals: { title: t('assembly_participatory_processes.new.title', scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("assembly_participatory_processes.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
