<div class="columns mediumlarge-4 large-3">
    <div class="filters-controls hide-for-mediumlarge">
  <button data-open="filter-box" class="filters-controls__trigger" aria-controls="filter-box" aria-haspopup="true" tabindex="0">
    Filter
    <svg aria-label="Unfold" role="img" class="icon--caret-bottom icon icon--small float-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-caret-bottom"></use></svg>
  </button>
</div>



    <div class="card card--secondary show-for-mediumlarge">
      <div class="filters"><form class="new_filter" action="/processes/consequatur-perferendis/f/3/proposals" accept-charset="UTF-8" data-remote="true" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <input class="input-group-field" placeholder="Search" type="search" value="" name="filter[search_text]" id="filter_search_text">
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <svg aria-label="Search" class="icon--magnifying-glass icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-magnifying-glass"></use></svg>
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="filters__section"><fieldset><legend><h6 class="heading6">Origin</h6></legend><input type="hidden" name="filter[origin]" value=""><label for="filter_origin_all"><input type="radio" value="all" checked="checked" name="filter[origin]" id="filter_origin_all">All</label><label for="filter_origin_official"><input type="radio" value="official" name="filter[origin]" id="filter_origin_official">Official</label><label for="filter_origin_citizens"><input type="radio" value="citizens" name="filter[origin]" id="filter_origin_citizens">Citizens</label></fieldset></div>

    <div class="filters__section"><fieldset><legend><h6 class="heading6">State</h6></legend><input type="hidden" name="filter[state]" value=""><label for="filter_state_all"><input type="radio" value="all" name="filter[state]" id="filter_state_all">All</label><label for="filter_state_accepted"><input type="radio" value="accepted" name="filter[state]" id="filter_state_accepted">Accepted</label><label for="filter_state_rejected"><input type="radio" value="rejected" name="filter[state]" id="filter_state_rejected">Rejected</label><label for="filter_state_evaluating"><input type="radio" value="evaluating" name="filter[state]" id="filter_state_evaluating">Evaluating</label></fieldset></div>




    <div class="filters__section"><fieldset><legend><h6 class="heading6">Category</h6></legend><select name="filter[category_id]" id="filter_category_id"><option value="">Select a category</option>
<option value="1">Animi qui blanditiis id et veniam expedita.</option>
<option value="2">Architecto consequatur ex laboriosam qui sed tempore.</option></select></fieldset></div>

  <input type="hidden" name="order" value="random" class="order_filter">
</form></div>
    </div>
  </div>
