<div class="columns mediumlarge-4 large-3">
  <div class="filters-controls hide-for-mediumlarge">
    <%= form_tag(decidim.search_path, method: :get, id: "js-form-searchable_rsrc_filter") do %>
      <%= text_field_tag :term, term, class: "m-none", placeholder: t('decidim.search.term_input_placeholder') %>
    <% end %>
    <button data-open="filter-box" class="filters-controls__trigger" aria-controls="filter-box" aria-haspopup="true" tabindex="0">
      Filter
      <svg aria-label="Unfold" role="img" class="icon--caret-bottom icon icon--small float-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-caret-bottom"></use></svg>
    </button>
  </div>



  <div class="card card--secondary show-for-mediumlarge">
    <div class="filters">
      <%= form_tag(decidim.search_path, method: :get, id: "js-form-searchable_rsrc") do %>
        <div class="filters__section">
          <div class="filters__search">
            <div class="input-group">
              <%= text_field_tag :term, term, class: "input-group-field", placeholder: t('decidim.search.term_input_placeholder') %>

              <div class="input-group-button">
                <button type="submit" class="button button--muted">
                  <svg aria-label="Search" class="icon--magnifying-glass icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-magnifying-glass"></use></svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="filters__section">
          <fieldset>
            <legend>
              <h6 class="heading6">Participatoy spaces</h6>
            </legend>

            <input type="hidden" name="filter[participatory_space]" value="">

            <label for="filter_participatory_space_all">
              <input type="radio" value="all" checked="checked" name="filter[participatory_space]" id="filter_participatory_space_all">
              All
            </label>

            <label for="filter_participatory_space_assemblies">
              <input type="radio" value="assemblies" name="filter[participatory_space]" id="filter_participatory_space_assemblies">
              Assemblies
            </label>

            <label for="filter_participatory_space_processes">
              <input type="radio" value="processes" name="filter[participatory_space]" id="filter_participatory_space_processes">
              Processes
            </label>

            <label for="filter_participatory_space_initiatives">
              <input type="radio" value="initiatives" name="filter[participatory_space]" id="filter_participatory_space_initiatives">
              Initiatives
            </label>

            <label for="filter_participatory_space_consultations">
              <input type="radio" value="consultations" name="filter[participatory_space]" id="filter_participatory_space_consultations">
              Consultations
            </label>
          </fieldset>
        </div>

        <div class="filters__section">
          <fieldset>
            <legend>
              <h6 class="heading6">Components</h6>
            </legend>

            <input type="hidden" name="filter[component]" value="">

            <label for="filter_component_all">
              <input type="radio" value="all" checked="checked" name="filter[component]" id="filter_component_all">
              All
            </label>

            <label for="filter_component_proposals">
              <input type="radio" value="proposals" name="filter[component]" id="filter_component_proposals">
              Proposals
            </label>

            <label for="filter_component_meetings">
              <input type="radio" value="meetings" name="filter[component]" id="filter_component_meetings">
              Meetings
            </label>

            <label for="filter_component_debates">
              <input type="radio" value="debates" name="filter[component]" id="filter_component_debates">
              Debates
            </label>
          </fieldset>
          </div>
      <% end %>
    </div>
  </div>
</div>
