<div class="row small-up-1 medium-up-2 large-up-3 card-grid">
  <div class="column">
    <article class="card card--action">
      <span class="card__type">
        <svg class="icon">
          <svg class="icon--results icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-results"></use></svg>
        </svg>
        Resultat
      </span>
      <div class="card__content">
        <a class="card__link" href="/public/action-view">
          <h5 class="card__title">Creació d'aules ambientals al Parc del Clot</h5>
</a>          <p class="card__desc">Implementar la instal·lació d’àrees
          estratègiques de càrrega i descàrrega per garantir uns
           fluxos de mobilitat sostenibles i respectuosos.</p>
        <ul class="tags tags--action">
          <li><a href="">transició ecológica</a></li>
          <li><a href="">mobilitat sostenible</a></li>
          <li><a href="">barri de Sarrià</a></li>
        </ul>
      </div>
      <div class="card__footer">
        <ul class="card-data">
          <li class="card-data__item">
            <span class="card-data__item__number">130</span>propostes
          </li>
          <li class="card-data__item">
            <span class="card-data__item__number">27</span>suports
          </li>
          <li class="card-data__item">
            <span class="card-data__item__number">2567</span>comentaris
          </li>
        </ul>
      </div>
    </article>
  </div>

  <div class="column">
  <article class="card card--meeting">
    <span class="card__type">
      <svg class="icon">
        <svg class="icon--meetings icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-meetings"></use></svg>
      </svg>
      Trobada
    </span>
    <div class="card__content">
      <a class="card__link" href="/public/meeting-view">
        <h5 class="card__title">Foment valors naturals i preservació espais
          verds de la ciutat: Collserola</h5>
</a>        <div class="card__datetime">
        <div class="card__datetime__date">
          20 <span class="card__datetime__month">Agosto</span>
        </div>
        <div class="card__datetime__time">
          16:00 - 18:00
        </div>
      </div>
      <div class="address card__extra">
        <div class="address__icon">
          <svg width="40" height="70" class="icon--meetings icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-meetings"></use></svg>
        </div>
        <div class="address__details">
          <strong>Seu del Districte Sants-Montjuïc</strong><br>
          <span>Carrer de la Creu Coberta, 104</span><br>
          <span>Barcelona</span>
        </div>
      </div>
    </div>
  </article>
</div>

  <div class="column">
    <article class="card card--debate">
      <span class="card__type">
        <svg class="icon">
          <svg class="icon--debates icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-debates"></use></svg>
        </svg>
        Debat
      </span>
      <div class="card__content">
        <div class="card__header">
          <a class="card__link" href="debate-view-AMA">
            <h5 class="card__title">Decidim amb Janet Sanz una Barcelona més
              humana i en transició ecològica</h5>
</a>            <div class="card__author author-data author-data--small">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar author__avatar--small">
                  <img alt="" src="/assets/demo-avatar-61e62affb4d6810691208da9f6968c69426fa46cfbc5abf34efc135f6610fa6c.jpg">
                </a>
                <a href="#" class="author__name">
                  Janet Sanz
                  <span class="label label--small label--basic">
                    Regidora</span>
                </a>
                01/08/2016
              </div>
            </div>
          </div>
        </div>
        <div class="card__datetime">
          <div class="card__datetime__date">
            20 <span class="card__datetime__month">Agosto</span>
          </div>
          <div class="card__datetime__time">
            16:00 - 18:00
          </div>
        </div>
        <p>
          Una Barcelona més humana i en transició ecològica” és un
          dels eixos estratègics que proposem al Programa d’actuació
          municipal...
        </p>
        <ul class="tags tags--debate">
          <li><a href="">transició ecológica</a></li>
        </ul>
      </div>
      <div class="card__footer">
        <div class="card__support">
          <div class="card__support__data"></div>
          <a href="#" class="button small secondary card__button">
            Participa</a>
        </div>
      </div>
    </article>
  </div>

  <div class="column">
        <article class="card card--proposal">
          <span class="card__type">
            <svg class="icon">
              <svg class="icon--proposals icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/decidim/icons-509a478a67af62ad7c73a2b25fa27fbf9874be8aee5d9366428cf650b335b143.svg#icon-proposals"></use></svg>
            </svg>
            Proposta
          </span>
          <div class="card__content">
            <div class="card__header">
              <a class="card__link" href="/public/proposal-view">
                <h5 class="card__title">
                  Creació d'aules ambientals al Parc del Clot
                </h5>
</a>                <div class="card__author author-data author-data--small">
                <div class="author-data__main">
                  <div class="author author--inline">
                    <a href="#" class="author__avatar author__avatar--small">
                      <img src="/assets/demo-avatar-61e62affb4d6810691208da9f6968c69426fa46cfbc5abf34efc135f6610fa6c.jpg" alt="Demo avatar">
                    </a>
                    <a href="#" class="author__name">
                      Ajuntament de Barcelona
                    </a>
                    01/08/2016
                  </div>
                </div>
              </div>
            </div>
            <p>
              Implementar la instal·lació d’àrees
              estratègiques de càrrega i descàrrega per garantir uns
               fluxos de mobilitat sostenibles i respectuosos.</p>
            <ul class="tags tags--proposal">
              <li><a href="">transició ecológica</a></li>
              <li><a href="">mobilitat sostenible</a></li>
            </ul>
          </div>
          <div class="card__footer">
            <div class="card__support">
              <div class="card__support__data">
                <span class="card__support__number">27</span>suports
                <div class="popularity popularity--level5">
                  <span class="popularity__item"></span>
                  <span class="popularity__item"></span>
                  <span class="popularity__item"></span>
                  <span class="popularity__item"></span>
                  <span class="popularity__item"></span>
                </div>
              </div>
              <button class="card__button button small" data-toggle="loginModal" aria-controls="loginModal" aria-haspopup="true" tabindex="0">
                Donar suport
              </button>
            </div>
          </div>
        </article>

      </div>
