<% add_decidim_page_title(t("term_input_placeholder", scope: "decidim.search")) %>

<% content_for :aside do %>
  <%= render partial: "filters" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <div id="search-count">
    <%= render partial: "count" %>
  </div>

  <div id="results">
    <%= cell "decidim/search_results", @sections, params: params %>
  </div>

<% end %>
