<div class="row column">
  <%= form.text_field :name, label: t('.name') %>
</div>

<div class="row column">
  <%= form.email_field :email, label: t('.email') %>
</div>

<div class="row column">
  <%= form.select :role, @form.available_roles_for_select, label: t('.role') %>
</div>
