// User profile, notifications & settings

$avatar-size: 40px;
$avatar-right-margin: .5rem;

.user-header{
  @include clearfix;
  display: flex;
  align-items: center;
}

.user-header__avatar{
  float: left;
  margin-right: $avatar-right-margin;

  > img{
    border-radius: 50%;
    margin-top: -3px;
    width: $avatar-size;
  }
}

.user-header__heading{
  margin-bottom: 0;
}

.user-nickname{
  color: gray;
  font-size: 1rem;
  margin-top: 5px;
  margin-left: $avatar-size;
  padding-left: $avatar-right-margin;
}
