@import "decidim/variables";
@import "decidim/properties";
@import "foundation";
@import "decidim/utils/settings";

@include foundation-everything($flex: false);

@import "decidim/utils/fontface";
@import "decidim/utils/helpers";
@import "decidim/utils/keyframes";
@import "decidim/utils/mixins";
@import "decidim/utils/toggle-expand";
@import "decidim/modules/modules";
@import "decidim/layouts/layouts";
@import "decidim/extras/extras";
@import "decidim/vizzs/vizzs";
