// Variables

$primary: #ef604d !default;
$secondary: #599aa6 !default;
$success: #57d685 !default;
$warning: #ffae00 !default;
$alert: #ec5840 !default;

$proposals: #238ff7 !default;
$actions: #57d685 !default;
$debates: #fa6c96 !default;
$meetings: #fabc6c !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #dd4b39 !default;

// Define custom properties as css color variables

:root{
  --primary: #{$primary};
  --secondary: #{$secondary};
  --success: #{$success};
  --warning: #{$warning};
  --alert: #{$alert};

  --proposals: #{$proposals};
  --actions: #{$actions};
  --debates: #{$debates};
  --meetings: #{$meetings};

  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}
