// Variables

$primary: #ef604d !default;
$secondary: #599aa6 !default;
$success: #57d685 !default;
$warning: #ffae00 !default;
$alert: #ec5840 !default;

$proposals: #238FF7 !default;
$actions: #57D685 !default;
$debates: #FA6C96 !default;
$meetings: #FABC6C !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #dd4b39 !default;
