// Variables

$primary: #ef604d !default;
$primary-rgb: 239,96,77 !default;
$secondary: #599aa6 !default;
$secondary-rgb: 89,154,166 !default;
$success: #57d685 !default;
$success-rgb: 87,214,133 !default;
$warning: #ffae00 !default;
$warning-rgb: 255,174,0 !default;
$alert: #ec5840 !default;
$alert-rgb: 236,88,64 !default;

$proposals: #238ff7 !default;
$actions: #57d685 !default;
$debates: #fa6c96 !default;
$meetings: #fabc6c !default;

$twitter: #55acee !default;
$facebook: #3b5998 !default;
$google: #4285f4 !default;

// background colors used in public diff views
$color-addition: #e6ffed !default;
$color-removal: #ffeef0 !default;

// Define custom properties as css color variables

:root{
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
  --proposals: #{$proposals};
  --actions: #{$actions};
  --debates: #{$debates};
  --meetings: #{$meetings};
  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}
