.notification-icon {
  width: .625em;
  height: .625em;
  fill: #ef604d;
  color: #3D393C;
}

.notification-time_ago {
  display: block;
  font-style: italic;
  text-align: right;
  padding: 10px 0;
  font-size: 0.8em;
}
