<%
validations = []

validations << t("decidim.members.no_members") if memberships.any?

validations.each do |validation| %>
  <p><%= validation %></p>
<% end %>

<% if !validations.length %>
  <div class="grid grid-cols-2 gap-10">
    <% memberships.each do |membership| %>
      <!-- TODO: it should be the same cell as following, follower, groups and member -->
      <a href="" class="group flex items-center space-x-1.5">
        <div class="w-12 h-12 relative flex-none">
          <div class="w-full h-full rounded-full overflow-hidden drop-shadow-md border-2 border-white group-hover:border-tertiary">
            <img class="w-full h-full object-cover" src="https://www.fillmurray.com/640/360" />
          </div>

          <%# if membership.badge?.present? %>
            <div class="absolute top-full right-0 -translate-y-full grid place-items-center w-4 h-4 rounded-full overflow-hidden bg-primary border border-white">
              <%= icon "star-s-fill", class: "w-2.5 h-2.5 text-white fill-current" %>
            </div>
          <%# end %>
        </div>
        <div class="space-y-1">
          <h5 class="h5 text-secondary group-hover:underline">
            C.B. Grup Barna
            <small class="inline-block ml-1 px-2 py-0.5 font-normal rounded text-xs text-primary bg-primary/25">Admin</small>
          </h5>
          <span class="text-gray-2 lowercase">@CBGRUPBARNA</span>
        </div>
      </a>
    <% end %>
  </div>

  <%= decidim_paginate memberships %>
<% end %>
