<%
validations = []

validations << t("decidim.members.no_members") if memberships.blank?

validations.each do |validation| %>
  <p><%= validation %></p>
<% end %>

<% if validations.empty? %>
  <div class="grid grid-cols-2 gap-10">
    <% memberships.each do |membership| %>
      <%= card_for membership %>
    <% end %>
  </div>

  <%= decidim_paginate memberships %>
<% end %>
