<% if validation_messages.present? %>
  <% validation_messages.each do |validation| %>
    <%= cell("decidim/announcement", validation) %>
  <% end %>
<% else %>
  <div class="profile__user-grid">
    <% memberships.each do |membership| %>
      <%= card_for membership %>
    <% end %>
  </div>
  <%= decidim_paginate memberships %>
<% end %>
