<p><%= t(".greeting", recipient: @recipient) %></p>

<p><%= t(".intro", sender: @sender) %></p>

<p>
  <%= link_to decidim.conversation_url(@conversation, host: @host), decidim.conversation_url(@conversation, host: @host) %>
</p>

<p><%= t(".outro") %></p>
