<% if photos.any? %>
  <div class="section images">
    <h4 class="section-heading"><%= t(".related_photos") %></h4>
    <div class="gallery row">
      <% photos.in_groups_of(3, false).each do |group| %>
        <% group.each_with_index do |photo, index| %>
          <div class="columns small-6 medium-4 <%= (index == 2 || photo == group.last ? "end" : "") %>">
            <%= link_to photo.big_url do %>
              <%= image_tag photo.thumbnail_url, class:"thumbnail", alt: strip_tags(translated_attribute(photo.description)) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
