.filters__section {
  @apply flex gap-x-6 items-center mb-8;

  & > .fcell {
    &.search {
      @apply w-full relative;
    }
  }

  .button,
  .input-group {
    @apply mb-0;
  }

  .input-group {
    @apply relative;

    [type="search"] {
      @apply border-0 shadow-none rounded w-full py-1 px-4;
    }
  }

  .input-group-button {
    @apply absolute right-4 top-0 h-full top-1;
  }
}

.filter-status {
  @apply relative w-full mt-2;

  .label {
    @apply font-semibold mt-2;

    .type-icon {
      @apply align-top;
    }

    .action-icon {
      span {
        @apply ml-1;
      }

      &.action-icon--remove {
        color: #e66a5d;
        margin-left: 0.3rem;

        &:hover {
          color: #e66a5d;
        }
      }
    }
  }
}
