.item_show__wrapper {
  @apply bg-white p-8;
}

.item_show__header {
  @apply flex items-center pb-4 border-b border-neutral-200 mb-4 gap-x-2;

  > svg {
    @apply w-4 h-4;
  }

  &-title {
    @apply text-xl font-bold block sm:flex items-center justify-between gap-4 w-full first-letter:capitalize first:[&>div]:ml-0 first:[&>*]:ml-auto;
  }

  &--with-action-options {
    @apply flex-row flex-wrap;
  }

  &__action-options {
    @apply flex bg-background p-8 w-full mt-4 w-full;
  }
}

.item_show__content {
  @apply grid grid-cols-1 md:grid-cols-[70%_30%];

  &-activity {
    @apply pr-8;
  }

  &-aside {
    @apply h-full border-l border-gray pl-8;
  }

  .card {
    @apply mb-6;
  }

  .card-section {
    @apply p-6;
  }

  &-title {
    @apply text-lg font-semibold text-black mb-6;
  }

  &-menu {
    li {
      @apply flex items-center gap-x-2 pb-3;

      svg {
        @apply w-4 h-4 fill-gray;
      }

      a {
        @apply text-md font-semibold flex items-center gap-x-4 w-full text-secondary;

        &:hover span {
          @apply no-underline;
        }

        span {
          @apply ml-auto;
        }
      }

      &:not(:last-child) {
        @apply border-b border-gray mb-3;
      }
    }
  }
}
