//Override Foundation defaults
.table-scroll table{
  border-collapse: unset;

  @apply mb-0 text-gray-2 border border-background-4 w-full;
}

//Table list
.table-list{
  @apply border-collapse border-spacing-0 ;

  thead tr{
    @apply bg-background-2;

    a{
      @apply font-semibold;

      &:hover{
        @apply underline;
      }
    }
  }

  td{
    @apply border-b border-background-4;

    &:not(:last-child){
      @apply border-r border-background-4;
    }
  }

  th{
    .sort_link.desc,
    .sort_link.asc{
      @apply underline;
    }
  }

  thead th{
    @apply border-b border-background-4;

    &:not(:last-child){
      @apply border-r border-background-4;
    }
  }

  thead th,
  thead td,
  tfoot th,
  tfoot td{
    @apply p-2;
  }

  tr:nth-child(even){
    @apply bg-background-2;
  }

  th:not(:first-child),
  td:not(:first-child){
    text-align: center;
  }

  th:first-child,
  td:first-child{
    padding-left: $global-padding;
  }

  th [type="checkbox"]:only-child,
  td [type="checkbox"]:only-child{
    margin-bottom: .5rem;
  }

  &.table-list--selectable{
    th:nth-child(2),
    td:nth-child(2){
      text-align: left;
    }
  }

  thead tr a,
  thead tr{
    @apply text-gray-2 text-xs;
  }

  td a:not(.button){
    @apply text-secondary underline text-md font-semibold;
  }

  td > .button{
    margin-bottom: 0;
  }

  .switch.tiny{
    margin: 0 auto;
    width: 48px;
  }

  .table-list__date,
  .table-list__state{
    font-size: 14px;
  }
}

.table-list__actions{
  text-align: center;
  white-space: nowrap;

  &:last-child{
    text-align: right;
  }

  .action-icon,
  a.action-icon{
    color: $muted;
  }

  .action-icon,
  a.action-icon.highlighted{
    @apply text-secondary;
  }
}

.table-list__state{
  @apply text-center;
}

.table-list__type-icon{
  position: relative;
  top: 1px;
  cursor: pointer;
}

.table-list__type-label{
  display: none;
  position: relative;
  top: -1px;
  margin-left: -1.5 * $global-padding;
  font-weight: 600;

  &.expanded{
    display: inline-block;
  }
}
