.layout-nav .main-nav{
  @apply bg-gray-2 w-[120px] text-center;
}

.main-nav ul{
  @apply ml-0 list-none;

  a{
    @apply text-white py-4 block text-xs;
    &:hover{
      background-color:rgba(4, 11, 23, 0.3);
    }
  }

  .is-active a{
    @apply text-white;
    background-color:rgba(4, 11, 23, 0.3);
  }

  .icon{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    opacity: .5;
  }
}
