.filters__section {
  @apply flex gap-x-6 items-center mb-8;

  & > .fcell {
    &.search {
      @apply w-full relative;
    }
  }

  .dropdown .is-dropdown-submenu a {
    @apply w-full inline-block;
  }

  .dropdown .is-dropdown-submenu li {
    @apply w-full relative;
  }

  .dropdown {
    @apply relative p-0 bg-transparent border-0;
  }

  .button,
  .input-group {
    @apply mb-0;
  }

  .input-group {
    @apply relative;

    [type="search"] {
      @apply border-0 shadow-none rounded w-full py-1 px-4;
    }
  }

  .input-group-button {
    @apply absolute right-4 top-0 h-full top-1;
  }

  .dropdown.menu {
    z-index: 5;

    li {
      @apply p-0;
    }

    .button {
      @apply drop-shadow-none;
    }

    & > li.is-dropdown-submenu-parent > a {
      @apply px-4 py-1 text-white bg-secondary flex items-center gap-x-2;

      &:hover {
        @apply text-white bg-secondary;
      }
    }

    li.is-active > a,
    li.is-active li.is-submenu-item > a:hover {
      @apply text-white bg-secondary;
    }

    .dropdown-filter-icon {
      @apply fill-white w-5 h-5 p-0;
    }
  }
}

.filter-status {
  @apply relative w-full mt-2;

  .label {
    @apply font-semibold mt-2;

    .type-icon {
      @apply align-top;
    }

    .action-icon {
      span {
        @apply ml-1;
      }

      &.action-icon--remove {
        color: #e66a5d;
        margin-left: 0.3rem;

        &:hover {
          color: #e66a5d;
        }
      }
    }
  }
}
