.title-bar{
  @apply py-2 px-8 flex items-center bg-tertiary text-black;

  [data-target*="dropdown"] > svg:first-of-type {
    @apply inline-block;
  }

  .dropdown__trigger{
    @apply flex items-center gap-x-2;
  }
}

.menu-trigger{
  @apply inline-block md:hidden p-2 w-10 text-center;
}

.logo{
  @apply p-4 block max-w-[80px] md:max-w-[120px] bg-gray-2 relative py-12;

  img{
    @apply block;
  }

  svg{
    @apply w-12 h-8 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

.tool-bar{
  @apply ml-auto gap-x-6 flex;

  .user-login,
  .language-choose{
    @apply inline-block;
  }

  .button__site{
    @apply flex items-center gap-x-2 px-1 text-black font-normal rounded;

    background-color: rgba(255, 255, 255, 0.15);

    &:hover{
      background-color: rgba(255, 255, 255, 0.35);
    }

    svg{
      @apply fill-black;
    }
  }
}
