.secondary-nav{
  width: 220px;
  min-height: 100%;
  float: left;
  background-color: #fff;
  box-shadow: 6px 6px 10px rgba(black, .04);

  ul{
    list-style: none;
    margin-left: 0;
  }

  li > a{
    display: block;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    /* color: $body-font-color; */

    &:hover,
    &:focus{
      /* color: lighten($body-font-color, 20); */
    }
  }

  li > ul{
    margin-left: 1rem;
    font-size: 90%;

    a{
      padding-top: .2rem;
      padding-bottom: .2rem;
    }

    li.is-active a{
      font-weight: 600;
      background-color: transparent;
    }
  }
}

.secondary-nav__title{
  padding: 1rem;
  margin-bottom: 2rem;
}

.secondary-nav__actions{
  padding: 1rem;
  margin-top: 2rem;
}

.secondary-nav__subtitle{
  display: block;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  /* color: $body-font-color; */
}

.process-title,
.voting-title{
  @apply bg-gray-2 py-2 relative;

  .container{
    @apply py-0;
  }

  .process-title-content{
    @apply flex items-center;

    .dropdown__trigger{
      @apply flex underline px-2 pt-0.5 pb-1;

      svg{
        @apply block h-5 fill-white;
      }
    }

    &-icon-home{
      @apply flex items-center;

      svg{
        @apply w-5 h-5 fill-white;
      }
    }

    a.process-title-content-breadcrumb:hover{
      @apply cursor-pointer hover:backdrop-brightness-75 focus:backdrop-brightness-75;
    }

    &-breadcrumb{
      @apply text-md text-white rounded py-1 px-2 bg-transparent;

      &-no-active{
        @apply text-md text-white;
      }

      &-container-left{
        @apply flex items-center gap-x-4;
      }

      &-container-right{
        @apply ml-auto flex items-center gap-x-4;

        &-link{
          @apply button button__transparent flex items-center gap-x-1 px-1.5 py-1;

          span{
            @apply text-sm;
          }
        }

        svg{
          @apply w-4 h-4 fill-white;
        }

        .dropdown__item svg{
          @apply fill-gray;
        }
      }
    }

    &-dropdown{
      .dropdown__item a{
        @apply flex items-center gap-x-4 text-secondary;

        svg{
          @apply fill-gray;
        }
      }
    }
  }
}

.process-title-content .button{
  @apply no-underline mb-0;
}

.secondary-nav__title,
.voting-title-content{
  @apply text-xs font-bold w-full text-white;
}
