//Override Foundation defaults
.table-scroll table{
  border-collapse: unset;
  width: 100%;
  border: 1px solid rgba(228, 238, 255, .6);

  @apply mb-0 text-gray-2;
}

//Table list
.table-list{
  border-collapse: collapse;
  border-spacing: 0;

  thead tr{
    @apply bg-background-2;

    a{
      @apply font-semibold;

      &:hover{
        @apply underline;
      }
    }
  }

  th,
  td{
    border-bottom: 1px solid rgba(228, 238, 255, 0.6);
  }

  th{
    .sort_link.desc,
    .sort_link.asc{
      @apply underline;
    }
  }

  thead th,
  thead td,
  tfoot th,
  tfoot td{
    @apply p-2;
  }

  tr:nth-child(even){
    @apply bg-background-2;
  }

  tr:last-child{
    @apply border-0;
  }

  th:not(:first-child),
  td:not(:first-child){
    text-align: center;
  }

  th:first-child,
  td:first-child{
    padding-left: $global-padding;
  }

  th [type="checkbox"]:only-child,
  td [type="checkbox"]:only-child{
    margin-bottom: .5rem;
  }

  &.table-list--lastcenter{
    th:last-child,
    td:last-child{
      text-align: center;
    }
  }

  &.table-list--lastleft{
    th:last-child,
    td:last-child{
      text-align: left;
    }
  }

  &.table-list--selectable{
    th:nth-child(2),
    td:nth-child(2){
      text-align: left;
    }
  }

  tr.selected{
    background-color: rgba($brand, .05);
  }

  thead tr a,
  thead tr{
    @apply text-gray-2 text-xs;
  }

  td a:not(.button){
    @apply text-secondary underline text-md;
  }

  td > .button{
    margin-bottom: 0;
  }

  td{
    @include modifiers(color, (muted: $muted));
  }

  .switch.tiny{
    margin: 0 auto;
    width: 48px;
  }

  .table-list__date,
  .table-list__state{
    font-size: 14px;
  }
}

.table-list__actions{
  text-align: center;
  white-space: nowrap;

  &:last-child{
    text-align: right;
  }

  .action-icon,
  a.action-icon{
    color: $muted;
  }

  .action-icon,
  a.action-icon.highlighted{
    color: $body-font-color;

    &:hover{
      color: $primary-color;
    }
  }

  .action-icon.action-icon--remove{
    color: $alert-color;
  }
}

.table-list__state{
  text-align: center;
}

.table-list__type-icon{
  position: relative;
  top: 1px;
  cursor: pointer;
}

.table-list__type-label{
  display: none;
  position: relative;
  top: -1px;
  margin-left: -1.5 * $global-padding;
  font-weight: 600;

  &.expanded{
    display: inline-block;
  }
}
