.layout-nav{
  .main-nav{
    @apply bg-gray-2 w-[120px] text-center last:pt-4;
  }

  .main-nav__modules{
    @apply pb-4 pt-0 border-b;

    border-color: #2A3745;
  }
}

.main-nav ul{
  @apply list-none w-[90%] mx-auto;

  li{
    @apply pb-3;
  }

  a{
    @apply text-white py-1 block text-xs w-full rounded bg-transparent transition;

    &:hover{
      @apply underline;

      background-color:rgba(4, 11, 23, 0.3);
    }
  }

  .is-active a{
    @apply text-white underline;

    background-color:rgba(4, 11, 23, 0.3);
  }

  svg{
    @apply w-5 h-5 block mx-auto mb-1 fill-background-4;
  }
}
