//Override Foundation defaults
.table-scroll table{
  border-collapse: unset;

  @apply mb-0 text-gray-2 border border-background-4 w-full;
}

//Table list
.table-list{
  @apply border-collapse border-spacing-0 ;

  thead tr{
    @apply bg-background-2;

    a{
      @apply font-semibold;

      &:hover{
        @apply underline;
      }
    }
  }

  td{
    @apply border-b border-background-4 text-sm;

    &:not(:last-child){
      @apply border-r border-background-4;
    }
  }

  th{
    .sort_link.desc,
    .sort_link.asc{
      @apply underline;
    }
  }

  thead th{
    @apply border-b border-background-4 text-xs font-semibold;

    &:not(:last-child){
      @apply border-r border-background-4;
    }

    &:first-child{
      @apply text-left pl-4;
    }
  }

  tbody tr td{
    @apply p-4;
  }

  thead th,
  thead td,
  tfoot th,
  tfoot td{
    @apply p-2;
  }

  tr:nth-child(even){
    @apply bg-background-2;
  }

  th:not(:first-child),
  td:not(:first-child){
    text-align: center;
  }

  th [type="checkbox"],
  td [type="checkbox"]{
    @apply m-0;
  }

  &.table-list--selectable{
    th:nth-child(2),
    td:nth-child(2){
      text-align: left;
    }
  }

  thead tr a,
  thead tr{
    @apply text-gray-2 text-xs;
  }

  td a:not(.button){
    @apply underline text-md font-semibold text-secondary;
  }

  td > .button{
    margin-bottom: 0;
  }

  .switch.tiny{
    margin: 0 auto;
    width: 48px;
  }

  .table-list__date,
  .table-list__state{
    @apply text-sm;
  }
}

.table-list__actions {
  @apply text-center;

  a:not(:last-child){
    @apply pr-2;
  }

  &:last-child {
    @apply text-right;
  }

  svg{
    @apply fill-secondary w-5 h-5;
  }
}

.table-list__state{
  @apply text-center;
}

.table-list__type-icon{
  position: relative;
  top: 1px;
  cursor: pointer;
}

.table-list__type-label{
  display: none;
  position: relative;
  top: -1px;
  font-weight: 600;

  &.expanded{
    display: inline-block;
  }
}
