//Vars
$process-title-height: 3rem;

//Styles
.secondary-nav{
  width: 220px;
  min-height: 100%;
  float: left;
  background-color: $white;
  box-shadow: 6px 6px 10px rgba(black, .04);

  ul{
    list-style: none;
    margin-left: 0;
  }

  li > a{
    display: block;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    color: $body-font-color;

    &:hover,
    &:focus{
      color: lighten($body-font-color, 20);
    }
  }

  li.is-active > a{
    background-color: $lighter-gray;
    border-radius: $global-radius;
  }

  li > ul{
    margin-left: 1rem;
    font-size: 90%;

    a{
      padding-top: .2rem;
      padding-bottom: .2rem;
    }

    li.is-active a{
      font-weight: 600;
      background-color: transparent;
    }
  }
}

.secondary-nav--subnav,
.process-content{
  padding-top: 1rem;

  & > .card:first-child{
    margin-top: -2rem;
  }
}

.secondary-nav__title{
  padding: 1rem;
  margin-bottom: 2rem;
}

.secondary-nav__actions{
  padding: 1rem;
  margin-top: 2rem;
}

.secondary-nav__subtitle{
  display: block;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  color: $body-font-color;
}

.process-title,
.voting-title{
  @apply bg-gray-2 px-8 p-4 relative;
}

.process-title .process-title-content{
  .dropdown__trigger{
    @apply flex underline p-0;

    svg{
      @apply block h-5 fill-white;
    }
  }

  .button{
    @apply no-underline py-1 mb-0;
  }
}

.process-title-content{
  @apply flex items-center;

  &-breadcrumb{
    @apply text-md font-bold text-white underline;
  }

  &-dropdown{
    .dropdown__item a{
      @apply flex items-center gap-x-4;

      color: var(--secondary);

      svg{
        @apply fill-gray;
      }
    }
  }
}

.secondary-nav__title,
.voting-title-content{
  @apply text-xs font-bold w-full text-white;
}
