.tabs--lang{
  @apply bg-transparent flex items-center gap-x-1;

  li{
    @apply float-none rounded-t-sm;

    &.is-active{
      @apply border-b;

      border-color: var(--secondary);
    }
  }

  a{
    @apply p-1 rounded-t-sm text-xs;

    background-color: rgba(243, 244, 247, 1);
    color: var(--secondary);

    &::before{
      @apply content-[''] w-2 h-2 inline-block bg-white rounded-full mr-2 border;

      border-color: rgba(116, 129, 144, 1);
    }
  }

  .tabs-title > a[aria-selected="true"]{
    background-color: rgba(243, 244, 247, 1);
    color: var(--secondary);

    @apply font-bold;

    &::before{
      @apply border-white;

      background-color: rgba(40, 167, 69, 1);
    }
  }

  a.is-tab-error {
    color: $alert-color;
  }
}

.label--tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    display: inline-block;
  }
}

.form {
  .language-change {
    height: 2rem;
    margin-bottom: 1rem;
  }
}

.tab-custom-error-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tab-custom-error {
  @extend .form-error;

  margin-right: 0.3rem;
}

.is-tab-custom-error-visible {
  display: block;
}
