.filters__section{
  @apply flex flex-wrap gap-x-6 items-baseline mb-8;

  & > .fcell{
    &.search{
      @apply w-1/4 relative;
    }
  }

  .dropdown .is-dropdown-submenu a {
    @apply w-full inline-block;
  }

  .dropdown .is-dropdown-submenu li{
    @apply w-full relative;
  }

  .dropdown{
    @apply relative p-0 bg-transparent border-0;
  }

  .button,
  .input-group{
    margin-bottom: 0;
  }

  .input-group{
    @apply relative;

    [type="search"]{
      @apply border-0 shadow-none rounded w-full p-2;
    }
  }

  .input-group-button{
    @apply absolute right-2 top-0 h-full top-1.5;
  }

  .dropdown.menu{
    z-index: 5;

    & > li.is-dropdown-submenu-parent > a{
      padding-right: 1rem;
      background-color: var(--secondary);
      color: #fff;

      &::after{
        border-top-color: #fff;
      }

      &:hover{
        background-color: var(--secondary);
        color: #fff;
      }
    }

    li.is-active > a,
    li.is-active li.is-submenu-item > a:hover{
      background-color: var(--secondary);
      color: #fff;
    }

    .menu.vertical li.is-active.opens-right > a::after{
      border-left-color: #fff;
    }
  }
}

.filter-status{
  position: relative;
  width: 100%;
  margin-top: .5rem;

  .label{
    font-weight: 600;
    margin-top: .5rem;

    .type-icon{
      vertical-align: top;
    }

    .action-icon{
      span{
        margin-left: .25rem;
      }

      &.action-icon--remove{
        color: #e66a5d;
        margin-left: .3rem;

        &:hover{
          color: #e66a5d;
        }
      }
    }
  }
}
