.card{
  @apply bg-transparent border-0;

  .table-scroll{
    @apply bg-white rounded;
  }

  .table{
    @apply w-full;
  }
}

.card-title{
  @apply text-md w-full text-gray-2 font-semibold;

  &--nocaps{
    @apply lowercase tracking-normal;

    &::first-letter{
      @apply lowercase;
    }
  }

  .data-picker{
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 0;
    text-transform: none;
  }

  .button--title{
    width: 100px;
    float: right;
  }
}

.card-footer{
  padding: 1rem;
  border-top: 1px solid rgba(black, .1);

  .button--remove{
    margin-left: auto;
  }
}

.card--list__item{
  display: flex;
  align-items: center;
  padding-left: 1rem;

  .card--list--mini &{
    padding-left: 1rem;
  }
}

.card--list__icon{
  display: none;
  fill: currentColor;
}

.card--list__text{
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  padding: 1rem 1rem 1rem 0;

  .card--list--mini &{
    padding: .5rem .5rem .5rem 0;
  }

  .author{
    margin-top: .3rem;
    margin-right: 1rem;
  }
}

.card--list__heading{
  margin-bottom: 0;
  display: block;
}

.card-divider{
  @apply bg-transparent px-0 py-2;
}

.card.with-overflow{
  overflow: visible;
}

.card-section{
  @apply p-6 bg-white;

  svg{
    @apply w-4 h-4 inline-block fill-secondary;
  }
}
