html{
  @apply h-full;
}

body{
  @apply h-full;
}

.main{
  @apply h-full;

  & > .row{
    @apply w-full md:flex grow;
  }
}

.layout-wrapper{
  @apply flex grow;
}

.layout-nav{
  @apply max-w-[340px] bg-gray-2;

  &.is-nav-open{
    transform: translateX(0);
  }
}

.layout-content{
  @apply flex-grow max-w-full bg-gray-5;

  svg{
    @apply w-4 h-4 fill-current inline-block;
  }

  .hide{
    @apply hidden;
  }

  .grid-x.grid-margin-x{
    @apply mb-4;

    .card-section{
      @apply p-4;
    }
  }

  .callout{
    @apply mb-4;
  }
}

.container{
  @apply p-8 m-0;
}

.main{
  .large-12,
  .medium-12,
  .small-12{
    @apply w-full;
  }

  .large-6,
  .medium-6,
  .small-6{
    @apply w-3/4;
  }

  .large-3,
  .medium-3,
  .small-3{
    @apply w-1/4;
  }
}
