.item_show__header{
  @apply flex items-center pb-4 border-b border-gray mb-4 gap-x-2;

  > svg{
    @apply w-4 h-4;
  }

  &-title{
    @apply text-xl font-bold inline-block flex items-center w-full;
  }
}

.item_show__content{
  @apply grid grid-cols-[75%_25%];

  &-activity{
    @apply pr-8;
  }

  &-aside{
    @apply h-full border-l border-gray pl-8;
  }

  .card{
    @apply mb-6;
  }

  .card-section{
    @apply p-6;
  }

  &-title{
    @apply text-lg font-semibold text-black mb-6;
  }

  &-menu{
    li{
      @apply flex items-center gap-x-2 pb-3;

      svg{
        @apply w-4 h-4 fill-gray;
      }

      a{
        @apply text-md font-semibold flex items-center gap-x-4 w-full text-secondary;

        &:hover span{
          @apply no-underline;
        }

        span{
          @apply ml-auto;
        }
      }

      &:not(:last-child){
        @apply border-b border-gray mb-3;
      }
    }
  }
}
