@use "stylesheets/decidim/admin/forms";
@use "stylesheets/decidim/admin/color_picker";
@use "stylesheets/decidim/admin/main-nav";
@use "stylesheets/decidim/admin/layout";
@use "stylesheets/decidim/admin/secondary-nav";
@use "stylesheets/decidim/admin/title-bar";
@use "stylesheets/decidim/admin/user-login";
@use "stylesheets/decidim/admin/cards";
@use "stylesheets/decidim/admin/logs";
@use "stylesheets/decidim/admin/filters";
@use "stylesheets/decidim/admin/table-list";
@use "stylesheets/decidim/admin/taxonomies";
@use "stylesheets/decidim/admin/dropdown";
@use "stylesheets/decidim/admin/item_show";
@use "stylesheets/decidim/admin/item_edit";
@use "stylesheets/decidim/admin/tabs";
@use "stylesheets/decidim/admin/component-show";
@use "stylesheets/decidim/admin/moderations";
@use "stylesheets/decidim/admin/select_picker";
@use "stylesheets/decidim/admin/show_email";
@use "stylesheets/decidim/admin/data_picker";
@use "stylesheets/decidim/admin/legacy_foundation";
@use "stylesheets/decidim/admin/sidebar-menu";
@use "stylesheets/decidim/admin/datepicker";
@use "stylesheets/decidim/admin/minimap";
@use "stylesheets/decidim/admin/proposal_status";
@use "stylesheets/decidim/tribute";

:root {
  --primary: #e02d2d;
  --primary-rgb: 224 45 45;
  --secondary: #155abf;
  --secondary-rgb: 21 90 191;
  --tertiary: #ebc34b;
  --tertiary-rgb: 235 195 75;
  --success: #28a745;
  --success-rgb: 40 167 69;
  --warning: #ffb703;
  --warning-rgb: 255 183 3;
  --alert: #e7131a;
  --alert-rgb: 231 19 26;
}
