@import "stylesheets/decidim/admin/decidim";
@import "stylesheets/decidim/admin/extra/action-icon";
@import "stylesheets/decidim/admin/extra/block_user";
@import "stylesheets/decidim/admin/extra/cards";
@import "stylesheets/decidim/admin/extra/categories";
@import "stylesheets/decidim/admin/extra/dropdown_inverted";
@import "stylesheets/decidim/admin/extra/editor";
@import "stylesheets/decidim/admin/extra/email_preview";
@import "stylesheets/decidim/admin/extra/label-required";
@import "stylesheets/decidim/admin/extra/login";
@import "stylesheets/decidim/admin/extra/logs";
@import "stylesheets/decidim/admin/extra/newsletter-templates-gallery";
@import "stylesheets/decidim/admin/extra/organization-appearance";
@import "stylesheets/decidim/admin/extra/quill";
@import "stylesheets/decidim/admin/extra/select_multiple";
@import "stylesheets/decidim/admin/extra/show_email";
@import "stylesheets/decidim/admin/extra/sort";
@import "stylesheets/decidim/admin/extra/title_bar";

// This imports all the Decidim module stylesheet imports registered at
// `config/assets.rb` of the module for the "admin" group.
@import "!decidim-style-imports[admin]";
