@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --primary: #e02d2d;
  --primary-rgb: 224 45 45;
  --secondary: #155abf;
  --secondary-rgb: 21 90 191;
  --tertiary: #ebc34b;
  --tertiary-rgb: 235 195 75;
  --success: #28a745;
  --success-rgb: 40 167 69;
  --warning: #ffb703;
  --warning-rgb: 255 183 3;
  --alert: #e7131a;
  --alert-rgb: 231 19 26;
}

/* Decidim-core */
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_fonts.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_dropdown.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_labels.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_accordion.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_modal.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_modal_update.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_callout.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_tabs_x.scss";
@import "../../../../../../decidim-core/app/packs/stylesheets/decidim/_redesigned_tooltip.scss";

@import "stylesheets/decidim/admin/_redesigned_forms.scss";
@import "stylesheets/decidim/admin/_redesigned_color_picker.scss";
@import "stylesheets/decidim/admin/_redesigned_main-nav.scss";
@import "stylesheets/decidim/admin/_redesigned_layout.scss";
@import "stylesheets/decidim/admin/_redesigned_secondary-nav.scss";
@import "stylesheets/decidim/admin/_redesigned_title-bar.scss";
@import "stylesheets/decidim/admin/_redesigned_user-login.scss";
@import "stylesheets/decidim/admin/_redesigned_cards.scss";
@import "stylesheets/decidim/admin/_redesigned_logs.scss";
@import "stylesheets/decidim/admin/_redesigned_filters.scss";
@import "stylesheets/decidim/admin/_redesigned_table-list.scss";
@import "stylesheets/decidim/admin/_redesigned_dropdown.scss";
@import "stylesheets/decidim/admin/_redesigned_item_show.scss";
@import "stylesheets/decidim/admin/_redesigned_item_edit.scss";
@import "stylesheets/decidim/admin/_redesigned_tabs.scss";
@import "stylesheets/decidim/admin/_redesigned_component-show.scss";
@import "stylesheets/decidim/admin/_redesigned_legacy_foundation.scss";
@import "stylesheets/decidim/admin/_redesigned_show_email.scss";
