.accordion{
  background: transparent;

  .accordion-title{
    font-size: $global-font-size;
    color: inherit;
    border: none;
    border-radius: 0;

    &:focus{
      background: transparent;
    }
  }

  // Override Foundation
  .accordion-item{
    &:first-child > :first-child,
    &:last-child:not(.is-active) > .accordion-title{
      border: none;
      border-radius: 0;
    }
  }

  .accordion-content{
    background-color: $light-gray;

    .tabs-title > a[aria-selected="true"],
    .tabs-content{
      background: transparent;
    }
  }
}
