<%= decidim_form_for(@form, url: assembly_copies_path(current_assembly), method: :post, html: { class: "form copy_assembly" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("assembly_copies.new.title", scope: "decidim.admin"), select: t("assembly_copies.new.select", scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("assembly_copies.new.copy", scope: "decidim.admin") %>
  </div>
<% end %>
