<%= decidim_form_for(@notes_form, url: proposal_proposal_notes_path(proposal, @notes_form), html: { class: "new_proposal_note form-defaults" }) do |f| %>
  <%= f.text_area :body, rows: 4, label: t(".note"), class: 'rounded border border-text-gray-2 mt-2' %>
  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".submit"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
