<div class="component__show_notes" data-component="accordion" id="accordion-notes">
  <button type="button" class="card-divider-button" data-controls="panel-notes" data-open="true">
    <%= icon "arrow-right-s-line" %>
    <h2 class="card-title">
      <%= t("title", scope: "decidim.proposals.admin.proposal_notes") %>
    </h2>
  </button>

  <div id="panel-notes">
    <%= render partial: "decidim/proposals/admin/proposal_notes/proposal_note", collection: proposal.notes.not_reply %>
    <%= render partial: "decidim/proposals/admin/proposal_notes/form", locals: { form_path: proposal_proposal_notes_path(proposal, @notes_form) } %>
  </div>
</div>
