<div class="profile__actions-main">
  <% profile_actions.each do |item| %>
    <% if item[:cell].present? %>
      <%= cell item[:cell], profile_holder, item[:options] %>
    <% else %>
      <%= cell "decidim/button", item, item[:options] %>
    <% end %>
  <% end %>
</div>

<div class="profile__actions-secondary">
  <%= cell("decidim/follow_button", profile_holder) %>

  <% if user_flaggable? %>
    <%= cell("decidim/report_button", profile_holder) %>
  <% end %>
</div>
