<div class="comment-thread" role="region" aria-label="<%= t("accessibility_label", scope: "decidim.comments.comment_thread", full_name: model.author&.name, date: l(model.created_at, format: :decidim_short)) %>">
  <%= cell("decidim/comments/comment", model, root_depth: model.depth, order:, top_comment: options[:top_comment]) %>
</div>
