<div class="comment-thread" role="region" aria-label="<%= t("accessibility_label", scope: "decidim.comments.comment_thread", id: model.id, full_name: model.author&.name) %>">
  <%= cell("decidim/comments/comment", model, root_depth: model.depth, order:, top_comment: options[:top_comment]) %>
</div>
