<div class="polling_station-address">
  <h4 class="mb-none heading5"><%= translated_attribute polling_station.title %></h4>

  <div>
    <strong><%= translated_attribute polling_station.location %></strong>
  </div>

  <div class="text-medium"><%= polling_station.address %></div>

  <div class="text-medium"><%= translated_attribute polling_station.location_hints %></div>

</div>

<hr class="reset mt-s mb-s">
