<% add_decidim_meta_tags(title: t("media.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_conferences.conference_media_links_path(current_participatory_space.slug),
  :update,
  :conference,
  conference: current_participatory_space
)
%>

<div class="row">
  <div class="columns mediumlarge-12 conference-media">
    <% if @media_links.any? %>
      <section>
        <h3 class="section-heading"><%= t("media.index.title", scope: "decidim") %></h3>
        <p><%= t("media.index.description", scope: "decidim") %></p>
      </section>
      <hr class="reset mt-none mb-s">
      <div class="media-links">
        <ul class="list-reset">
          <% @media_links.each do |media_link| %>
            <%= cell "decidim/conferences/media_link", media_link %>
          <% end %>
        </ul>
      </div>
      <hr class="reset mt-none mb-s">
    <% end %>
    <%= attachments_for_conference current_participatory_space %>
  </div>
</div>
