<%= decidim_modal id: modal_id, class: "flag-modal" do %>
  <div data-dialog-container>
    <%= icon "flag-line" %>
    <h2 tabindex="-1" data-dialog-title><%= t("decidim.shared.flag_modal.title") %></h2>
    <div>
      <div class="form__wrapper flag-modal__form">
        <p class="flag-modal__form-description"><%= t("decidim.shared.flag_modal.already_reported") %></p>
      </div>
    </div>
  </div>
<% end %>
