{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_136660 {\\n  startVote(messageId: \\\"decidim-test-authority.10002.start_vote+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTIyODYzMjUsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAyLnN0YXJ0X3ZvdGUrYS5kZWNpZGltLXRlc3QtYXV0aG9yaXR5In0.mOyAhmH3mZxnqln4-S8UNn8g8HpEXlXHL_FAWK_rMII3arozs50rtZ7-z06fPG2jDz-Z48oNCAkMYICA3aBu1_LSGi-awvvnQAbvPQrXyBI7AVjGXzlmjMvGxktv-Srs934SO6eubSy5JG3JBITcGg6clDtKoIxQmRSOJPTjIWasI3_MznrMEj5bd-u-Ds0wAp-CKMDjO6UwA_X500BWBqAFP9zh12gDEYY3eNG1V-vkStGBCFBGM-nQX6HpdSxEijYh5inZ5Dfi8EY89QlxTGs1xwgQjVfmtRqvlrvttL16ams7tWEjodEizYI27WbCyE-4bfKpA2qX7d5LRQYzKbTnNhQIt8EJBwJ7OWVuYq0nkfoPKfchmV7tUapwUJWn8Qmu20wQspbqDAJwDTpFFAv1K-mLKvkurzKB8LP1EACJ9Tvjebvcj9aKvY3GN7ZmLv_uA31Lpl3ZfWKg__MO5W7rvfDBh03Z9Sj2DWYSbEOEddlxjX_iJM1VQUXJVfWChsaTbrkAovvkePuD48kMN3HBoF7mmSzMF3VhQe_utJbHZxjCLEtKx5dtvk-FFUKN93CnEwFByYERR9Q845KAiVTKHCR_0W5g8SDCh06z0NMQnounZqL6CVSzrBsrR528SE0TzC8SZpsnlS9sK_WGhaXg3bbhGdyXV3O9mTJbDYI\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_136660\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"0ffaaa6e462398158f8d34c96ca193f8\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"startVote\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Tue, 02 Feb 2021 17:18:45 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_137120 {\\n  election(uniqueId: \\\"decidim-test-authority.10002\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_137120\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"e4e7fd13cbd17664209df39903cf5c61\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"vote\"}}}"}},"recorded_at":"Tue, 02 Feb 2021 17:18:46 GMT"}],"recorded_with":"VCR 6.0.0"}