<main class="wrapper">
  <div class="row">
    <div class="columns">
      <div class="title-action" >
        <h1 class="heading1 title-action__title">
          <%= t(".title") %>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns mediumlarge-12 large-12">
      <div class="callout secondary">
        <p><%= t(".no_chats") %></p>
      </div>
    </div>
  </div>
</main>
