{"http_interactions":[{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"mutation GraphQL__Client__OperationDefinition_134620 {\\n  endVote(messageId: \\\"decidim-test-authority.10003.end_vote+a.decidim-test-authority\\\", signedData: \\\"eyJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MTIyODYzMjIsIm1lc3NhZ2VfaWQiOiJkZWNpZGltLXRlc3QtYXV0aG9yaXR5LjEwMDAzLmVuZF92b3RlK2EuZGVjaWRpbS10ZXN0LWF1dGhvcml0eSJ9.VbwM6Qj-jPTOd_Kyzgts33YOwwQPhGfed78IwY8Phd-DnOCWefAp8LkYd4RX5hwbD6Q88GljfGOXP_m0Lfy7S3cDRgXszKXADIbOOdBFQwHEFcfPWxo2NgQodq9wDkpyA_JAHJejawt7Zl5170dLJWwnA4chmZ-u3c-1JgQrrL9r4dwu7JoKacpuSn3vS4khDMOTnbUPuPvU2AGaKGb_f4LkjAdK-HeBC7BLlreaV_G6lGLekWiqy0wWDv14rMwYOezyIzat2srmDsu65k69RP0TEBypY-y-MW0seqelOvDxADThJvJhSoFPwa696dXmwWiO36j2Y-_ByjAZZo6FMecL_5oB3KshJXex4fS9TfovhPTGj8-qBEyaH71NzFNH13NRVhodbeKX-dQWlSFODiFoVedInvpXCof2sI302rxPyx48KSNEPpBj-onE6UgutsTQbzmT3DYshj3GPIqFcvUHLLlU8QOD_FG5aHEaQvUmG6S2mM_YCsu7bURu2YgDRu-5M9KSnbrd6fcJGO-fPUhcegVyqi05fpU-s175pJi5bwfWL8oDB0fth-_nxNmksaPUbk8DSobmYufzXn6ttuOS-fNGilx8oAgKbVu3qYd4lGQWCP7RwjOu0003CH1qqi5z8bqTP1uX_2hN27qO576PorGl2rt73AB2Qj_YS4I\\\") {\\n    pendingMessage {\\n      status\\n    }\\n    error\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_134620\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"a0ac0e2ac08108148bde35ed6a26b9b3\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"endVote\":{\"pendingMessage\":{\"status\":\"enqueued\"},\"error\":null}}}"}},"recorded_at":"Tue, 02 Feb 2021 17:18:43 GMT"},[...]
{"request":{"method":"post","uri":"http://bulletin-board.lvh.me:8000/api","body":{"encoding":"UTF-8","string":"{\"query\":\"query GraphQL__Client__OperationDefinition_135160 {\\n  election(uniqueId: \\\"decidim-test-authority.10003\\\") {\\n    status\\n  }\\n}\",\"operationName\":\"GraphQL__Client__OperationDefinition_135160\",\"variables\":{}}"},"headers":{"Authorization":["89Ht70GZNcicu8WEyagz_rRae6brbqZAGuBEICYBCii-PTV3MAstAtx1aRVe5H5YfODi-JgYPvyf9ZMH7tOeZ15e3mf9B2Ymgw7eknvBFMRP213YFGo1SPn_C4uLK90G"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"bf7662256fcc03fb3184af4ff59da671\""]},"body":{"encoding":"UTF-8","string":"{\"data\":{\"election\":{\"status\":\"vote_ended\"}}}"}},"recorded_at":"Tue, 02 Feb 2021 17:18:44 GMT"}],"recorded_with":"VCR 6.0.0"}