<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <%= resource_icon %>
    </li>
    <li class="card-data__item">
      <div class="text-left">
        <div class="card__icondata--address">
          <%= render :details %>
        </div>
      </div>
    </li>
  </ul>
</div>
