<div class="address__container">
  <% if has_location? %>
    <h5 class="address__location"><%= location %></h5>
  <% end %>

  <div class="address"><%= icon "map-pin-line", class: "text-gray fill-current" %><%= address %></div>

  <% if has_location_hints? %>
    <div class="address__hints"><%= location_hints %></div>
  <% end %>
</div>
