<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.date_field :entry_date %>
      </div>

      <div class="row column">
        <%= form.translated :text_field, :title, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, aria: { label: :description } %>
      </div>
    </div>
  </div>
</div>
