.collaborative-texts {
  &-container {
    @apply relative mb-8;
  }

  &-hidden {
    @apply hidden;
  }

  &-manager {
    @apply sticky top-4 flex justify-center z-[49] p-4 bg-background rounded gap-2;

    &.hidden {
      display: none;
    }
  }

  &-alert {
    @apply sticky top-8 border-alert z-10 bg-white rounded;

    > div {
      @apply flex items-center gap-2 p-4 bg-alert/20 rounded;
    }
  }

  &-selection {
    @apply hidden;
  }

  &-highlight {
    @apply relative outline-dashed outline-2 outline-offset-2 outline-primary my-4;

    &:not(.applied) .collaborative-texts-hidden {
      @apply block;
    }
  }

  &-editor {
    @apply bg-gray-5 outline outline-2 outline-offset-2 mb-4;

    outline: var(--primary) 2px solid;

    &-menu {
      @apply flex gap-2;
    }

    &-container {
      @apply p-1.5 mb-4;

      &:focus-visible {
        @apply outline-none;
      }
    }
  }

  &-menu {
    @apply absolute top-0 right-0 z-[40] flex gap-2;
  }

  &-suggestions-menu {
    @apply absolute top-0 right-[-180px] z-[40] text-xs w-40;

    &:hover {
      @apply z-[49];
    }

    &-item {
      @apply p-2 mb-4 rounded bg-gray-3;

      &:hover {
        @apply bg-background z-[49];
      }
    }
  }

  &-button-save,
  &-button-apply,
  &-button-suggest,
  &-button-cancel,
  &-button-restore {
    // .button
    @apply inline-flex items-center justify-center font-semibold text-center border border-transparent rounded transition cursor-pointer [&>svg]:flex-none [&>svg]:fill-current [&>span]:text-center [&>span]:break-words focus:outline focus:outline-2 focus:outline-offset-2;
    // .button__xs
    @apply text-sm [&:not([class*="button\\_\\_text"])]:px-3 [&:not([class*="button\\_\\_text"])]:py-1 gap-1;

    &.hidden {
      display: none;
    }
  }

  &-button-save,
  &-button-apply,
  &-button-suggest {
    // .button__primary
    @apply bg-primary text-white focus:outline-primary;
  }

  &-button-cancel,
  &-button-restore {
    // .button__transparent && .button__transparent-primary
    @apply border bg-white border-primary text-primary focus:outline-primary;
  }
}
