.collaborative-texts {
  &-container {
    @apply relative;
  }

  &-hidden {
    @apply hidden;
  }

  &-manager {
    @apply fixed flex bottom-0 left-0 right-0 z-[1000] p-4 bg-background rounded;

    &.hidden {
      display: none;
    }

    button {
      @apply button button__primary button__lg
    }
  }

  &-selection,
  &-highlight {
    @apply relative outline-dashed outline-2 outline-offset-2 outline-primary my-4;

    &:not(.applied) .collaborative-texts-hidden {
      @apply block;
    }
  }

  &-editor {
    @apply bg-gray-5 outline outline-2 outline-offset-2 mb-4;
    outline: var(--primary) 2px solid;

    &-menu {
      @apply flex gap-2;
    }

    &-container {
      @apply p-1.5 mb-4;

      &:focus-visible {
        @apply outline-none;
      }
    }
  }

    &-menu {
      @apply absolute top-0 right-0 z-[100] flex gap-2;
    }

  &-suggestions-menu {
    @apply absolute top-0 right-[-180px] z-[100] text-xs w-40;

    &:hover {
      @apply z-[1000];
    }

    &-item {
      @apply p-2 mb-4 rounded bg-gray-3;

      &:hover {
        @apply bg-background z-[1000];
      }
    }
  }

  &-button-save,
  &-button-apply,
  &-button-suggest,
  &-button-cancel,
  &-button-restore {
    @apply button button__xs;

    &.hidden {
      display: none;
    }
  }

  &-button-save,
  &-button-apply,
  &-button-suggest {
    @apply button__primary;
  }

  &-button-cancel,
  &-button-restore {
    @apply button__transparent-primary;
  }
}
