<div class="field">
  <%= form.translated :text_field, :name, autofocus: true %>
</div>

<div class="field">
  <%= form.translated :editor, :description, toolbar: :full, lines: 25 %>
</div>

<div class="field">
  <% if processes_for_select %>
    <%= form.select :participatory_process_ids, processes_for_select, {}, { multiple: true, class: "chosen-select" } %>
  <% end %>
</div>

<div class="field">
  <%= form.file_field :hero_image %>
</div>
