<%# REDESIGN_PENDING: replace toggler %>
<button id="endorsers_list-trigger" class="cursor-pointer" data-toggler=".is-active" data-toggle="endorsers_list-trigger endorsers_list">
  <%= cell "decidim/endorsers_list", post %>
</button>
