//Variables
$footer-author-color: $dark-gray;
$author-color: $muted;
$date-color: $muted;
$date-font-size: $small-font-size;
$author-data-color: $muted;

//Styles

.author-data{
  @include clearfix();
  color: $author-data-color;
  font-size: .9rem;
  padding-left: 30px;
  position: relative;
  a,
  button{
    color: $author-data-color;
    &:hover{
      color: $anchor-color;
    }
  }
  .author__name{
    color: $anchor-color;
  }
  .author__avatar{
    position: absolute;
    margin-left: -30px;
  }
}

.author-data--small{
  padding-left: 25px;
}

.author-data--noavatar{
  padding-left: 0;
}

.author-data__main{
  display: inline;
  margin-right: .8rem;
}

.author-data__extra{
  display: inline-block;
  >button,
  >a{
    margin-right: 1rem;
  }
  @include breakpoint(large){
    &:before{
      content: "";
      margin-right: .8rem;
      border-right: $border;
      height: .7rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.author{
  display: flex;
  font-size: .9rem;
}


.author--inline{
  display: inline-block;
}

.author__name{
  display: inline-block;
  flex-grow: 1;
  align-self: center;
  color: $author-color;
  .card__footer &{
    color: $footer-author-color;
  }
}

a:hover .author__name{
  color: inherit;
}


.author__avatar{
  padding: 0 .5em 0 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-self: center;
  .author--inline &{
    display: inline-block;
  }
  img{
    border-radius: 50%;
    width: 100%;
    max-width: 25px;
    margin-top: -5px;
  }
}

.author__avatar--small{
  .author-data &{
    margin-left: -25px;
  }
  img{
    max-width: 20px;
    margin-top: -3px;
  }
}

.author__date{
  display: block;
  color: $date-color;
  font-size: $date-font-size;
}
