/* Foundation button overrides*/

.button{
  &.small{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &.tiny{
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

// Overwrite Foundation hover styles in hollow disabled buttons
.button.hollow:disabled:hover,
.button.hollow.disabled:hover{
  background-color: transparent;
  border-color: inherit;
  color: $primary;
  &.secondary{
    color: $secondary;
  }
  &.success{
    color: $success;
  }
  &.alert{
    color: $alert;
  }
  &.warning{
    color: $warning;
  }
}



/*Extra buttons styles*/

.button--icon{
  display: flex;
  align-items: center;
  .icon{
    margin: 0 2px;
  }
  &.small{
    .icon{
      width: 12px;
      height: 12px;
    }
  }
}

.button--frosted{
  background-color: rgba($white, .65);
  color: $primary;
}

.button--muted{
  background-color: $muted;
  &:hover{
    background-color: $secondary;
  }
  &.hollow{
    border-color: $muted;
  }
}

.button--sc{
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 600;
  &.large{
    font-size: 1rem;
  }
}

.button__info{
  text-transform: none;
  font-weight: normal;
  font-size: 80%;
  margin-top: .25rem;
  display: block;
}

.link{
  color: $anchor-color;
  font-weight: 600;
}

.muted-link{
  font-weight: 600;
  color: $muted;
  &:hover{
    color: $anchor-color;
  }
}

.show-more{
  text-align: center;
  margin-bottom: $margin-s;
}

/*Social buttons*/

.button--social{
  padding: 0 1.5rem 0 0;
  text-align: left;
  display: block;
  min-width: 250px;
}

.button--social__icon{
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1rem;
  border-right: 1px solid rgba(black,.075);
  margin-right: .5rem;
  min-width: 3rem;
  text-align: center;
}

.button--twitter{
  background-color: $twitter;
  &:hover{
    background-color: lighten($twitter,5);
  }
}
.button--facebook{
  background-color: $facebook;
  &:hover{
    background-color: lighten($facebook,5);
  }
}
.button--google{
  background-color: $google;
  &:hover{
    background-color: lighten($google,5);
  }
}
