// @Component
.collapsible-list{
  &.is-filtered{
    > div:nth-of-type(1n+8){
      display: none;
    }

    &.small{
      > div:nth-of-type(1n+4){
        display: none;
      }
    }

    .collapsible-list__see-more{
      display: inline-block;
    }

    .collapsible-list__see-less{
      display: none;
    }
  }

  .collapsible-list__see-less{
    display: inline-block;
  }

  .collapsible-list__see-more{
    display: none;
  }

  > *{
    display: inline-block;
    margin: 0 0 .5rem;
  }
}
