// @Component
.collapsible-list{
  &.is-filtered{
    @for $i from 1 through 12{
      &.show-#{$i}{
        .collapse:nth-of-type(n+#{$i + 1}),
        > div:nth-of-type(n+#{$i + 1}){
          display: none;
        }
      }
    }

    .collapsible-list__see-more{
      display: inline-block;
    }

    .collapsible-list__see-less{
      display: none;
    }

    > *{
      margin: 0;
    }
  }

  .collapsible-list__see-less{
    display: inline-block;
  }

  .collapsible-list__see-more{
    display: none;
  }

  > *{
    display: inline-flex;
    margin: 0 0 .5rem;
  }
}
