.conference-programme{
  .programme-selector{
    @extend .pb-xs;

    border-bottom: $border;
    color: $muted;
    text-transform: uppercase;
    font-size: rem-calc(19);
  }

  .programme-day > .row{
    @extend .pt-sm;
    @extend .pb-sm;

    border-bottom: $border;
    border-bottom-style: dashed;
  }

  //Override foundation
  .tabs,
  .tabs-content{
    background: transparent;
  }

  //Override foundation
  .tabs-title{
    > a{
      padding: 0;

      &:hover{
        background: transparent;
      }
    }

    > a[aria-selected='true']{
      background: transparent;
    }

    &:not(.is-active) .button{
      opacity: .4;
    }
  }

  .programme-header{
    display: flex;
    align-items: baseline;
  }

  .programme-time{
    font-size: rem-calc(19);
    font-weight: $global-weight-bold;
  }

  .programme-title{
    font-size: rem-calc(24);
    color: $secondary;
    font-weight: $global-weight-bold;
  }

  .programme-resume{
    font-size: rem-calc(14);
    color: $muted;
  }

  .programme-extra{
    color: $muted;
    font-size: rem-calc(14);

    // except 2nd child
    > .row:not(:nth-child(2)){
      @extend .mt-xs;
    }

    span{
      opacity: .6;
    }
  }
}
