/* Froms foundation overwrites */

$checkboxes-minimum-width: 200px;

.input-group-button button{
  height: 2.5rem;
  padding: .5rem 1rem;
}

.help-text{
  line-height: 1.2;
}

.form-input-extra-before,
.form-input-extra-after{
  font-size: $input-error-font-size;
  font-weight: $input-error-font-weight;
  margin-top: $form-spacing * -.5;
}

.form-input-extra-before{
  margin-bottom: $form-spacing / 2;
}

.form-input-extra-after{
  margin-bottom: $form-spacing;
}

label > [type='checkbox'],
label > [type='radio']{
  margin-bottom: 0; //fixes some problems with line-height in double-line labels
}

/* Switch additional styles */

.switch-with-label{
  > label{
    display: flex;
    align-items: center;
    line-height: 1.2;
  }

  .switch-paddle{
    display: inline-block;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}

.switch{
  input.switch-input{
    &:active,
    &:focus{
      & + .switch-paddle{
        outline: $anchor-outline-focus;
        outline-color: var(--highlight);
      }
    }
  }
}

.checkboxes{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after{ /* Align last row to left */
    min-width: $checkboxes-minimum-width;
    content: "";
  }

  label{
    min-width: $checkboxes-minimum-width;

    input[type=checkbox]{
      vertical-align: middle;
    }
  }
}

#{text-inputs()},
textarea,
select,
input[type=file],
input[type=checkbox],
input[type=radio]{
  outline: $input-outline;

  &:active,
  &:focus{
    outline: $input-outline-focus;
    outline-color: var(--highlight);
  }
}
