/* Froms foundation overwrites*/

.input-group-button button{
  height: 2.5rem;
  padding: .5rem 1rem;
}

.help-text{
  line-height: 1.2;
}

label > [type='checkbox'],
label > [type='radio']{
  margin-bottom: 0; //fixes some problems with line-height in double-line labels
}

/* Switch additional styles */

.switch-with-label{
  > label{
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  .switch-paddle{
    display: inline-block;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}
