// name specific
#profile-tabs{
  // Override foundation
  &.tabs{
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: $border;
    margin-bottom: $global-margin;

    .tabs-title{
      a{
        color: $anchor-color;
        padding: $global-padding * 3/4;
        position: relative;

        &:focus,
        &[aria-selected='true']{
          background: transparent;
          color: var(--primary);
          font-weight: 600;
          border-bottom: 3px solid var(--primary);
        }

        &:hover{
          background: transparent;
          border-bottom: $border;
          border-bottom-width: 3px;
        }

        &::after{
          display: block;
          content: attr(title);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }
      }
    }
  }
}

// Make the connection between the title and the content
[data-tabs-content="profile-tabs"]{
  border-top: 0;
  background: transparent;
  color: inherit;
  transition: all .5s ease;
}
