$icon-size: rem-calc(14);
$icon-size-small: rem-calc(10);
$icon-size-big: rem-calc(24);

.icon{
  width: $icon-size;
  height: $icon-size;
  fill: currentColor;
}

.icon--small{
  width: $icon-size-small;
  height: $icon-size-small;
}

.icon--big{
  width: $icon-size-big;
  height: $icon-size-big;
}

.icon--action{
  fill: rgba(black, .2);
}

.icon--action:hover,
a:hover .icon--action{
  fill: currentColor;
}

.icon--after{
  margin-left: .3rem;
}

.icon--before{
  margin-right: .3rem;
}

.icon--share{
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
}

.icon--thumb-neutral{
  transform: rotate(270deg);
  transform-origin: 50% 50%;
}