$icon-size: rem-calc(14);
$icon-size-sm: rem-calc(10);
$icon-size-l: rem-calc(24);
$icon-size-xl: rem-calc(30);

.icon{
  width: $icon-size;
  height: $icon-size;
  fill: currentColor;

  @include modifiers(color, (muted: $muted));
}

.icon--small{
  width: $icon-size-sm;
  height: $icon-size-sm;
}

.icon--big{
  width: $icon-size-l;
  height: $icon-size-l;
}

.icon--large{
  width: $icon-size-xl;
  height: $icon-size-xl;
}

.icon--action{
  fill: rgba(black, .2);
}

.icon--action:hover,
a:hover .icon--action{
  fill: currentColor;
}

.icon--after{
  margin-left: .3rem;
}

.icon--before{
  margin-right: .3rem;
}

.icon--share{
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
}
