// Override defaults
.twitter-typeahead{
  width: 100%;

  .input__mentions{
    // width: 100%;
  }

  .input__mentions__hint{
    // opacity: .5;
  }

  .input__mentions__results{
    width: 100%;
    // input defaults
    padding: $input-padding;
    outline: none;
    border: $input-border-focus;
    border-radius: $input-radius;
    background-color: $input-background-focus;
    box-shadow: $input-shadow-focus;

    @if has-value($input-transition){
      transition: $input-transition;
    }
  }
}
