@import "tagsinput";

.input__tag{
  background-color: rgba($medium-gray, .5);
  border-radius: $input-radius;
  padding: .25rem;
  margin: 0 .2rem .2rem 0;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span{
    color: $secondary;
  }
}

// Override defaults
.bootstrap-tagsinput{
  width: 100%;

  .tag{
    color: inherit;
  }
}
