.loading-spinner{
  margin: 25px !important;
  height: 25px;
  text-align: center;

  &::before{
    @include spinner(25px, $medium-gray, var(--primary), 800ms);

    content: "";
    vertical-align: middle;
  }
}

.spinner-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, .8);
  z-index: 1;

  & > .loading-spinner.full-screen-spinner{
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
