.google-map{
  width: 100%;
  height: 200px;
  background-color: $medium-gray;
  margin-bottom: 2rem;

  @include breakpoint(mediumlarge){
    height: 450px;
  }
}

.map__help{
  .skip{
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active{
      background-color: $primary;
      color: $white;
      left: 0;
      top: 0;
      width: auto;
      height: auto;
      overflow: auto;
      margin: 10px;
      padding: 5px;
      font-size: 1.4em;
      z-index: 999;
      outline: none;
      position: absolute;
    }
  }
}

.leaflet-container{
  // Keep it below the second level navigation dropdown
  z-index: 5;
}

.map-info{
  background: var(--primary);
  border-radius: $global-radius;

  > div:first-child{ //Map styles container
    > div:first-child{ //Triangle
      border-top-color: var(--primary) !important;
    }

    > div:nth-child(2){
      background-color: transparent !important;
      border-radius: $global-radius !important;
    }
  }

  *{
    box-shadow: none !important;
  }
}

.map-info__content{
  padding-top: 1rem;
  padding-left: 1.2rem;
}

.map__date-adress{
  @include breakpoint(medium){
    display: flex;
  }

  margin-bottom: 1rem;

  .card__datetime{
    float: none;
    border-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 1rem;
    padding: .5em 1em;

    @include breakpoint(medium){
      margin-right: .5rem;
      margin-bottom: 0;
    }
  }

  .address{
    flex: 1;
    margin-bottom: 0;
  }

  .address__icon{
    display: none;

    @include breakpoint(medium){
      display: block;
    }
  }

  .card__extra{
    padding: 0 1rem;
  }
}

.map-info__button{
  text-align: center;

  .button{
    min-width: 12em;
  }
}
