$margin-s: 1rem;
$margin-sm: 2rem;
$margin-m: 3rem;
$margin-l: 5rem;

//Sections
.section{
  margin-bottom: $margin-sm;
  @include breakpoint(large){
    margin-bottom: $margin-m;
  }
}

.m-bottom{
  margin-bottom: $margin-s;
}
