/* Variables */
$message-padding: 1rem;

/* Messages */

.message{
  @extend .card;
}

/* Message form */

.add-message{
  @extend .message;

  padding: $message-padding;

  .button{
    margin-bottom: 0;
  }
}
