.metric-charts{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;

  .metric-chart{
    flex-basis: 33%;
    flex-shrink: 0;
  }

  &.small-charts{
    .metric-chart{
      flex-basis: 16.6%;
    }
  }
}
