//Basic modules
@import "decidim/modules/margins";
@import "decidim/modules/typography";
@import "decidim/modules/title-action";
@import "decidim/modules/buttons";
@import "decidim/modules/forms";
@import "decidim/modules/icons";
@import "decidim/modules/video";

//Foundation overrides
@import "decidim/modules/reveal";

//Layout
@import "decidim/modules/layout";
@import "decidim/modules/navbar";
@import "decidim/modules/main-container";
@import "decidim/modules/footer";
@import "decidim/modules/static-pages";

//Cards and containers
@import "decidim/modules/card-grid";
@import "decidim/modules/cards";
@import "decidim/modules/extra";
@import "decidim/modules/definition-data";
@import "decidim/modules/callout";

//Shared modules
@import "confirm";
@import "comments";
@import "messages";
@import "opinion-toggle";
@import "flag";
@import "author-avatar";
@import "address";
@import "order-by";
@import "tags";
@import "input-tags";
@import "input-mentions";
@import "input-multiple-mentions";
@import "list-docs";
@import "datepicker";
@import "pagination";
@import "data-picker";
@import "progress-bar";
@import "docs-manager";
@import "horizontal-tabs";
@import "conversation";
@import "badges";
@import "hover-section";
@import "list-request";
@import "floating-helper";
@import "versions";
@import "sticky";

//Process elements
@import "process-header";
@import "process-info";
@import "process-nav";
@import "process-phase";
@import "timeline";
@import "filter-tags";
@import "filters";
@import "inline-filters";
@import "reference";
@import "status-labels";
@import "process-stats";

//Conference elements
@import "conference-nav";
@import "conference-speaker";
@import "conference-programme";
@import "conference-registration";
@import "conference-diploma";
@import "conference-media";

//User interface
@import "user-form";
@import "signup";

//Additional elements
@import "share";
@import "help";
@import "cookie-bar";
@import "map";
@import "omnipresent_banner";
@import "wizard-steps";
@import "collapsible-list";
@import "block-banner";
@import "fingerprint";
@import "toggle";
@import "loading-spinner";
