$popularity1: #53c9c8;
$popularity2: #f9bc48;
$popularity3: #f85a39;

.popularity{
  min-width: 100px;
  margin-top: 5px;
  @include clearfix;
  &.extra__popularity{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.popularity__desc{
  color: $muted;
  text-transform: uppercase;
  font-size: 90%;
  padding-top: .3rem;
  display: block;
  clear: both;
}

.popularity__item{
  float: left;
  width: 18.4%;
  height: 4px;
  background-color: lightgrey;
  margin-left: 2%;
  &:first-of-type{
    margin-left: 0;
  }
}

.popularity__item:first-of-type{
  .popularity--level1 &,
  .popularity--level2 &,
  .popularity--level3 &,
  .popularity--level4 &,
  .popularity--level5 &,
  .popularity--level6 &{
    background: $popularity1;
  }
}
.popularity__item:nth-of-type(2){
  .popularity--level2 &,
  .popularity--level3 &,
  .popularity--level4 &,
  .popularity--level5 &,
  .popularity--level6 &{
    background: linear-gradient(to right, $popularity1, $popularity2);
  }
}
.popularity__item:nth-of-type(3){
  .popularity--level3 &,
  .popularity--level4 &,
  .popularity--level5 &,
  .popularity--level6 &{
    background: $popularity2;
  }
}
.popularity__item:nth-of-type(4){
  .popularity--level4 &,
  .popularity--level5 &,
  .popularity--level6 &{
    background: linear-gradient(to right, $popularity2 50%, $popularity3);
  }
}
.popularity__item:nth-of-type(5){
  .popularity--level5 &,
  .popularity--level6 &{
    background: $popularity3;
  }
}