.process-header{
  margin-bottom: $margin-sm;
  @include breakpoint(medium){
    margin-bottom: $margin-m;
  }
  .heading2{
    font-weight: bold;
  }
}

.process-header__main{
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  &:after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
  }
}

.process-header__container{
  position: relative;
  z-index: 1;
  padding: 0 0 0 1rem;
  @include breakpoint(mediumlarge){
    display: flex;
    align-items: center;
  }
}

.process-header__info{
  padding: 1rem 1.5rem 1rem 1rem;
  @include breakpoint(medium){
    padding: 2rem 1.5rem 2rem 1rem;
  }
  @include breakpoint(mediumlarge){
    padding-left: 2rem;
  }
}

.process-header__phase{
  background: rgba($dark-gray, .8);
  color: $white;
  text-align: center;
  padding: 2rem 1rem;
  margin-left: -1rem;
  .button{
    margin-top: 1rem;
    margin-bottom: 0;
    color: $white;
    border-color: $white;
    &:hover,
    &.is-active{
      color: $primary;
      border-color: $primary;
    }
  }
}

.process-header__phase--simple{
  padding: .5rem 1rem;
  @include breakpoint (medium){
    padding: 2rem 1rem;
  }
}

.process-header__hashtag{
  font-weight: 600;
  &::after{
    content: "·";
    margin-left: .5rem;
    margin-right: .5rem;
  }
}


.process-header__nav{
  margin-top: auto;
  z-index: 1;
}
