/* Reveal foundation overwrites*/

@include breakpoint(small down){
  .reveal{
    width: 95%;
    left: 2.5%;
    top: 2rem;
    height: auto;
    min-height: auto;
  }
}

.reveal__header{
  border-bottom: $border;
  margin-bottom: 1rem;
}

.reveal__title{
  margin-top: -6px;
}
