.rowchart{
  //common
  .background{
    fill: darken($body-background, 2.5);
  }

  .title{
    fill: $muted;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem-calc(24);
  }

  .subtitle{
    fill: $muted;
    font-size: rem-calc(14);
  }

  .tick{
    opacity: .5;

    .dashed{
      stroke-dasharray: 3;
    }
  }

  // helper to colors
  @mixin loop-even-odd-types($color, $max: 12){
    @for $i from 0 through ($max - 1){
      $interval: ($i % 4) * 24 + 1;
      $tints: tint($color, $interval);
      $shades: shade($color, $interval);
      $adjusts: adjust-color($color, $lightness: $interval, $hue: -$interval);

      .type-#{$i}{
        @if $i < 4{
          fill: $tints;

          &:hover{
            cursor: pointer;
            fill: darken($tints, 20%);
          }
        }

        @else if $i >= 4 and $i < 8{
          fill: $shades;

          &:hover{
            cursor: pointer;
            fill: lighten($shades, 20%);
          }
        }

        @else{
          fill: $adjusts;

          &:hover{
            cursor: pointer;
            fill: lighten($adjusts, 20%);
          }
        }
      }
    }
  }

  // default color
  @include loop-even-odd-types($proposals);

  // colors modifiers
  $map: $foundation-palette;

  @each $key, $value in $map{
    &.#{$key}{
      @include loop-even-odd-types($value);
    }
  }
}
