
/* Variables */

$timeline-color: $primary;
$timeline-inactive-color: $medium-gray;

$timeline-padding: 1rem;



/* Timeline */

.timeline {
	list-style: none;
  margin: 2rem 0 0;
	transition: all .4s ease;
}

.timeline__item {
  padding-bottom: 2em;
  position: relative;
  &:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 1rem;
		top: 0;
		position: absolute;
    @include breakpoint(medium){
      left: 50%;
    }
	}
	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
  &:last-of-type:before{
    width: 0;
  }
}

.timeline__phase{
  width: 30px;
  height: 30px;
  margin-left: -13px;
  position: absolute;
  top: 0;
  left: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background: $timeline-color;
  border: 2px solid $white;
  box-shadow: 0 0 0 1px $medium-gray;
  @include breakpoint(medium){
    left: 50%;
  }
}

.timeline__phase__number{
  display: block;
  text-align: center;
  line-height: 1;
  color: $white;
  font-weight: 600;
  font-size: 1.2em;
  align-self: center;
  margin-left: 1px;
  margin-top: -1px;
}

.timeline__desc{
  width: 90%;
  width: calc(100% - 45px);
  float: right;
  padding: $timeline-padding/2 $timeline-padding 0;
  border: 1px solid $timeline-color;
  border-radius: $global-radius;
  transition: all .3s ease;
  transform: translateY(-.4rem);
  @include breakpoint(medium){
    width: 45%;
    float: left;
  }
  &:before {
    content: '';
    position: absolute;
    right: 100%;
    top: .6rem;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $timeline-color;
    @include breakpoint(medium){
      left: 100%;
      border-right: 0;
      border-left: 10px solid $timeline-color;
    }
  }
  .timeline__item:nth-of-type(even) &{
    float: right;
    &:before{
      content: '';
      right: 100%;
      left: inherit;
      border-left: 0;
      border-right: 10px solid $timeline-color;
    }
  }
}

.timeline__title{
  display: block;
  padding: $timeline-padding/2 $timeline-padding;
  background: $timeline-color;
  color: $white;
  margin: (-$timeline-padding/2) (-$timeline-padding) 0 (-$timeline-padding);
  &:hover,
  &:active{
    color: $white;
  }
  > h6{
    margin-bottom: 0;
  }
}

.timeline__title__icon{
  margin-left: 3px;
  vertical-align: middle;
}

.timeline__content{
  display: none;
  padding-top: $timeline-padding/2;
}

/* Collapse styles */

.timeline__desc.is-expanded{
  .timeline__content{
    display: block;
  }
  .timeline__title__icon{
    transform: rotate(180deg);
  }
}

/* Inactive timeline */

.timeline__item--current{
  &:before {
		background: $timeline-inactive-color;
	}
}

.timeline__item--inactive{
  &:before {
		background: $timeline-inactive-color;
	}
  .timeline__phase{
    background: $timeline-inactive-color;
  }
  .timeline__phase__number{
    text-shadow: 0 1px 2px rgba(black, 0.1);
  }
  .timeline__desc{
    border-color: $timeline-inactive-color;
    &:before{
      border-right-color: $timeline-inactive-color;
      @include breakpoint(medium){
        border-left-color: $timeline-inactive-color;
      }
    }
  }
  .timeline__title{
    background: $timeline-inactive-color;
    color: inherit;
  }
}
.timeline__item:nth-of-type(even).timeline__item--inactive{
  .timeline__desc:before{
    border-right-color: $timeline-inactive-color;
  }
}
