/* Variables */


/* Typography - Foundation overrides */

.heading1{
  line-height: 1.1;
  font-weight: 600;
  font-size: map-get(map-get($header-sizes, small), h1) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h1) / 16 + em;
  }
}

.heading2{
  line-height: 1.2;
  //font-weight: 600;
  font-size: map-get(map-get($header-sizes, small), h2) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h2) / 16 + em;
  }
}

.heading3{
  line-height: 1.2;
  font-size: map-get(map-get($header-sizes, small), h3) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h3) / 16 + em;
  }
}

.heading4{
  line-height: 1.2;
  font-size: map-get(map-get($header-sizes, small), h4) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h4) / 16 + em;
  }
}

.heading5{
  line-height: 1.2;
  font-size: map-get(map-get($header-sizes, small), h5) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h5) / 16 + em;
  }
}

.heading6{
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 600;
  font-size: map-get(map-get($header-sizes, small), h6) / 16 + em;
  @include breakpoint(medium){
    font-size: map-get(map-get($header-sizes, medium), h6) / 16 + em;
  }
}

.heading-small{
  font-size: 1rem;
}

hr{
  width: 50%;
}

/* New typographic styles */

.section-heading{
  position: relative;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: .05em;
  &:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: .8em;
    background-color: $primary;
    margin-right: .5rem;
    margin-bottom: -.1rem;
  }
}

.page-title{
  margin-bottom: 3rem;
}

.text-highlight{
  margin-bottom: 0;
  color: $white;
	text-shadow: 0 0 10px rgba(black, .8);
  &.heading1{
    font-weight: 800;
  }
  > a{
    color: inherit;
    &:hover{
      color: $primary;
    }
  }
}

.text-large{
  font-size: 130%;
}

.text-small{
  font-size: 80%;
  color: $muted;
}

.word-wrapper{
  display: inline-block;
}