<p class="email-instructions"><%= t(".confirmed_html", title: present(@meeting).title, url: @locator.url) %></p>

<p><%= t(".registration_code", code: @registration.code) %></p>

<p class="email-instructions"><%= t(".details") %></p>
