<p><%= t(".confirmed_html", title: Decidim::Meetings::MeetingPresenter.new(@meeting).title, url: @locator.url) %></p>

<p><%= t(".registration_code", code: @registration.code) %></p>

<p><%= t(".details") %></p>
