<% if current_organization.user_groups_enabled? && form.object.user_groups.any? %>
  <div class="field">
    <%= form.select(
        :user_group_id,
        form.object.user_groups.map { |g| [g.name, g.id] },
        selected: form.object.user_group_id.presence,
        include_blank: current_user.name,
        label: true
    ) %>
  </div>
<% end %>
