<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% add_decidim_page_title(t("my_data", scope: "layouts.decidim.user_profile")) %>
  <% content_for(:subtitle) { t("my_data", scope: "layouts.decidim.user_profile") } %>

  <div class="download-your-data">
    <span class="uppercase font-semibold text-gray-2 mb-4 block">
      <%= t("download_data", scope:"decidim.download_your_data.show") %>
    </span>
    <p class="help-text pb-8">
      <%= t("download_data_description_html", scope:"decidim.download_your_data.show" , user_email: current_user.email) %>
    </p>
    <div class="form__wrapper-block">
      <%= button_to t("request_data", scope:"decidim.download_your_data.show"), export_download_your_data_path, class: "button button__sm md:button__lg button__secondary mr-auto !ml-0", data: { disable: true } %>
    </div>
  </div>
<% end %>
