<% extra_data_items.each do |item| %>
  <div class="participatory-space__metadata-item">
    <h3 class="participatory-space__metadata-item-title">
      <%= icon item[:icon] %>
      <%= item[:title] %>
    </h3>
    <% if item[:text].present? %>
      <%= content_tag :span, item[:text] %>
    <% elsif item[:partial].present? %>
      <%= render item[:partial] %>
    <% end %>
  </div>
<% end %>
