<% extra_data_items.each do |item| %>
  <div class="participatory-space__metadata-item">
    <div class="participatory-space__metadata-item-title">
      <%= icon item[:icon] %>
      <h2><%= item[:title] %></h2>
    </div>
    <% if item[:text].present? %>
      <%= content_tag :p, item[:text] %>
    <% elsif item[:partial].present? %>
      <%= render item[:partial] %>
    <% end %>
  </div>
<% end %>
