<div class="participatory-space__metadata-link">
  <div class="participatory-space__metadata-link-likes">
    <%= cell("decidim/content_blocks/participatory_space_last_activity", model, base_model:).render_recent_avatars %>
  </div>
</div>
