<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t(".title") %>
  </h2>
</div>
<div class="item__edit">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: meeting_meeting_close_path(meeting, @form), html: { class: "form-defaults form edit_close_meeting" }) do |f| %>
      <%= render partial: "form", object: f, locals: { title: t(".title") } %>

      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= f.submit t(".close"), class: "button button__sm md:button__lg button__secondary" %>
      </div>
    <% end %>
  </div>
</div>
