<div class="row column question-vote-cabin">
  <div class="columns mediumlarge-4">
    <%= button_to decidim_consultations.question_question_votes_path(question),
                  method: :post,
                  class: "card__button button expanded",
                  id: "vote_button" do %>
        <div class="vote-button-caption"><%= t "questions.vote_button.vote", scope: "decidim" %></div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="column">
    <%= link_to decidim_consultations.question_path(question),
                class: "card__button button hollow float-left" do %>
          <%= t("question_header.back_to_question", scope: "layouts.decidim") %>
    <% end %>
  </div>
</div>
