<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.translated :text_field, :title, autofocus: true, aria: { label: :title } %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

      <div class="row column">
        <%= form.translated :editor, :description, resource_mentionable: true, toolbar: :content, aria: { label: :description } %>
      </div>

      <div class="row column">
        <%= form.number_field :total_budget %>
      </div>
      </div>
    </div>
  </div>
</div>
