<section class="extended hero" style="background-image:url(<%= current_organization.homepage_image.url %>);">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight heading1 hero-heading">
          <% if translated_attribute(current_organization.welcome_text).blank? %>
            <%= t('.welcome', organization: current_organization.name) %>
          <% else %>
            <%= decidim_sanitize translated_attribute current_organization.welcome_text %>
          <% end %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-6 medium-4 mediumlarge-3">
        <%= cta_button %>
      </div>
    </div>
  </div>
</section>
