  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3"><%= decidim_sanitize translated_attribute current_organization.description %></h2>
        <% unless current_user %>
          <%= link_to new_user_registration_path, class: "button--sc link subhero-cta" do %>
            <%= t(".register") %>
            <%= icon "chevron-right", aria_hidden: true %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
