<%= content_tag :div, class: "callout #{callout_class} js-announcement" do %>
  <% if has_title? %>
    <h4 class="h4"><%= clean_title %></h4>

    <%= clean_body %>
  <% else %>
    <%= clean_announcement %>
  <% end %>
<% end %>
