<%= content_tag :div, class: "callout #{callout_class}", data: { announcement: "" } do %>
  <% if has_title? %>
    <div class="h4">
      <%= clean? ? clean_title : title %>
    </div>
    <%= clean? ? clean_body : body %>
  <% else %>
    <%= clean? ? clean_announcement : announcement %>
  <% end %>
<% end %>
