<div class="row column">
  <%= content_tag :div, class: "callout announcement mb-sm #{callout_class} cell-announcement" do %>
    <% if announcement.class == Hash && announcement.key?(:title) %>
      <span><%= decidim_sanitize translated_attribute announcement[:title] %></span>

      <p><%= decidim_sanitize translated_attribute announcement[:body] %></p>
    <% else %>
      <%= decidim_sanitize translated_attribute announcement %>
    <% end %>
  <% end %>
</div>
