<%= content_tag :div, class: "callout #{callout_class} js-announcement" do %>
  <% if has_title? %>
    <div class="h4"><%= clean_title %></div>

    <%= clean_body %>
  <% else %>
    <%= clean_announcement %>
  <% end %>
<% end %>
