<div class="row column">
  <%= content_tag :div, class: "callout announcement mb-sm #{callout_class} cell-announcement" do %>
    <% if has_title? %>
      <p class="heading2"><%= clean_title %></p>

      <%= clean_body %>
    <% else %>
      <%= clean_announcement %>
    <% end %>
  <% end %>
</div>
