<%= content_tag :div, id: options[:id], class: "flash #{css_class}", data: { announcement: "" }.compact, hidden: options[:hidden] do %>
  <% if has_title? %>
    <div class="h4">
      <%= clean_title %>
    </div>
  <% end %>

  <span class="flash__message">
    <%= text %>
  </span>
<% end %>
