<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(
      t("layouts.decidim.conferences.conference.take_part"),
      resource_path,
      class: "card__button button button--sc secondary light small"
    ) %>
  </div>
</div>
