<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(
      t(model.cta_button_text_key, scope: "layouts.decidim.conferences.conference"),
      resource_path,
      class: "card__button button button--sc small"
    ) %>
  </div>
</div>
