<%= link_to resource_path, id: dom_id(model), class: "card__grid" do %>
  <% if resource_image_path.present? %>
    <div class="card__grid-img">
      <%= image_tag resource_image_path, alt: "#{t('alt', scope: 'decidim.application.photo')}: #{title}" %>
    </div>
  <% end %>

  <div class="card__grid-text">
    <h3 class="h4 text-secondary">
      <%= title %>
    </h3>
  </div>
<% end %>
