<div class="reveal" data-reveal id="budget-confirm">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t('.budget_exceed.title') %></h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t('.budget_exceed.description') %></p>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded"><%= t('.budget_exceed.ok') %></button>
    </div>
  </div>
</div>