<%= decidim_modal id: "budget-excess-modal" do %>
  <div class="form-defaults" id="budget-excess">
    <h2 class="h2" data-dialog-title>
      <%= current_order.projects_rule? ? t(".projects_excess.title") : t(".budget_excess.title") %>
    </h2>
    <div data-dialog-container>
      <div class="form__wrapper gap-2">
        <p><%= current_order.projects_rule? ? t(".projects_excess.description") : t(".budget_excess.description") %></p>
      </div>
    </div>
    <div data-dialog-actions>
      <button data-dialog-close="budget-excess-modal" class="button button__sm md:button__lg button__secondary"><%= t(".ok") %></button>
    </div>
  </div>
<% end %>
