<div class="reveal" data-reveal id="budget-excess">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t('.title') %></h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t('.description') %></p>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button data-close class="button expanded"><%= t('.ok') %></button>
    </div>
  </div>
</div>