<span class="card--list__data__number budget-list__number">
  <%= budget_to_currency(project.budget) %>
</span>
<%= link_to order_line_items_path(project_id: project), method: :post, remote: true, data: { disable: true }, class: "button tiny budget--list__action" do %>
  <%= icon("check", class: "icon--small", aria_label: t('.add'), role: "img") %>
<% end %>
