<div id="order-progress">
  <div class="<%= project_item ? "layout-1col pt-4 mb-0" : "grid" %>">
    <div class="budget-summary__cols">
      <%= render partial: "order_progress_summary_content", locals: { responsive: responsive, include_heading: } %>
      <button type="button" data-dialog-open="budget-modal-info" aria-haspopup="dialog" tabindex="0" class="button button__text button__xs mb-4 pb-4">
        <%= t("more_information", scope: "decidim.budgets.budget_information_modal") %>
      </button>
    </div>
  </div>
</div>
