<div id="order-progress">
  <div class="<%= project_item ? "layout-1col pt-8" : "grid" %>">
    <div class="budget-summary__cols">
      <%= render partial: "order_progress_summary_content", locals: { include_heading: } %>
    </div>
  </div>
</div>
