<div class="card card--list budget-list">
  <% projects.each do |project| %>
    <div id="project-<%= project.id %>-item" class="card--list__item">
      <%= render partial: 'project', locals: { project: project } %>
    </div>
  <% end %>
</div>
<%= decidim_paginate projects, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
