<% if current_user.blank? %>
  <div id="project-<%= project.id %>-budget-button">
    <button class="button expanded primary button--sc"
            data-toggle="loginModal"
            aria-label="<%= t(".added_descriptive", resource_name: translated_attribute(project.title)) %>">
      <%= t(".add") %>
    </button>
  </div>
<% else %>
  <%= cell("decidim/budgets/project_vote_button", project) %>
<% end %>
