<div class="budget__list--header">
  <div>
    <%= render partial: "addition_selector" %>
  </div>

  <div class="collection-sort-controls">
    <%= render partial: "order" %>
  </div>
</div>

<div class="budget-list">
  <%= render partial: "projects_list", locals: { project: } %>
</div>

<%= decidim_paginate projects %>
