<div class="budget__list--header">
  <div><%= render partial: "addition_selector" %></div>

  <div class="collection-sort-controls card-grid">
    <%= order_selector available_orders, i18n_scope: "decidim.budgets.projects.orders" %>
  </div>
</div>

<div class="budget-list">
  <% projects.each do |project| %>
    <%= render partial: "project", locals: { project: project } %>
  <% end %>
</div>

<%= decidim_paginate projects %>
