<div id="project-<%= project.id %>-budget-button">
  <% if current_user.present? %>
    <% if current_order && current_order.projects.include?(project) %>
      <%= action_authorized_button_to(
            "vote",
            t(".added"),
            budget_order_line_item_path(budget, project_id: project),
            method: :delete,
            remote: true,
            data: {
              disable: true,
              budget: project.budget_amount,
              "redirect-url": budget_project_path(budget, project)
            },
            disabled: !can_have_order? || current_order_checked_out?,
            class: "button expanded button--sc success",
            "aria-label": t(".added_descriptive", resource_name: translated_attribute(project.title))
          ) %>
    <% else %>
      <%= action_authorized_button_to(
            "vote",
            t(".add"),
            budget_order_line_item_path(budget, project_id: project),
            method: :post,
            remote: true,
            data: {
              disable: true,
              budget: project.budget_amount,
              add: true,
              "redirect-url": budget_project_path(budget, project)
            },
            disabled: !can_have_order? || current_order_checked_out?,
            class: "button expanded button--sc",
            "aria-label": t(".add_descriptive", resource_name: translated_attribute(project.title))
          ) %>
    <% end %>
  <% else %>
    <button class="button expanded button--sc" data-toggle="loginModal">
      <%= t(".add") %>
    </button>
  <% end %>
</div>
