<% add_decidim_page_title(t("assembly_members.new.title", scope: "decidim.admin")) %>
<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("assembly_members.new.title", scope: "decidim.admin") %>
  </h2>
</div>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form-defaults form new_assembly_member" }) do |f| %>
      <%= render partial: "form", object: f %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t("assembly_members.new.create", scope: "decidim.admin"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
