<section class="section" id="participatory_process_group-statistics">
  <h2 class="section-heading">
    <%= t("decidim.participatory_process_groups.content_blocks.stats.name") %>
  </h2>

  <div class="space-stats">
    <% if stats.collection.present? %>
      <%= cell("decidim/participatory_processes/statistic", collection: stats.collection) %>
    <% else %>
      <span class="muted"><%= t("decidim.participatory_processes.statistics.no_stats") %></span>
    <% end %>
  </div>
</section>
