<%
@title = "Decidim Barcelona"
%>

<%= partial "template_top" %>

<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
    <div class="static__message">
      <h1 class="heading1 page-title">Hi ha hagut un problema amb el nostre servidor</h1>
      <p>Si us plau, torna-ho a intentar més tard.</p>
    </div>
  </div>
</div>
</main>

<%= partial "template_bottom" %>
