<%
@title = "Evote -- Decidim Barcelona"
%>

<main class="focus">
<%= partial "focus_top" %>
<%= partial "focus_header", locals: {step: 'confirmed'} %>
<%= partial "focus_content", locals: {step: 'confirmed'} %>
</main>

