<%
@title = "How to participate -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "log"
%>

<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "evote_hero" %>
  <div class="wrapper">
    <%= partial "evote_election_log" %>
  </div>
</main>

<%= partial "template_bottom" %>
