<%
@title = "Evote -- Decidim Barcelona"
%>


<main class="focus">
<%= partial "focus_top" %>
<%= partial "focus_header", locals: {step: 1} %>
<%= partial "focus_content", locals: {step: 1} %>
<%= partial "focus_footer", locals: {step: 1} %>
</main>

