<%
@title = "How to participate -- Decidim Barcelona"
@activesection = "consultations"
@activepage = "how-to"
%>

<%
@title = "Evote -- Decidim Barcelona"
%>

<%= partial "template_top" %>

<main>
  <%= partial "evote_hero" %>
  <div class="wrapper">
    <%= partial "evote_participating-rights", locals: { success: false, error: false, blocked: true } %>
  </div>
</main>

<%= partial "template_bottom" %>
