<% @activesection = "home" %>

<%= partial "template_top" %>

<main>
  <section class="extended hero"
    style="background-image:url(<%= image_path "hero-home.jpg" %>);">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            Construïm entre tots <br>la Barcelona que volem
          </h1>
        </div>
      </div>

    </div>
  </section>

  <section class="extended wrapper-home">
    <div class="row column">
      <h4 class="section-heading">Statistics</h4>
    </div>
    <div class="row">
      <div class="columns small-centered mediumlarge-10 large-10">
        <div class="main-stats">
          <div class="main-stats__data">
            <span class="main-stats__number">22,225</span>
            <h4 class="main-stats__title">Proposals</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">1678</span>
            <h4 class="main-stats__title">Participants</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">459</span>
            <h4 class="main-stats__title">Supports</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">506</span>
            <h4 class="main-stats__title">Followers</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">49</span>
            <h4 class="main-stats__title">Comments</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">96</span>
            <h4 class="main-stats__title">Endorsements</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">59</span>
            <h4 class="main-stats__title">Meetings</h4>
          </div>
          <div class="main-stats__data">
            <span class="main-stats__number">7</span>
            <h4 class="main-stats__title">Blog posts</h4>
          </div>
        </div>
      </div>
    </div>
</section>

</main>

<%= partial "template_bottom" %>
