<%= partial "template_top" %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row">
      <div class="columns large-8 medium-centered">
        <div class="card">
          <div class="card__content">
            <div class="row">
              <div class="columns medium-2 text-center">
                <img src="http://via.placeholder.com/75x75" alt="">
              </div>
              <div class="columns medium-10">
                <h3 class="heading3"><strong>Participa a Terrassa</strong>&nbsp;wants to use your account
                  <br>
                  <small class="heading-small">Ajuntament de Terrassa <a href="#">participa.terrassa.cat</a></small>
                </h3>
                <br>
                <p class="lead">Connect your account by signing in to Decidim Barcelona.</p>
                <div>
                  <p><strong class="primary">This application will be able to:</strong></p>
                  <ul>
                    <li>See your username</li>
                    <li>See your email addres.</li>
                  </ul>
                </div>
                <div>
                  <p><strong class="primary">This application will not be able to:</strong></p>
                  <ul>
                    <li>Update your profile.</li>
                    <li>Publish content for you.</li>
                  </ul>
                </div>
                <div class="row column">
                  <button class="column small-7 medium-5 button button--nomargin secondary light" type="button" name="button">Authorize app</button>
                  <button class="column small-4 medium-3 small-push-1 end button button--nomargin" type="button" name="button">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
