<%
@title = "Proceso -- Decidim Barcelona"
@activesection = "processes"
@activepage = "phases"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row column">
    <div class="row">
      <div class="columns mediumlarge-9 large-7">
        <div class="section">
          <h4 class="section-heading">Fases del proceso</h4>
          <%= partial "timeline" %>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<%= partial "template_bottom" %>
