<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "proposals"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <p class="lead">
            Has votado los presupuestos del <a href="#"><strong>distrito de Gràcia</strong></a>
            y del <a href="#"><strong>distrito de Ciutat Vella</strong></a>.
          </p>
          <p>
            Ya has finalizado la votación de los dos distritos. ¡Muchas gracias por haber participado!
          </p>
        </div>
        <%= partial "budget_districts", locals: {votedOne: true, votedTwo: true} %>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
