<%
@title = "Propuesta -- Decidim Barcelona"
@activesection = "processes"
@activepage = "proposals"
%>

<%= partial "template_top" %>

<main>
  <%= partial "process_header" %>
  <div class="wrapper">
    <div class="row">
      <div class="columns medium-7 mediumlarge-8">
        <div class="section">
          <p class="lead">
            Has votado los presupuestos del <strong>distrito de Gràcia</strong>.
          </p>
          <p>
            <a href="#" class="button">Ver propuestas votadas</a>
          </p>
        </div>
        <div class="section">
          <p>
            Además de votar en tu distrito, puedes votar los presupuestos de uno de los
            siguientes distritos:
          </p>
          <div class="row">
            <div class="card card--list card--list--mini">
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Ciutat Vella
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Eixample
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Sants-Montjuïc
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Les Corts
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Sarrià-Sant Gervasi
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Horta-Guinardó
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Nou Barris
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Sant Andreu
                    </a>
                  </div>
                </div>
              </div>
              <div class="card--list__item">
                <div class="card--list__text">
                  <div>
                    <a href="#" class="card__link card--list__heading">
                      Sant Martí
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
