<%= partial "template_top" %>

<main class="wrapper">
  <div class="row column">
    <h1 class="heading1 page-title">Aspectes legals i condicions d’ús de la
      plataforma de participació de l’Ajuntament de Barcelona</h1>
  </div>
  <div class="row">
    <div class="columns large-8">
      <div class="static__content">
        <p>
          Aquest avís legal informa de manera concisa dels aspectes principals
          de la plataforma Decidim Barcelona (decidim.barcelona) de participació
          digital, impulsada per l’Ajuntament de Barcelona i que té per objectiu
          generar un espai obert de participació i debat ciutadà, promoure la
          transparència i la traçabilitat del procés participatiu i generar
          espais de participació presencials i digitals. Decidim Barcelona acull
          inicialment el procés participatiu del Pla municipal i ha de donar
          cabuda a nous processos participatius.
        </p>
        <p>
          El ciutadà que accedeix a aquesta plataforma es compromet a acceptar i
          complir tot el que preveu aquest avís legal i el conjunt de les
          disposicions aplicables. També es compromet a fer un ús lícit i
          adequat dels continguts i els serveis i a abstenir-se de qualsevol
          conducta il·legal o contrària a la bona fe i l’ordre públic.
        </p>
        <p>
          La plataforma Decidim Barcelona (decidim.barcelona) és gestionada per
          la Regidoria de Participació i Districtes de l’Ajuntament de Barcelona
          amb la col·laboració de la Direcció de Comunicació i l’Institut
          Municipal d’Informàtica del mateix Ajuntament.
        </p>
        <h2 class="heading2">A. Àmbit d’aplicació d’aquestes condicions d’ús</h2>
        <p>Les condicions d’ús següents per a la participació en la plataforma
          Decidim Barcelona vinculen totes les persones que participin en aquest
          lloc web. En el moment de registrar-vos se us sol·licitarà que
          accepteu aquestes condicions.
        </p>
        <p>
          L’Ajuntament de Barcelona es reserva la facultat de modificar les
          condicions presents per a la plataforma i publicarà en el lloc web
          l’última versió d’aquestes condicions. Per tal de mantenir-vos
          informats dels canvis futurs, us aconsellem que visiteu aquesta pàgina
          de tant en tant. S’informarà les persones usuàries de les
          modificacions quan n’afectin la privacitat i/o la seguretat.
        </p>
        <h2 class="heading2">B. Objectiu de la iniciativa</h2>
        <p>
          Mitjançant la plataforma Decidim Barcelona, l’Ajuntament de Barcelona
          vol fomentar la participació ciutadana de manera oberta i transparent
          i implicar la ciutadania i els diferents agents socials en la
          definició de polítiques públiques i actuacions municipals i en la
          valoració, informació, discussió, priorització i decisió sobre
          aquestes polítiques i actuacions per afrontar reptes i dificultats que
          es plantegen a la ciutat amb l’objectiu de millorar-la i obrir-la al
          conjunt de la ciutadania. L’Ajuntament opta per una democràcia
          participativa, directa i deliberativa visibilitzant i fomentant les
          iniciatives que, tant de forma individual com col·lectiva, puguin
          contribuir a debatre, dissenyar i/o valorar accions municipals en
          favor del bé comú. La plataforma també té com a objectiu facilitar i
          visibilitzar els debats, el disseny, la valoració, la negociació i la
          modificació de polítiques públiques que puguin realitzar-se fora de la
          plataforma, per poder oferir a la ciutadania la màxima transparència.
          Igualment, es proposa poder acollir futurs processos de participació
          que avancin en la direcció de la desintermediació de la relació entre
          el Govern municipal i la ciutadania de Barcelona.
        </p>
      </div>
    </div>
  </div>
</main>

<%= partial "template_bottom" %>
