<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
    <div class="static__message">
      <h1 class="heading1 page-title"><%= t(".title") %></h1>
      <p><%= t(".try_later") %></p>
    </div>
  </div>
</div>
</main>
