<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
      <div class="static__message">
        <h1 class="heading1 page-title"><%= t(".title") %></h1>
        <p><%= t(".content_doesnt_exist") %></p>
        <div class="static__message__cta">
          <%= link_to t(".back_home"), root_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</main>
