<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <div class="place-self-center">
    <div class="flex justify-center">
      <h1 class="title-decorator my-12"><%= t("title", scope: "decidim.errors.not_found") %></h1>
    </div>

    <div class="text-center space-y-8">
      <p class="text-lg text-gray-2">
        <%= t("content_doesnt_exist", scope: "decidim.errors.not_found") %>
      </p>

      <%= link_to t("back_home", scope: "decidim.errors.not_found"), root_path, class: "button button__lg button__secondary" %>
    </div>
  </div>

<% end %>
