<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if has_step? %>
      <div class="card__support__data--left">
        <div class="text-uppercase"><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></div>
        <div class="text-ellipsis"><strong><%= step_title %></strong></div>
      </div>
    <% end %>
    <%= link_to(
      t(model.cta_button_text_key, scope: "layouts.decidim.participatory_processes.participatory_process"),
      resource_path,
      class: "card__button button button--sc secondary light small"
    ) %>
  </div>
</div>
