<p><%= t(".body", origin_component_name: translated_attribute(@origin_component.name), target_component_name: translated_attribute(@target_component.name)) %></p>
<p><%= t(".added_proposals", count: @count) %></p>
