<table class="design__table">
  <thead>
    <th>Button</th>
    <th>Classes</th>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <td>
          <button class="<%= row[:class] %>">Send</button>
        </td>
        <td>
          <%= row[:class] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
