<%= form.fields_for :emendation_params, form.object.emendation_params do |emendation_form| %>
  <%= form_required_explanation %>

  <% amendable.attributes.each do |key, value| %>
    <% key = key.to_sym %>
    <% if amendable.amendable_fields.include?(key) %>

      <div class="field hashtags__container">
        <%= amendments_form_field_for(key, emendation_form, original) %>
      </div>

      <% form.object.errors.full_messages_for(key).each do |message| %>
        <small class="form-error is-visible"><%= message %></small>
      <% end %>

    <% end %>
  <% end %>
<% end %>
