<div class="wrapper">
  <div class="row">
    <%= cell("decidim/amendable/wizard_step_form", amendable, view: :wizard_aside ) %>

    <div class="columns large-6">
      <%= cell("decidim/amendable/wizard_step_form", amendable, view: :wizard_header, similar_resources_count: similar_emendations.size ) %>

      <div class="row small-up-1 card-grid">
        <% similar_emendations.each do |emendation| %>
          <%= render partial: "similar_emendation", locals: { emendation: emendation } %>
        <% end %>
      </div>

      <div class="row column text-center">
        <%= link_to t(".continue"), edit_draft_amend_path(amendment), class: "button small" %>
      </div>
    </div>

    <div class="columns large-3"></div>
  </div>
</div>
