<div class="session-box">
  <div class="admin-email">
    <%= current_user.email %>
  </div>
  <div class="sign-out">
    <%= link_to('Logout', decidim.destroy_user_session_path, method: :delete) %>
  </div>
</div>
