
<div class="sidebar-menu__container">
  <div class="sidebar-menu">
    <div id="admin-sidebar-menu-settings">
      <%= sidebar_menu(secondary_root_menu).render %>
    </div>
  </div>

  <div>
    <%= yield %>
  </div>
</div>
