
<div class="sidebar-menu__container">
  <div class="sidebar-menu">
    <div id="admin-sidebar-menu-settings">
      <button id="dropdown-trigger-sidebar" data-component="dropdown" data-target="dropdown-menu-sidebar">
        Trigger
      </button>

      <ul id="dropdown-menu-sidebar">
        <%= sidebar_menu(secondary_root_menu).render %>
      </ul>

    </div>
  </div>

  <div class="item_show__wrapper">
    <%= admin_tabs(tab_menu_name).render if defined?(has_tab_menu?) && has_tab_menu? %>
    <%= yield %>
  </div>
</div>
