
<div class="sidebar-menu__container">
  <div class="sidebar-menu">
    <div id="admin-sidebar-menu-settings">
      <%= sidebar_menu(secondary_root_menu).render %>
    </div>
  </div>

  <% if defined?(has_tab_menu?) && has_tab_menu? %>
    <div class="layout-content__container" data-content>
      <%= admin_tabs(tab_menu_name).render %>
      <div class="item_show__wrapper">
        <%= yield %>
      </div>
    </div>
  <% else %>
    <div class="item_show__wrapper">
      <%= yield %>
    </div>
  <% end %>
</div>
