<!DOCTYPE html>
<html>
  <head>
    <title>Decidim - Login</title>
    <%= render partial: "layouts/decidim/admin/header" %>
  </head>

  <body class="login">
    <div>
      <div>
        <h1>Decidim</h1>
        <%= display_flash_messages %>
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
