<%= render "layouts/decidim/admin/application" do %>
  <%= yield :title %>

  <div class="settings-menu__container">
    <%= sidebar_menu_settings(:admin_settings_menu).render %>

    <%= yield %>
  </div>
<% end %>
