<% if results.any? %>
  <section class="section row collapse highlighted_results">
    <h4 class="section-heading">
      <%= t(".results") %>  <a href="<%= main_component_path(results.first.component) %>" class="text-small"><%= t(".see_all_results") %></a>
    </h4>
    <div class="row">
      <div class="columns accountability">
        <div class="card card--action card--list">
          <%= render partial: 'decidim/participatory_spaces/result', collection: results %>
        </div>
      </div>
    </div>
  </section>
<% end %>
