<li class="<%= " is-active" if is_active_link?(item[:path]) %>">
  <%= link_to item[:path], class: "conference__nav-item" do %>
    <%= item[:name] %>
    <%= icon "arrow-right-line" %>
  <% end %>
</li>
