<%= action_authorized_button_to "vote",
      budget_order_line_item_path(model.budget, project_id: model),
      method: vote_button_method,
      remote: true,
      class: "button button__sm button__transparent-secondary budget-list__action #{vote_button_class}",
      id: "project-vote-button-#{model.id}",
      data: {
        add: !resource_added?,
        disable: true,
        budget: model.budget_amount,
        allocation: resource_allocation,
        "redirect-url": resource_path
      },
      disabled: vote_button_disabled?,
      title: vote_button_label do %>
  <%#REDESIGN_PENDING add locale %>
  <span>Añadir</span>
  <%= icon "add-fill", class: "inline-block" %>
<% end %>
