<!-- Empty flag icon to avoid id duplication, just for demo purposes.
Don't use in production. -->
<button type="button" title="Reportar un problema">
  <%= icon "flag", class: "icon--small", aria_label: "Reportar problema", role: "img" %>
</button>
