<section class="section">
  <div class="expanded hero" style="background-image:url('<%= background_image %>');">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered medium-6 text-center">
          <%= cta_button %>
          <p class="text-highlight">
            <%= translated_description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
