<% @files = Dir.glob("app/views/redesigned/views/*") %>
<main class="py-12 container">
  <h1 class="h1 decorator">List of view mocks</h1>
  <ul class="mt-12 list-disc">
    <% @files.each do |file| %>
      <% basename = File.basename(file, ".html.erb") %>
      <li class="text-secondary cursor-pointer"><%= link_to basename, page_path("views/" + basename) %></li>
    <% end %>
  </ul>
</main>
