<button class="button button__sm button__text button__text-secondary" title="Report" data-dialog-open="flagModal" aria-haspopup="dialog">
  <span>Report</span>
  <%= icon("flag-line") %>
</button>

<div id="flagModal" data-dialog="flagModal" role="dialog" tabindex="-1" aria-hidden="false" aria-labelledby="dialog-title-flagModal" aria-describedby="dialog-desc-flagModal" aria-modal="true">
  <div id="flagModal-content" class="flag-modal">
    <button type="button" data-dialog-close="flagModal" data-dialog-closable="" aria-label="Close modal">×</button>
    <form class="new_report" action="#" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="Cw1tZf21dYDKeZ7MWIfUDHYzVeEYdaMhHAyPq4VcDeuqS-WbBQWx0srwBGXqlnq3kDAmSMFSTHrcDTxM0rq_Ig" autocomplete="off">
      <div data-dialog-container="">
        <%= icon("flag-line") %>
        <h2 id="dialog-title-flagModal" tabindex="-1" data-dialog-title="">Report inappropriate content</h2>
        <div>
          <div class="form__wrapper flag-modal__form">
            <p id="dialog-desc-flagModal" class="flag-modal__form-description">Is this content inappropriate?</p>
            <p class="flag-modal__form-reason">Reason:</p>
            <input type="hidden" name="report[reason]" value="" autocomplete="off"><label class="form__wrapper-checkbox-label"><input type="radio" value="spam" checked="checked" name="report[reason]">Contains clickbait, advertising, scams or script bots.</label><label class="form__wrapper-checkbox-label"><input type="radio" value="offensive" name="report[reason]">Contains racism, sexism, slurs, personal attacks, death threats, suicide requests or any form of hate speech.</label><label class="form__wrapper-checkbox-label"><input type="radio" value="does_not_belong" name="report[reason]">Contains illegal activity, suicide threats, personal information, or something else you think does not belong on Metadecidim.</label>
            <label class="flag-modal__form-textarea-label">Additional comments<textarea rows="4" name="report[details]"></textarea></label>
          </div>
        </div>
      </div>
      <div data-dialog-actions="">
        <button type="button" class="button button__lg button__transparent-secondary" data-dialog-close="flagModal">
        Cancel
        </button>
        <button type="submit" class="button button__lg button__secondary">
          <span>Report</span>
          <%= icon("arrow-right-line") %>
        </button>
      </div>
    </form>
  </div>
</div>
