<%= decidim_form_for(@form, url: url_for([collection_for, @form]), html: { class: "form new_attachment_collection" }) do |f| %>
  <%= render partial: "decidim/admin/attachment_collections/form", object: f, locals: { title: t("attachment_collections.new.title", scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("attachment_collections.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
