<div class="design__section-snippet">
  <p>Source code on GitHub: <%= link_to(text, url, target: "_blank", rel: "noopener noreferrer") %></p>
  <code>
    <textarea rows="5"><%= cell(cell, *args) %></textarea>
  </code>
</div>
