<div class="design__section-snippet">
  <p>Source code on GitHub: <%= link_to(text, url, target: "_blank", rel: "noopener noreferrer") %></p>
  <%= render partial: "decidim/design/shared/cell_call_textarea", locals: { cell:, call_string:, args_texts: } %>
</div>
