<% sections.each do |section| %>
  <section id="<%= section[:id] %>" class="design__section">
    <%= section_title(section) %>
    <% section[:contents].each do |content| %>
      <%= render_content(content) %>

      <% if content[:type] == :partial %>
        <div class="design__section-snippet">
          <p>Source code on GitHub: <a href="http://" target="_blank" rel="noopener noreferrer">cell.rb</a></p>
          <code>
            <textarea rows="5">
<button class="button button__primary button__xs">
  <span>Send</span>
</button>
            </textarea>
          </code>
        </div>
      <% end %>
    <% end %>

  </section>
<% end %>
