<%
validations = []

#validations << t("decidim.following.non_public_followings") if public_followings.any? && non_public_followings?
validations << t("decidim.following.no_followings") if !public_followings.any?

validations.each do |validation| %>
  <p><%= validation %></p>
<% end %>

<% if validations.empty? %>
  <div class="divide-y divide-gray-3 -my-4">
    <% public_followings.each do |followable| %>
      <%= card_for followable, context: { label: true, show_space: true } %>
    <% end %>
  </div>

  <!-- TODO: pagination and results per page now they'll come together -->
  <%= decidim_paginate public_followings %>
<% end %>
