<div class="empty-notifications callout secondary <%= "hide" if followings.any? %>">
  <p><%= t("decidim.following.no_followings") %></p>
</div>
<div class="row small-up-1 medium-up-2 card-grid">
  <% followings.each do |following| %>
    <%= card_for following, context: { label: true, show_space: true } %>
  <% end %>
</div>
<%= decidim_paginate followings %>
