<%= participatory_space_floating_help %>

<div class="votings-header votings-home-banner row column">
  <div class="row column votings-header__main"
       style="background-image:url(<%= current_voting.banner_image.url %>);">
    <div class="votings-header__container row">
      <div class="columns mediumlarge-9 votings-header__info">
        <div>
          <h1 class="heading2 text-highlight">
            <%= translated_attribute(current_voting.title) %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
