<% content_for :heading do %>
  Iconography
<% end %>

<% content_for :description do %>
  <p>We use icons to reinforce the meaning of actions, titles, etc.</p>
  <p>We use the Remixicon open source library: <a href="https://remixicon.com" target="_blank" rel="noopener noreferrer">https://remixicon.com</a></p>
<% end %>

<%= render layout: "decidim/design/layout" do %>

  iconography

<% end %>
