<%# REDESIGN_PENDING: This endpoint should be implemented for each participatory space %>
<%= link_to "last_activities_path", class: "participatory-space__metadata-link" do %>
  <div class="participatory-space__metadata-link-endorsers">
    <%= cell("decidim/content_blocks/participatory_space_last_activity", model, base_model:).render_recent_avatars %>
  </div>
  <span><%= t("see_all_activity", scope: "decidim.content_blocks.last_activity") %></span>
<% end %>
