<% content_for :heading do %>
  Accessibility
<% end %>

<% content_for :description do %>
  <p>Decidim follows the <u>Web Content Accessibility Guidelines (WCAG) 2.1</u>.</p>
<% end %>

accessibility
