// Foundation Variables
$primary-color: null;
$secondary-color: null;
$success-color: null;
$warning-color: null;
$alert-color: null;
$-zf-size: null;
$-zf-bp-value: null;

@import "foundation_and_overrides";
@import "layout";
@import "login";
@import "sidebar";
@import "tables";
@import "actions";
@import "forms";
@import "decidim/editor";
@import "decidim/utils/fontface";

body{
  font-family: 'Source Sans Pro', sans-serif;
}
