<% add_decidim_page_title(t("participatory_processes_deleted", scope: "decidim.admin.titles")) %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>

<div class="card" id="processes">
  <%= admin_filter_selector %>
</div>
<%= render partial: "processes_table", locals: { processes: deleted_collection, view: :deleted } %>
