<% add_decidim_page_title(t("participatory_processes_deleted", scope: "decidim.admin.titles")) %>
<%= admin_tabs(:admin_participatory_processes_menu).render %>
<div class="mb-6">
  <h1 class="item_show__header-title">
    <%= t "participatory_processes.manage_trash.title", scope: "decidim.admin" %>
  </h1>
</div>
<div class="card" id="processes">
  <%= admin_filter_selector %>
</div>
<%= render partial: "processes_table", locals: { processes: trashable_deleted_collection, view: :deleted } %>
