.meeting-polls{
  &__main{
    flex: 1;
    display: flex;
  }

  &__iframe{
    @extend .bg-muted;
    display: flex;

    > * {
      flex: 1;
      border: 0;
    }
  }

  &__aside{
    flex: 0;
    counter-reset: question;

    & + div{
      flex: 1;
    }

    &.is-open{
      flex: 0 0 25%;

      & + div{
        flex: 0 0 75%;
      }
    }
  }

  &__question{
    & + &{
      border-top: 1px solid #E8E8E8;
    }

    summary{
      @extend .padding-1;

      cursor: pointer;
      font-weight: bold;
      color: var(--secondary);
      transition: background-color .2s ease-in-out;

      &:hover{
        background-color: #f4f4f4;
      }

      &::after {
        counter-increment: question;
        content: "#" counter(question);
      }

      & ~ *{
        @extend .padding-horizontal-1;
        @extend .padding-bottom-1;

        // dynamic content
        :first-child{
          font-weight: 600;
        }
        
        label{
          display: flex;
          align-items: baseline;
          cursor: pointer;
        }
        // end dynamic content
      }
    }

    &[open] summary ~ *{
      animation: animateDown .2s linear forwards;
    }

    @keyframes animateDown {
      0%{
        opacity: 0;
        transform: translateY(-25%);
      }
      75%{
        opacity: 0;
      }
    }
  }
}