.meeting-polls{
  &__main{
    flex: 1;
    display: flex;
  }

  &__iframe{
    @extend .bg-muted;
    display: flex;

    > * {
      flex: 1;
      border: 0;
    }
  }

  &__aside{
    flex: 0;
    counter-reset: question;

    & + div{
      flex: 1;
    }

    &.is-open{
      flex: 0 0 25%;

      & + div{
        flex: 0 0 75%;
      }
    }
  }

  &__question{
    background-color: $white;
    border-bottom: 1px solid #E8E8E8;

    summary{
      @extend .padding-1;

      cursor: pointer;
      font-weight: bold;
      color: var(--secondary);
      transition: background-color .2s ease-in-out;

      &:hover{
        background-color: #f4f4f4;
      }

      &::after {
        counter-increment: question;
        content: "#" counter(question);
      }

      & ~ *{
        @extend .padding-horizontal-1;
        @extend .padding-bottom-1;

        // dynamic content
        :first-child{
          font-weight: 600;
        }
        
        label{
          display: flex;
          align-items: baseline;
          cursor: pointer;
        }
        // end dynamic content
      }
    }

    &[open] summary ~ *{
      animation: animateDown .2s linear forwards;
    }

    &[open] .meeting-polls__answer--bar > *{
      animation: animateRight .4s ease-in-out .2s forwards;
    }

    &.is-new{
      animation: animateHighlight 5s ease-in-out forwards;
    }

    @keyframes animateDown{
      0%{
        opacity: 0;
        transform: translateY(-25%);
      }
      75%{
        opacity: 0;
      }
    }

    @keyframes animateRight{
      from{
        opacity: 0;
        transform: translateX(-100%);
      }
      to{
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes animateHighlight{
      0%,
      80%{
        background-color: rgba(var(--warning-rgb), .1);
      }
    }
  }

  &__answer{
    display: flex;
    align-items: center;
    
    &--value{
      flex: 0 0 15%;
      font-weight: bold;
    }
    
    &--bar{
      flex: 0 0 85%;
      height: 10px;
      overflow: hidden;

      > *{
        background-color: var(--primary);
        height: 100%;
        opacity: 0;
      }
    }
  }

  // vertical flow
  label + &__answer + label{
    margin-top: 1.5 * $global_margin;
  }
}