<div class="callout-wrapper">
  <div class="callout alert callout--full" data-closable>
    La has liado pardísima y todo se ha roto. Congrats.
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="callout warning callout--full" data-closable>
    No, en serio, ve con cuidado.
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="callout success callout--full" data-closable>
    Ahora lo estás haciendo bien, ¡campeón!
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="callout callout--full" data-closable>
    Mira, todo me da un poco igual.
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
