<ul class="pagination text-center" role="navigation" aria-label="Paginación">
  <li class="pagination-previous disabled">Anterior</li>
  <li class="current"><span class="show-for-sr">Estás en la página</span> 1</li>
  <li><a href="#" aria-label="Página 2">2</a></li>
  <li><a href="#" aria-label="Página 3">3</a></li>
  <li><a href="#" aria-label="Página 4">4</a></li>
  <li class="ellipsis"></li>
  <li><a href="#" aria-label="Página 12">12</a></li>
  <li><a href="#" aria-label="Página 13">13</a></li>
  <li class="pagination-next"><a href="#" aria-label="Siguiente página">Siguiente</a></li>
</ul>
