<%= cell "decidim/user_group_pending_invitations_list", model %>

<% if validation_messages.present? %>
  <% validation_messages.each do |validation| %>
    <%= cell("decidim/announcement", validation) %>
  <% end %>
<% else %>
  <div class="profile__user-grid">
    <% user_groups.each do |user_group| %>
      <%= card_for user_group %>
    <% end %>
  </div>
  <%= decidim_paginate user_groups %>
<% end %>
