<div id="collapsible-list" class="collapsible-list is-filtered" data-toggler=".is-filtered">

  <%= yield %>

  <span class="text-small">(<a data-toggle="collapsible-list">veure'n més</a>)</span>
</div>
