<%= link_to cta_button_path, id: "hero-cta", class: "button button__lg md:button__xl button__secondary", title: t("decidim.pages.home.hero.participate_title") do %>
  <span><%= cta_button_text %></span>
  <%= icon "login-box-line" %>
<% end %>
