<section class="extended hero home-section" style="background-image:url('<%= background_image %>');">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight heading1 hero-heading">
          <% if translated_welcome_text.blank? %>
            <%= t("decidim.pages.home.hero.welcome", organization: current_organization.name) %>
          <% else %>
            <%= decidim_sanitize translated_welcome_text %>
          <% end %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-6 medium-4 mediumlarge-3">
        <%= cta_button %>
      </div>
    </div>
  </div>
</section>
