<% result = Decidim::Accountability::Result.take %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>

  <!-- MOCKED CONTENT -->
  <code><%= result.timeline_entries.any? %></code>


  <%= stylesheet_pack_tag "decidim_accountability", media: "all", 'data-turbolinks-track': "reload" %>

  <h2 class="h4">Title of this current_scope</h2>
  <div class="editor-content mt-4">Intro of this current_scope</div>

  <div id="results" class="accountability__result-container">
      <div class="accountability__result" data-drawer-open>
        <div class="accountability__result-details-container">
          <h3 class="h5 text-secondary">
            Nam adipisci.
          </h3>

          <div class="accountability__result-details">
            <span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray"><use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-calendar-line"></use></svg>
              23 Jul -&gt; 31 Ago
            </span>
            <span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray"><use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line"></use></svg>
              Equipamientos para colectivos específicos
            </span>
          </div>
        </div>

          <div class="accountability__result-progress">47,3 %</div>
      </div>
  </div>

  <!-- END MOCKED CONTENT -->

  <% content_for :aside do %>

    IMPLEMENTED IN decidim-accountability/app/views/decidim/accountability/results/_project_aside.html.erb

  <% end %>

  <%= render layout: "redesigned/shared/drawer" , locals: { next: "https://www.." , prev: "https://www.." } do %>

    <h2 class="h2 decorator">Entiendo tú esto</h2>

    <div class="editor-content mt-8">
      <p><a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia" rel="noopener noreferrer" target="_blank">Wikipédia</a>
        est un projet d’encyclopédie collective en ligne, universelle, multilingue et fonctionnant sur le principe du <a
          href="https://fr.wikipedia.org/wiki/Wiki" rel="noopener noreferrer" target="_blank">wiki</a>. Ce projet vise à
        offrir un contenu librement réutilisable, objectif et vérifiable, que chacun peut modifier et améliorer.</p>
    </div>

    <div class="mt-8">
      <ul class="tags tag-container">
        <li><a title="Resultados al filtrar por la categoría: Repellendus amet animi voluptatibus suscipit." class="tag"
            href="/processes/quis-inventore/f/6/results?filter%5Bcategory_id%5D%5B%5D=3"><svg width="1em" height="1em"
              role="img" aria-hidden="true">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line">
              </use>
            </svg><span class="sr-only">Resultados al filtrar por la categoría: Repellendus amet animi voluptatibus
              suscipit.</span><span aria-hidden="true">Repellendus amet animi voluptatibus suscipit.</span></a></li>
        <li><a title="Resultados al filtrar por el ámbito: Harrisonburgh" class="tag"
            href="/processes/quis-inventore/f/6/results?filter%5Bscope_id%5D%5B%5D=18"><svg width="1em" height="1em"
              role="img" aria-hidden="true">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line">
              </use>
            </svg><span class="sr-only">Resultados al filtrar por el ámbito: Harrisonburgh</span><span
              aria-hidden="true">Harrisonburgh</span></a></li>
      </ul>

    </div>

  <% end %>
<% end %>
