<%= stylesheet_pack_tag "decidim_accountability", media: "all", 'data-turbolinks-track': "reload" %>

<div class="container py-12">

  <h2 class="h4">Title of this current_scope</h2>
  <div class="editor-content mt-4">Intro of this current_scope</div>

  <div id="results" class="accountability__result-container">
      <div class="accountability__result" data-drawer-open>
        <div class="accountability__result-details-container">
          <h3 class="h5 text-secondary">
            Nam adipisci.
          </h3>

          <div class="accountability__result-details">
            <span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray"><use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-calendar-line"></use></svg>
              23 Jul -&gt; 31 Ago
            </span>
            <span>
              <svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray"><use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line"></use></svg>
              Equipamientos para colectivos específicos
            </span>
          </div>
        </div>

          <div class="accountability__result-progress">47,3 %</div>
      </div>
  </div>

  <% content_for :aside do %>

    <div class="accountability__project-aside">

      <div class="accountability__status accountability__status__project">
        <p class="accountability__status-title">Progreso</p>

        <div class="accountability__status-progress">
          <div style="width:53.33%"></div>
        </div>

        <div class="accountability__status-value">
          <span>53,3 %</span>
        </div>

      </div>

      <div class="accountability__project-aside-item">
        <div><svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-calendar-todo-line"></use>
          </svg>Inicio / Fin</div>
        <div>02 sep 2022 / 30 dic 2022</div>
      </div>
      <div class="accountability__project-aside-item">
        <div><svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-focus-2-line"></use>
          </svg>Estado</div>
        <div>Buen estado</div>
      </div>
      <div class="accountability__project-aside-item">
        <div><svg width="1em" height="1em" role="img" aria-hidden="true" class="w-3.5 h-3.5 fill-current text-gray">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-file-text-line"></use>
          </svg>Descripción</div>
        <div>Após um período na vida civil depois da guerra, Malley ingressou na Real Força Aérea Australiana (RAAF) em
          1925, servindo no Esquadrão N.º 3. Em 1931 tornou-se conselheiro de aviação na China e trabalhou em estreita
          colaboração com a Madame Chiang Kai-shek, Soong Mei-ling, a partir de 1937.</div>
      </div>

    </div>

  <% end %>

  <%= render layout: "redesigned/shared/drawer" , locals: { next: "https://www.." , prev: "https://www.." } do %>

    <h2 class="h2 decorator">Entiendo tú esto</h2>

    <div class="editor-content mt-8">
      <p><a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia" rel="noopener noreferrer" target="_blank">Wikipédia</a>
        est un projet d’encyclopédie collective en ligne, universelle, multilingue et fonctionnant sur le principe du <a
          href="https://fr.wikipedia.org/wiki/Wiki" rel="noopener noreferrer" target="_blank">wiki</a>. Ce projet vise à
        offrir un contenu librement réutilisable, objectif et vérifiable, que chacun peut modifier et améliorer.</p>
    </div>

    <div class="mt-8" data-component="accordion" data-multiselectable="false" data-collapsible="false">
      <ul class="tab-x-container">
        <li class="tab-x" data-controls="panel-project_timeline" data-open="true"><svg width="1em" height="1em"
            role="img" aria-hidden="true" class="text-gray fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-route-line"></use>
          </svg>Evolución del proyecto</li>
        <li class="tab-x" data-controls="panel-project_proposals" data-open=""><svg width="1em" height="1em" role="img"
            aria-hidden="true" class="text-gray fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-chat-new-line"></use>
          </svg>Propuestas incluidas</li>
        <li class="tab-x" data-controls="panel-project_projects" data-open=""><svg width="1em" height="1em" role="img"
            aria-hidden="true" class="text-gray fill-current">
            <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-git-pull-request-line">
            </use>
          </svg>Proyectos incluidos</li>
      </ul>

      <div id="panel-project_timeline" class="py-8">
        <ol class="accountability__project-timeline">
          <li class="accountability__project-timeline-entry">
            <div class="accountability__project-timeline-entry-number">
              <span>1</span>
            </div>
            <div class="accountability__project-timeline-entry-attributes">
              <h4>
                Fase 1
              </h4>
              <div>
                02/09/2022
              </div>
              <div>
                <p>blablalbablalblabla</p>
              </div>
            </div>
          </li>
          <li class="accountability__project-timeline-entry">
            <div class="accountability__project-timeline-entry-number">
              <span>2</span>
            </div>
            <div class="accountability__project-timeline-entry-attributes">
              <h4>
                Fase 2
              </h4>
              <div>
                22/09/2022
              </div>
              <div>
                <p>blibliblilbib</p>
              </div>
            </div>
          </li>
          <li class="accountability__project-timeline-entry">
            <div class="accountability__project-timeline-entry-number">
              <span>3</span>
            </div>
            <div class="accountability__project-timeline-entry-attributes">
              <h4>
                Fase 3
              </h4>
              <div>
                27/10/2022
              </div>
            </div>
          </li>
        </ol>

      </div>
      <div id="panel-project_proposals" class="py-8">
        <div class="card card--action card--list">
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="/processes/quis-inventore/f/3/proposals/3">
                <svg width="1em" height="1em" role="img" aria-hidden="true" class="card--list__icon">
                  <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-proposals"></use>
                </svg>
              </a>
              <div>
                <a class="card__link" href="/processes/quis-inventore/f/3/proposals/3">
                  <h5 class="card--list__heading">Ea sunt.</h5>
                </a>
                <div class="author">
                  <span class="author__avatar">
                    <img src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
                  </span>
                  <span class="author__name">
                    <strong>Hyatt, Keebler and Torphy</strong>
                    @tony_harber
                  </span>
                </div>
              </div>
            </div>
            <div class="card--list__data">
              <span class="card--list__data__number">
                1
              </span> apoyo
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="/processes/quis-inventore/f/3/proposals/4">
                <svg width="1em" height="1em" role="img" aria-hidden="true" class="card--list__icon">
                  <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-proposals"></use>
                </svg>
              </a>
              <div>
                <a class="card__link" href="/processes/quis-inventore/f/3/proposals/4">
                  <h5 class="card--list__heading">Ea sunt. Eum.</h5>
                </a>
                <div class="author">
                  <span class="author__avatar">
                    <img src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
                  </span>
                  <span class="author__name">
                    <strong>Ike Mosciski</strong>
                    @shakia_sipes
                  </span>
                </div>
              </div>
            </div>
            <div class="card--list__data">
              <span class="card--list__data__number">
                1
              </span> apoyo
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="/processes/quis-inventore/f/3/proposals/2">
                <svg width="1em" height="1em" role="img" aria-hidden="true" class="card--list__icon">
                  <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-proposals"></use>
                </svg>
              </a>
              <div>
                <a class="card__link" href="/processes/quis-inventore/f/3/proposals/2">
                  <h5 class="card--list__heading">Nihil asperiores. Illo.</h5>
                </a>
                <div class="author">
                  <span class="author__avatar">
                    <img src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
                  </span>
                  <span class="author__name">
                    <strong>Pres. Felice Ullrich</strong>
                    @mafalda_kirlin
                  </span>
                </div>
              </div>
            </div>
            <div class="card--list__data">
              <span class="card--list__data__number">
                0
              </span> apoyos
            </div>
          </div>
        </div>

      </div>
      <div id="panel-project_projects" class="py-8">
        <div class="card card--action card--list">
          <div class="card--list__item">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="card--list__icon">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-actions"></use>
            </svg>
            <a class="card--list__text card__link card__link--block"
              href="/processes/quis-inventore/f/4/budgets/1/projects/2">
              <h5 class="card--list__heading">
                A totam.
              </h5>
            </a>
          </div>
          <div class="card--list__item">
            <svg width="1em" height="1em" role="img" aria-hidden="true" class="card--list__icon">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-actions"></use>
            </svg>
            <a class="card--list__text card__link card__link--block"
              href="/processes/quis-inventore/f/4/budgets/1/projects/3">
              <h5 class="card--list__heading">
                Qui sunt.
              </h5>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <ul class="tags tag-container">
        <li><a title="Resultados al filtrar por la categoría: Repellendus amet animi voluptatibus suscipit." class="tag"
            href="/processes/quis-inventore/f/6/results?filter%5Bcategory_id%5D%5B%5D=3"><svg width="1em" height="1em"
              role="img" aria-hidden="true">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line">
              </use>
            </svg><span class="sr-only">Resultados al filtrar por la categoría: Repellendus amet animi voluptatibus
              suscipit.</span><span aria-hidden="true">Repellendus amet animi voluptatibus suscipit.</span></a></li>
        <li><a title="Resultados al filtrar por el ámbito: Harrisonburgh" class="tag"
            href="/processes/quis-inventore/f/6/results?filter%5Bscope_id%5D%5B%5D=18"><svg width="1em" height="1em"
              role="img" aria-hidden="true">
              <use href="/decidim-packs/media/images/remixicon.symbol-5540ed538fb6bd400d2a.svg#ri-price-tag-3-line">
              </use>
            </svg><span class="sr-only">Resultados al filtrar por el ámbito: Harrisonburgh</span><span
              aria-hidden="true">Harrisonburgh</span></a></li>
      </ul>

    </div>

  <% end %>
</div>
