<% data = 5.times.map {|e| ["Element #{e}", Faker::Movies::StarWars.quote[0..75]]} %>

<div class="container py-10">
  <section class="py-4">
    <h2 class="h2">Simple dropdown</h2>
    <div class="py-4">
      <p>Dropdowns has no main CSS styles attached beyond the required functionality, they just show or hide its contents</p>
      <p>Important note: the content id MUST CONTAIN the word <i>dropdown-menu</i></p>
      <p>Append the following data-attributes:</p>
      <ol>
        <li>data-target: id. Which panel hides</li>
      </ol>
      <p>Library used: <a href="https://github.com/jonathanlevaillant/a11y-dropdown-component" class="text-secondary underline">a11y-dropdown-component</a></p>
    </div>

    <h3 class="h3">Code</h3>
    <pre>
      <code>
        &lt;button id="dropdown-trigger" data-component="dropdown" data-target="dropdown-menu"&gt;
          &lt;span&gt;dropdown trigger&lt;/span&gt;
        &lt;/button&gt;
        &lt;ul id="dropdown-menu"&gt;
          &lt;li&gt;dropdown content&lt;/li&gt;
        &lt;/ul&gt;
      </code>
    </pre>

    <h3 class="h3">Example</h3>
    <div class="mt-5">
      <button id="dropdown-trigger" data-component="dropdown" data-target="dropdown-menu">
        <span>dropdown trigger</span>
      </button>
      <ul id="dropdown-menu">
        <% data.each_with_index do |e,i| %>
          <li><%= e[0] %></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
