<div class="container py-12">
  <button class="button button__lg button__primary" data-component="dropdown" data-target="drawer">Trigger</button>
  <div id="drawer" class="drawer fixed top-0 left-full w-3/4 h-full bg-white" aria-hidden="true">
    floating drawer content
  </div>
</div>

<style>
[aria-hidden="true"] {
  transition-duration: 300ms;
  transform: translate3d(0, 0, 0);
}

[aria-hidden="false"] {
  transition-duration: 300ms;
  transform: translate3d(-100%, 0, 0);
}
</style>
