<p><%= t("devise.mailer.invitation_instructions.hello", email: @commentable.author.name) %></p>

<p>
  <%=
    t(".new_comment_by_html", {
      commenter: @comment.author.name,
      commentable_link: link_to(@commentable.title, decidim_resource_url(@commentable))
    })
  %>
</p>

<blockquote>
  <%= @comment.body %>
</blockquote>
