<p><%= t("decidim.comments.comment_notification_mailer.hello", name: @comment.author.name) %></p>

<p>
  <%=
    t(".new_reply_by_html", {
      commenter: @reply.author.name,
      commentable_link: link_to(@commentable.title, decidim_resource_url(@commentable))
    })
  %>
</p>

<blockquote>
  <%= @reply.body %>
</blockquote>
