@import "@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css";
@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/settings";

.autoComplete_wrapper{
  width: 100%;

  input{
    color: $black;
    width: 100%;
    margin: 0;
  }

  ul{
    position: relative;
    margin: 0;

    li{
      color: $secondary;

      span{
        &.author__avatar{
          display: inline-block;
        }
      }

      &:hover,
      &[aria-selected="true"]{
        background-color: #ededed;
      }

      &.disabled{
        pointer-events: none;
        opacity: .6;
      }
    }
  }

  span{
    &.selected-value{
      position: absolute;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  .clear-selection{
    display: inline;
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    right: 1rem;
  }

  .clear-multi-selection{
    cursor: pointer;
  }
}

.multiselect{
  background-color: $white;
  display: inline-block;
  border: 1px solid $medium-gray;
  width: 100%;
  cursor: text;
  padding: 0 .5rem;
  min-height: 2.4375rem;

  span{
    display: inline-block;
    position: relative;
    margin: .5rem .5rem .5rem 0;

    input{
      border: none;
      outline: none;
    }

    &.remove{
      margin: 0 0 0 .2rem;
      cursor: pointer;
    }
  }
}
