.sc-wc-datepicker-h,
.sc-wc-datepicker-h *,
.sc-wc-datepicker-h *::before,
.sc-wc-datepicker-h *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sc-wc-datepicker-h {
  display: inline-flex;
}

.wc-datepicker {
  display: block;
  width: min-content;
  min-width: 17rem;
  max-width: 24rem;
  border: 0.0625rem solid #f2f3f5;
  color: #111;
  background-color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.wc-datepicker--disabled *:disabled {
  opacity: 0.5;
  cursor: default;
}

.wc-datepicker--disabled .wc-datepicker__weekday {
  color: #767676;
}

.wc-datepicker--disabled .wc-datepicker__date:focus > * {
  outline: none;
}

.wc-datepicker--disabled .wc-datepicker__date {
  cursor: default;
  opacity: 0.5;
}

.wc-datepicker--disabled .wc-datepicker__date:hover > * {
  background-color: transparent;
}

.wc-datepicker--disabled .wc-datepicker__date--in-range:hover > * {
  background-color: #f2f3f5;
}

.wc-datepicker--disabled .wc-datepicker__date--selected:hover > * {
  color: #fff;
  background-color: #00f;
}

.wc-datepicker__header {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
}

.wc-datepicker__current-month {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
}

.wc-datepicker__month-select,
.wc-datepicker__year-select {
  display: flex;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: #111;
  background: #f2f3f5;
  font: inherit;
  line-height: 1.125;
}

.wc-datepicker__month-select {
  flex-grow: 1;
  cursor: pointer;
  appearance: none;
}

.wc-datepicker__year-select {
  max-width: 5rem;
}

.wc-datepicker__previous-month-button,
.wc-datepicker__next-month-button,
.wc-datepicker__previous-year-button,
.wc-datepicker__next-year-button {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: #111;
  background-color: transparent;
  background-color: #f2f3f5;
  cursor: pointer;
}

.wc-datepicker__body {
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

.wc-datepicker__calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.wc-datepicker__weekday > span {
  display: flex;
  padding: 0.125rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  aspect-ratio: 1;
}

.wc-datepicker__date {
  padding: 0.125rem;
  text-align: center;
  cursor: pointer;
}

.wc-datepicker__date:focus {
  outline: none;
}

.wc-datepicker__date:focus > * {
  outline: 0.125rem solid #00f;
}

.wc-datepicker__date:hover > * {
  background-color: #f2f3f5;
}

.wc-datepicker__date > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  aspect-ratio: 1;
}

.wc-datepicker__date--today > * {
  font-weight: 700;
  font-style: normal;
}

.wc-datepicker__date--in-range > * {
  background-color: #f2f3f5;
}

.wc-datepicker__date--selected > *,
.wc-datepicker__date--selected:hover > * {
  color: #fff;
  background-color: #00f;
  font-weight: 500;
}

.wc-datepicker__date--disabled {
  color: #767676;
  cursor: default;
}

.wc-datepicker__date--disabled:not(.wc-datepicker__date--selected):not(
    .wc-datepicker__date--in-range
  ):hover
  > * {
  background-color: transparent;
}

.wc-datepicker__date--disabled.wc-datepicker__date--in-range:not(
    .wc-datepicker__date--selected
  ):not(.wc-datepicker__date--in-range)
  > * {
  background-color: transparent;
}

.wc-datepicker__footer {
  display: flex;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  align-items: center;
  gap: 0.5rem;
}

.wc-datepicker__clear-button,
.wc-datepicker__today-button {
  display: inline-flex;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: #111;
  background-color: #f2f3f5;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}
