@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/properties";
@import "foundation-sites/scss/foundation";
@import "stylesheets/foundation-overrides/components/button-group";
@import "stylesheets/decidim/utils/settings";

@include foundation-everything($flex: false);
@include foundation-prototype-display;
@include foundation-prototype-spacing;

@import "stylesheets/decidim/utils/fontface";
@import "stylesheets/decidim/utils/helpers";
@import "stylesheets/decidim/utils/keyframes";
@import "stylesheets/decidim/utils/mixins";
@import "stylesheets/decidim/utils/toggle-expand";
@import "stylesheets/decidim/modules/modules";
@import "stylesheets/decidim/layouts/layouts";
@import "stylesheets/decidim/extras/extras";
@import "stylesheets/decidim/vizzs/vizzs";

/*
  REDESIGN_PENDING: remove this import
  It include only to pass the tests of the new a11y components
*/
@import "stylesheets/decidim/redesigned_accordion.scss";
