// TODO: Write in Tailwind
.editor-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;

  &.editor-disabled{
    .editor-input .ProseMirror{
      background: #eee;
    }
  }

  .editor-toolbar{
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;

    .editor-toolbar-group{
      display: inline-block;
      margin: 0 .7rem;

      &:first-child{
        margin-left: 0;
      }
    }

    .editor-toolbar-control{
      margin-left: .5rem;

      &:first-child{
        margin-left: 0;
      }

      &.active,
      &:hover,
      &:focus{
        svg{
          fill: #00f;
        }
      }
    }

    select{
      display: inline-block;
      width: auto;
      margin-bottom: 0;
      height: 2rem;
    }

    button{
      position: relative;
      top: .2rem;
    }

    .editor-toolbar-icon{
      width: 1.2em;
      height: 1.2em;
    }
  }

  .editor-input{
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;

    .ProseMirror{
      position: relative;
      padding: 10px;
      min-height: 100%;
      outline: 0;

      [data-video-embed]{
        margin-bottom: $paragraph-margin-bottom;

        iframe{
          pointer-events: none;
        }
      }
    }
  }
}

.rich-text-display{
  ul,
  ol{
    margin-bottom: $paragraph-margin-bottom;
  }

  .editor-content-videoEmbed{
    margin: 40px auto;
  }
}

.rich-text-display,
.editor-container .editor-input .ProseMirror{
  // Tiptap adds an extra <p> inside list items to support multiple sub-elements
  // within the content model.
  li p{
    margin-bottom: 0;
  }

  .editor-content-image{
    margin-bottom: $paragraph-margin-bottom;
  }

  .editor-content-videoEmbed{
    max-width: 600px;

    > div{
      position: relative;
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
    }

    iframe{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @for $i from 1 through 10{
    .editor-indent-#{$i}{
      margin-left: 1rem * $i;
    }
  }
}

.ql-editor-display{
  ul,
  ol{
    li{
      list-style-type: none;
      margin-bottom: .5rem;

      &::before{
        content: "\2022";
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
      }

      &.ql-indent-1{
        padding-left: 3em;
      }

      &.ql-indent-2{
        padding-left: 6em;
      }

      &.ql-indent-3{
        padding-left: 9em;
      }

      &.ql-indent-4{
        padding-left: 12em;
      }

      &.ql-indent-5{
        padding-left: 15em;
      }

      &.ql-indent-6{
        padding-left: 18em;
      }

      &.ql-indent-7{
        padding-left: 21em;
      }

      &.ql-indent-8{
        padding-left: 24em;
      }

      &.ql-indent-9{
        padding-left: 27em;
      }
    }
  }

  ol{
    li{
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-0;

      &::before{ content: counter(list-0, decimal) ". "; }

      &.ql-indent-1{
        counter-increment: list-1;
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;

        &::before{ content: counter(list-1, lower-alpha) ". "; }
      }

      &.ql-indent-2{
        counter-increment: list-2;
        counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;

        &::before{ content: counter(list-2, lower-roman) ". "; }
      }

      &.ql-indent-3{
        counter-increment: list-3;
        counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;

        &::before{ content: counter(list-3, decimal) ". "; }
      }

      &.ql-indent-4{
        counter-increment: list-4;
        counter-reset: list-5 list-6 list-7 list-8 list-9;

        &::before{ content: counter(list-4, lower-alpha) ". "; }
      }

      &.ql-indent-5{
        counter-increment: list-5;
        counter-reset: list-6 list-7 list-8 list-9;

        &::before{ content: counter(list-5, lower-roman) ". "; }
      }

      &.ql-indent-6{
        counter-increment: list-6;
        counter-reset: list-7 list-8 list-9;

        &::before{ content: counter(list-6, decimal) ". "; }
      }

      &.ql-indent-7{
        counter-increment: list-7;
        counter-reset: list-8 list-9;

        &::before{ content: counter(list-7, lower-alpha) ". "; }
      }

      &.ql-indent-8{
        counter-increment: list-8;
        counter-reset: list-9;

        &::before{ content: counter(list-8, lower-roman) ". "; }
      }

      &.ql-indent-9{
        counter-increment: list-9;

        &::before{ content: counter(list-9, decimal) ". "; }
      }
    }
  }
}
