.editor-suggestions-props {
  --editor-suggestions-border-color: #000;
  --editor-suggestions-background-color: #eee;
  --editor-suggestions-selected-highlight-color: #ccc;
}

.editor-suggestions {
  @apply editor-suggestions-props border-0 bg-[var(--editor-suggestions-background-color)] max-w-sm drop-shadow-md rounded-md;

  &:hover {
    .editor-suggestions-item[data-selected]:not(:hover) {
      @apply bg-transparent;
    }
  }

  .editor-suggestions-item {
    @apply flex items-center gap-2 w-full text-left py-[0.375rem] px-1.5 border-0 rounded-none text-sm;

    &:first-child {
      @apply rounded-t-md;
    }

    &:last-child {
      @apply rounded-b-md;
    }

    &:hover,
    &[data-selected] {
      @apply bg-[var(--editor-suggestions-selected-highlight-color)];
    }

    .editor-suggestions-item-avatar {
      @apply rounded-full w-6 h-6 object-cover flex-none;
    }

    .editor-suggestions-item-label {
      @apply truncate;
    }
  }

  .editor-suggestions-item-disabled {
    @apply cursor-default;

    &:hover,
    &[data-selected] {
      @apply bg-transparent;
    }
  }
}
