.card{
  &__highlight{
    @apply ring-4 ring-background hover:ring-tertiary rounded flex flex-col md:flex-row hover:cursor-pointer;

    &-container{
      @apply space-y-12 mb-16 md:mb-28;
    }

    &-img{
      @apply w-full md:w-1/2 aspect-video rounded-t md:rounded-t-none md:rounded-l overflow-hidden;

      img{
        @apply w-full h-full object-cover;
      }
    }

    &-text{
      @apply w-full md:w-1/2 flex flex-col px-4 md:px-8 py-3 md:py-6 gap-y-2 md:gap-y-4 text-gray-2;
    }

    &:hover &-text h3{
      @apply underline;
    }
  }

  &__grid{
    @apply ring-4 ring-background hover:ring-tertiary rounded hover:cursor-pointer;

    &-container{
      @apply space-y-12 mb-16;
    }

    &-grid{
      @apply grid gap-4 md:gap-x-12 md:gap-y-16 grid-cols-2;
    }

    &-img{
      @apply aspect-[21/9] rounded-t overflow-hidden;

      img{
        @apply w-full h-full object-cover;
      }
    }

    &-text{
      @apply p-2 md:p-4 block text-secondary;

      >*:first-child{
        /* min-height: line-height * num_lines */
        @apply min-h-[calc(25px*3)];

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover &-text{
      @apply underline;
    }
  }

  /* shared styles */
  &__highlight-metadata,
  &__grid-metadata{
    @apply mt-auto flex items-center justify-between text-sm text-gray-2 [&>*]:flex [&>*]:items-center [&>*]:gap-1;

    svg{
      @apply text-gray fill-current;
    }
  }

  /* shared styles */
  &__highlight-loader,
  &__grid-loader{
    --color: var(--alert);

    @apply w-3.5 h-3.5 mx-auto grid place-items-center rounded-full overflow-hidden bg-[radial-gradient(farthest-side,#F3F4F7_60%,transparent_0_100%),conic-gradient(var(--color)_calc(var(--value)*100%),transparent_0)];
  }
}
