[data-drawer]{
  @apply invisible opacity-0 fixed z-50 inset-0 bg-[rgba(0,0,0,0.25)];

  >*{
    @apply absolute top-0 left-full w-full md:w-11/12 lg:w-10/12 h-full bg-white z-50 rounded shadow-[0_8px_12px_rgba(169,169,169,0.25)];
  }

  &[aria-hidden="true"]{
    @apply invisible opacity-0 transition-all delay-150 [&>*]:transition [&>*]:translate-x-0;
  }

  &[aria-hidden="false"]{
    @apply visible opacity-100 [&>*]:transition [&>*]:-translate-x-full;
  }

  [data-drawer-close]{
    @apply grid place-items-center w-10 h-10 absolute z-20 md:z-0 top-0 right-0 md:left-[2px] md:-translate-x-full cursor-pointer rounded-bl bg-white md:shadow-[0_8px_12px_rgba(169,169,169,0.25)];
  }

  [data-drawer-content]{
    @apply w-full h-full relative z-10 grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-8 xl:gap-16 bg-white overflow-y-auto py-8 px-4 md:px-10 xl:px-20 md:first:[&>*]:col-span-8 md:last:[&>*]:col-span-4 lg:first:[&>*]:col-span-9 lg:last:[&>*]:col-span-3;
  }

  [data-drawer-next],
  [data-drawer-prev]{
    @apply absolute z-20 top-[320px] w-10 h-14 bg-background grid place-items-center cursor-pointer;
  }

  [data-drawer-next]{
    @apply left-0 rounded-l;
  }

  [data-drawer-prev]{
    @apply right-0 rounded-r;
  }
}

/* block scroll when drawer is open */
html.is-disabled{
  @apply overflow-hidden;
}
