.h1{
  @apply font-sans font-bold text-4xl;
}

.h2{
  @apply font-sans font-bold text-3xl;
}

.h3{
  @apply font-sans font-bold text-2xl;
}

.h4{
  @apply font-sans font-semibold text-xl;
}

.h5{
  @apply font-sans font-semibold text-lg;
}

.h6{
  @apply font-sans font-semibold text-md;
}

.decorator{
  @apply relative after:absolute after:content-[''] after:h-1 after:top-[calc(100%+.25rem)] after:left-0 after:bg-tertiary after:rounded-b;

  &.h1,
  &.h2{
    @apply after:w-24;
  }

  &.h3,
  &.h4,
  &.h5,
  &.h6{
    @apply after:w-10;
  }
}

/* default styles for those dynamic text blocks */
.editor-content{
  @apply prose max-w-full text-black text-lg;
}
