.h1{
  @apply font-sans font-bold text-[36px] leading-[45px];
}

.h2{
  @apply font-sans font-bold text-[32px] leading-[40px];
}

.h3{
  @apply font-sans font-bold text-[24px] leading-[30px];
}

.h4{
  @apply font-sans font-bold text-xl;
}

.h5{
  @apply font-sans font-bold text-lg;
}

.h6{
  @apply font-sans font-bold text-md ;
}
