.cookies{
  @apply container flex flex-col md:flex-row justify-between items-start md:items-center gap-6 md:gap-24 py-6;

  &__container{
    @apply fixed bottom-0 z-30 bg-white w-full shadow-[0_-4px_6px_rgba(211,211,211,0.25)];

    animation-name: slideInUp;
    animation-duration: 500ms;
  }

  &__left{
    @apply w-full md:w-4/5 flex flex-col md:flex-row items-start md:items-center gap-6;
  }

  &__right{
    @apply w-full md:w-1/5 flex flex-col gap-2;
  }

  @keyframes slideInUp{
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }
}
