header{
  .admin-bar{
    @apply container flex flex-wrap items-center justify-start gap-y-2 gap-x-4;

    &__container{
      @apply bg-tertiary py-2;
    }

    &__title{
      @apply hidden md:block text-sm font-bold text-black;
    }

    &__button{
      @apply button button__xs bg-white/[0.15] text-black font-normal;
    }

    // fake justify-content: space-between as of 3rd item
    &__title + .admin-bar__button + .admin-bar__button{
      @apply ml-0 md:ml-auto;
    }
  }

  .main-bar{
    @apply container grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 gap-4 items-center py-5;

    &__container{
      @apply relative w-full;
    }

    &__logo{
      @apply col-span-3 lg:col-span-2 prose prose-img:max-h-16 prose-img:my-0;
    }

    &__search{
      @apply hidden md:block col-span-3 lg:col-span-2 lg:col-start-4;

      form{
        @apply block relative rounded text-md bg-background;
      }

      input[type="text"]{
        @apply block bg-transparent w-full px-4 py-1.5;
      }

      button[type="submit"]{
        @apply absolute right-2 inset-y-2 text-secondary;
      }
    }

    &__links-desktop,
    > *:last-child{
      @apply col-span-1 xl:col-end-13 md:col-start-8 justify-self-end;
    }

    &__links-desktop{
      @apply hidden xl:flex items-center justify-between text-center divide-x-2 divide-gray-3 ml-auto [&>*]:px-6 first:[&>*]:pl-0 last:[&>*]:pr-0;

      &__item{
        @apply flex flex-col items-center text-secondary px-2 py-1 rounded hover:underline hover:bg-background;

        &-wrapper{
          @apply flex gap-x-6;
        }
      }

      svg{
        @apply w-5 h-5 fill-current;
      }

      svg + span{
        @apply text-sm first-letter:uppercase;
      }
    }

    &__links-mobile{
      @apply fixed bottom-0 left-0 z-20 bg-white w-full px-4 py-3 grid grid-cols-4 text-secondary shadow-[0_-4px_6px_rgba(198,198,198,0.25)];

      &__trigger{
        @apply flex flex-col items-center text-secondary cursor-pointer;

        svg{
          @apply w-5 h-5 fill-current;
        }

        span{
          @apply text-sm first-letter:uppercase;
        }
      }

      &__dropdown{
        @apply absolute top-full left-0 z-20;
      }
    }

    &__dropdown{
      @apply divide-y divide-gray-3 z-20 w-64;

      &-container{
        @apply relative cursor-pointer;
      }

      &-notification{
        @apply w-2.5 h-2.5 rounded-full bg-primary;
      }

      &-trigger{
        @apply flex flex-col items-center text-secondary relative px-2 py-1;

        &__notification{
          @apply w-2.5 h-2.5 rounded-full block absolute -top-0.5 right-0 bg-primary;
        }

        &__avatar{
          @apply block w-8 h-8 rounded-full border border-secondary overflow-hidden;

          span{
            @apply w-full h-full rounded-full overflow-hidden;
          }

          img{
            @apply object-cover w-full h-full;
          }
        }
      }
    }

    /* overwrite default dropdown styles */
    [id*="dropdown-menu"]{
      @apply py-0 mx-0 w-full md:w-auto;

      &[aria-hidden="true"]{
        @apply md:hidden;
      }
    }

    [data-target*="dropdown"]{
      @apply last-of-type:[&>svg]:block;
    }
  }

  .menu-bar{
    @apply container h-full flex justify-between items-center lg:relative;

    &__container{
      @apply bg-primary relative h-14;
    }

    &__breadcrumb-desktop{
      @apply hidden lg:flex justify-between items-center gap-2.5 [&>*]:text-lg [&>*]:text-white;

      &__dropdown-trigger{
        @apply flex rounded overflow-hidden px-2 py-1 relative;

        &:not(.no-interactive){
          @apply cursor-pointer hover:backdrop-brightness-75 focus:backdrop-brightness-75 focus:outline-none;
        }

        svg{
          @apply w-6 h-6 fill-current;
        }
      }

      &__dropdown-content{
        @apply absolute z-20 top-full left-8 cursor-auto;

        &-secondary{
          @apply absolute z-20 top-[calc(100%+12px)] left-0;
        }
      }

      /* overwrite default dropdown styles */
      [id*="dropdown-menu"][aria-hidden="true"]{
        @apply md:hidden;
      }

      [data-target*="dropdown"]{
        @apply w-auto last-of-type:[&>svg]:block;

        > svg{
          @apply text-white;
        }
      }
    }

    &__breadcrumb-mobile{
      @apply block lg:hidden w-full z-20;

      &__dropdown-trigger{
        @apply flex items-center justify-between text-white;

        span{
          @apply flex flex-wrap md:flex-nowrap gap-x-2.5 overflow-hidden text-white;
        }

        svg{
          @apply w-6 h-6 fill-current;
        }
      }

      /* overwrite default dropdown styles */
      [id*="dropdown-menu"]{
        @apply mx-0 py-0 border-0;
      }

      [data-target*="dropdown"]{
        @apply w-auto last-of-type:[&>svg]:block;

        > svg{
          @apply text-white;
        }
      }
    }

    &__actions{
      @apply hidden lg:flex justify-between items-center gap-6;
    }

    &__main-dropdown{
      @apply bg-white divide-y divide-gray-3 rounded-b shadow-lg text-black w-full lg:w-[1200px];

      &__bottom,
      &__top{
        @apply flex flex-col md:flex-row justify-between p-4 md:p-8 gap-x-8;

        &-left{
          @apply w-full md:w-1/2;
        }

        &-left{
          @apply hidden md:block md:w-1/2;
        }
      }

      &__title{
        @apply h4 md:h3;
      }

      &__subtitle{
        @apply text-md md:text-lg text-gray-2 mt-5;
      }

      &__menu{
        @apply w-full md:w-1/2 mt-8 md:mt-0 grid md:grid-cols-2 gap-x-6 text-secondary;

        > *{
          @apply py-3 md:py-3.5 border-b border-gray-3;

          /* since the grid has 2 columns, remove the border for these last 2 columns */
          &:nth-last-child(-n+2){
            @apply border-0;
          }
        }
      }
    }

    &__secondary-dropdown{
      @apply absolute top-full left-0 lg:relative flex justify-between bg-white rounded-b shadow-lg text-black w-full lg:w-[1000px];

      &__left{
        @apply hidden md:block w-3/4 p-8 text-md;
      }

      &__title{
        @apply h4 md:h3;
      }

      &__menu{
        @apply w-full md:w-1/4 bg-primary px-4 md:px-8 pt-0 pb-3 md:py-3 divide-y divide-gray-3 text-white;

        > *{
          @apply py-3 md:py-3.5;
        }
      }

      &__metadata{
        @apply flex items-center text-sm space-x-6 py-8;

        > span{
          @apply flex items-center space-x-2;
        }
      }
    }
  }
}
