.vertical-tabs{
  @apply grid gap-10 lg:gap-20 grid-cols-1 md:grid-cols-10 first:[&>*]:col-span-full md:first:[&>*]:col-span-3 last:[&>*]:col-span-full md:last:[&>*]:col-span-7;

  &__list{
    @apply bg-background rounded divide-y divide-gray-3;

    a{
      @apply p-4 block w-full h-full text-secondary hover:underline;
    }

    li.is-active a{
      @apply border-l-4 border-primary font-semibold;
    }
  }
}
