[data-floating-help]{
  [id*="tip"]{
    @apply absolute z-10 right-0 bg-background [&_button]:rounded-r-none [&_svg]:text-gray [&_svg]:fill-current;

    &:hover{
      @apply [&_svg]:text-white;
    }
  }

  [id*="block"]{
    @apply p-4 flex items-start gap-3 border-4 border-background rounded;

    > svg{
      @apply w-5 h-5 text-gray fill-current flex-none;
    }

    > button{
      @apply ml-auto [&_svg]:text-secondary [&_svg]:fill-current;
    }
  }

  &.is-tip [id*="block"]{
    @apply hidden;
  }

  &.is-block [id*="tip"]{
    @apply hidden;
  }

  &.is-block + *{
    @apply mt-10;
  }
}
