.address{
  @apply space-y-2 text-gray-2;

  &__container{
    @apply flex items-start gap-1;
  }

  &__location{
    @apply text-md font-semibold;
  }

  &__address{
    @apply underline;
  }

  &__address,
  &__hints{
    @apply text-sm;
  }
}
