.notification{
  @apply rounded p-4 border-l-4 border-secondary bg-secondary/5;

  &.success{
    @apply border-success bg-success/5;
  }

  &.alert{
    @apply border-alert bg-alert/5;
  }

  &.warning{
    @apply border-warning bg-warning/5;
  }
}
