$editor-border-color: #ccc !default;
$editor-active-color: #487bda !default;
$editor-disabled-color: #eee !default;

.editor-active{
  @apply outline outline-4 outline-[var(--editor-active-color)];
}

.editor-border{
  @apply border-solid border-[#ccc];
}

// TODO: Write in Tailwind
.editor-container{
  --editor-active-color: $editor-active-color;
  --editor-border-color: $editor-border-color;
  --editor-disabled-color: $editor-disabled-color;

  @apply flex flex-col mb-6 border editor-border;

  &.editor-disabled{
    .editor-input .ProseMirror{
      @apply bg-[var(--editor-disabled-color)];
    }
  }

  .editor-toolbar{
    @apply py-1.5 px-2.5 border-0 border-b editor-border;

    .editor-toolbar-group{
      @apply inline-block mx-2.5;

      &:first-child{
        @apply ml-0;
      }
    }

    .editor-toolbar-control{
      @apply ml-2;

      &:first-child{
        @apply ml-0;
      }

      &.active,
      &:hover,
      &:focus{
        svg{
          @apply fill-[var(--editor-active-color)];
        }
      }
    }

    select{
      @apply inline-block w-auto h-8 mb-0 py-0;
    }

    button{
      @apply relative top-1;
    }

    .editor-toolbar-icon{
      @apply w-5 h-5;
    }
  }

  .editor-input{
    @apply relative flex-auto overflow-y-auto;

    .ProseMirror{
      @apply relative p-2.5 outline-0 min-h-full;

      &.ProseMirror-focused,
      &.dialog-open{
        [data-video-embed].ProseMirror-selectednode{
          @apply editor-active;
        }

        [data-image-resizer].ProseMirror-selectednode{
          [data-image-resizer-wrapper]{
            @apply editor-active;

            [data-image-resizer-control]{
              @apply block;
            }
          }
        }
      }

      &[contenteditable="false"]{
        @apply cursor-not-allowed bg-[var(--editor-disabled-color)];
      }

      [data-video-embed]{
        @apply mb-4;

        iframe{
          @apply pointer-events-none;
        }
      }

      [data-image-resizer]{
        @apply mb-4;

        [data-image-resizer-wrapper]{
          @apply relative inline-block;

          [data-image-resizer-control]{
            @apply absolute hidden w-2.5 h-2.5 border border-solid border-[#000] bg-[#fff] opacity-80;
          }

          [data-image-resizer-control^="top-"]{ @apply top-0; }
          [data-image-resizer-control^="bottom-"]{ @apply bottom-0; }
          [data-image-resizer-control$="-left"]{ @apply left-0; }
          [data-image-resizer-control$="-right"]{ @apply right-0; }

          [data-image-resizer-control^="top-right"],
          [data-image-resizer-control^="bottom-left"]{ @apply cursor-nesw-resize; }

          [data-image-resizer-control^="top-left"],
          [data-image-resizer-control^="bottom-right"]{ @apply cursor-nwse-resize; }
        }
      }

      [data-suggestion]{
        @apply border border-solid border-[#000] rounded-md py-0.5 px-1;
      }
    }
  }
}

.editor-suggestions{
  @apply border border-solid border-[#000] bg-[#fff];

  &:hover{
    .editor-suggestions-item[data-selected]:not(:hover){
      @apply bg-transparent;
    }
  }

  .editor-suggestions-item{
    @apply block w-full text-left py-2.5 px-1.5 border-0 border-t border-solid border-[#000] rounded-none;

    &:first-child{
      @apply border-t-0;
    }

    &:hover,
    &[data-selected]{
      @apply bg-[#c7c7c7];
    }
  }
}

.rich-text-display{
  ul,
  ol{
    @apply mb-4;
  }

  .editor-content-videoEmbed{
    @apply my-10 mx-auto;
  }

  .editor-content-image{
    @apply mb-4;
  }
}

.rich-text-display,
.editor-container .editor-input .ProseMirror{
  // Extra styling needed temporarily for redesign
  p,
  ul,
  ol{
    @apply mb-4;
  }

  // We do not want to show the bottom border in sub-lists. Also, Tiptap adds an
  // extra <p> inside list items to support marks/styling within the list item
  // content.
  ul ul,
  ul ol,
  ol ol,
  ol ul,
  li p{
    @apply mb-0;
  }

  .editor-content-videoEmbed{
    @apply max-w-screen-sm;

    > div{
      @apply relative h-0 w-full pb-[56.25%]; /* 16:9 */
    }

    iframe{
      @apply absolute block top-0 left-0 w-full h-full;
    }
  }

  .editor-indent-1{ @apply ml-4; }
  .editor-indent-2{ @apply ml-8; }
  .editor-indent-3{ @apply ml-12; }
  .editor-indent-4{ @apply ml-16; }
  .editor-indent-5{ @apply ml-20; }
  .editor-indent-6{ @apply ml-24; }
  .editor-indent-7{ @apply ml-28; }
  .editor-indent-8{ @apply ml-32; }
  .editor-indent-9{ @apply ml-36; }
  .editor-indent-10{ @apply ml-40; }
}
