@import "stylesheets/decidim/plugins/leaflet";
@import "stylesheets/decidim/plugins/MarkerCluster";
@import "stylesheets/decidim/plugins/MarkerCluster.Default";

/* overwrite leaflet and card styles */
.leaflet-popup-content-wrapper{
  @apply bg-black w-fit rounded text-left text-white;

  .card__list{
    @apply border-tertiary focus:outline-none;

    &-metadata{
      @apply gap-1 md:gap-4 flex-wrap md:flex-nowrap;
    }

    &-metadata span{
      @apply md:px-0 md:border-0;
    }

    &-metadata span,
    &-metadata svg,
    &-title{
      @apply font-sans text-white;
    }

    &-title{
      @apply truncate;
    }

    &-content{
      @apply w-full;
    }

    &:focus &-title{
      @apply underline;
    }
  }
}

.leaflet-popup-tip{
  @apply bg-black;
}

.leaflet-div-icon{
  @apply text-secondary border-0 bg-transparent;
}
