@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --primary: #f30;
  --primary-rgb: 255 51 0;
  --secondary: #155abf;
  --secondary-rgb: 21 90 191;
  --tertiary: #ebc34b;
  --tertiary-rgb: 235 195 75;
  --success: #28a745;
  --success-rgb: 40 167 69;
  --warning: #ffb703;
  --warning-rgb: 255 183 3;
  --alert: #ed1c24;
  --alert-rgb: 237 28 36;
}

@layer base{
  @import "stylesheets/decidim/redesigned_fonts.scss";
  @import "stylesheets/decidim/redesigned_typography.scss";
}

@layer components{
  @import "stylesheets/decidim/redesigned_layout.scss";
  @import "stylesheets/decidim/redesigned_buttons.scss";
  @import "stylesheets/decidim/redesigned_labels.scss";
  @import "stylesheets/decidim/redesigned_forms.scss";
  @import "stylesheets/decidim/redesigned_arrow_link.scss";
  @import "stylesheets/decidim/redesigned_dropdown.scss";
}

// This imports all the Decidim module stylesheet imports registered at
// `config/assets.rb` of the module for the "app" group.
// @import "!decidim-style-imports[app]";
// @import "!decidim-style-imports[redesigned_app]";

// Application specific styles: https://docs.decidim.org/en/customize/styles/#_webpacker
@import "stylesheets/decidim/decidim_application";
