// @import "stylesheets/decidim/editor";
// @import "stylesheets/decidim/decidim";

@import "stylesheets/decidim/redesigned_fonts.scss";
@import "stylesheets/decidim/redesigned_typography.scss";
@import "stylesheets/decidim/redesigned_buttons.scss";

// This imports all the Decidim module stylesheet imports registered at
// `config/assets.rb` of the module for the "app" group.
// @import "!decidim-style-imports[app]";
// @import "!decidim-style-imports[redesigned_app]";

// Application specific styles: https://docs.decidim.org/en/customize/styles/#_webpacker
@import "stylesheets/decidim/decidim_application";
