.editor-props{
  --editor-active-color: #487bda;
  --editor-border-color: #ccc;
  --editor-disabled-color: #eee;
  --editor-bubble-border-color: #ccc;
  --editor-bubble-shadow-color: #333;
}

.editor-suggestions-props{
  --editor-suggestions-border-color: #000;
  --editor-suggestions-background-color: #fff;
  --editor-suggestions-selected-highlight-color: #c7c7c7;
}

.editor-active{
  @apply outline outline-4 outline-[var(--editor-active-color)];
}

.editor-border{
  @apply border-solid border-[#ccc];
}

.editor-container{
  @apply editor-props editor-suggestions-props flex flex-col mb-6 border editor-border;

  &.editor-disabled{
    .editor-input .ProseMirror{
      @apply bg-[var(--editor-disabled-color)];
    }
  }

  .editor-toolbar{
    @apply py-1.5 px-2.5 border-0 border-b editor-border;

    .editor-toolbar-group{
      @apply inline-block mx-2.5;

      &:first-child{
        @apply ml-0;
      }
    }

    .editor-toolbar-control{
      @apply ml-2;

      &:first-child{
        @apply ml-0;
      }

      &.active,
      &:hover,
      &:focus{
        svg{
          @apply fill-[var(--editor-active-color)];
        }
      }
    }

    select{
      @apply inline-block w-auto h-8 mb-0 py-0;
    }

    button{
      @apply relative top-1;
    }

    .editor-toolbar-icon{
      @apply w-5 h-5;
    }
  }

  .editor-input{
    @apply relative flex-auto overflow-y-auto;

    [data-linkbubble]{
      @apply px-2 py-1 border border-solid border-[var(--editor-bubble-border-color)] bg-white shadow-md shadow-[var(--editor-bubble-shadow-color)];

      [data-linkbubble-content]{
        @apply inline-flex;

        [data-linkbubble-value]{
          @apply truncate ml-2 max-w-[185px];
        }
      }

      button{
        @apply mx-1 cursor-pointer text-[var(--editor-active-color)];
      }
    }

    .ProseMirror{
      @apply relative p-2.5 outline-0 min-h-full prose max-w-none prose-headings:first:mt-0 prose-p:first:mt-0 prose-ul:first:mt-0 prose-ol:first:mt-0 prose-blockquote:first:mt-0 prose-pre:first:mt-0;

      &.ProseMirror-focused,
      &.dialog-open{
        [data-video-embed].ProseMirror-selectednode{
          @apply editor-active;
        }

        [data-image-resizer].ProseMirror-selectednode{
          [data-image-resizer-wrapper]{
            @apply editor-active;

            [data-image-resizer-control],
            [data-image-resizer-dimensions]{
              @apply block;
            }
          }
        }
      }

      &[contenteditable="false"]{
        @apply cursor-not-allowed bg-[var(--editor-disabled-color)];
      }

      .editor-content-image{
        img{
          @apply my-0;
        }
      }

      [data-video-embed]{
        @apply mb-8;

        iframe{
          @apply pointer-events-none;
        }
      }

      [data-image-resizer]{
        @apply mb-8;

        [data-image-resizer-wrapper]{
          @apply relative inline-block;

          [data-image-resizer-control]{
            @apply absolute hidden w-2.5 h-2.5 rounded-none border border-solid border-[#000] bg-[#fff] opacity-80;
          }

          [data-image-resizer-control^="top-"]{ @apply top-0; }
          [data-image-resizer-control^="bottom-"]{ @apply bottom-0; }
          [data-image-resizer-control$="-left"]{ @apply left-0; }
          [data-image-resizer-control$="-right"]{ @apply right-0; }

          [data-image-resizer-control^="top-right"],
          [data-image-resizer-control^="bottom-left"]{ @apply cursor-nesw-resize; }

          [data-image-resizer-control^="top-left"],
          [data-image-resizer-control^="bottom-right"]{ @apply cursor-nwse-resize; }

          [data-image-resizer-dimensions]{
            @apply absolute bottom-2 right-3 p-1 hidden bg-[#fff] opacity-80 text-xs;

            [data-image-resizer-dimension]::after{
              content: attr(data-image-resizer-dimension-value);
            }
          }
        }
      }

      [data-suggestion]{
        @apply border border-solid border-[var(--editor-suggestions-border-color)] rounded-md py-0.5 px-1;
      }
    }
  }
}

.editor-suggestions{
  @apply editor-suggestions-props border border-solid border-[var(--editor-suggestions-border-color)] bg-[var(--editor-suggestions-background-color)];

  &:hover{
    .editor-suggestions-item[data-selected]:not(:hover){
      @apply bg-transparent;
    }
  }

  .editor-suggestions-item{
    @apply block w-full text-left py-2.5 px-1.5 border-0 border-t border-solid border-[var(--editor-suggestions-border-color)] rounded-none;

    &:first-child{
      @apply border-t-0;
    }

    &:hover,
    &[data-selected]{
      @apply bg-[var(--editor-suggestions-selected-highlight-color)];
    }
  }
}

.rich-text-display{
  ul,
  ol{
    @apply mb-4;
  }

  .editor-content-videoEmbed{
    @apply my-10 mx-auto;
  }
}

.rich-text-display,
.editor-container .editor-input .ProseMirror{
  // Extra styling needed temporarily for redesign
  p,
  ul,
  ol{
    @apply mb-4;
  }

  // We do not want to show the bottom border in sub-lists. Also, Tiptap adds an
  // extra <p> inside list items to support marks/styling within the list item
  // content.
  ul ul,
  ul ol,
  ol ol,
  ol ul,
  li p{
    @apply mb-0;
  }

  // See the comments in the `renderHTML` method of the customized `OrderedList`
  // extension.
  //
  // Details: https://github.com/tailwindlabs/tailwindcss-typography/issues/296
  ol[data-type="a"]{ @apply list-[lower-alpha]; }
  ol[data-type="A"]{ @apply list-[upper-alpha]; }
  ol[data-type="i"]{ @apply list-[lower-roman]; }
  ol[data-type="I"]{ @apply list-[upper-roman]; }

  .editor-content-videoEmbed{
    @apply max-w-screen-sm;

    > div{
      @apply relative h-0 w-full pb-[56.25%]; /* 16:9 */
    }

    iframe{
      @apply absolute block top-0 left-0 w-full h-full;
    }
  }

  .editor-indent-1{ @apply ml-4; }
  .editor-indent-2{ @apply ml-8; }
  .editor-indent-3{ @apply ml-12; }
  .editor-indent-4{ @apply ml-16; }
  .editor-indent-5{ @apply ml-20; }
  .editor-indent-6{ @apply ml-24; }
  .editor-indent-7{ @apply ml-28; }
  .editor-indent-8{ @apply ml-32; }
  .editor-indent-9{ @apply ml-36; }
  .editor-indent-10{ @apply ml-40; }
}
