.resource_history {
  @apply flex flex-col gap-3.5 lg:gap-[20px] p-4;

  &__item {
    @apply flex flex-row gap-2.5;

    &_icon {
      @apply w-8 h-8 rounded-full border-secondary border flex justify-center items-center;

      &-creation {
        @apply bg-secondary w-6 h-6 rounded-full flex justify-center items-center;
      }
    }

    &_content {
      @apply flex flex-col lg:items-start lg:flex-row lg:gap-2 lg:pt-[6px];
    }

    &_date {
      @apply text-sm text-gray-2 lg:pt-px;
    }
  }

  &_text {
    @apply flex flex-col relative max-w-[250px] lg:max-w-[400px];
  }

  &_text:has(.resource-link) {
    .resource-link {
      @apply lg:ml-[-106px];
    }
  }

  &_text:not(:has(.resource-link)) a {
    @apply lg:ml-[-106px];
  }

  &__line {
    @apply absolute -left-[26px] lg:-left-[134px] top-3.5 lg:top-[26px] w-px h-full lg:h-[90%] bg-secondary;
  }
}
