<% content_for :sidebar_menu_nav do %>
  <%= template_types_menu.render %>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.templates"), decidim_admin_templates.root_url %>
    </div>
  </div>

  <%= yield %>
<% end %>
