<%= render partial: "decidim/shared/boxes" %>

<div class="answer-questionnaire">
  <ol class="answer-questionnaire__step">
    <%= cell("decidim/forms/question_readonly", collection: @questionnaire.questions.not_conditioned) %>
  </ol>
</div>
