<section class="section">
  <div class="row column">
    <h3 class="section-heading"><%= t("metrics.heading", scope: "decidim.votings.content_blocks.landing_page") %></h3>

    <% if metrics %>
      <%= metrics.params %>
      <div class="row mb-sm">
        <%= metrics.highlighted %>
      </div>
    <% end %>
  </div>
</section>
