.initiatives-form{
  @extend .register-form;

  margin-top: 0;

  .button{
    margin: 1.5rem 0 0;
  }

  small{
    font-size: rem-calc(11);
  }

  @include breakpoint(small only){
    .card--list__text .card__link{
      word-break: break-all;
    }
  }
}

.initiative-adhesion-list{
  &.is-filtered{
    > div:nth-of-type(1n+8){
      display: none;
    }
  }

  > *{
    display: inline-block;
    margin: 0 0 .5rem;
  }
}
