<section class="extended" id="assembly-statistics" class="statistics">
  <div class="row column">
    <h4 class="section-heading"><%= t("statistics.headline", scope: "decidim.assemblies") %></h4>
  </div>
  <div class="row">
    <div class="columns small-centered mediumlarge-12 large-12 process_stats">
      <%= stats.highlighted %>
    </div>
  </div>
</section>
