<% add_decidim_meta_tags({
  image_url: current_participatory_space.attached_uploader(:hero_image).path,
  description: translated_attribute(current_participatory_space.short_description),
  url: assembly_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<% if current_participatory_space.private_space? %>
  <section class="participatory-space__block-reference alert">
    <%= t("private_space", scope: "decidim.assemblies.show") %>
  </section>
<% end %>

<%# REDESIGN_PENDING - This part requires a redesign and maybe moved to the metadata content block %>
<% if current_participatory_space.parent.present? %>
  <div class="row">
    <div class="small-12 columns">
      <%= render partial: "decidim/assemblies/assemblies/nav_breadcrumb",
        locals: { assemblies: current_participatory_space.ancestors.to_a } %>
    </div>
  </div>
<% end %>

<div class="participatory-space__container">

  <%= participatory_space_floating_help %>

  <% active_content_blocks.each do |content_block| %>
    <% next unless content_block.manifest %>
    <%= cell content_block.manifest.cell, content_block %>
  <% end %>

</div>
