<section class="layout-main__section" id="liker-list-<%= model.id %>">
  <div class="likes-list__container">
    <% visible_likers.each do |visible_liker| %>
      <span class="likes-list__avatar">
        <%= cell "decidim/author", visible_liker, layout: :avatar, skip_profile_link: true %>
      </span>
    <% end %>

    <div class="text-center">
      <div class="likes-list__text">
        <%= t("decidim.likes_list.liked_by",
              visible: display_link(voted_by_me? ? t("decidim.likes_list.you") : visible_likers.first.try(:name)),
              others: display_link(t("decidim.likes_list.others", count: likers_count - 1), css_class: " first-letter:uppercase"),
              count: likers_count
            ) %>
      </div>
    </div>
  </div>
  <%= render :full %>
</section>
