<% provide :meta_title, "#{translated_attribute(@page.title)} - #{translated_attribute(current_feature.name)}" %>
<% provide :meta_description, strip_tags(translated_attribute(@page.body)) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%== translated_attribute @page.body %>
      </div>
    </div>
  </div>
</div>

<%= comments_for @page %>
