<% add_decidim_meta_tags({
  description: translated_attribute(@page.body),
}) %>

<%= render partial: "decidim/shared/feature_announcement" %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%= sanitize translated_attribute @page.body %>
      </div>
    </div>
  </div>
</div>
