<% add_meta_tags({
  title: translated_attribute(@page.title),
  description: translated_attribute(@page.body),
}) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%== translated_attribute @page.body %>
      </div>
    </div>
  </div>
</div>

<%= content_for :expanded do %>
  <%= comments_for @page %>
<% end %>
