<% content_for(:meta_title, translated_attribute(@page.title)) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%== translated_attribute @page.body %>
      </div>
    </div>
  </div>
</div>

<% if feature_settings.comments_always_enabled || current_settings.comments_enabled %>
  <%= content_for :expanded do %>
    <%= comments_for @page, arguable: true, votable: true %>
  <% end %>
<% end %>
