<% add_decidim_meta_tags({
  description: translated_attribute(@page.body),
}) %>

<%= render partial: "decidim/shared/component_announcement" %>

<%= render layout:"layouts/decidim/shared/layout_one_col" do %>
  <div class="grid grid-cols-8 py-12">
    <div class="col-start-2 col-span-6 prose max-w-full">
      <%= decidim_sanitize_editor translated_attribute(@page.body) %>
    </div>
  </div>
<% end %>
