<% content_for(:title, translated_attribute(@page.title)) %>
<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%== translated_attribute @page.body %>
      </div>
    </div>
  </div>
</div>

<%= content_for :expanded do %>
  <% if @page.commentable? %>
    <%= comments_for @page, arguable: true, votable: true %>
  <% end %>
<% end %>
