<a class="card__list card__calendar-list__reset" id="meetings__meeting_52" href="#">
  <time class="card__calendar" datetime="2023-10-07T00:00:00Z">
    <span class="card__calendar-month">Oct</span>
    <span class="card__calendar-day">07</span>
    <span class="card__calendar-year">2023</span>
  </time>
  <div class="card__list-content">
    <h3 class="h4 card__list-title">
      Sed ratione.
    </h3>
    <div class="card__list-metadata">
      <span>
        <%= icon("time-line") %>
        14:00 PM CEST
      </span>
      <span>
        <%= icon("home-wifi-line") %>
        Hybrid
      </span>
      <span data-comments-count="">
        <%= icon("wechat-line") %>
        0
      </span>
      <span>
        <%= icon("price-tag-3-line") %>
        Praesentium nam delectus in numquam.
      </span>
    </div>
  </div>
</a>
