<%= append_stylesheet_pack_tag "decidim_accountability" %>

<a class="card__list" id="accountability__result_101" href="#">
  <div class="card__list-content">
    <div class="h4 card__list-title">
      Explicabo et.
    </div>
    <div class="card__list-metadata">
      <span>
        <%= icon("price-tag-3-line") %>
        Sint aut neque debitis id.
      </span>
    </div>
  </div>
  <div class="accountability__progress">78%</div>
</a>
