<a class="card__grid" id="participatory_process_1" href="#">
  <div class="card__grid-img">
    <img alt="Media picture: Sequi impedit dolores sunt ad." src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--27708e9cb6acd3d8911e959ba1338519589fcb30/hero_image.jpeg">
  </div>
  <div class="card__grid-text">
    <h3 class="h4 text-secondary">Sequi impedit dolores sunt ad.</h3>
    <div class="card__grid-metadata">
      <span>
      <span class="card__grid-loader" style="--value:0.7706484641638225;"></span>about 2 months remaining
      </span>
      <span>
        <%= icon("direction-line") %>
        Expedita vel.
      </span>
    </div>
  </div>
</a>
