<a class="card__highlight" id="participatory_process_highlight_1" href="/processes/corpse-curriculum">
  <div class="card__highlight-img">
    <img alt="Imagen para los medios: Sequi impedit dolores sunt ad." src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--27708e9cb6acd3d8911e959ba1338519589fcb30/hero_image.jpeg">
  </div>
  <div class="card__highlight-text">
    <h3 class="h3 text-secondary">Sequi impedit dolores sunt ad.</h3>
    Minima aut incidunt.
    <div class="card__highlight-metadata">
      <span>
      <span class="card__grid-loader" style="--value:0.7542662116040956;"></span>queda aproximadamente 2 meses
      </span>
      <span>
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-direction-line" tabindex="-1"></use>
        </svg>
        Expedita vel.
      </span>
    </div>
  </div>
</a>
