<a class="card__search" id="assembly_3" href="#">
  <h3 class="h4 card__search-title">
    Blanditiis nulla quis enim consequatur.
  </h3>
  <div class="card__search-metadata">
    <span>
      <%= icon("government-line") %>
      1 assembly
    </span>
    <span>
      <%= icon("group-2-line") %>
      ipsum
    </span>
  </div>
</a>
