<a class="card__list" id="debates__debate_18" href="#">
  <div class="card__list-content">
    <div class="h4 card__list-title">
      Magni cupiditate.
    </div>
    <div class="card__list-text">
      <p>Et eum doloribus. Iste est ipsa. Est alias ea.</p>
    </div>
    <div class="card__list-metadata">
      <span>
        <%= icon("time-line") %>
        Open debate
      </span>
      <span data-comments-count="">
        <%= icon("wechat-line") %>
        0
      </span>
      <span data-likes-count="">
        <%= icon("like") %>
        0
      </span>
      <span>
        <%= icon("price-tag-3-line") %>
        Quaerat perspiciatis sequi deleniti consectetur.
      </span>
    </div>
  </div>
</a>
