<%= append_stylesheet_pack_tag "decidim_budgets" %>

<div class="budget-list">
  <div class="project-item" id="project-1-item">
    <div class="card__list">
      <a class="card__list-content" href="#">
        <div class="h4 card__list-title">
          Sed harum.
        </div>
        <div class="card__list-metadata">
          <span>
            <%= icon("price-tag-3-line") %>
            Occaecati veritatis nesciunt fugiat aut.
          </span>
        </div>
      </a>
    </div>
    <div class="budget__card__list-project">
      <span class="budget__card__list-project__amount">
      €15,233,687
      </span>
      <form class="button_to" method="post" action="/processes/corpse-curriculum/f/4/budgets/1/order/line_item?project_id=1&amp;show_only_added=false" data-remote="true">
        <button class="button w-full hollow button__transparent-secondary button__sm budget-list__action" id="project-vote-button-1" data-add="true" data-disable="true" data-budget="15233687" data-allocation="15233687" data-redirect-url="/processes/corpse-curriculum/f/4/budgets/1/projects/1" title="Add project Sed harum. to your vote." type="submit">
          Add
          <%= icon("add-fill") %>
        </button>
        <input type="hidden" name="authenticity_token" value="pm2aa6Q12U56FRLuwBjfFxGA0yxN0ETuJtgbaAq1rwpQziebMK_OBdVFgCumlN0MC7vy8IpsS93kHFpd2EWbOg" autocomplete="off">
      </form>
    </div>
  </div>
</div>
