<a class="card__grid" id="conference_2" href="/conferences/outside-thank">
  <div class="card__grid-img">
    <img alt="Media picture: Enim earum quos rerum et." src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0lCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f9dcdd2b5fa8a4c7c371725abbec4b531a241788/hero_image.jpeg">
  </div>
  <div class="card__grid-text">
    <h3 class="h4 text-secondary">Enim earum quos rerum et.</h3>
    <div class="card__grid-metadata">
      <span>
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-calendar-line" tabindex="-1"></use>
        </svg>
        05 Oct → 05 Dec
      </span>
    </div>
  </div>
</a>
