<a class="card__grid" id="conference_2" href="#">
  <div class="card__grid-img">
    <img alt="Media picture: Enim earum quos rerum et." src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0lCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f9dcdd2b5fa8a4c7c371725abbec4b531a241788/hero_image.jpeg">
  </div>
  <div class="card__grid-text">
    <h3 class="h4 text-secondary">Enim earum quos rerum et.</h3>
    <div class="card__grid-metadata">
      <span>
        <%= icon("calendar-line") %>
        05 Oct → 05 Dec
      </span>
    </div>
  </div>
</a>
