<a class="card__list" id="debates__debate_18" href="/assemblies/cutting-provision/f/27/debates/18">
  <div class="card__list-content">
    <div class="h4 card__list-title">
      Magni cupiditate.
    </div>
    <div class="card__list-text">
      <p>Et eum doloribus. Iste est ipsa. Est alias ea.</p>
    </div>
    <div class="card__list-metadata">
      <span>
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-time-line" tabindex="-1"></use>
        </svg>
        Open debate
      </span>
      <span data-comments-count="">
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-wechat-line" tabindex="-1"></use>
        </svg>
        0
      </span>
      <span data-endorsements-count="">
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-heart-add-line" tabindex="-1"></use>
        </svg>
        0
      </span>
      <span>
        <svg width="1em" height="1em" role="img" aria-hidden="true">
          <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-price-tag-3-line" tabindex="-1"></use>
        </svg>
        Quaerat perspiciatis sequi deleniti consectetur.
      </span>
    </div>
  </div>
</a>
