<main class="wrapper steps">
  <div class="row column">
    <div class="row">
      <div class="columns mediumlarge-9 large-7">
				<div class="section">
          <h4 class="section-heading">Fases del proceso</h4>
					<%= render partial: 'timeline' %>
				</div>
      </div>
    </div>
  </div>
</main>
