<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
      <%= wicked_pdf_stylesheet_link_tag "decidim/conference-diploma" %>
    </head>
  <body>
    <%= yield %>
  </body>
</html>
