<div class="p-s">
  <h4>Índice del documento</h4>
  <div class="text-muted">
    <% Faker::Number.between(5, 10).times do |i| %>
    <div class="mb-s">
      <p>
        <%= link_to page_path("participatory/participatory-texts-view") do %>
        <u class="text-uppercase">
          <%= "Capitol " + (i + 1).to_s + ". " + Faker::Lorem.sentence %>
        </u>
        <% end %>
        <br />
        <% Faker::Number.between(5, 10).times do |j| %>
        <%= link_to page_path("participatory/participatory-texts-view") do %>
        <u>
          <%= "Article " + (j + 1).to_s + ". " + Faker::Lorem.sentence %>
        </u>
        <br />
        <% end %>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>
