<div class="card">
  <%= link_to page_path("participatory/participatory-texts-index"), class: "card__link p-xs flex--fsc" do %>
  <%= icon "list", class: "mr-s" %>
  <strong>Ver índice</strong>
  <% end %>
</div>
