<% if result.category.present? || result.scope.present? %>
  <ul class="tags tags--result" >
    <% if result.category.present? %>
      <li><%= link_to translated_attribute(result.category.name), resource_locator(result).index(filter: { category_id: result.category.id }) %></li>
    <% end %>
    <% if !current_featurable.scope && result.scope.present? %>
      <li><%= link_to result.scope.name, resource_locator(result).index(filter: { scope_id: [result.scope.id] }) %></li>
    <% end %>
  </ul>
<% end %>
