$primary-color: null;
$secondary-color: null;
$success-color: null;
$warning-color: null;
$alert-color: null;
$-zf-size: null;
$-zf-bp-value: null;

@import "_foundation_and_overrides.scss";
@import "_layout.scss";
@import "login";
@import "sidebar";
@import "tables";
@import "actions";
@import "forms";
@import "decidim-core/app/packs/stylesheets/decidim/editor";
@import "decidim-core/app/packs/stylesheets/decidim/utils/fontface";

body{
  font-family: 'Source Sans Pro', sans-serif;
}
table { color: red; }
