<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(
      t("decidim.initiatives.initiatives.vote_cabin.vote"),
      resource_path,
      class: "card__button button button--sc secondary light small"
    ) %>
  </div>
</div>
