<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if model.published? %>
      <div class="card__support__data">
        <%= cell(
          "decidim/progress_bar",
          model.supports_count,
          total: model.scoped_type.supports_required,
          units_name: "decidim.initiatives.initiatives.signatures_count",
          element_id: "initiative-#{model.id}-signatures-count",
          small: true
        ) %>
      </div>
    <% else %>
      <div class="card__support__data"></div>
    <% end %>

    <% if model.closed? || model.offline_signature_type? %>
      <%= link_to t("initiatives.initiative.check", scope: "layouts.decidim"),
                  resource_path,
                  class: "card__button button button--sc small light secondary" %>
    <% else %>
      <%= link_to t("initiatives.initiative.check_and_support", scope: "layouts.decidim"),
                  resource_path,
                  class: "card__button button button--sc small light secondary" %>
    <% end %>
  </div>
</div>
