<div class="lg:w-2/3 grid grid-cols-2 gap-x-4 gap-y-10 lg:grid-cols-4 text-md text-white">
  <nav role="navigation" aria-label="General">
    <h2 class="h5 mb-4">General</h2>
    <ul class="space-y-4 break-inside-avoid">
      <% topics.each do |topic| %>
        <%= topic_item(topic, class: "font-semibold underline") %>
      <% end %>
    </ul>
  </nav>
</div>
