<div class="card__list-image">
  <% if resource_image_path.present? %>
    <%= image_tag resource_image_path, class: "w-full h-full object-cover" %>
  <% else %>
    <%= icon "placeholder-card-l", class: "w-full h-full fill-primary" %>
  <% end %>
</div>
