<span class="muted"><%= searchable_resource_human_name(model.participatory_space.class, count: 1) %>:</span>&nbsp;<%= link_to translated_attribute(participatory_space.title), Decidim::ResourceLocatorPresenter.new(participatory_space).path %>
