.comments{
  &__container{
    @apply md:mt-12;
  }

  .add-comment .remaining-character-count{
    @apply inline-block align-middle text-sm;
  }

  .add-comment .form__wrapper{
    @apply pt-0;
  }

  &__header{
    @apply flex flex-col md:flex-row md:items-center gap-x-2 mb-4;
  }

  .tribute-container{
    @apply w-full relative;

    #results{
      @apply absolute max-h-[225px] top-full left-0 right-0 p-0 my-2 rounded z-50 overflow-y-scroll bg-white;

      border: 1px solid rgba(33, 33, 33, .1);

      li{
        @apply flex items-center gap-2 cursor-pointer px-4 py-2;
      }

      li:hover{
        @apply cursor-pointer;

        background-color: rgba(123, 123, 123, .1);
      }

      img{
        @apply rounded-full w-6 h-6 object-cover;
      }

      span,
      strong{
        @apply font-semibold text-sm text-secondary;
      }

      small{
        @apply font-normal text-gray-2 text-xs;
      }

      svg{
        @apply w-4 h-4 text-primary fill-current;
      }

      .is-group{
        @apply flex items-center gap-1;
      }
    }
  }
}

.comment{
  @apply rounded-lg border-2 border-background p-4 pl-6;

  &__header{
    @apply flex items-center gap-x-2 mb-2 -ml-[calc(1.5rem+.75rem)] relative;

    a[href^='/profile'] > span:first-child{
      @apply z-10;
    }

    &--edited{
      @apply text-sm font-semibold;
    }
  }

  /* overwrite default dropdown styles */
  [data-target*="dropdown"]{
    @apply md:flex w-auto cursor-pointer text-sm text-secondary;
  }

  /* overwrite default dropdown styles */
  [id*="dropdown-menu"][aria-hidden="true"]{
    @apply md:hidden;
  }

  &__footer-grid{
    @apply grid grid-cols-2 items-center mt-2;
  }

  &-reply{
    @apply rounded-lg border-2 border-background ml-3 relative;
  }

  &-reply:empty{
    @apply hidden;
  }

  &-reply::after{
    @apply bg-gray inline-block absolute top-8 h-4/5 w-px z-0;

    content: "";
  }

  &-reply &,
  & &-reply{
    @apply border-0 pr-0;
  }

  &-thread{
    @apply mb-8;

    .button[aria-expanded="false"]{
      svg:first-of-type{
        @apply block;
      }

      svg:last-of-type{
        @apply hidden;
      }
    }

    .button[aria-expanded="true"]{
      svg:first-of-type{
        @apply hidden;
      }

      svg:last-of-type{
        @apply block;
      }
    }
  }

  &__as{
    @apply my-4;
  }

  .add-comment{
    @apply w-full;
  }

  .comment__votes{
    @apply justify-self-end;

    .comment__votes--up{
      @apply mr-2;
    }

    .button_to:first-child,
    button:first-child,
    button:nth-child(2),
    .button_to:nth-child(2){
      svg:first-child{
        @apply block;
      }

      svg:nth-child(2){
        @apply hidden;
      }

      .is-vote-selected{
        svg:first-child{
          @apply hidden;
        }

        svg:nth-child(2){
          @apply block;
        }
      }

      .is-vote-notselected{
        svg:first-child{
          @apply block;
        }

        svg:nth-child(2){
          @apply hidden;
        }
      }
    }

    .button_to:nth-child(2){
      svg:first-child{
        @apply block;
      }

      svg:nth-child(2){
        @apply hidden;
      }

      .is-vote-selected{
        svg:first-child{
          @apply hidden;
        }

        svg:nth-child(2){
          @apply block;
        }
      }

      .is-vote-notselected{
        svg:first-child{
          @apply block;
        }

        svg:nth-child(2){
          @apply hidden;
        }
      }
    }

    .comment__votes--count{
      @apply text-gray-2 text-sm;
    }

    .button_to{
      @apply inline-block;
    }

    /* override button default styles */
    .button[disabled]{
      @apply border-0 bg-transparent;
    }
  }

  &-order-by{
    @apply ml-auto grid grid-cols-4 place-items-center mt-4 md:mt-0;
  }

  &__actions{
    .button[aria-expanded="false"]{
      svg:first-of-type{
        @apply block;
      }

      svg:last-of-type{
        @apply hidden;
      }

      span:first-of-type{
        @apply block;
      }

      span:last-of-type{
        @apply hidden;
      }
    }

    .button[aria-expanded="true"]{
      svg:first-of-type{
        @apply hidden;
      }

      svg:last-of-type{
        @apply block;
      }

      span:first-of-type{
        @apply hidden;
      }

      span:last-of-type{
        @apply block;
      }
    }
  }

  &__content{
    .user-mention{
      @apply text-sm font-semibold text-secondary;
    }

    &--label{
      @apply inline-block mb-2;
    }
  }

  &__opinion-container{
    @apply flex gap-x-6;

    button.is-active{
      svg:first-of-type{
        @apply hidden;
      }

      svg:last-of-type{
        @apply block;
      }

      span{
        @apply font-bold underline;
      }
    }

    button{
      svg:first-of-type{
        @apply block;
      }

      svg:last-of-type{
        @apply hidden;
      }
    }
  }

  &__deleted,
  &__moderated{
    @apply font-bold;
  }
}
