.comments {
  &__container {
    @apply md:mt-12;
  }

  .add-comment {
    @apply mt-12;

    .remaining-character-count {
      @apply block text-right text-sm text-gray-2;
    }

    .form__wrapper {
      @apply pt-0;
    }

    a {
      @apply text-secondary underline font-semibold;
    }
  }

  &__header {
    @apply flex flex-col md:flex-row md:items-center gap-x-2 mb-4;
  }

  .author__avatar-container {
    @apply w-8 h-8;
  }

  .tribute-container {
    @apply w-full relative;

    #results {
      @apply absolute max-h-[225px] top-full left-0 right-0 p-0 my-2 rounded z-50 overflow-y-scroll bg-white;

      border: 1px solid rgba(33, 33, 33, 0.1);

      li {
        @apply flex items-center gap-2 cursor-pointer px-4 py-2;
      }

      li:hover {
        @apply cursor-pointer;

        background-color: rgba(123, 123, 123, 0.1);
      }

      img {
        @apply rounded-full w-6 h-6 object-cover;
      }

      span,
      strong {
        @apply font-semibold text-sm text-secondary;
      }

      small {
        @apply font-normal text-gray-2 text-xs;
      }

      svg {
        @apply w-4 h-4 text-primary fill-current;
      }

      .is-group {
        @apply ml-auto flex items-center gap-1;
      }
    }
  }
}

.comment {
  @apply rounded-lg border-2 border-background p-3 pl-6;

  &__header {
    @apply flex items-center gap-x-2 mb-2 -ml-10 relative;

    a[href^="/profile"] > span:first-child {
      @apply z-10;
    }

    &--edited {
      @apply text-sm font-semibold;
    }
  }

  /* overwrite default dropdown styles */
  [data-target*="dropdown"] {
    @apply md:flex w-auto cursor-pointer text-sm text-secondary;
  }

  /* overwrite default dropdown styles */
  [id*="dropdown-menu"][aria-hidden="true"] {
    @apply md:hidden;
  }

  &__footer-grid {
    @apply grid grid-cols-2 items-center mt-4;
  }

  &-reply {
    @apply rounded-lg border-2 border-background ml-3 relative;
  }

  &-reply:empty {
    @apply hidden;
  }

  &-reply::after {
    @apply bg-background-3 inline-block absolute top-8 h-4/5 w-px -z-10;

    content: "";
  }

  &-reply &,
  & &-reply {
    @apply border-0 pr-0 mt-4;
  }

  &-thread {
    @apply mb-8;

    .button[aria-expanded="false"] {
      svg:first-of-type {
        @apply block;
      }

      svg:last-of-type {
        @apply hidden;
      }
    }

    .button[aria-expanded="true"] {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }
    }
  }

  &__as {
    @apply my-4;
  }

  .add-comment {
    @apply w-full;
  }

  .comment__votes {
    @apply justify-self-end;

    .comment__votes--up {
      @apply mr-2;
    }

    .button_to:first-child,
    button:first-child,
    button:nth-child(2),
    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .comment__votes--count {
      @apply text-gray-2 text-sm;
    }

    .button_to {
      @apply inline-block;
    }

    /* override button default styles */
    .button[disabled] {
      @apply border-0 bg-transparent;
    }
  }

  &-order-by {
    @apply ml-auto grid grid-cols-4 place-items-center mt-4 md:mt-0;
  }

  &__actions {
    @apply flex items-center gap-4;

    .button[aria-expanded="false"] {
      svg:first-of-type {
        @apply block;
      }

      svg:last-of-type {
        @apply hidden;
      }

      span:first-of-type {
        @apply block;
      }

      span:last-of-type {
        @apply hidden;
      }
    }

    .button[aria-expanded="true"] {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }

      span:first-of-type {
        @apply hidden;
      }

      span:last-of-type {
        @apply block;
      }
    }
  }

  &__content {
    &--label {
      @apply inline-block mb-2;
    }
  }

  &__form {
    &-label {
      @apply font-semibold text-lg text-gray-2;
    }

    &-submit {
      @apply flex flex-col md:flex-row justify-between items-stretch md:items-end gap-4 mt-4;
    }
  }

  &__opinion {
    &-container {
      @apply flex mt-2 w-full md:w-fit;

      button {
        @apply grow border border-gray first-of-type:rounded-l last-of-type:rounded-r inline-flex justify-center items-center gap-1 px-4 py-1.5 text-sm text-gray-2 -ml-px first:ml-0 transition-all;

        svg {
          @apply fill-current;
        }

        &:hover,
        &.is-active {
          @apply border-secondary text-secondary bg-background-4 font-bold;
        }
      }
    }

    &-label {
      @apply text-sm text-gray-2;
    }
  }

  &__deleted,
  &__moderated {
    @apply text-gray;
  }

  .comment__content > * {
    @apply text-md;
  }
}
