@import "stylesheets/decidim/_tribute.scss";

.comments {
  &__container {
    @apply md:mt-12;
  }

  .add-comment {
    @apply mt-12;

    .remaining-character-count {
      @apply block text-left text-sm text-gray-2;
    }

    .form__wrapper {
      @apply pt-0;
    }

    a {
      @apply text-secondary underline font-semibold;
    }
  }

  &__header {
    @apply flex justify-between md:flex-row md:items-center mb-4;
  }

  .author__avatar-container {
    @apply w-8 h-8;
  }
}

.comment {
  @apply rounded-lg border-2 border-background-5 p-3 pl-6;

  &__header {
    @apply flex items-center gap-x-2 mb-2 relative;

    a[href^="/profile"] > span:first-child {
      @apply z-10;
    }

    &--edited {
      @apply text-sm font-semibold;
    }

    /* affects the left margin of the avatar in the comment replies */
    & ~ [data-comment-footer] {
      .comment__header {
        @apply -ml-10;
      }
    }
  }

  /* overwrite default dropdown styles */
  [data-target*="dropdown"] {
    @apply md:flex w-auto cursor-pointer text-sm text-secondary;

    > svg {
      @apply h-3 w-3;
    }
  }

  /* overwrite default dropdown styles */
  [id*="dropdown-menu"][aria-hidden="true"] {
    @apply md:hidden;
  }

  &__footer-grid {
    @apply grid items-center mt-4;
  }

  &-reply {
    @apply rounded-lg border-2 border-background-5 ml-3 relative;
  }

  &-reply:empty {
    @apply hidden;
  }

  &-reply::after {
    @apply bg-background-5 inline-block absolute top-8 h-4/5 w-px -z-10;

    content: "";
  }

  &-reply &,
  & &-reply {
    @apply border-0 pr-0 mt-4;
  }

  &-thread {
    @apply mb-8;

    .button[aria-expanded="false"] {
      svg:first-of-type {
        @apply block;
      }

      svg:last-of-type {
        @apply hidden;
      }
    }

    .button[aria-expanded="true"] {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }
    }
  }

  &__as {
    @apply my-4;
  }

  .add-comment {
    @apply w-full;
  }

  .comment__votes {
    @apply justify-self-end;

    .comment__votes--up {
      @apply mr-2;
    }

    .button_to:first-child,
    button:first-child,
    button:nth-child(2),
    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .button_to:nth-child(2) {
      svg:first-child {
        @apply block;
      }

      svg:nth-child(2) {
        @apply hidden;
      }

      .is-vote-selected {
        svg:first-child {
          @apply hidden;
        }

        svg:nth-child(2) {
          @apply block;
        }
      }

      .is-vote-notselected {
        svg:first-child {
          @apply block;
        }

        svg:nth-child(2) {
          @apply hidden;
        }
      }
    }

    .comment__votes--count {
      @apply text-gray-2 text-sm;
    }

    .button_to {
      @apply inline-block;
    }

    /* override button default styles */
    .button[disabled] {
      @apply border-0 bg-transparent;
    }
  }

  &-order-by {
    @apply ml-auto flex place-items-center md:mt-0;

    > form {
      @apply flex;
    }
  }

  &__actions {
    @apply flex items-center justify-center gap-4;

    .button[aria-expanded="false"] {
      svg:first-of-type {
        @apply block;
      }

      svg:last-of-type {
        @apply hidden;
      }

      span:first-of-type {
        @apply block;
      }

      span:last-of-type {
        @apply hidden;
      }
    }

    .button[aria-expanded="true"] {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }

      span:first-of-type {
        @apply hidden;
      }

      span:last-of-type {
        @apply block;
      }
    }
  }

  &__reply-button {
    @apply flex items-center justify-center;

    .button[aria-expanded="false"] {
      svg:first-of-type {
        @apply block;
      }

      svg:last-of-type {
        @apply hidden;
      }

      span:first-of-type {
        @apply block;
      }

      span:last-of-type {
        @apply hidden;
      }
    }

    .button[aria-expanded="true"] {
      svg:first-of-type {
        @apply hidden;
      }

      svg:last-of-type {
        @apply block;
      }

      span:first-of-type {
        @apply hidden;
      }

      span:last-of-type {
        @apply block;
      }
    }
  }

  &__votes-actions {
    @apply flex justify-between;
  }

  &__content {
    &--label {
      @apply inline-block mb-2;
    }
  }

  &__form {
    &-label {
      @apply font-semibold text-lg text-gray-2;
    }

    &-submit {
      @apply flex flex-col md:flex-row justify-end items-stretch md:items-end gap-4 mt-4;
    }
  }

  &__opinion {
    &-container {
      @apply flex mt-2 w-full md:w-fit;

      button {
        @apply grow border border-gray first-of-type:rounded-l last-of-type:rounded-r inline-flex justify-center items-center gap-1 px-4 py-1.5 text-sm text-gray-2 -ml-px first:ml-0 transition-all;

        svg {
          @apply fill-current;
        }

        &:hover,
        &.is-active {
          @apply border-secondary text-secondary bg-background-4;
        }
      }
    }

    &-label {
      @apply text-sm text-gray-2;
    }
  }

  &__deleted,
  &__moderated {
    @apply text-gray;
  }

  .comment__content > * {
    @apply text-md;
  }
}

.comments-label-dropdown {
  @apply mr-2 mt-2;
}
