<div class="section">
  <div class="row column">
    <h3 class="section-heading">
      <%= t("decidim.elections.elections.count.elections_count", count: elections_count) %>
    </h3>

    <%= cell(
        "decidim/collapsible_list",
        elections,
        cell_options: {},
        list_class: "row small-up-1 medium-up-3 card-grid",
        size: elections_count
      ) %>
  </div>
</section>
