<section id="sub_hero" class="home__section">
  <div class="editor-content text-center">
    <%= organization_description %>
    <% unless current_user %>
      <div>
        <%= link_to decidim.new_user_registration_path, class: "button button__sm md:button__lg button__secondary no-underline mt-4", title: t("decidim.pages.home.sub_hero.register_title") do %>
          <%= t("decidim.pages.home.sub_hero.register") %>
          <%= icon "arrow-right-line", class: "fill-current" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
