  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading2">
          <%= decidim_sanitize translated_attribute current_organization.description %>
        </h2>
        <% unless current_user %>
          <%= link_to decidim.new_user_registration_path, class: "button--sc link subhero-cta", title: t("decidim.pages.home.sub_hero.register_title") do %>
            <%= t("decidim.pages.home.sub_hero.register") %>
            <%= icon "chevron-right", aria_hidden: true, role: "img" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
