<h3><%= t ".title" %></h3>

<%= form_for(@form, url: url_for([@attachment.attachable, @attachment])) do |f| %>
  <%= render partial: 'decidim/admin/attachments/form', object: f %>

  <div class="actions">
    <%= f.submit t(".update") %>
  </div>
<% end %>
