<% add_decidim_page_title(t(".title")) %>
<%= decidim_form_for(@form, url: url_for([attached_to, @form]), html: { class: "form new_attachment" }) do |f| %>
  <%= render partial: "decidim/admin/attachments/form", object: f, locals: { title: t(".title") } %>

  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= f.submit t(".create"), class: "button button__sm md:button__lg button__secondary" %>
  </div>
<% end %>
