<% add_decidim_meta_tags({
  description: translated_attribute(@commentable.body),
  title: translated_attribute(@commentable.title),
  url: dummy_resource_url(@commentable)
}) %>

<div id="resource" class="row">
  <h2><%= translated_attribute(@commentable.title) %></h2>
</div>

<div class="row">
  <%= action_authorized_link_to :foo, foo_dummy_resource_path(@commentable) do %>
    Foo
  <% end %>
</div>

<div class="row">
  <%= render partial: "decidim/shared/share_modal" %>
</div>

<%= inline_comments_for(@commentable) %>
