<ul class="accordion js-sortable evote__preview"
  data-accordion
  data-multi-expand="true"
  data-allow-all-closed="true">
  <% questions.each do |question| %>
    <li class="accordion-item evote__preview-question" data-accordion-item>
      <a href="#" class="accordion-title flex--sbc"><%= translated_attribute(question.title) %></a>
      <div class="accordion-content" data-tab-content>
        <strong>Available answers:</strong>
        <ul>
          <% question.answers.each do |answer| %>
            <li><%= translated_attribute(answer.title) %></li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>