<% if question.sorted_results.any? %>

  <div class=row>
    <h2 class=section-heading><%= t "questions.results.title", scope: "decidim" %></h2>
  <% if question.multiple? %>
    <%= render partial: "decidim/consultations/question_multiple_votes/results_rules", locals: { question: question } %>
  <% end %>
    <div class="card card--list">
      <% question.sorted_results.each do |response| %>
        <div class=card--list__item>
          <div class="card--list__text"><%= translated_attribute response.title %></div>
          <div class="card--list__data">
            <span class="card--list__data__number"><%= response.votes_count %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
