<section id="<%= dom_id(model) %>" class="proposal-participatory__section">
  <%= link_to section_title, resource_path, class: "proposal-participatory__title" %>
  <div class="proposal-participatory__text"><%= body %></div>
  <div class="flex"><%= render :buttons %></div>
</section>
