<div class="row hover-section">
  <div class="columns mediumlarge-8">
    <%= link_to resource_path, class: "card__link--block pt-s pb-s" do %>
      <%= title %>
      <%= body %>
    <% end %>
  </div>
  <%= render :buttons %>
</div>
