<%
@title = "Decidim Admin"
@activesection = "processes"
@activepage = "process-components"
@activesubpage = "component-meetings-initial"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "process_sub_nav" %>
</div>
<div class="layout-content has-process-title">
  <div class="container">
    <%= partial "process_title" %>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Encuentros</h2>
      </div>
      <div class="card-section">
        <form class="form grid-container">
          <div class="grid-x">
            <div class="cell">
              <div class="label--tabs">
                <label for="organization_twitter_handler">Title *</label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs-0">
                  <li class="tabs-title is-active"><a href="#desc-1" aria-selected="true">Català</a></li>
                  <li class="tabs-title"><a href="#desc-2">Castellano</a></li>
                  <li class="tabs-title"><a href="#desc-2">English</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs-0">
                <div class="tabs-panel is-active" id="desc-1">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-2">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-3">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
              </div>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <div class="label--tabs">
                <label>Description *</label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs">
                  <li class="tabs-title is-active"><a href="#desc-1" aria-selected="true">Català</a></li>
                  <li class="tabs-title"><a href="#desc-2">Castellano</a></li>
                  <li class="tabs-title"><a href="#desc-2">English</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="desc-1">
                  <textarea rows=6 grid-xs="6">CA hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                </div>
                <div class="tabs-panel" id="desc-2">
                  <textarea grid-xs="6">ES hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                </div>
                <div class="tabs-panel" id="desc-3">
                  <textarea grid-xs="6">EN hendrerit asdr arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <label>Dirección *</label>
              <input type="text">
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <div class="label--tabs">
                <label for="organization_twitter_handler">Localización *</label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs-0">
                  <li class="tabs-title is-active"><a href="#desc-1" aria-selected="true">Català</a></li>
                  <li class="tabs-title"><a href="#desc-2">Castellano</a></li>
                  <li class="tabs-title"><a href="#desc-2">English</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs-0">
                <div class="tabs-panel is-active" id="desc-1">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-2">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-3">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
              </div>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell">
              <div class="label--tabs">
                <label for="organization_twitter_handler">Location hints *</label>
                <ul class="tabs tabs--lang" data-tabs id="example-tabs-0">
                  <li class="tabs-title is-active"><a href="#desc-1" aria-selected="true">Català</a></li>
                  <li class="tabs-title"><a href="#desc-2">Castellano</a></li>
                  <li class="tabs-title"><a href="#desc-2">English</a></li>
                </ul>
              </div>
              <div class="tabs-content" data-tabs-content="example-tabs-0">
                <div class="tabs-panel is-active" id="desc-1">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-2">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
                <div class="tabs-panel" id="desc-3">
                  <input type="text" name="organization[twitter_handler]" id="organization_twitter_handler">
                </div>
              </div>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label>Start</label>
              <input type="text">
            </div>
            <div class="cell medium-6">
              <label>End</label>
              <input type="text">
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <label for="organization_default_locale">Category</label>
              <select name="organization[default_locale]" id="organization_default_locale">
                <option selected="selected" value="en">English</option>
                <option value="ca">Català</option>
                <option value="es">Castellano</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
