<%
@title = "Decidim Admin"
@activesection = "proposals"
%>

<%= partial 'template_top' %>
<div class="layout-nav">
  <%= partial 'process_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">
          Propuestas

          <div class="button--title">
            nuevo
            importar
          </div>
        </h2>
      </div>
      <div class="card-section">
        <div class="row invisible">
          <div class="grid-x grid-margin-x">
            <div class="shrink cell">
              <span id="js-recategorize-proposals-count"></span>
              Seleccionado
            </div>
            <div class="auto cell">
              aplicar categoria
            </div>
            <div class="shrink cell" style="padding-top: 1rem">
              update selected
            </div>
          </div>
        </div>
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" name="" value="">
                </th>
                <th>
                  id
                </th>
                <th>
                  title
                </th>
                <th>
                  categoría
                </th>
                <th>
                  scope
                </th>
                <th>
                  estado
                </th>
                <th>
                  votos
                </th>
                <th>
                  actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" name="" value="">
                </td>
                <td>
                  1
                </td>
                <td>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </td>
                <td>
                  dolorem voluptates non temporibus voluptatum.
                </td>
                <td>
                  jerderport
                </td>
                <td>
                  not answered
                </td>
                <td>
                  2
                </td>
                <td>
                  5
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial 'template_bottom' %>
