<div class="flex align-middle gap-x-4 ml-auto" id="js-other-actions-wrapper">
  <%= render partial: "decidim/admin/moderated_users/bulk_actions/dropdown" %>
</div>
<%= render partial: "decidim/admin/moderated_users/bulk_actions/block" %>
<%= render partial: "decidim/admin/moderated_users/bulk_actions/unreport" %>
<%= render partial: "decidim/admin/moderated_users/bulk_actions/unblock" %>
