<div class="mb-s">
  <% if polling_station.respond_to? :location %>
    <div>
      <strong><%= translated_attribute polling_station.location %></strong><br>
    </div>
  <% end %>

  <div class="text-medium"><%= polling_station.address %></div>

  <% if polling_station.respond_to? :location_hints %>
    <div class="text-medium"><%= translated_attribute polling_station.location_hints %></div>
  <% end %>
</div>
