<%= dynamic_map_for(polling_stations_geocoded_data_for_map) do %>
  <template id="marker-popup">
    <div>
      <h3>${title}</h3>
      <div id="bodyContent">
        <div class="map__date-adress">
          <div class="address card__extra">
            <div class="address__details">
              <strong>{{html location}}</strong><br>
              <span>${address}</span><br>
              <span>{{html locationHints}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <%= stylesheet_link_tag "decidim/map" %>
  <%= javascript_include_tag "decidim/map" %>
<% end %>
