<% if polling_stations.any? %>
  <hr class="reset mt-none mb-m">

  <section class="section" id="venues">
    <h3 class="section-heading">
      Polling stations
      <%#= t("heading", scope: "decidim.votings.content_blocks.landing_page.polling_stations") %>
    </h3>
    
    <div class="row">
      <div class="column medium-4">
        <% polling_stations.each do |polling_station| %>
          <%= render view: :address, locals: { polling_station: polling_station} %>
        <% end %>
      </div>

      <div class="column medium-8">
        <%= render :map %>
      </div>
    </div>
  </section>
<% else %>
  <%#= t("no_polling_stations", scope: "decidim.votings.content_blocks.landing_page.polling_stations") %>
  No polling stations yet.
<% end %>
