@import "decidim/editor";
@import "popularity_item";
@import "statistics";
@import "admin";

.ql-formats {
  .ql-video {
    margin: 0;
  }
}

.initiative-status {
  float: left;
  margin-right: .5rem;
}

.supports-list {
  .author {
    margin-right: 15px;

    .author__name {
      color: #599aa6;
    }
  }
}

.initiative-authors {
  padding-left: 0 !important;

  .publish-date {
    display: inline-block;
    margin-left: -10px;
  }

  .author {
    margin-right: 15px;
  }

  .author__avatar--small {
    margin-left: 0 !important;
  }

  .author__name {
    margin-left: 25px;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.lowercase {
  text-transform: lowercase !important;
}

.initiative-creation-header__container {
  position: relative;
  z-index: 1;
  padding: 0 0 0 1rem;
  background: #fafafa;

  .initiative-creation-header__phase {
    background: #fafafa;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
    margin-left: -1rem;

    .caption {
      color: #8c838a;
      font-size: .9em;
    }
  }
}

.legal_text {
  font-size: 8pt;
}