name: "[CI] Admin"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-admin/**"
      - "decidim-core/**"
      - "decidim-dev/**"
      - "decidim-participatory_processes/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_app:
    uses: ./.github/workflows/build_app.yml
    secrets: inherit
    name: Build test application
  main:
    strategy:
      fail-fast: false
      matrix:
        test-command:
          - bundle exec parallel_test --type rspec --pattern spec/ --exclude-pattern spec/system
          - bundle exec parallel_test --type rspec --pattern spec/system
    needs: build_app
    name: ${{ matrix.test-command }}
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-admin"
      test_command: ${{ matrix.test-command }}
      bullet_enabled: true
      bullet_n_plus_one: false
      bullet_unused_eager_loading: false
