name: "[CI] Conferences"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-admin/**"
      - "decidim-conferences/**"
      - "decidim-core/**"
      - "decidim-dev/**"
      - "decidim-meetings/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build_app:
    uses: ./.github/workflows/build_app.yml
    secrets: inherit
    name: Build test application
  main:
    needs: build_app
    name: Tests
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-conferences"
      test_command: bundle exec parallel_rspec --verbose --verbose-command  --verbose-process-command  --verbose-rerun-command   --pattern spec/
      bullet_n_plus_one: false
      bullet_unused_eager_loading: false
