name: "[CI] Comments"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-admin/**"
      - "decidim-comments/**"
      - "decidim-core/**"
      - "decidim-dev/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_app:
    uses: ./.github/workflows/build_app.yml
    secrets: inherit
    name: Build test application
  main:
    needs: build_app
    name: Tests
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-comments"
      test_command: bundle exec parallel_test --type rspec --pattern spec/
      bullet_enabled: false
      bullet_counter_cache: false
      bullet_n_plus_one: false
      bullet_unused_eager_loading: false
