name: "[CI] Core"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-api/**"
      - "decidim-core/**"
      - "decidim-dev/**"
      - "packages/**"

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        test:
          - command: bundle exec parallel_test --type rspec --pattern spec/lib
            name: "Lib specs"
          - command: bundle exec parallel_test --type rspec --pattern spec/system
            name: "System specs"
          - command: bundle exec parallel_test --type rspec --pattern spec/ --exclude-pattern 'spec/(system|lib|tasks)'
            name: "Tests without system, lib and tasks specs"
          - command: bundle exec parallel_test --type rspec --pattern spec/tasks --exclude-pattern 'spec/tasks/decidim_tasks_webpacker_spec.rb'
            name: "Tasks specs"
          - command: bundle exec rspec spec/tasks/decidim_tasks_webpacker_spec.rb
            name: "Webpacker tasks specs"
    name: ${{ matrix.test.name }}
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-core"
      test_command: ${{ matrix.test.command }}
      bullet_n_plus_one: false
      bullet_unused_eager_loading: false

