name: "[CI] Elections (system admin)"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-admin/**"
      - "decidim-bulletin_board/**"
      - "decidim-core/**"
      - "decidim-dev/**"
      - "decidim-elections/**"
      - "decidim-forms/**"
      - "decidim-proposals/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_app:
    uses: ./.github/workflows/build_app.yml
    secrets: inherit
    name: Build test application
  main:
    strategy:
      matrix:
        test-command:
          - REDESIGN_ENABLED="true" bundle exec rspec spec/system/admin
          - REDESIGN_ENABLED="true" bundle exec rspec spec/system/ --exclude-pattern 'spec/system/admin/**/*_spec.rb'
          - REDESIGN_ENABLED="true" bundle exec parallel_test --type rspec --pattern spec/ --exclude-pattern spec/system
    needs: build_app
    name: Tests
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-elections"
      test_command: ${{ matrix.test-command }}
