name: "[CI] Generators"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-core/**"
      - "decidim-generators/**"

env:
  FAST_SEEDS: "true"
  CI: "true"
  RUBY_VERSION: 3.3.4
  NODE_VERSION: 22.14.0
  NODE_ENV: "test"
  DECIDIM_MODULE: decidim-generators
  SHAKAPACKER_RUNTIME_COMPILE: "false"

# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  actions: none
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: none
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        test:
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/branch_flag_spec.rb
            name: BranchFlag
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/component_generator_spec.rb
            name: ComponentGenerator
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/edge_flag_spec.rb
            name: EdgeFlag
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/no_flags_spec.rb
            name: NoFlags
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/path_flag_spec.rb
            name: PathFlag
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/queue_flag_spec.rb
            name: QueueFlag
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/storage_flag_spec.rb
            name: StorageFlag
          - command: bundle exec parallel_test --type rspec --pattern spec/runtime/full_app_generator_spec.rb
            name: FullAppGenerator
          - command: bundle exec parallel_test --type rspec --pattern spec/lib/
            name: Lib
    name: ${{ matrix.test.name }}
    runs-on: ubuntu-22.04
    if: "!startsWith(github.head_ref, 'chore/l10n')"
    timeout-minutes: 90
    services:
      postgres:
        image: postgres:14
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      DECIDIM_SPAM_DETECTION_BACKEND_RESOURCE: "memory"
      DECIDIM_SPAM_DETECTION_BACKEND_USER: "memory"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get npm cache directory path
        id: npm-cache-dir-path
        run: echo "dir=$(npm get cache)-${{ env.DECIDIM_MODULE }}" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir-path.outputs.dir }}
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-
      - uses: actions/cache@v4
        id: app-cache
        with:
          path: ./Gemfile.lock
          key: gemfile-${{ hashFiles('Gemfile.lock') }}
          restore-keys: gemfile-${{ hashFiles('Gemfile.lock') }}
      - run: bundle install --jobs 4 --retry 3
        name: Install Ruby deps
        working-directory: ${{ env.DECIDIM_MODULE }}
      - run: ${{ matrix.test.command }}
        name: ${{ matrix.test.name }}
        working-directory: ${{ env.DECIDIM_MODULE }}
        env:
          SIMPLECOV: "true"
      - uses: codecov/codecov-action@v5
        name: Upload coverage
        with:
          name: decidim-generators
          flags: decidim-generators
