name: "[CI] Generators"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-core/**"
      - "decidim-generators/**"

env:
  CI: "true"
  RUBY_VERSION: 3.0.2
  NODE_VERSION: 16.9.1
  DECIDIM_MODULE: decidim-generators
  CODECOV_TOKEN: bc15b944-6b42-420a-b3f9-a5a8fb214326

jobs:
  main:
    name: Tests
    runs-on: ubuntu-20.04
    if: "!startsWith(github.head_ref, 'chore/l10n')"
    timeout-minutes: 60
    services:
      postgres:
        image: postgres:11
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      RUBYOPT: '-W:no-deprecated'
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@v0.3.3
        if: "github.ref != 'refs/heads/develop'"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - uses: actions/checkout@v2.0.0
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get npm cache directory path
        id: npm-cache-dir-path
        run: echo "::set-output name=dir::$(npm get cache)-${{ env.DECIDIM_MODULE }}"
      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir-path.outputs.dir }}
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-
      - run: bundle install --jobs 4 --retry 3
        name: Install Ruby deps
        working-directory: ${{ env.DECIDIM_MODULE }}
      - run: bundle exec brakeman --rails6 --force-scan .
        name: Scanning Security issues on module
        working-directory: ${{ env.DECIDIM_MODULE }}
      - run: bundle exec rake parallel:spec
        name: RSpec
        working-directory: ${{ env.DECIDIM_MODULE }}
        env:
          SIMPLECOV: "true"
      - uses: codecov/codecov-action@v3
        name: Upload coverage
        with:
          token: ${{ env.CODECOV_TOKEN }}
          name: ${{ env.DECIDIM_MODULE }}
          flags: ${{ env.DECIDIM_MODULE }}
