name: "[CI] Meetings"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-admin/**"
      - "decidim-assemblies/**"
      - "decidim-core/**"
      - "decidim-dev/**"
      - "decidim-forms/**"
      - "decidim-meetings/**"
      - "decidim-participatory_processes/**"

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        test:
          - command: bundle exec parallel_test --type rspec --pattern spec/ --exclude-pattern spec/system
            name: "Unit tests"
          - command: bundle exec parallel_test --type rspec --pattern spec/system --exclude-pattern spec/system/admin
            name: "System tests"
          - command: bundle exec parallel_test --type rspec --pattern spec/system/admin
            name: "Admin system tests"
    name: ${{ matrix.test.name }}
    uses: ./.github/workflows/test_app.yml
    secrets: inherit
    with:
      working-directory: "decidim-meetings"
      test_command: ${{ matrix.test.command }}
      bullet_n_plus_one: false
      bullet_unused_eager_loading: false
