name: "[CI] Performance Metrics monitoring"
on:
  push:
    branches:
      - develop
      - release/*
      - "*-stable"
  pull_request:
    branches-ignore:
      - "chore/l10n*"
    paths:
      - "*"
      - ".github/**"
      - "decidim-api/**"
      - "decidim-core/**"
      - "decidim-dev/**"

env:
  CI: "true"
  SIMPLECOV: "true"
  RUBY_VERSION: 3.1.1
  NODE_VERSION: 18.17.1
  NODE_ENV: "test"
  RAILS_ENV: development
  RAILS_BOOST_PERFORMANCE: "true"
  SHAKAPACKER_RUNTIME_COMPILE: "false"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Tests
    runs-on: ubuntu-22.04
    if: "!startsWith(github.head_ref, 'chore/l10n')"
    timeout-minutes: 60
    services:
      postgres:
        image: postgres:14
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      RUBYOPT: '-W:no-deprecated'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get npm cache directory path
        id: npm-cache-dir-path
        run: echo "dir=$(npm get cache)-${{ env.DECIDIM_MODULE }}" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir-path.outputs.dir }}
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-
      - run: bundle exec rake development_app
        name: Create development app
      - run: bundle exec rails assets:precompile
        name: Precompile assets
        working-directory: ./development_app/
      - run: bundle exec rails decidim:lighthouse:prepare_urls
        name: Setup lighthouse urls
        working-directory: ./development_app/
      - run: bundle exec rails dev:cache
        name: Activate Rails cache
        working-directory: ./development_app/
      - run: bundle exec rails server -b localhost -d
        name: Run Rails server
        working-directory: ./development_app/
      - run: bundle exec rails decidim:lighthouse:warmup
        name: Warmup the cache at the configured lighthouse urls
        working-directory: ./development_app/
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v11
        with:
          runs: 3 # run more than once to warm up the application
          uploadArtifacts: true
          budgetPath: ./.github/workflows/lighthouse_budget.json # test performance budgets
          temporaryPublicStorage: true
