on:
  workflow_call:
    inputs:
      ruby_version:
        description: 'Ruby Version'
        default: "3.3.4"
        required: false
        type: string
      working-directory:
        required: true
        type: string
      test_command:
        description: 'The testing command to be ran'
        required: true
        type: string
      bullet_enabled:
        description: 'Enable bullet performance testing'
        required: false
        default: true
        type: boolean
      bullet_n_plus_one:
        description: 'Enable bullet n+1 testing'
        required: false
        default: true
        type: boolean
      bullet_counter_cache:
        description: 'Enable bullet counter cache testing'
        required: false
        default: true
        type: boolean
      bullet_unused_eager_loading:
        description: 'Enable bullet unused eager loading testing'
        required: false
        default: true
        type: boolean
      chrome_version:
        description: 'Chrome & Chromedriver version'
        required: false
        default: "136.0.7103.92"
        type: string

jobs:
  build_app:
    name: Test
    runs-on: ubuntu-22.04
    if: "!startsWith(github.head_ref, 'chore/l10n')"
    timeout-minutes: 30
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      DECIDIM_SPAM_DETECTION_BACKEND_RESOURCE: "memory"
      DECIDIM_SPAM_DETECTION_BACKEND_USER: "memory"
      DECIDIM_AVAILABLE_LOCALES: en,ca,es
    services:
      validator:
        image: ghcr.io/validator/validator:latest
        ports: ["8888:8888"]
      postgres:
        image: postgres:14
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby_version }}
          bundler-cache: true
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
      - run: npm config set fetch-retries 5 && npm config set fetch-retry-mintimeout 20000 && npm config set fetch-retry-maxtimeout 120000
        name: Tune NPM configuration
        shell: "bash"
      - run: |
          sudo apt update
          sudo apt install libu2f-udev
          wget --no-verbose -O /tmp/chrome.deb https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${{inputs.chrome_version}}-1_amd64.deb
          sudo dpkg -i /tmp/chrome.deb
          rm /tmp/chrome.deb
      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: ${{inputs.chrome_version}}
        name: Install Chrome version ${{inputs.chrome_version}}
      - run: bundle exec brakeman --rails7 --force-scan .
        name: Scanning Security issues on module
        working-directory: ${{ inputs.working-directory }}
        shell: "bash"
      - run: bundle exec rake test_app
        name: Create test app
        shell: "bash"
      - run: mkdir -p ./spec/decidim_dummy_app/tmp/screenshots
        name: Create the screenshots folder
        shell: "bash"
      - run: |
          bundle install
          bundle exec rake parallel:create parallel:load_schema
        name: Parallel tests
        shell: "bash"
        working-directory: ./spec/decidim_dummy_app/
      - run: |
          sudo Xvfb -ac $DISPLAY -screen 0 1920x1084x24 > /dev/null 2>&1 & # optional
          ${{ inputs.test_command }}
        name: RSpec
        working-directory: ${{ inputs.working-directory }}
        env:
          VALIDATOR_HTML_URI: http://localhost:8888/
          RUBY_VERSION: ${{ inputs.ruby_version }}
          DECIDIM_MODULE: ${{ inputs.working-directory }}
          DECIDIM_BULLET_ENABLED: ${{ inputs.bullet_enabled }}
          DECIDIM_BULLET_N_PLUS_ONE: ${{ inputs.bullet_n_plus_one }}
          DECIDIM_BULLET_COUNTER_CACHE: ${{ inputs.bullet_counter_cache }}
          DECIDIM_BULLET_UNUSED_EAGER: ${{ inputs.bullet_unused_eager_loading }}
          DECIDIM_ENABLE_MACHINE_TRANSLATION: true
          DECIDIM_SMS_GATEWAY_SERVICE: Decidim::Verifications::Sms::ExampleGateway
          DECIDIM_TIMESTAMP_SERVICE: Decidim::Initiatives::DummyTimestamp
          DECIDIM_PDF_SIGNATURE_SERVICE: Decidim::PdfSignatureExample
          DECIDIM_MACHINE_TRANSLATION_SERVICE: Decidim::Dev::DummyTranslator
          DISPLAY: ":99"
          CI: "true"
          FAST_SEEDS: "true"
          SIMPLECOV: "true"
          SHAKAPACKER_RUNTIME_COMPILE: "false"
          NODE_ENV: "test"
      - uses: codecov/codecov-action@v5
        name: Upload coverage
        with:
          name: ${{ inputs.working-directory }}
          flags: ${{ inputs.working-directory }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Screenshots of run ${{ github.run_id }}
          path: ./spec/decidim_dummy_app/tmp/screenshots
          if-no-files-found: ignore
          overwrite: true
