<div class="address__container">
  <%= icon("map-pin-line") %>
  <div class="address">
    <div class="address__location">Barcelona</div>
    <div class="address__address">Carrer Aragó 200, Barcelona </div>
    <div class="address__hints"></div>
  </div>
</div>
