<div class="address__container">
  <%= icon("map-pin-line") %>
  <div class="address">
    <div class="address__location">Online</div>
    <a href="#" target="_blank" rel="noopener noreferrer" class="address__hints underline break-all" data-remote="true">
      https://meet.jit.si/DecidimTry
      <span data-external-link="true" class="inline-block mx-0.5"><%= icon("external-link-line") %><span class="sr-only">(External link)</span></span></a>
  </div>
</div>
