<ul>
  <li class="mb-4">
    <div class="address__container">
      <%= icon("map-pin-line") %>
      <div class="address">
        <div class="address__location">Barcelona</div>
        <div class="address__address">Carrer Aragó 200, Barcelona </div>
        <div class="address__hints"></div>
      </div>
    </div>
  </li>
  <li>
    <div class="address__container">
      <%= icon("time-line") %>
      <div class="address">
        <div class="address__location">
          <span data-tooltip="<div class=&quot;bottom&quot; role=&quot;tooltip&quot; aria-hidden=&quot;true&quot;>01-05-2024 05:50 AM UTC (GMT +00:00)</div>" aria-describedby="tooltip-xjs7lj" data-yeti-box="y8v0j8-tooltip" data-toggle="y8v0j8-tooltip" data-resize="y8v0j8-tooltip" class="has-tip" id="toggle-8tnxyk" aria-controls="y8v0j8-tooltip">05:50 AM</span>
          -
          <span data-tooltip="<div class=&quot;bottom&quot; role=&quot;tooltip&quot; aria-hidden=&quot;true&quot;>01-05-2024 09:50 AM UTC (GMT +00:00)</div>" aria-describedby="zktr2d-tooltip" data-yeti-box="zktr2d-tooltip" data-toggle="zktr2d-tooltip" data-resize="zktr2d-tooltip" class="has-tip" id="toggle-qtv3fa" aria-controls="zktr2d-tooltip">09:50 AM UTC</span>

        </div>
      </div>
    </div>
  </li>
</ul>
