<div class="address__container">
  <svg width="1em" height="1em" role="img" aria-hidden="true"><use href="<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#map-pin-line" %>" tabindex="-1"></use></svg>
  <div class="address">
    <div class="address__location">Online</div>
    <a href="#" target="_blank" rel="noopener noreferrer" class="address__hints underline break-all" data-remote="true">
      https://meet.jit.si/DecidimTry
    <span data-external-link="true" class="inline-block mx-0.5"><svg width="0.75em" height="0.75em" role="img" aria-hidden="true" class="fill-current"><title>external-link-line</title><use href="<%= "#{asset_pack_path("media/images/remixicon.symbol.svg")}#external-link-line" %>"></use></svg><span class="sr-only">(External link)</span></span></a>
  </div>
</div>
