<% add_decidim_page_title(t(".preview", template_name: t(template_manifest.public_name_key))) %>
<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t ".preview", template_name: t(template_manifest.public_name_key) %>
    </h2>
  </div>
  <div class="card-section p-4">
    <iframe src="<%= preview_newsletter_template_path(template_manifest.name) %>" class="email-preview newsletter-template-preview w-full h-96">
    </iframe>
  </div>
</div>
<div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
  <%= link_to(t(".use_template"), new_newsletter_template_newsletter_path(template_manifest.name), class: "button button__sm button__secondary") %>
</div>
