<div>
  <%= check_box_tag :user_group %>
  <label for="user_group" class="form__wrapper-checkbox-label">
    <%= checkbox_text %>
  </label>
  <%= form.select(:user_group_id,
                  user_groups,
                  selected:,
                  include_blank: include_blank_text,
                  label: false) %>
</div>
