<div class="empty-notifications callout secondary <%= "hide" if followers.any? %>">
  <p><%= t("decidim.followers.no_followers") %></p>
</div>
<div class="row small-up-1 medium-up-2 card-grid">
  <% followers.each do |follower| %>
    <%= card_for follower %>
  <% end %>
</div>
<%= decidim_paginate followers %>
