<section class="extended" id="statistics">
  <div class="row column text-center">
    <h3 class="heading3"><%= t(".headline", participatory_process: translated_attribute(current_participatory_process.title)) %></h3>
  </div>
  <div class="row">
    <div class="columns large-12">
      <div class="home-pam">
        <%= stats.highlighted %>
      </div>
    </div>
  </div>
</section>