<section class="extended" id="statistics">
  <div class="row column">
    <h4 class="section-heading"><%= t(".headline", participatory_process: translated_attribute(current_participatory_process.title)) %></h3>
  </div>
  <br>
  <div class="row">
    <%= stats.highlighted %>
    <%= stats.not_highlighted %>

  </div>
</section>