<% provide :meta_title, t(".title") %>

<main class="wrapper">
  <% if promoted_participatory_processes.any? %>
    <section id ="highlighted-processes" class="row section">
      <h1 class="section-heading"><%= t(".promoted_processes", scope: "layouts") %></h1>
      <%= render partial: "promoted_process", collection: promoted_participatory_processes, as: :promoted_process %>
    </section>
  <% end %>

  <section id="processes-grid" class="section row collapse">
    <%= render partial: "order_by_processes" %>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
      <%= render(collection) || render(partial: "no_processes_yet") %>
    </div>
  </section>
</main>
