<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%== translated_attribute(current_participatory_process.short_description) %>
        </div>
        <%== translated_attribute(current_participatory_process.description) %>
      </div>
    </div>
  </div>
</div>
<% if current_participatory_process.attachments.any? %>
  <div class="row attachments">
    <div class="columns large-8">
      <%= render partial: "documents", locals: { documents: current_participatory_process.documents } %>
      <%= render partial: "photos", locals: { photos: current_participatory_process.photos } %>
    </div>
  </div>
<% end %>
