<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%== translated_attribute(current_participatory_process.short_description) %>
        </div>
        <%== translated_attribute(current_participatory_process.description) %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "attachments", locals: { attachable: current_participatory_process } %>
