<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <div class="lead">
          <%== translated_attribute(current_participatory_process.short_description) %>
        </div>
        <%== translated_attribute(current_participatory_process.description) %>
      </div>
    </div>
    <div class="section columns medium-5 mediumlarge-4 large-3">
      <div class="card extra definition-data">
        <div class="definition-data__item scope">
          <span class="definition-data__title">Ámbito</span>
            Districte de Gràcia
        </div>
        <div class="definition-data__item end-date">
          <span class="definition-data__title">Finalización</span>
            18 septiembre 2016
        </div>
        <div class="definition-data__item developer-group">
          <span class="definition-data__title">Grupo promotor</span>
            Ajuntament de Barcelona
        </div>
        <div class="definition-data__item domain">
          <span class="definition-data__title">Área</span>
            Urbanismo
        </div>
      </div>
    </div>
  </div>

  <%= attachments_for current_participatory_process %>
</div>