<div class="row column gallery__container mt-4">
  <fieldset>
    <legend><%= t(".gallery_legend") %></legend>

    <div>
      <%= form.attachment :photos,
                          multiple: true,
                          label: t(".add_images"),
                          button_label: t(".add_images"),
                          button_edit_label: t(".edit_images"),
                          button_class: "button button__sm button__transparent-secondary",
                          help_i18n_scope: "decidim.forms.file_help.image" %>
    </div>
  </fieldset>
</div>
