<div class="flash <%= css %>" data-closable>
  <span class="flash__message">
    <%= text %>
  </span>
  <button class="close-button" type="button" data-close="">
    <span aria-hidden="true">×</span>
  </button>
</div>
