<% add_decidim_page_title(t("edit_organization_appearance", scope: "decidim.admin.titles")) %>

<div class="item_show__header">
  <h2 class="item_show__header-title">
    <%= t("edit_organization_appearance", scope: "decidim.admin.titles") %>
  </h2>
</div>

<div class="item__edit-form">
  <%= decidim_form_for(@form, html: { class: "form-defaults form edit_organization_appearance" }, url: organization_appearance_path, method: :put) do |f| %>
    <%= render partial: "form", object: f %>
    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>
</div>
