<%== t("body.help_html", scope: "decidim.elections.admin.mailers.trustee_mailer", organization: @organization.name, user_name: @user.name) %>

<p class="email-button email-button__cta">
  <%= link_to t("trustee_zone", scope: "decidim.elections.admin.mailers.trustee_mailer"), decidim.decidim_elections_trustee_zone_url(host: @organization.host) %>
</p>
