/* REDESIGN_PENDING: remove this full block once content-blocks were integrated in assemblies,
  they are in decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss */
.assembly{
  &__hero{
    @apply backdrop-brightness-[30%];

    &-text{
      @apply container text-center text-white space-y-6 md:px-16 pt-10 pb-14 md:[&_a_+_a]:ml-6;
    }

    &-slogan{
      @apply text-lg font-semibold;
    }
  }

  &__container{
    @apply mt-6 md:mt-12 mb-16 md:mb-24;

    > :not([id^="html-block"]){
      @apply container;
    }

    > [id^="html-block"]{
      @apply prose [&+*]:border-t-0;
    }
  }

  &__content-block{
    @apply grid items-start grid-cols-1 md:grid-cols-4 [&>*]:col-span-1;

    & > :first-child{
      @apply md:col-span-2 lg:col-span-3 md:[&+*]:col-span-2 lg:[&+*]:col-span-1;
    }

    & > :last-child{
      @apply md:col-span-4;
    }

    &-span{
      @apply text-gray-2 font-semibold uppercase;
    }
  }

  &__nav{
    @apply divide-y divide-white [&>li]:py-3.5 first:[&>li]:pt-0 last:[&>li]:pb-0;

    &-container{
      @apply ml-0 md:ml-6 bg-primary p-3 md:p-6 rounded w-full md:w-auto self-start;

      [id*="dropdown-menu"]{
        @apply mx-0;
      }

      [data-target*="dropdown"]{
        @apply p-0 [&>span]:text-white [&>svg]:text-white;
      }
    }

    &-item{
      @apply flex items-center gap-1 text-white font-semibold hover:underline [&>svg]:fill-current;
    }
  }

  &__metadata{
    @apply border-t-0 md:border-t border-background py-6 flex flex-col md:flex-row items-start gap-8 md:gap-0;

    &-item{
      @apply md:px-10 first:pt-0 md:first:pl-0 last:pb-0 md:last:pr-0 border-0 md:border-l-2 md:first:border-l-0 border-background-3 font-semibold text-md text-gray-2;

      &-title{
        @apply flex gap-1 items-center mb-1 uppercase font-normal text-sm text-gray-2 [&>svg]:text-gray [&>svg]:fill-current;
      }

      > a,
      > button{
        @apply text-secondary underline;
      }
    }

    &-link{
      @apply md:ml-auto flex flex-col items-center gap-1 font-semibold text-secondary hover:underline;

      &-endorsers{
        @apply flex items-center justify-start -space-x-2;

        > span{
          @apply rounded-full overflow-hidden border border-white inline-grid w-8 h-8;
        }
      }
    }

    &-modal{
      @apply font-normal pb-16;

      &__list{
        @apply space-y-6;

        &-container{
          @apply mt-8 flex divide-background-3 divide-x [&>*]:px-10 first:[&>*]:pl-0 last:[&>*]:pr-0;
        }
      }

      &__step{
        @apply flex items-baseline gap-2 relative before:absolute before:w-px before:-z-10 before:left-[18px] before:bg-gray-3 before:h-[calc(100%+1.5rem)] last:before:h-[36px] before:-top-[18px] first:before:top-[18px];

        > :first-child{
          @apply w-9 h-9 rounded-full inline-grid place-items-center text-secondary bg-background-2;
        }

        > :last-child{
          @apply flex flex-col gap-1.5 relative;
        }

        &-title{
          @apply text-secondary text-lg;
        }

        &-dates{
          @apply text-gray-2 text-sm whitespace-nowrap;
        }

        &-current{
          @apply absolute -translate-y-full italic text-sm invisible;
        }

        &.is-active > :first-child{
          @apply text-white bg-secondary;
        }

        &.is-active &-title{
          @apply font-semibold;
        }

        &.is-active &-current{
          @apply visible;
        }
      }

      &__content{
        @apply text-gray-2 text-lg;
      }
    }
  }

  &__block{
    &-grid{
      @apply grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-16;
    }

    &-reference{
      @apply py-4 bg-background text-center text-gray-2 text-xs font-normal;
    }
  }
}
