<h2 class="section-heading">Iconos de componente</h2>
<p>
  Estos iconos han sido diseñados de manera específica para la
   interfaz de Decidim y son copyleft (AGPL v3).
</p>
<%= partial "component_icons" %>
<hr>
<h2 class="section-heading">Iconos de interfaz</h2>
<p>
  Los iconos de interfaz son parte del set open source (MIT)
   de Iconic y se encuentran listados en
    <a href="http://useiconic.com/open" target="_blank">useiconic.com/open</a>.
</p>
