<h2 class="section-heading">Paginaci칩n</h2>
<div class="section">
  <div class="show-more">
    <!--primary load more -->
    <button class="button button--muted small">
      Ver m치s propuestas
    </button>
  </div>
  <div class="show-more">
    <!--primary load more -->
    <button class="button button--muted small">
      Ver m치s comentarios
    </button>
  </div>
  <div class="show-more">
    <!--secondary load more -->
    <button class="muted-link">
      Ver m치s comentarios
    </button>
  </div>
</div>
<%= partial "pagination" %>
