<h2 class="section-heading">Badges de usuario</h2>
<p>Lorena Ipsum
  <span class="label label--small label--basic">
    Regidora
  </span>
</p>
<p>Dolores Sit Amet
  <span class="label label--small label--highlight">
    Alcaldessa
  </span>
</p>
<p>Consectetur Adipiscing
  <span class="label label--small label--admin">
    Admin
  </span>
</p>
<p>Usuaria Verificada
  <%= icon "verified-badge", class: "author__verified" %>
</p>
