<h2 class="section-heading">Tags</h2>
<div class="row">
  <div class="columns medium-6">
    <pre>.js-tags-container</pre>
    <input class="js-tags-container" type="text" placeholder="Add tags">
  </div>
  <div class="columns medium-6">
    <span>input element is expandible</span>
    <input class="js-tags-container" type="text" value="a,couple of,tags,make bigger,the input" placeholder="Add tags">
  </div>
</div>
<br>
<h2 class="section-heading">Mentions</h2>
<div class="row">
  <div class="column medium-6">
    <pre>Tipo input <br>(type=text contenteditable="true")</pre>
    <div class="mentions__container">
      <div contenteditable="true" class="js-mentions" type="text" placeholder="Use mentions typing @ sign" data-noresults="No results."></div>
    </div>
    <pre>Tipo textarea (contenteditable="true")</pre>
    <div class="mentions__container mentions__container--textarea">
      <div contenteditable="true" class="js-mentions" placeholder="El contenido de este textarea es autoexpandible. Escribe lo que quieras." data-noresults="No results."></div>
    </div>
  </div>
  <div class="column medium-6">
    <p>También se puede añadir a elementos de un formulario&nbsp;<sup>1</sup></p>
    <pre>.mentions__container input.js-mentions</pre>
    <div class="mentions__container">
      <input class="js-mentions" type="text" placeholder="Add tags" data-noresults="No results.">
    </div>
    <pre>.mentions__container textarea.js-mentions</pre>
    <div class="mentions__container">
      <textarea class="js-mentions" placeholder="Use mentions typing @ sign" rows="4" cols="80" data-noresults="No results."></textarea>
    </div>
    <small><sup>1</sup>&nbsp;No es posible estilar elementos dentro de un input/textarea. Solo permite texto.</small>
  </div>
</div>
<div class="row">
  <div class="column">
    <pre>Tipo quill.js</pre>
    <div class="editor mentions__container">
      <div class="editor-container js-mentions"></div>
    </div>
  </div>
</div>
