<h2 class="section-heading">Encabezados básicos</h2>
<p>Lista de encabezados que aparecen en la interfaz.</p>
<h1 class="heading1">Encabezado .heading1</h1>
<h2 class="heading2">Encabezado .heading2</h2>
<h3 class="heading3">Encabezado .heading3</h3>
<h4 class="heading4">Encabezado .heading4</h4>
<h5 class="heading5">Encabezado .heading5</h5>
<h6 class="heading6">Encabezado .heading6</h6>
<h5 class="section-heading">Encabezado de sección .section-heading</h5>
